[Unit]
Description=Starts and stops a single grafana instance on this system
Documentation=http://docs.grafana.org
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/default/grafana
User=grafana
Group=grafana
Type=simple
ExecStart=/opt/grafana/bin/grafana            \
                            --config=$CONF_FILE      \
                            --default-log-path=$LOG_DIR     \
                            --default-path-data=$DATA_DIR    \

LimitNOFILE=10000
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
