<topnav title="Apps" icon="fa fa-fw fa-cubes" subnav="true">
	<ul class="nav">
		<li ><a href="org/apps">Overview</a></li>
		<li class="active" ><a href="org/apps/edit/{{ctrl.current.type}}">Edit</a></li>
	</ul>
</topnav>

<div class="page-container" style="background: transparent; border: 0;">
	<div class="apps-side-box">
		<div class="apps-side-box-logo" >
			<img src="{{ctrl.appModel.info.logos.large}}">
		</div>
		<ul class="app-side-box-links">
			<li>
				By <a href="{{ctrl.appModel.info.author.url}}" class="external-link" target="_blank">{{ctrl.appModel.info.author.name}}</a>
			</li>
			<li ng-repeat="link in ctrl.appModel.info.links">
				<a href="{{link.url}}" class="external-link" target="_blank">{{link.name}}</a>
			</li>
		</ul>
	</div>

  <div class="page-wide-margined" ng-init="ctrl.init()">
		<h2>{{ctrl.appModel.name}}</h2>
		<em>
			{{ctrl.appModel.info.description}}
		</em>

		<div class="form-inline">
			<editor-checkbox text="Enabled" model="ctrl.appModel.enabled" change="enabledChanged()"></editor-checkbox>
			<editor-checkbox text="Pinned" model="ctrl.appModel.pinned" change="enabledChanged()"></editor-checkbox>
		</div>

			<app-config-loader></app-config-loader>
	</div>
</div>
