
<div class="editor-row">
  <div class="section">
		<div class="grafana-target">
			<div class="grafana-target-inner">
				<ul class="grafana-segment-list">
					<li class="grafana-target-segment" style="width: 90px">
						<strong>Left Y Axis</strong>
					</li>
					<li class="grafana-target-segment">
						Unit
					</li>
					<li class="dropdown" style="width: 140px;"
						ng-model="panel.y_formats[0]"
						dropdown-typeahead="unitFormats"
						dropdown-typeahead-on-select="setUnitFormat(0, $subItem)">
					</li>
					<li class="grafana-target-segment">
						&nbsp;&nbsp; Grid Max
					</li>
					<li>
						<input type="text" class="input-small grafana-target-segment-input" placeholder="auto"
					   	empty-to-null ng-model="panel.grid.leftMax"
							ng-change="render()" ng-model-onblur>
					</li>
					<li class="grafana-target-segment">
						Min
					</li>
					<li>
						<input type="text" class="input-small grafana-target-segment-input" placeholder="auto"
					  	empty-to-null ng-model="panel.grid.leftMin"
							ng-change="render()" ng-model-onblur>
					</li>
					<li class="grafana-target-segment">
						Label
					</li>
					<li>
						<input type="text" class="input-small grafana-target-segment-input" placeholder="auto"
					  	ng-model="panel.leftYAxisLabel" ng-change="render()" ng-model-onblur>
					</li>
					<li class="grafana-target-segment">
						Show
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="grafana-target-inner">
				<ul class="grafana-segment-list">
					<li class="grafana-target-segment" style="width: 90px">
						<strong>Right Y Axis</strong>
					</li>
					<li class="grafana-target-segment">
						Unit
					</li>
					<li class="dropdown" style="width: 140px"
						ng-model="panel.y_formats[1]"
						dropdown-typeahead="unitFormats"
						dropdown-typeahead-on-select="setUnitFormat(1, $subItem)">
					</li>
					<li class="grafana-target-segment">
						&nbsp;&nbsp; Grid Max
					</li>
					<li>
						<input type="text" class="input-small grafana-target-segment-input" placeholder="auto"
					   	empty-to-null ng-model="panel.grid.rightMax"
							ng-change="render()" ng-model-onblur>
					</li>
					<li class="grafana-target-segment">
						Min
					</li>
					<li>
						<input type="text" class="input-small grafana-target-segment-input" placeholder="auto"
					  	empty-to-null ng-model="panel.grid.rightMin"
							ng-change="render()" ng-model-onblur>
					</li>
					<li class="grafana-target-segment">
						Label
					</li>
					<li>
						<input type="text" class="input-small grafana-target-segment-input" placeholder="auto"
					  	ng-model="panel.rightYAxisLabel" ng-change="render()" ng-model-onblur>
					</li>
					<li class="grafana-target-segment">
						Show
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

<div class="editor-row" style="margin-top: 20px">
	<div class="section">
	<div class="grafana-target">
		<div class="grafana-target-inner">
			<ul class="grafana-segment-list">
				<li class="grafana-target-segment" style="width: 90px">
					<strong>Thresholds</strong>
				</li>
				<li class="grafana-target-segment">
					Level 1
				</li>
				<li>
					<input type="text" class="input-small grafana-target-segment-input">
				</li>
				<li class="grafana-target-segment">
					<spectrum-picker ng-model="panel.grid.threshold1Color" ng-change="render()" ></spectrum-picker>
				</li>
				<li class="grafana-target-segment">
					Level 2
				</li>
				<li>
					<input type="text" class="input-small grafana-target-segment-input">
				</li>
				<li class="grafana-target-segment">
					<spectrum-picker ng-model="panel.grid.threshold2Color" ng-change="render()" ></spectrum-picker>
				</li>
				<li class="grafana-target-segment">
					Line mode
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
	</div>
</div>

<div class="editor-row" style="margin-top: 20px">
	<div class="section">
	<div class="grafana-target">
		<div class="grafana-target-inner">
			<ul class="grafana-segment-list">
				<li class="grafana-target-segment" style="width: 90px">
					<strong>Legend</strong>
				</li>
				<li class="grafana-target-segment">
					Show: <input type="checkbox">
				</li>
				<li class="grafana-target-segment">
					Table: <input type="checkbox">
				</li>
				<li class="grafana-target-segment">
					Right side: <input type="checkbox">
				</li>
				<li class="grafana-target-segment">
					Hide empty: <input type="checkbox">
				</li>
				<li class="grafana-target-segment">
					Min: <input type="checkbox">
				</li>
				<li class="grafana-target-segment">
					Max: <input type="checkbox">
				</li>
				<li class="grafana-target-segment">
					Avg: <input type="checkbox">
				</li>
				<li class="grafana-target-segment">
					Total: <input type="checkbox">
				</li>
				<li class="grafana-target-segment">
					Current: <input type="checkbox">
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
	</div>
</div>

