<div ng-controller='GraphCtrl'>

  <div class="graph-wrapper" ng-class="{'graph-legend-rightside': panel.legend.rightSide}">
      <div class="graph-canvas-wrapper">

        <div ng-if="datapointsWarning" class="datapoints-warning">
          <span class="small" ng-show="!datapointsCount">No datapoints <tip>Can be caused by timezone mismatch between browser and graphite server</tip></span>
          <span class="small" ng-show="datapointsOutside">Datapoints outside time range <tip>Can be caused by timezone mismatch between browser and graphite server</tip></span>
        </div>

        <div grafana-graph class="histogram-chart">
        </div>

      </div>

      <div class="graph-legend-wrapper"
           ng-if="panel.legend.show"
           ng-include="'app/panels/graph/legend.html'">
      </div>
  </div>

  <div class="clearfix"></div>

	<div style="margin-top: 30px" ng-if="editMode">
		<div class="dashboard-editor-header">
			<div class="dashboard-editor-title">
				<i class="icon icon-bar-chart"></i>
				Graph
			</div>

			<div ng-model="editor.index" bs-tabs>
				<div ng-repeat="tab in editorTabs" data-title="{{tab}}">
				</div>
			</div>
		</div>

		<div class="dashboard-editor-body">
			<div ng-repeat="tab in panelMeta.fullEditorTabs" ng-if="editorTabs[editor.index] == tab.title">
				<div ng-include src="tab.src"></div>
			</div>
		</div>
	</div>
</div>
