  <div class="row-fluid" ng-controller="table">    
    <div class="span12">
      <form class="input-append">
        <h5>Query</h5>
        <input type="text" style="width:90%" ng-model="panel.query">
        <button class="btn" ng-click="get_data();"><i class="icon-search"></i></button>
      </form>
    </div>
  </div>
  <div class="row-fluid">    
    <div class="span4">
      <form class="input-append">
        <h5>Add field</h5>
        <input bs-typeahead="all_fields" type="text" class="input-small" ng-model='newfield'>
        <button class="btn" ng-click="toggle_field(newfield);newfield=''"><i class="icon-plus"></i></button>
      </form>
    </div>
    <div class="span8">
      <h5>Selected fields <small>Click to remove</small></h5>
      <span style="margin-left:3px" ng-click="toggle_field(field)" ng-repeat="field in $parent.panel.fields" class="label remove pointer">{{field}} </span>
    </div>
  </div>
  <div class="row-fluid">    
    <div class="span4">
      <h5>Sort</h5>
      <select style="width:85%" ng-model="panel.sort[0]" ng-options="f for f in all_fields"></select>
      <i ng-click="set_sort(panel.sort[0])" ng-class="{'icon-chevron-up': panel.sort[1] == 'asc','icon-chevron-down': panel.sort[1] == 'desc'}"></i>
    </div>
    <div class="span1">
      <h5>Length</h5>
      <input type="number" class="input-mini" ng-model="panel.size" ng-change="get_data()">
    </div>
  </div>