<kibana-panel ng-controller='table' ng-init='init()'>
  <div style="height:{{panel.height}};overflow-y:auto;overflow-x:auto">
    <div class="row-fluid">
      <div class="span1 offset3" style="text-align:right">
        <i ng-click="panel.offset = 0;get_data();" ng-show="panel.offset > 0" class='icon-circle-arrow-left pointer'></i>
        <i ng-click="panel.offset = (panel.offset - panel.size);get_data();" ng-show="panel.offset > 0" class='icon-arrow-left pointer'></i>
      </div>
      <div class="span4" style="text-align:center">
        <strong>{{panel.offset}}</strong> to <strong>{{panel.offset + data.length}}</strong>
        <small> of &#8805 {{hits}} hits</small>
      </div>
      <div class="span1" style="text-align:left">
        <i ng-click="panel.offset = (panel.offset + panel.size);get_data();" ng-show="hits > (panel.offset + data.length)" class='icon-arrow-right pointer'></i>
      </div>
    </div>
    <div class="small" ng-show="panel.fields.length == 0">No columns configured. You may want to add a <strong>fields panel</strong>, or click the edit button in the top right of this panel to add some columns</div>
    <table class="table-hover table table-condensed" ng-style="panel.style">
      <thead>
        <th style="white-space:nowrap" ng-repeat="field in panel.fields">
          <span  class="pointer" ng-click="set_sort(field)">
            {{field}} 
            <i ng-show='field == panel.sort[0]' class="pointer" ng-class="{'icon-chevron-up': panel.sort[1] == 'asc','icon-chevron-down': panel.sort[1] == 'desc'}"></i>
          </span>
        </th>
      </thead>
      <tbody ng-repeat="row in data" ng-class-odd="'odd'">
        <tr ng-click="toggle_details(row)">
          <td ng-repeat="field in panel.fields">{{row[field]}}</td>
        </tr>
        <tr ng-show="row.kibana.details">
          <td colspan=1000>
            <table class='table table-bordered table-condensed'>
              <thead>
                <th>Field</th>
                <th>Action</th>
                <th>Value</th>
              </thead>
              <tr ng-repeat="(key,value) in row.kibana.details">
                <td>{{key}}</td>
                <td>
                  <i class='icon-search pointer' ng-click="build_search(key,value)"></i> 
                  <i class='icon-ban-circle pointer' ng-click="build_search(key,value,true)"></i>
                </td>
                <td>{{value}}</td>
              </tr> 
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row-fluid">
      <div class="span1 offset3" style="text-align:right">
        <i ng-click="panel.offset = 0;get_data();" ng-show="panel.offset > 0" class='icon-circle-arrow-left pointer'></i>
        <i ng-click="panel.offset = (panel.offset - panel.size);get_data();" ng-show="panel.offset > 0" class='icon-arrow-left pointer'></i>
      </div>
      <div class="span4" style="text-align:center">
        <strong>{{panel.offset}}</strong> to <strong>{{panel.offset + data.length}}</strong>
        <small> of &#8805 {{hits}} hits</small>
      </div>
      <div class="span1" style="text-align:left">
        <i ng-click="panel.offset = (panel.offset + panel.size);get_data();" ng-show="hits > (panel.offset + data.length)" class='icon-arrow-right pointer'></i>
      </div>
    </div>
  </div>
</kibana-panel>         