<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>{{dashboards.title}} <small> editor</small></h3>
</div>
<div class="modal-body">
  <h4>Dashboard Control</h4>
  <div class="row-fluid">
    <div class="span8">
      <label class="small">Title</label><input type="text" class="input-large" ng-model='dashboards.title'></input>
    </div>
    <div class="span1"> 
      <label class="small"> Editable </label><input type="checkbox" ng-model="dashboards.editable" ng-checked="dashboards.editable" />
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h4>Rows</h4>
      <table class="table table-condensed table-striped">
        <thead>
          <th>Title</th>
          <th>Delete</th>
          <th>Move</th>
        </thead>
        <tr ng-repeat="row in dashboards.rows">
          <td>{{row.title}}</td>
          <td><i ng-click="dashboards.rows = _.without(dashboards.rows,row)" class="pointer icon-remove"></i></td>
          <td><i ng-click="_.move(dashboards.rows,$index,$index-1)" ng-hide="$first" class="pointer icon-arrow-up"></i></td>
          <td><i ng-click="_.move(dashboards.rows,$index,$index+1)" ng-hide="$last" class="pointer icon-arrow-down"></i></td>
        </tr>
      </table>
    </div>
  </div>
  <h4>New row</h4>
    <div class="row-fluid">
      <div class="span8">      
        <label class="small">Title</label>
        <input type="text" class="input-large" ng-model='row.title'></input>
      </div>
      <div class="span2">
        <label class="small">Height</label>
        <input type="text" class="input-mini" ng-model='row.height'></input>
      </div>
      <div class="span1">
        <label class="small"> Editable </label>
        <input type="checkbox" ng-model="row.editable" ng-checked="row.editable" />
      </div>
    </div>
    <button ng-click="add_row(dashboards,row); reset_row();" class="btn btn-primary">Create Row</button><br>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" ng-click="dismiss();reset_panel();">Close</button>
</div>