<div class="modal-body" >
  <div class="pull-right editor-title">{{panel.type}} settings</div>

  <div ng-model="editor.index" bs-tabs>
    <div ng-repeat="tab in ['General','Panel']" data-title="{{tab}}">
    </div>
  </div>
  <div ng-show="editor.index == 0">
    <div ng-include src="'partials/panelgeneral.html'"></div>
  </div>
  
  <div ng-show="editor.index == 1">
    <div ng-include src="edit_path(panel.type)">No additional settings are available for this type of panel.</div>
  </div>

</div>
<div class="modal-footer">
  <!-- close_edit() is provided here to allow for a scope to perform action on dismiss -->
  <button type="button" class="btn btn-danger" ng-click="editor.index=0;close_edit();dismiss()">Close</button>
</div>