<topnav section="关键指标" icon="fa fa-fw fa-home"></topnav>

<div class="page-container summary-page" style="padding-left:20px;">
    <div class="overview-list" style="box-sizing:border-box;">
        <div class="main-view-container">

            <div class="summary-panel view-panel">
                <div class="health-panel panels-wrapper">
                    <h3 data-placement="center" bs-modal="modal"
                        data-template-url="/app/features/systemoverview/partials/system_overview_modal.html"
                        style="cursor: pointer;">
                        健康指数趋势<tip>健康值=(告警指标个数/定义规则总数)*50% + (异常指标/所有指标) * 50%</tip>
                    </h3>
                    <div style="position: absolute; bottom: 25%; left: 40%; font-weight: bold;">
                        <span style="font-size: 38px;">{{healthPanel.score}}</span>
                        <span style="font-size: 20px;">{{healthPanel.level}}</span>
                    </div>
                    <div class="health-pie"></div>
                </div>
                <div class="health-panel">
                    <div class="alert-panel">
                        <div class="panels-wrapper">
                            <h3 data-placement="center" bs-modal="modal"
                                data-template-url="/app/features/systemoverview/partials/system_overview_modal.html"
                                style="cursor: pointer;">
                                报警情况
                            </h3>
                            <div>
                                <li ng-repeat="alert in alertPanel.status" ng-if="alert.count!=0">
                                    <a href="{{alertPanel.href}}">{{alert.text}} <span class="status-{{alert.type}}">{{alert.count}}</span></a>
                                </li>
                            </div>
                        </div>
                        <div class="panels-wrapper">
                            <h3>系统异常情况</h3>
                            <div>
                                <li ng-repeat="except in exceptionPanel.status" ng-if="except.count!=0">
                                    <a href="javascript:;">{{except.text}} <strong class=""> &gt;{{except.threadhold}}</strong></a>
                                    <a href="javascript:;">进程: <span class="status-{{except.type}}">{{except.count}}</span></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="anomaly-panel panels-wrapper">
                        <h3 data-placement="center" bs-modal="modal"
                            data-template-url="/app/features/systemoverview/partials/system_overview_modal.html"
                            style="cursor: pointer;">
                            智能检测异常指标
                        </h3>
                        <div>
                            <li ng-repeat="anomaly in anomalyPanel.status" ng-if="anomaly.count!=0">
                                <a href="{{anomalyPanel.href}}">{{anomaly.text}} <span class="status-{{anomaly.type}}">{{anomaly.count}}</span></a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>

            <div class="detail-panel view-panel">
                <div class="service-panel panels-wrapper">
                    <h3>服务状态</h3>
                    <div class="mention center">
                        <span><em class="bg-success"></em>正常</span>
                        <span><em class="bg-warn"></em>告警</span>
                        <span><em class="bg-danger"></em>严重</span>
                        <span><em class="bg-down"></em>没有运行</span>
                    </div>
                </div>
                <div class="service-dependency">
                    <div class="jtk-demo-canvas jtk-canvas">
                        <jsplumb-toolkit init="getServices"
                                            render-params="renderParams"
                                            jtk-id="serviceToolkit"
                                            style="width:100%;height:100%;position:relative;margin:0">
                        </jsplumb-toolkit>
                    </div>
                    <script type="text/ng-template" id="node_template.tpl">
                        <div>
                            <div class="name">
                                <i class="{{node.icon}} service-icon status-{{node.status | lowercase}}"></i>
                                <span>{{node.name}}</span>
                            </div>
                        </div>
                        <jtk-source filter=".connect"></jtk-source>
                        <jtk-target></jtk-target>
                    </script>
                </div>
                <div class="host-panel panels-wrapper" >
                    <h3>机器连接状态</h3>
                    <tip>点击上图某个服务，查看服务详情</tip>
                    <div class="mention">
                        <button type="button" ng-if="hostPanel.currentService.name"
                            class="btn-item system-status system-status-{{ service.state==0 ? 'success' : 'warning' }}">
                            {{hostPanel.currentService.name}}
                        </button>
                    </div>
                </div>
                <div class="table host-panel-table" ng-if="hostPanel.currentService.name">
                    <ul>
                        <li>机器名</li>
                        <li>机器连接状态</li>
                        <li>CPU 使用率</li>
                        <li>内存使用</li>
                        <li>磁盘剩余空间</li>
                    </ul>
                    <overview-panel></overview-panel>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>