#events {
  font-size: 12px;
}

.legend {
  color: #000;
}

.odd {
  background-color: #f9f9f9;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.table tbody + tbody{
  border-top: 0px;
}

.panel-error {
  opacity: 0.9;
  position:absolute;
  z-index: 1000;
}

.panel-loading {
  position:absolute;
  top: 0px;
  left: 0px;
  z-index: 800;
}

.panel i.editlink {
  position: absolute;
  right: 5px;
  z-index: 800;
  display: none;
}

.pointer:hover {
  color: #0088CC;
}

.panel:hover i.editlink {
  display: block;
  opacity: 0.3;
}

.panel i.editlink:hover {
  opacity: 1;
}

.popover {
  max-width: 500px;
}

.pointer {
  cursor: pointer;
}

.small {
  font-size: 85%;
}

.nomargin {
  margin: 0px;
}

.strong {
  font-weight: bold;
}

.btn-active {
  background-color: #E6E6E6;
  background-image: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  outline: 0 none
}

.popover-title { display: none; }

.input-smaller {
  width: 75px;
}

.tiny {
  font-size: 50%;
}

.remove:hover {
  background-color: #A60000;
}

.typeahead { z-index: 1051; }