<div class="graph-legend-popover">
	<a class="close" ng-click="dismiss();" href="">×</a>

	<div class="editor-row small" style="padding-bottom: 0;">
		<label>Axis:</label>
		<button ng-click="toggleYAxis(series);dismiss();"
			class="btn btn-mini"
			ng-class="{'btn-success': series.yaxis === 1 }">
			Left
		</button>
		<button ng-click="toggleYAxis(series);dismiss();"
			class="btn btn-mini"
			ng-class="{'btn-success': series.yaxis === 2 }">
			Right
		</button>
	</div>

	<div class="editor-row">
		<i ng-repeat="color in colors" class="pointer"
			ng-class="{'fa fa-circle-o': color === series.color,'fa fa-circle': color !== series.color}"
			ng-style="{color:color}"
			ng-click="changeSeriesColor(series, color);dismiss();">&nbsp;</i>
	</div>
</div>

