.refresh-picker {
  position: relative;

  .refresh-picker-buttons {
    display: flex;
  }

  .navbar-button {
    margin-right: 0;
  }

  .navbar-button:last-child {
    padding-left: 6px;
    padding-right: 2px;
  }

  .btn {
    border-radius: 0;
  }

  .btn:first-child {
    border-right: 0;
  }

  .refresh-picker-button-select-select {
    position: absolute;
    left: 0;
    width: 100%;
  }
}
