<div class="modal-body">

  <a class="modal-close" ng-click="dismiss();">
    <i class="fa fa-remove"></i>
  </a>

  <h3>
    报警处理过程提交
  </h3>

  <form>
    <div style="display: inline-block">
      <div class="tight-form-container">
        <div class="tight-form">
          <ul class="tight-form-list">
            <li>
              <textarea style="width: 300px"></textarea>
            </li>
          </ul>
        </div>
      </div>

      <div class="" style="margin-top: 30px; margin-bottom: 20px;">
        <button type="button" class="btn btn-inverse" ng-click="dismiss()">取消</button>
        <button type="submit" class="btn btn-success" ng-click="dismiss();">关闭警告并上传报告</button>

      </div>
    </div>
  </form>
</div>


