<div class="modal-body gf-box-no-margin">
	<div class="gf-box-header">
		<div class="gf-box-title">
			<i class="fa fa-keyboard-o"></i>
			Keyboard shortcuts
		</div>

		<button class="gf-box-header-close-btn" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</button>
	</div>

	<div class="gf-box-body">
		<table class="shortcut-table">
			<tr>
				<th></th>
				<th style="text-align: left;">Dashboard wide shortcuts</th>
			</tr>
			<tr>
				<td style="text-align: right;"><span class="label label-info">ESC</span></td>
				<td>Exit fullscreen edit/view mode, close search or any editor view</td>
			</tr>
			<tr>
				<td><span class="label label-info">CTRL+F</span></td>
				<td>Open dashboard search view (also contains import/playlist controls)</td>
			</tr>
			<tr>
				<td><span class="label label-info">CTRL+S</span></td>
				<td>Save dashboard</td>
			</tr>
			<tr>
				<td><span class="label label-info">CTRL+H</span></td>
				<td>Hide row controls</td>
			</tr>
			<tr>
				<td><span class="label label-info">CTRL+Z</span></td>
				<td>Zoom out</td>
			</tr>
			<tr>
				<td><span class="label label-info">CTRL+R</span></td>
				<td>Refresh (Fetches new data and rerenders panels)</td>
			</tr>
			<tr>
				<td><span class="label label-info">CTRL+O</span></td>
				<td>Enable/Disable shared graph crosshair</td>
			</tr>
		</table>
	</div>

</div>

