<div class="modal-body">

	<a class="modal-close" ng-click="dismiss();">
		<i class="fa fa-remove"></i>
	</a>

	<h3>
		Invite Users
	</h3>

	<div class="modal-tagline">
		Invite new or existing Grafana users to the organization
		<span class="highlight-word">{{contextSrv.user.orgName}}</span>
	</div>

	<br>
	<br>

	<form name="addOrgForm" style="display: inline-block;">
		<div class="tight-form">
			<ul class="tight-form-list">
				<li class="tight-form-item">
					Email
				</li>
				<li>
					<input type="text" ng-model="newOrg.name" bs-typeahead="searchOrgs"
					required class="input-large tight-form-input" placeholder="email@test.com">
				</li>
				<li class="tight-form-item">
					Name
				</li>
				<li>
					<input type="text" ng-model="newOrg.name" bs-typeahead="searchOrgs"
					required class="input-large tight-form-input" placeholder="name (optional)">
				</li>

				<li class="tight-form-item">
					Role
				</li>
				<li>
					<select type="text" ng-model="newOrg.role" class="input-small tight-form-input" ng-options="f for f in ['Viewer', 'Editor', 'Read Only Editor', 'Admin']">
					</select>
				</li>
				<div class="clearfix"></div>
			</ul>
		</div>
	</form>

	<div class="" style="margin-top: 30px; margin-bottom: 20px;">
		<button type="button" class="btn btn-inverse" ng-click="dismiss()">Cancel</button>
		<button type="button" class="btn btn-success" ng-click="onConfirm();dismiss();">Invite Users</button>
	</div>

</div>

