<div ng-controller="MetricKeysCtrl" ng-init="init()">
  <h5>Load metrics keys into elastic search</h5>

  <p>
    Work in progress...
  </p>
  <!-- <div class="row-fluid">
    <div class="span12">
      <label class="small">Load metrics recursive starting from this metric path</label>
      <input type="text" class="input-xlarge" ng-model="metricPath"> </input>
    </div>
  </div>

  <div class="row-fluid" style="margin-top: 15px;">
    <div class="span12">
      <button class="btn btn-success" ng-click="createIndex()">Clear/Create index</button>
      <button class="btn btn-success" ng-click="loadMetricsFromPath()">Load from metric path</button>
      <button class="btn btn-danger" ng-click="loadAll()">Load all</button>
      <tip>Load all will fetch all metrics in one call, can be intensive for graphite and for the browser if you have a lot of metrics</tip>
    </div>
  </div>

  <div class="row-fluid" style="margin-top: 15px;">
    <div class="span12" ng-show="infoText" style="padding-top: 10px;">
      {{infoText}}
    </div>
    <div class="span12 alert alert-error" ng-show="errorText">
      {{errorText}}
    </div>
  </div>
  <div class="row-fluid" ng-show="metricCounter">
    <div class="span12" style="padding-top: 10px;">
      Metrics indexed: {{metricCounter}}
    </div>
  </div> -->
</div>
