<!-- TODO UPDATE
	<div class="editor-row">

	<div class="tight-form-container">
		<div ng-repeat="target in ctrl.panel.targets" ng-class="{'tight-form-disabled': target.hide}">
			<rebuild-on-change property="ctrl.panel.datasource || target.datasource" show-null="true">
				<plugin-component type="query-ctrl">
				</plugin-component>
			</rebuild-on-change>
		</div>
	</div>

	<div style="margin: 20px 0 0 0">
		<button class="btn btn-inverse" ng-click="ctrl.addDataQuery()" ng-hide="ctrl.datasource.meta.mixed">
			<i class="fa fa-plus"></i>&nbsp;
			查询
		</button>

		<div class="dropdown" ng-if="ctrl.datasource.meta.mixed">
			<button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-plus"></i>&nbsp;
				新增查询 &nbsp; <span class="caret"></span>
			</button>

			<ul class="dropdown-menu" role="menu">
				<li ng-repeat="datasource in ctrl.datasources" role="menuitem" ng-hide="datasource.meta.builtIn">
					<a ng-click="ctrl.addDataQuery(datasource);">{{datasource.name}}</a>
				</li>
			</ul>
		</div>

	</div>

	<rebuild-on-change property="ctrl.panel.datasource" show-null="true">
		<plugin-component type="query-options-ctrl">
		</plugin-component>
	</rebuild-on-change> -->

<div class="query-editor-rows gf-form-group">
  <div ng-repeat="target in ctrl.panel.targets" ng-class="{'gf-form-disabled': target.hide}">
    <rebuild-on-change property="ctrl.panel.datasource || target.datasource" show-null="true">
      <plugin-component type="query-ctrl">
      </plugin-component>
    </rebuild-on-change>
  </div>
</div>

<metrics-ds-selector panel-ctrl="ctrl"></metrics-ds-selector>

<div class="gf-form-group">
  <rebuild-on-change property="ctrl.panel.datasource" show-null="true">
    <plugin-component type="query-options-ctrl">
    </plugin-component>
  </rebuild-on-change>
</div>

