<div ng-controller="PlaylistCtrl" ng-init="init()">
	<div class="gf-box-header">
		<div class="gf-box-title">
			<i class="fa fa-play"></i>
			Start playlist
		</div>

		<button class="gf-box-header-close-btn" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</button>

	</div>

	<div class="gf-box-body">
    <div class="row" style="margin-bottom: 10px;">
      <div class="span6">
        <div style="display: inline-block">
          <div class="tight-form">
            <ul class="tight-form-list">
              <li class="tight-form-item">
                Playlist type:
              </li>
              <li>
                <select class="input-medium tight-form-input last" ng-model="playlistType" ng-change="changeOptions()" ng-options="f for f in ['dashboards', 'variables']"></select>            
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-bottom: 10px;">
      <div class="span6">
        <div style="display: inline-block">
          <div class="tight-form">
            <ul class="tight-form-list">
              <li class="tight-form-item">
                Search
              </li>
              <li>
                <input type="text" class="tight-form-input input-xlarge last" ng-model="searchQuery" placeholder="query or empty for starred" ng-change="search()">
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="span6">
        <h5>
            Playlist dashboards
        </h5>
      </div>  
    </div>
		
    <div class="row" style="margin-bottom: 10px;">
			<div class="span6">
				<table class="grafana-options-table">
					<tr ng-repeat="element in filteredHits">
						<td style="white-space: nowrap;">
							{{element.title}}
						</td>
						<td style="text-align: center">
							<button class="btn btn-inverse btn-mini pull-right" ng-click="addElement(element)">
								<div ng-if="playlistType === 'dashboards'">
                  <i class="fa fa-plus"></i>
								  Add to playlist
                </div>
                <div ng-if="playlistType === 'variables'">
                  Select
                </div>
							</button>
						</td>
					</tr>
					<tr ng-hide="searchHits.length">
						<td colspan="2">
						 <i class="fa fa-warning"></i> 
             No dashboards found
						</td>
					</tr>
				</table>
			</div>
			<div class="span6">
				<table class="grafana-options-table">
					<tr ng-repeat="element in playlist">
						<td style="white-space: nowrap;">
							{{element.title}}
						</td>
						<td style="text-align: center">
							<button class="btn btn-inverse btn-mini pull-right" ng-click="removeElement(element)">
								<i class="fa fa-remove"></i>
							</button>
						</td>
					</tr>
					<tr ng-hide="playlist.length">
						<td colspan="2">
							Playlist empty
						</td>
					</tr>
				</table>
			</div>
		</div>

    <div class="row" style="margin-bottom: 10px;" ng-if="playlistType === 'variables' && playlist.length > 0">
      <div class="tight-form">
        <div class="span6">
          <h5>Variables list</h5>
        </div>
      </div>
      <div class="span6">
        <h5>Playlist variables</h5>
      </div>
    </div>

    <div class="row" style="margin-bottom: 10px;" ng-if="playlistType === 'variables' && playlist.length > 0">
      <div class="span6">
        <table class="grafana-options-table">
          <tr ng-repeat="variable in filteredList">
            <td style="white-space: nowrap;">
              {{variable.name}}
            </td>
            <td style="text-align: center">
              <button class="btn btn-inverse btn-mini pull-right" ng-click="addVariableToPlaylist(variable)">
                <i class="fa fa-plus"></i>
                Add to playlist
              </button>
            </td>
          </tr>
          <tr ng-hide="filteredList.length">
            <td colspan="2">
             <i class="fa fa-warning"></i>
             No template variables found
            </td>
          </tr>
        </table>
      </div>
      <div class="span6">
        <table class="grafana-options-table">
          <tr ng-repeat="variable in variables">
            <td style="white-space: nowrap;">
              {{variable.name}}
            </td>
            <td style="text-align: center">
              <button class="btn btn-inverse btn-mini pull-right" ng-click="removeVariableFromPlaylist(variable)">
                <i class="fa fa-remove"></i>
              </button>
            </td>
          </tr>
          <tr ng-hide="playlist.length">
            <td colspan="2">
              Playlist empty
            </td>
          </tr>
        </table>
      </div>
    </div>

		<br>
		<br>
		<div class="pull-left">
			<div class="tight-form">
				<ul class="tight-form-list">
					<li class="tight-form-item">
						Timespan between dashboard change
					</li>
					<li>
						<input type="text" class="tight-form-input input-small" ng-model="timespan" />
					</li>
					<li>
						<button class="btn btn-success tight-form-btn" ng-click="start();dismiss();"><i class="fa fa-play"></i> Start</button>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>

		<div class="clearfix"></div>

	</div>
</div>
