<div class="container">

	<div class="login-box">

		<div class="login-box-logo">
			<img src="img/logo_transparent_200x75.png">
		</div>

		<div class="login-inner-box">
			<div class="login-tab-header">
				<button class="btn-login-tab" class="active">
					Reset password
				</button>
			</div>

			<form name="sendResetForm" class="login-form">
				<div class="tight-form" ng-if="sendMode">
					<ul class="tight-form-list">
						<li class="tight-form-item" style="width: 78px">
							<strong>User</strong>
						</li>
						<li>
							<input type="text" name="username" class="tight-form-input last" required ng-model='formModel.userOrEmail' placeholder="email or username" style="width: 253px">
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>

				<div class="login-submit-button-row">
					<button type="submit" class="btn" ng-click="sendResetEmail();" ng-class="{'btn-inverse': !sendResetForm.$valid, 'btn-primary': sendResetForm.$valid}">
						Send reset instructions
					</button>
				</div>
			</form>

			<div class="clearfix"></div>
		</div>

	</div>
</div>

