<div class="tabbed-view-header">
	<h2 class="tabbed-view-title">
		Row settings
	</h2>

	<button class="tabbed-view-close-btn" ng-click="dismiss();">
		<i class="fa fa-remove"></i>
	</button>
</div>

<div class="tabbed-view-body">
	<div class="row">
		<div class="col-md-8">
			<div class="page-heading">
				<h5>Row details</h5>
			</div>
			<div class="gf-form-group">
				<div class="gf-form-inline">

					<div class="gf-form">
						<span class="gf-form-label width-6">Title</span>
						<input type="text" class="gf-form-input max-width-14" ng-model='row.title'></input>
					</div>
					<div class="gf-form">
						<span class="gf-form-label width-6">Height</span>
						<input type="text" class="gf-form-input max-width-8" ng-model='row.height'></input>
						<editor-checkbox text="Show Title" model="row.showTitle"></editor-checkbox>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="page-heading">
				<h5>Templating options</h5>
			</div>
			<div class="gf-form-group">
				<div class="gf-form">
					<span class="gf-form-label">Repeat Row</span>
					<div class="gf-form-select-wrapper max-width-10">
						<select class="gf-form-input" ng-model="row.repeat" ng-options="f.name as f.name for f in dashboard.templating.list">
							<option value=""></option>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
