<div class="gf-box-header">
	<div class="gf-box-title">
		<i class="fa fa-th-list"></i>
		Row settings
	</div>

	<div ng-model="editor.index" bs-tabs style="text-transform:capitalize;">
		<div ng-repeat="tab in ['General']" data-title="{{tab}}">
		</div>
	</div>

	<button class="gf-box-header-close-btn" ng-click="dismiss();">
		<i class="fa fa-remove"></i>
	</button>
</div>

<div class="gf-box-body">

	<div class="editor-row" ng-if="editor.index == 0">
		<div class="editor-option">
			<label class="small">Title</label><input type="text" class="input-xlarge" ng-model='row.title'></input>
		</div>
		<div class="editor-option">
			<label class="small">Height</label><input type="text" class="input-mini" ng-model='row.height'></input>
		</div>
		<editor-opt-bool text="Editable" model="row.editable"></editor-opt-bool>
		<editor-opt-bool text="Show title" model="row.showTitle"></editor-opt-bool>
	</div>

</div>
