<div ng-controller="SideMenuCtrl" ng-init="init()">

	<ul class="sidemenu sidemenu-main">
		<li style="background:#222;">
			<a class="pointer sidemenu-top-btn" ng-click="contextSrv.toggleSideMenu()">
				<img class="logo-icon" src="img/fav32.png"></img>
			</a>
		</li>

    <!--
		<li class="sidemenu-system-section" ng-if="systemSection">
			<div class="sidemenu-system-section-inner">
				<i class="fa fa-fw fa-cubes"></i>
				<div class="sidemenu-section-text-wrapper">
					<div class="sidemenu-section-heading">CloudInsight Admin</div>
					<div class="sidemenu-section-tagline">v {{grafanaVersion}}</div>
				</div>
			</div>
		</li>
		-->

		<li ng-repeat="item in mainLinks">
			<a href="{{item.href}}" class="sidemenu-item" ng-if="item.href">
				<span class="icon-circle sidemenu-icon"><i class="{{item.icon}}"></i></span>
				<span class="sidemenu-item-text">{{item.text}}</span>
	   	</a>
			<a class="sidemenu-item" ng-if="!item.href" ng-click="updateSubmenu(item);item.click(item)">
				<span class="icon-circle sidemenu-icon"><i class="{{item.icon}}"></i></span>
				<span class="sidemenu-item-text">{{item.text}}</span>
	   	</a>
		</li>
	</ul>

	<ul class="sidemenu sidemenu-small" ng-if="!systemSection">

		<li ng-if="contextSrv.user.isSignedIn">
			<a href="profile" class="sidemenu-item">
				<span class="icon-circle sidemenu-icon"><i class="fa fa-fw fa-user"></i></span>
				<span class="sidemenu-item-text">{{contextSrv.user.name | limitTo:5}}</span>
	   	</a>
		</li>

		<li ng-repeat="sidemenuItem in settingMenu">
			<a href="" class="sidemenu-item" ng-click="sidemenuItem.click(sidemenuItem);">
				<span class="icon-circle sidemenu-icon"><i class="{{sidemenuItem.icon}}"></i></span>
				<span class="sidemenu-item-text">{{sidemenuItem.text | limitTo:10}}</span>
	   	</a>
		</li>
		<li>
			<a href="logout" class="sidemenu-item" target="_self">
				<span class="icon-circle sidemenu-icon"><i class="fa fa-fw fa-sign-out"></i></span>
				<span class="sidemenu-item-text">登出</span>
	   	</a>
		</li>
		<li ng-if="!contextSrv.isSignedIn">
			<a href="login" class="sidemenu-item" target="_self">
				<span class="icon-circle sidemenu-icon"><i class="fa fa-fw fa-sign-in"></i></span>
				<span class="sidemenu-item-text">登录</span>
	   	</a>
		</li>

	</ul>

	<ul class="sidemenu submenu" ng-if="contextSrv.submenu" ng-class="{'scroll-y':(currentMenu.text=='指标浏览')}">
		<li>
			<a href="" class="sidemenu-item" style="background:#222;position: fixed; width: 130px; top: 0px;" ng-click="hideSubmenu()">
				<span class="icon-circle sidemenu-icon"><i class="{{currentMenu.icon}}"></i></span>
				<span class="sidemenu-item-text">{{currentMenu.text}}</span>
	   	</a>
		</li>
		<li ng-repeat="item in submenu" ng-class="{'dropdown': item.thdmenu}">
			<a href="{{item.href}}" ng-if="item.href"  class="sidemenu-item" target="{{item.target}}">
				<span class="sidemenu-item-text">{{item.text}}</span>
			</a>
			<a ng-click="item.click(item)" ng-if="!item.href" class="sidemenu-item" data-toggle="{{item.dropdown}}">
				<span class="sidemenu-item-text">{{item.text}}</span>
				<span ng-if="item.thdmenu" class="right-angle"><i class="fa fa-fw fa-angle-right"></i></span>
			</a>
			<ul class="dropdown-menu thdmenu" ng-if="item.thdmenu" role="menu" style="left: 150px; top:0px;">
				<li ng-repeat="menuItem in item.thdmenu" ng-class="menuItem.cssClass">
					<a href="{{menuItem.href}}" ng-if="menuItem.href">
						{{menuItem.text}}
					</a>
					<a ng-click="menuItem.click()" ng-if="menuItem.click">
						<i class="{{menuItem.icon}}"></i>
						{{menuItem.text}}
					</a>
				</li>
			</ul>
		</li>
	</ul>

	<div ng-click="hideSubmenu()" ng-if="contextSrv.submenu" style="position:fixed; left:250px; right:0px; bottom:0px; top:0px;" ></div>

</div>
