<div class="signup-box">
    <div ng-include="'public/app/partials/login_header.html'"></div>
    <div class="signup-inner-box">
        <div class="container">
            <div class="signup-description">
                <strong>Cloudwiz能帮助你</strong>
                <ul class="signup-desc-list">
                    <li class="signup-desc-item">提供可视化的全屏视窗界面</li>
                    <li class="signup-desc-item">根据用户需求制定不同的组件</li>
                    <li class="signup-desc-item">全方位，多层级收集30种或更多应用的指标</li>
                    <li class="signup-desc-item">支持秒甚至毫秒级数据，实现实时监控</li>
                    <li class="signup-desc-item">提高故障诊断和排查能力</li>
                </ul>
                <p>我们将根据你的需求，提供最佳的增长解决方案，</p>
                <p>请联系我们：service@cloudwiz.cn</p>
            </div>
            <div class="signup-right">
                <form name="signUpFrom" class="form-horizontal signup-form">
                    <div class="control-group">
                        <h2>申请试用</h2>
                        <h3>(30天期限)</h3>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">工作邮箱：</label>
                        <div class="controls">
                            <input type="email" id="inputEmail" required placeholder="例如：username@cloudwiz.cn" ng-model="formModel.email">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">姓名：</label>
                        <div class="controls">
                            <input type="text" required ng-model="formModel.username">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">手机号：</label>
                        <div class="controls">
                            <input type="text" required ng-model="formModel.phone">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">公司名称：</label>
                        <div class="controls">
                            <input type="text" required ng-model="formModel.orgName">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">公司规模：</label>
                        <div class="controls">
                            <select required ng-model="formModel.scale">
                                <option value="50">10~50</option>
                                <option value="100">50~100</option>
                                <option value="500">100~500</option>
                                <option value="1000">500以上</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group signup-accept">
                        <strong>注册即代表同意</strong>
                        <a href="javascript:void(0)">隐私条款</a>
                    </div>
                    <div class="control-group">
                        <button type="申请试用" class="btn-link-login btn-login" ng-click="submit()">申请试用</button>
                    </div>
                    <div class="control-group go-login">
                        <strong>已有账户，请</strong>
                        <a href="login">登录</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div ng-include="'public/app/partials/login_footer.html'"></div>
</div>
