<div class="submenu-controls" ng-controller="SubmenuCtrl">
	<div class="tight-form borderless">

		<ul class="tight-form-list" ng-if="dashboard.templating.list.length > 0">
			<li ng-repeat="variable in variables" class="submenu-item">
				<span class="template-variable tight-form-item" ng-show="!variable.hideLabel" style="padding-right: 5px">
					{{variable.label || variable.name}}:
				</span>
				<select-dropdown variable="variable" on-updated="variableUpdated(variable)" get-values-for-tag="getValuesForTag(variable, tagKey)"></select-dropdown>
			</li>
		</ul>

		<ul class="tight-form-list" ng-if="dashboard.annotations.list.length > 0">
			<li ng-repeat="annotation in dashboard.annotations.list" class="submenu-item annotation-segment" ng-class="{'annotation-disabled': !annotation.enable}">
				<a ng-click="disableAnnotation(annotation)">
					<i class="fa fa-bolt"></i>
					{{annotation.name}}
					<input class="cr1" id="hideYAxis" type="checkbox" ng-model="annotation.enable" ng-checked="annotation.enable">
					<label for="hideYAxis" class="cr1"></label>
				</a>
			</li>
		</ul>

		<ul class="tight-form-list pull-right" ng-if="dashboard.links.length > 0">
			<dash-links-container links="dashboard.links"></dash-links-container>
		</ul>

		<div class="clearfix"></div>
	</div>
</div>
