<div ng-include="'app/partials/login_header.html'"></div>
<div ng-controller="SystemCtrl" ng-init="init_system_choice()" class="system-container">
    <h3>{{contextSrv.user.orgName}}管理员 欢迎您！，请选择系统进入>></h3>
    <div ng-repeat="sys in systems"  class="system-list" >
        <system-panel sys="{{sys.Id}}"  ng-click="enter(sys.Id)">
            <h2>{{sys.SystemsName}}: 健康值{{health}}%</h2>
            
            <div class="system-item">
                <h4>报警状态(个数)</h4>
                <p>{{critical + warn}}</p>
                <div class="system-item-pie" sys_alert="{{sys.Id}}"></div>
                <div class="system-item-legend">
                    <dl>
                        <dt><span class="btn-warning"></span>警告</dt>
                        <dd class="system-legend-warning">{{warn}}</dd>
                    </dl>
                    <dl>
                        <dt><span class="btn-danger"></span>严重</dt>
                        <dd class="system-legend-danger">{{critical}}</dd>
                    </dl>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="system-item">
                <h4>自动异常检测(个数)</h4>
                <p>{{numMetrics}}</p>
                <div class="system-item-pie" sys_annomaly="{{sys.Id}}"></div>
                <div class="system-item-legend">
                    <dl>
                        <dt><span class="btn-success"></span>正常指标</dt>
                        <dd class="system-legend-success">{{numMetrics - numAnomalyMetrics}}</dd>
                    </dl>
                    <dl>
                        <dt><span class="btn-warning"></span>异常指标</dt>
                        <dd class="system-legend-warning">{{numAnomalyMetrics}}</dd>
                    </dl>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="system-item">
                <h4>服务状态(个数)</h4>
                <p>{{servies.length}}</p>
                <button class="btn btn-system-status btn-success">正常:{{seriesStatus.normal}}</button>
                <button class="btn btn-system-status btn-warning">异常:{{seriesStatus.unnormal}}</button>
            </div>

            <div class="system-item">
                <h4>机器连接状态(个数)</h4>
                <p>{{hostList.length}}</p>
                <button class="btn btn-system-status btn-success">正常:{{hostStatus.normal}}</button>
                <button class="btn btn-system-status btn-warning">异常:{{hostStatus.unnormal}}</button>
            </div>
            <br/>
        </system-panel>
        <div class="clearfix"></div>
    </div>

</div>
<div ng-include="'app/partials/login_footer.html'"></div>