<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
		<i class="fa fa-exclamation"></i>
			<span class="p-l-1">Unsaved changes</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content text-center">

		<div class="confirm-modal-text">
			What do you want to do?
		</div>

		<div class="confirm-modal-buttons">
			<button type="button" class="btn btn-inverse" ng-click="dismiss()">Cancel</button>
			<button type="button" class="btn btn-danger" ng-click="ignore();dismiss()">Ignore</button>
			<button type="button" class="btn btn-success" ng-click="save();dismiss();">Save</button>
		</div>
	</div>

</div>

