<navbar icon="icon-gf icon-gf-monitoring" title="Alerting" title-url="alerting">
</navbar>

<div class="page-container" >
	<div class="page-header">
		<h1>Alerting</h1>
	</div>

  <div class="gf-form-group">
    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label">Filter by state</label>
        <div class="gf-form-select-wrapper width-13">
          <select class="gf-form-input" ng-model="ctrl.filters.state" ng-options="f for f in ['OK', 'Warning', 'Critical']" ng-change="ctrl.severityChanged()">
          </select>
        </div>
      </div>
    </div>
  </div>

  <section class="card-section card-list-layout-list">

    <ol class="card-list" >
      <li class="card-item-wrapper" ng-repeat="alert in ctrl.alerts">
        <a class="card-item" href="dashboard/{{alert.dashboardUri}}?panelId={{alert.panelId}}&fullscreen&edit&tab=alert">
          <div class="card-item-header">
            <div class="card-item-type">ACTIVE</div>
            <div class="card-item-notice" ng-show="alert.executionError">
              <span>Execution Error</span>
            </div>
          </div>
          <div class="card-item-body">
            <div class="card-item-details">
              <div class="card-item-name">{{alert.name}}</div>
              <div class="card-item-sub-name">
                <div class="alert-list-state-line">
                  <i class="icon-gf {{alert.stateModel.iconClass}}"></i>
                  {{alert.stateModel.text}}
                  for
                  {{alert.newStateDateAgo}}
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ol>
  </section>

</div>

