<page-header model="ctrl.navModel"></page-header>

<div class="page-container page-body">
  <div class="page-action-bar">
    <div class="gf-form">
      <label class="gf-form--has-input-icon">
        <input type="text" class="gf-form-input width-13" placeholder="Search alert" ng-model="ctrl.searchQuery" ng-change="ctrl.onQueryUpdated()">
        <i class="gf-form-input-icon fa fa-search"></i>
      </label>
    </div>
    <div class="gf-form">
      <label class="gf-form-label">Filter by state</label>
      <div class="gf-form-select-wrapper width-13">
        <select class="gf-form-input" ng-model="ctrl.filters.state" ng-options="f.value as f.text for f in ctrl.stateFilters" ng-change="ctrl.filtersChanged()">
        </select>
      </div>
    </div>

    <div class="page-action-bar__spacer">
    </div>

    <a class="btn btn-secondary" ng-click="ctrl.openHowTo()">
      <i class="fa fa-info-circle"></i>
      How to add an alert
    </a>
  </div>

  <section>
    <ol class="alert-list">
      <li class="alert-list__item" ng-repeat="alert in ctrl.alerts">
        <div class="alert-list__body">
          <div class="alert-list__icon  {{alert.stateModel.stateClass}}">
            <i class="{{alert.stateModel.iconClass}}"></i>
          </div>
          <div class="alert-list__header">
            <div class="alert-list__title">
              <a href="dashboard/{{alert.dashboardUri}}?panelId={{alert.panelId}}&fullscreen&edit&tab=alert">
                {{alert.name}}
              </a>
            </div>
            <div class="alert-list__state">
              <span class="{{alert.stateModel.stateClass}}">
                {{alert.stateModel.text}}
                <span class="small muted" ng-show="alert.no_data">(due to no data)</span>
              </span>
              <span class="alert-list__time">for {{alert.newStateDateAgo}}</span>
            </div>
          </div>
          <div class="small muted" ng-show="alert.executionError !== ''">
            Error: "{{alert.executionError}}"
          </div>
        </div>
        <div class="alert-list__footer">
          <a class="btn btn-inverse btn-small alert-list__btn width-2" bs-tooltip="'Pausing an alert rule prevents it from executing'"
            ng-click="ctrl.pauseAlertRule(alert.id)">
            <i ng-show="alert.state !== 'paused'" class="fa fa-pause"></i>
            <i ng-show="alert.state === 'paused'" class="fa fa-play"></i>
          </a>
          <a class="btn btn-small btn-inverse alert-list__btn width-2" href="dashboard/{{alert.dashboardUri}}?panelId={{alert.panelId}}&fullscreen&edit&tab=alert"
            bs-tooltip="'Edit alert rule'">
            <i class="icon-gf icon-gf-settings"></i>
          </a>
        </div>
      </li>
    </ol>
  </section>
</div>
