<div class="page-header-canvas">
  <div class="page-container" >
    <navbar model="ctrl.navModel"></navbar>

    <div class="page-header">
      <page-h1 model="ctrl.navModel" class="page-header__heading"></page-h1>

      <ul class="gf-tabs">
        <li class="gf-tabs-item">
          <a class="gf-tabs-link" href="alerting">
            <i class="fa fa-fw fa-list-ul"></i>
            Alert Rules
          </a>
        </li>
        <li class="gf-tabs-item">
          <a class="gf-tabs-link active" href="alerting/notifications">
            <i class="gicon gicon-alert-notification-channel"></i>
            Notification channels
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="page-container page-body">
	<div class="page-action-bar">
    <div class="page-action-bar__spacer">
    </div>

    <a href="alerting/notification/new" class="btn btn-success">
      <i class="fa fa-plus"></i>
      New Channel
    </a>
  </div>

	<table class="grafana-options-table">
		<thead>
			<th style="min-width: 200px"><strong>Name</strong></th>
			<th style="min-width: 100px">Type</th>
			<th style="width: 1%"></th>
		</thead>
		<tr ng-repeat="notification in ctrl.notifications">
			<td>
				<a href="alerting/notification/{{notification.id}}/edit">
					{{notification.name}}
				</a>
			</td>
			<td>
				{{notification.type}}
			</td>
			<td class="text-right">
				<span class="btn btn-secondary btn-small" ng-show="notification.isDefault == true">
					default
				</span>
				<a href="alerting/notification/{{notification.id}}/edit" class="btn btn-inverse btn-small">
					<i class="fa fa-edit"></i>
					edit
				</a>
				<a ng-click="ctrl.deleteNotification(notification.id)" class="btn btn-danger btn-small">
          <i class="fa fa-remove"></i>
        </a>
			</td>
		</tr>
	</table>

</div>
