<div ng-controller='filtering' ng-init="init()">

  <div class='filtering-container'>

    <div ng-repeat="filter in filter.templateParameters" class="small filter-panel-filter">
      <div>
        <i class="filter-action pointer icon-remove" bs-tooltip="'Remove'" ng-click="remove(filter)"></i>
        <i class="filter-action pointer icon-edit" ng-hide="filter.editing" bs-tooltip="'Edit'" ng-click="filter.editing = true; filter.picking=false"></i>
      </div>

      <div ng-hide="filter.editing" style="margin-right: 45px;">
        <ul class="unstyled">
          <li ng-if="filter.name" class="dropdown">
            {{filter.name}}:
            <a ng-hide="filter.picking" ng-click="filterPick(filter, $event)">{{filter.current.text}}</a>
            <span ng-show="filter.picking">
              <input type="text" class="filter-small" autocomplete="off" spellcheck="false" data-items="30" min-length="0" ng-model="selectedFilter" bs-typeahead="textFilter($index)" focus-me="filter.picking" ng-keypress="$event.keyCode == 13 ? filterApply(filter, selectedFilter) : null" />
              <button type="button" class="btn btn-success btn-micro" ng-click="filterApply(filter, selectedFilter);selectedFilter=''">
                <span class="icon-play"></span>
              </button>
              <button type="button" class="btn btn-info btn-micro" ng-click="filterPick(filter);selectedFilter=''">
                <span class="icon-remove"></span>
              </button>
            </span>
          </li>
        </ul>
      </div>

      <form ng-show="filter.editing">
        <ul class="unstyled">
          <li>
            <strong>name</strong>:<br/>
            <input type='text' ng-model="filter.name">
          </li>
          <li>
            <strong>filter.query</strong>:<br/>
            <input type='text' ng-model="filter.query">
          </li>
          <li>
            <label for="includeAll">Include all:</label>
            <input id="includeAll" type='checkbox' ng-model="filter.includeAll">
          </li>
        </ul>
        <div>
          <input type="submit" value="Update" ng-click="applyFilter(filter)" class="filter-apply btn btn-success btn-mini" bs-tooltip="'Update and refresh'"/>
          <button ng-click="filter.editing=undefined" class="filter-apply btn btn-mini" bs-tooltip="'Save without refresh'">Close</button>
        </div>
      </form>
    </div>
    <i class="pointer icon-plus-sign add-filter-action" ng-click="add()" bs-tooltip="'Add metric filter / param'" data-placement="right"></i>
  </div>
</div>
