<div>
  <div class="row-fluid">    
    <div class="span2">
      <label class="small">Multi-query</label><input type="checkbox" ng-change="set_multi(panel.multi) "ng-model="panel.multi" ng-checked="panel.multi">
    </div>
    <div class="span3" ng-show="panel.multi">
      <label class="small">Arrangement</label> 
      <select class="input-small" ng-model="panel.multi_arrange" ng-options="f for f in ['vertical','horizontal']"></select>
    </div>
  </div>
  <div class="row-fluid" ng-show="panel.multi">    
    <div class="span12">
      <h5>A note on multi query panels</h5>
      <p>You turned on multi panel support: <i>cool</i>. Be aware that not all panels support display of multiple queries. Panels that don't support receiving several queries at one time will (should) display the results of the <strong>first query in the list</strong>. Further, some panels might not support receiving multiple queries in all modes. For example, the <strong>pie panel</strong> supports multiple queries only in <strong>query mode</strong>. In its other modes it will display the results of the first query in the list</p>
    </div>
  </div>
</div>