<kibana-panel ng-controller='stringquery' ng-init="init()">
  <div ng-show="!panel.multi">
    <form>
      <table class="form-horizontal">
        <tr><td><label><small>{{panel.label}}</small></label></td></tr>
        <tr>
          <td width="97%" style="padding-right:20px">
            <span style="position:relative">
              <i class="icon-remove-sign pointer" style="position:absolute;left:10px;top:3px" ng-show="panel.query.length > 0" ng-click="panel.query='';send_query(panel.query)"></i>
              <input type="text" style="text-indent:20px;width:100%" ng-model="panel.query">
            </span>
          </td>
          <td style="margin-left:20px" width="1%">
            <button style="margin-top:0px" type="submit" class="btn btn-success btn-small" ng-click="send_query(panel.query)"><i class="icon-search"></i></button>
          </td>
        <tr>
      </table>
    </form>
  </div>
  <div class='row-fluid' ng-show="panel.multi && panel.multi_arrange == 'horizontal'">
        <span ng-repeat="q in panel.query">
          <span style="margin-bottom:0px;margin-right:5px;display:inline-block;position:relative">
            <i class="icon-remove-sign pointer" style="position:absolute;left:10px;top:8px" ng-show="panel.query.length > 1" ng-click="remove_query($index);send_query(panel.query)"></i>
            <input style="margin-bottom:5px; text-indent: 20px;" type="text"  ng-model="panel.query[$index]" ng-model-onblur style="width:90%">
            <br>
          </span>
        </span>
        <br>
      <button type="submit" class="btn btn-info" ng-click="send_query(panel.query)"><i class="icon-search"></i> Search</button>
      <button type="submit" class="btn" ng-click="add_query();"><i class="icon-plus"></i></button>
  </div>
  <div ng-show="panel.multi && panel.multi_arrange == 'vertical'">
    <form>
      <table class="form-horizontal" style="margin-bottom:5px;">
        <tr><td class="small">Queries</td></tr>      
        <tr ng-repeat="q in panel.query" style="margin-bottom:10px">
          <td width="99%">
            <span style="position:relative">
              <i class="icon-remove-sign pointer" style="position:absolute;left:10px;top:3px" ng-show="panel.query.length > 1" ng-click="remove_query($index);send_query(panel.query)"></i>
              <input type="text"  ng-model="panel.query[$index]" ng-model-onblur style="text-indent: 20px;width:100%">
            </span>
          </td>
          <td width="1%" style="visibility:hidden"><button class="btn btn-info" type="submit"></button></td>
        </tr>
      </table>
      <button type="submit" class="btn btn-info" ng-click="send_query(panel.query)"><i class="icon-search"></i> Search</button>
      <button type="submit" class="btn" ng-click="send_query(panel.query);add_query();"><i class="icon-plus"></i> Add Query</button>
  </form>
</kibana-panel>