<kibana-panel ng-controller='stringquery'>
  <div ng-switch="_.isArray(panel.query)">
    <div ng-switch-when="false">
      <form class="input-append" style="margin-bottom:0px; width:100%; white-space:nowrap;">
        <label><small>{{panel.label}}</small></label>
        <input type="text" ng-model="panel.query" style="width:85%">
        <button type="submit" class="btn btn-info" ng-click="send_query(panel.query)"><i class="icon-search"></i></button>
        <button type="submit" class="btn btn-danger" ng-click="panel.query='';send_query(panel.query)"><i class="icon-ban-circle"></i></button>
        <button ng-show="panel.multi" type="submit" class="btn" ng-click="add_query()"><i class="icon-plus"></i></button>
      </form>
    </div>
    <div ng-switch-when="true">
        <form ng-class="{form-inline: panel.multi_arrange == 'horizontal'}" style="width:100%;" >        
          <span ng-repeat="q in panel.query">
            <span class="input-append" style="margin-bottom:0px;margin-right:5px">
              <button class="btn btn-danger" type="submit" style="width:50px;margin-left:-50px;visibility:hidden"></button>
              <input style="margin-bottom:5px;" type="text"  ng-model="panel.query[$index]" ng-model-onblur style="width:90%">
              <button class="btn btn-danger" ng-show="panel.query.length > 1" ng-click="remove_query($index);send_query(panel.query)"><i class="icon-minus"></i></button><br>
            </span><br style:"height:0px" ng-show="panel.multi_arrange == 'vertical'">
          </span>
        </form>
      <button type="submit" class="btn btn-info" ng-click="send_query(panel.query)"><i class="icon-search"></i> Search</button>
      <button type="submit" class="btn" ng-click="send_query(panel.query);add_query();"><i class="icon-plus"></i> Add Query</button>
    </div>
  </div>
</kibana-panel>