<div dash-class ng-if="dashboard">
    <dashnav></dashnav>

    <div class="dashboard-container summary-container">

        <div dash-editor-view></div>
        <dashboard-search></dashboard-search>
        <div class="clearfix"></div>

        <dashboard-submenu ng-if="submenuEnabled" dashboard="dashboard"></dashboard-submenu>

        <div class="clearfix"></div>

        <div class="grafana-row summary-row" ng-controller="RowCtrl" ng-repeat="(row_name, row) in dashboard.rows" row-height ng-class="{'summary-item':!row.fullwidth}">
            <div class="row-control">
                <div class="panels-wrapper" ng-if="!row.collapse">
                    <div class="row-close-buttons" ng-if="row.showTitle">
						<span class="row-button bgPrimary" ng-click="toggleRow(row)">
							<i bs-tooltip="'Expand row'" data-placement="right" class="fa fa-caret-down pointer" ></i>
						</span>
                    </div>
                    <div class="row-text pointer" ng-click="toggleRow(row)" ng-if="row.showTitle" ng-bind="row.title | interpolateTemplateVars:this">
                    </div>

                    <h3 style="padding-left:10px;">{{row.title}}</h3>
                    <div ng-repeat="panel in row.panels track by panel.id" class="panel" ui-draggable="!dashboard.meta.fullscreen" drag="panel.id"
                         ui-on-drop="onDrop($data, row, panel)" drag-handle-class="drag-handle" panel-width>
                        <div style="padding-left: 10px;" ng-if="row.title === '健康指数趋势'">
                            <div style="height: 60px">
                                <em style="font-size: 60px;line-height:66px;font-style: normal">{{applicationHealth}}</em>
                                <span>{{leveal}}</span>
                            </div>
                            <br>
                            <p>自动检测到所有<strong>{{ summary.numMetrics }}</strong>个指标中: 告警指标 <strong>{{ summary.numAlertsTriggered }}</strong>个  异常指标 <strong>{{ summary.numAnomalyMetrics }}</strong>个 <tip>健康值=(告警指标个数/定义规则总数)*50% + (异常指标/所有指标) * 50%</tip></p>
                        </div>
                        <ul class="btn-list-status" ng-if="panel.status">
                            <li class="btn-item" style="width:70px;">当前状态:</li>
                            <li ng-if="panel.status.danger[1]!==0"><a href="{{panel.href}}" class="btn-item system-status system-status-danger">{{panel.status.danger[0]}} <span>{{panel.status.danger[1]}}</span></a></li>
                            <li ng-if="panel.status.warn[1]!==0"><a href="{{panel.href}}" class="btn-item system-status system-status-warning">{{panel.status.warn[0]}} <span>{{panel.status.warn[1]}}</span></a></li>
                            <li ng-if="panel.status.success[1]!=0"><a href="{{panel.href}}" class="btn-item system-status system-status-success">{{panel.status.success[0]}} <span>{{panel.status.success[1]}}</span></a></li>
                        </ul>
                        <div class="clearfix"></div>
                        <plugin-component type="panel" class="panel-margin">
                        </plugin-component>
                        <p ng-if="panel.tip"><i class="fa fa-info-circle" style="padding:0 10px;"></i>
                            <span ng-if="panel.tips.length">预计未来</span>
                            <select ng-if="panel.tips.length" style="width:66px;"
                                    ng-model="panel.selectedOption"
                                    ng-change="changePre(panel.selectedOption)"
                                    ng-options="tip.time for tip in panel.tips">
                            </select>
                            {{panel.tip + panel.selectedOption.data}}
                        </p>
                    </div>

                    <div panel-drop-zone class="panel panel-drop-zone" ui-on-drop="onDrop($data, row)" data-drop="true">
                        <div class="panel-container" style="background: transparent">
                            <div style="text-align: center">
                                <em>Drop here</em>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div ng-show='dashboardMeta.canEdit' class="row-fluid add-row-panel-hint" ng-hide="dashboard.meta.fullscreen">
            <div class="span12" style="text-align:right;">
				<span style="margin-right: 10px;" ng-click="addRowDefault()" class="pointer btn btn-secondary btn-small">
					<span><i class="fa fa-plus"></i> 新增一行</span>
				</span>
            </div>
        </div>
    </div>
</div>
