<div class="row pull-right">
	<div class="gf-timepicker-absolute-section">
		<h3>Time range</h3>
		<label class="small">From:</label>
		<div class="input-prepend">
			<input type="text" class="input-large" ng-model="ctrl.timeRaw.from" input-datetime>
			<button class="btn btn-primary" type="button" ng-click="openFromPicker=!openFromPicker">
				<i class="fa fa-calendar"></i>
			</button>
		</div>

		<div ng-if="openFromPicker">
			<datepicker ng-model="ctrl.absolute.fromJs" class="gf-timepicker-component" show-weeks="false" ng-change="ctrl.absoluteFromChanged()"></datepicker>
		</div>

		<label class="small">To:</label>
		<div class="input-prepend">
			<input type="text" class="input-large" ng-model="ctrl.timeRaw.to" input-datetime>
			<button class="btn btn-primary" type="button" ng-click="openToPicker=!openToPicker">
				<i class="fa fa-calendar"></i>
			</button>
		</div>

		<div ng-if="openToPicker">
			<datepicker ng-model="ctrl.absolute.toJs" class="gf-timepicker-component" show-weeks="false" ng-change="ctrl.absoluteToChanged()"></datepicker>
		</div>

		<label class="small">Refreshing every:</label>
		<select ng-model="ctrl.refresh.value" class='input-medium' ng-options="f.value as f.text for f in ctrl.refresh.options">
		</select>

		<button class="btn btn-inverse gf-timepicker-btn-apply" type="button" ng-click="ctrl.applyCustom()">
			Apply
		</button>
	</div>

	<div class="gf-timepicker-relative-section">
		<h3>Quick ranges</h3>
		<ul ng-repeat="group in ctrl.timeOptions">
			<li bindonce ng-repeat='option in group' ng-class="{active: option.active}">
				<a ng-click="ctrl.setRelativeFilter(option)" bo-text="option.display"></a>
			</li>
		</ul>
	</div>

</div>
<div class="clearfix"></div>

