<ul class="nav timepicker-dropdown">

	<li class="grafana-menu-zoom-out">
		<a class='small' ng-click='zoom(2)'>
			Zoom Out
		</a>
	</li>

	<li>
		<a class="timepicker-dropdown" bs-tooltip="tooltip" data-placement="bottom" ng-click="ctrl.loadTimeOptions()">
			<i class="fa fa-clock-o"></i>
			<span ng-bind="rangeString"></span>
			<i class="fa fa-caret-down"></i>
		</a>
	</li>

	<li class="grafana-menu-refresh">
		<a ng-click="timeSrv.refreshDashboard()">
			<i class="fa fa-refresh"></i>
			<span ng-show="dashboard.refresh" class="text-warning">refreshed every {{dashboard.refresh}} </span>
		</a>
	</li>

</ul>
