<ul class="nav gf-timepicker-nav">

	<li class="grafana-menu-zoom-out">
		<a class='small' ng-click='ctrl.zoom(2)'>
			Zoom Out
		</a>
	</li>

	<li ng-class="{'gf-timepicker-open': ctrl.isOpen}">
		<a bs-tooltip="ctrl.tooltip" data-placement="bottom" ng-click="ctrl.openDropdown()">
			<i class="fa fa-clock-o"></i>
			<span ng-bind="ctrl.rangeString"></span>
			<span ng-show="ctrl.isUtc" class="gf-timepicker-utc">
				UTC
			</span>

			<span ng-show="ctrl.dashboard.refresh" class="text-warning">
				&nbsp;
				Refresh every {{ctrl.dashboard.refresh}}
			</span>
		</a>
	</li>

	<li class="grafana-menu-refresh">
		<a ng-click="ctrl.timeSrv.refreshDashboard()">
			<i class="fa fa-refresh"></i>
		</a>
	</li>

</ul>
