<ul class="nav gf-timepicker-nav">

	<li class="grafana-menu-zoom-out">
		<a class='small' ng-click='zoom(2)'>
			Zoom Out
		</a>
	</li>

	<li>
		<a bs-tooltip="tooltip" data-placement="bottom" ng-click="ctrl.openDropdown()">
			<i class="fa fa-clock-o"></i>
			<span ng-bind="ctrl.rangeString"></span>

			<span ng-show="dashboard.refresh" class="text-warning">
				&nbsp;
				&nbsp;
				<i class="fa fa-refresh"></i>
				refreshed every {{dashboard.refresh}}
			</span>
		</a>
	</li>

	<li class="grafana-menu-refresh" ng-show="!dashboard.refresh">
		<a ng-click="timeSrv.refreshDashboard()">
			<i class="fa fa-refresh"></i>
		</a>
	</li>

</ul>
