<div class="modal-body">
	<div class="dashboard-editor-header">
		<div class="dashboard-editor-title">
			<i class="icon icon-ok"></i>
			Confirm
		</div>
	</div>

	<div class="dashboard-editor-body">
		<div class="row-fluid">
		<span class="span4">
				{{title}}
		</span>
	  <button type="button" class="btn btn-info span2" ng-click="dismiss()">Cancel</button>
	  <button type="button" class="btn btn-success span2" ng-click="onConfirm();dismiss();">OK</button>
		<span class="span4"></span>
  </div>

</div>

