<div class="modal-body gf-box gf-box-no-margin">
	<div class="gf-box-header">
		<div class="gf-box-title">
			<i class="fa fa-check"></i>
			{{title}}
		</div>
	</div>

	<div class="gf-box-body" style="min-height: 0px;">
		<p class="row-fluid text-center large">
			{{text}}
			<br>
			<br>
		</p>
		<div class="row-fluid">
		<span class="span4"></span>
	  <button type="button" class="btn btn-success span2" ng-click="dismiss()">No</button>
	  <button type="button" class="btn btn-danger span2" ng-click="onConfirm();dismiss();">Yes</button>
		<span class="span4"></span>
  </div>

</div>

