<div class="modal-body">
	<div class="dashboard-editor-header">
		<div class="dashboard-editor-title">
			<i class="icon icon-ok"></i>
			{{title}}
		</div>
	</div>

	<div class="dashboard-editor-body">
		<p class="row-fluid text-center large">
			{{text}}
			<br>
			<br>
		</p>
		<div class="row-fluid">
		<span class="span4"></span>
	  <button type="button" class="btn btn-success span2" ng-click="dismiss()">No</button>
	  <button type="button" class="btn btn-danger span2" ng-click="onConfirm();dismiss();">Yes</button>
		<span class="span4"></span>
  </div>

</div>

