<div class="grafana-console" ng-controller="ConsoleCtrl">
	<div class="grafana-console-header">
		<span class="grafana-console-title large"><i class="fa fa-terminal"></i></span>
	</div>
	<div class="grafana-console-body">
		<div class="grafana-console-item" ng-repeat="item in events" ng-class="{'grafana-console-error': item.error}">
			<span class="grafana-console-time gfc-col" ng-bind="item.time"></span>
			<span class="grafana-console-type gfc-col">
				<span class="label label-info" ng-bind="item.type"></span>
			</span>
			<span class="gfc-col grafana-console-method" ng-bind="item.method"></span>
			<span class="gfc-col grafana-console-title" ng-bind="item.title"></span>
			<span class="gfc-col grafana-console-elapsed" ng-bind="item.elapsed"></span>
			<span class="gfc-col grafana-console-field1" ng-bind="item.field1"></span>
			<span class="gfc-col grafana-console-field2" ng-bind="item.field2"></span>
			<span class="gfc-col grafana-console-field3" ng-bind="item.field3"></span>
		</div>
	</div>
</div>
