<div ng-controller="CQEditorCtrl" ng-init="init()">
  <div class="editor-row">
    <div class="section">
      <div class="btn-group">
        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" bs-tooltip="'Datasource'">{{datasource.name}} <span class="caret"></span></button>

        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="datasource in datasources" role="menuitem">
            <a ng-click="setDatasource(datasource.value);">{{datasource.name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <span style="font-size: 16px">Continuous Queries</span>
  </div>

  <div class="editor-row" ng-show="datasource.type != 'influxDB'">
    <h5>
      Continuous queries only supported for InfluxDB data sources. Please choose a different data source.
    </h5>
  </div>

  <div class="editor-row" ng-show="datasource.type === 'influxDB'">
    <table class="grafana-options-table grafana-multi-col-table span8" style="margin-top: 10px">
      <thead>
        <th>id</th>
        <th>query</th>
        <th></th>
        <th>series name</th>
        <th style="text-align: center"></th>
      </thead>
      <tbody>
        <tr ng-repeat="cq in cqs">
          <td>{{ cq.id }}
          <td>{{ cq.query }}</td>
          <td>into</td>
          <td>{{ cq.series }}</td>
          <td>
            <a class="btn btn-danger btn-mini">
              <i class="icon-remove"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td></td>
          <td style="padding: 5px 7px"><input type="text" id="newCQ" style="width: 100%; border-right: 0px; padding-left: 3px; padding-right: 0px" class="grafana-target-text-input" placeholder="select ..." spellcheck="false"/>
          <td>into</td>
          <td><input type="text" id="newCQSeries" style="width: 100%; border-right: 0px" class="grafana-target-text-input" placeholder="series name" spellcheck="false"/>
          <td>
            <a class="btn btn-success btn-mini">
              <i class="icon-plus-sign"></i>
            </a>          
          </td>
      </tbody>
    </table>
<!--  <div class="grafana-target"> 
    <div class="grafana-target-inner-wrapper">
      <div ng-repeat="cq in cqs" class="grafana-target-inner">
        <ul class="grafana-segment-list">
          <li class="grafana-target-segment">
            <input type="text" editable="false" class="grafana-target-text-input span10" value="{{ cq[2] }}" spellcheck="false"> </input>
          </li>
          <li class="grafana-target-segment">into</li>
        </ul>
      </div>
    </div>
    </div>-->
  </div>
  
  <div ng-show="error" style="margin-top: 20px" class="alert alert-error">
    {{error}}
  </div>
</div>
