<div class="navbar navbar-static-top" ng-controller='DashboardNavCtrl' ng-init="init()">
	<div class="navbar-inner">
		<div class="container-fluid">

			<topnav ng-if="!grafana.editview"
			        title="{{dashboard.title}}"
			        icon="fa fa-th-large"
							title-action="openSearch()"
							toggle="toggleSideMenu()"
							show-menu-btn="!grafana.sidemenu">
			</topnav>

			<topnav ng-if="grafana.editview"
			        title="{{grafana.editview.title}}"
			        icon="fa fa-th-large"
							section="{{dashboard.title}}"
							show-menu-btn="!grafana.sidemenu">
			</topnav>

			<ul class="nav pull-right">
				<li ng-show="dashboardViewState.fullscreen">
					<a ng-click="exitFullscreen()">
						Back to dashboard
					</a>
				</li>

				<li ng-repeat="pulldown in dashboard.nav" ng-controller="PulldownCtrl" ng-show="pulldown.enable">
					<grafana-simple-panel type="pulldown.type" ng-cloak>
					</grafana-simple-panel>
				</li>

				<li class="dropdown grafana-menu-save">
					<a bs-tooltip="'Save'" data-placement="bottom" class="dropdown-toggle" data-toggle="dropdown" ng-click="saveDashboard()">
						<i class='fa fa-save'></i>
					</a>
				</li>

				<!-- <li class="grafana&#45;menu&#45;home"><a bs&#45;tooltip="'Goto saved default'" data&#45;placement="bottom" href='#/'><i class='fa fa&#45;home'></i></a></li> -->

				<li class="grafana-menu-stop-playlist hide">
					<a class='small' ng-click='stopPlaylist(2)'>
						Stop playlist
					</a>
				</li>

			</ul>
		</div>
	</div>
</div>

