<div class="submenu-controls">
  <div class="submenu-panel" ng-controller="SubmenuCtrl" ng-repeat="pulldown in dashboard.current.pulldowns | filter:{ enable: true }">
    <div class="submenu-panel-title">
      <span class="small"><strong>{{pulldown.type}}:</strong></span>
    </div>
    <div class="submenu-panel-wrapper">
      <kibana-simple-panel type="pulldown.type" ng-cloak></kibana-simple-panel>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="clearfix"></div>
<div class="container-fluid main">
  <div>
    <div class="grafana-container container">
      <!-- Rows -->
      <div class="kibana-row" ng-controller="RowCtrl" ng-repeat="(row_name, row) in dashboard.current.rows" ng-style="row_style(row)">
        <div class="row-control">
          <div class="grafana-row" style="padding:0px;margin:0px;position:relative;">
            <div class="row-close" ng-show="row.collapse" data-placement="bottom" >
              <span class="row-button bgWarning" config-modal="app/partials/roweditor.html" class="pointer">
                <i bs-tooltip="'Configure row'" data-placement="right" ng-show="row.editable" class="icon-cog pointer"></i>
              </span>
              <span class="row-button bgPrimary" ng-click="toggle_row(row)" ng-show="row.collapsable">
                <i bs-tooltip="'Expand row'" data-placement="right" class="icon-caret-left pointer" ></i>
              </span>
              <span class="row-button row-text" ng-click="toggle_row(row)" ng-class="{'pointer':row.collapsable}">{{row.title || 'Row '+$index}}</span>
            </div>
            <div class="row-open" ng-show="!row.collapse">
              <div ng-show="row.collapsable" class='row-tab bgPrimary' ng-click="toggle_row(row)">
                <span class="row-tab-button">
                  <i class="icon-caret-right" ></i>
                </span>
              </div>
              <div class='row-tab bgSuccess dropdown' ng-show="row.editable">
                <span class="row-tab-button dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-th-list"></i>
                </span>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="drop1">
                  <li class="dropdown-submenu">
                    <a href="javascript:void();">Add Panel</a>
                    <ul class="dropdown-menu">
                      <li><a ng-click="add_panel_default('graph')">Graph</li></a>
                      <li><a ng-click="add_panel_default('text')">Text</li></a>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a href="javascript:void();">Set height</a>
                    <ul class="dropdown-menu">
                      <li><a ng-click="set_height('100px')">100 px</li></a>
                      <li><a ng-click="set_height('150px')">150 px</li></a>
                      <li><a ng-click="set_height('200px')">200 px</li></a>
                      <li><a ng-click="set_height('250px')">250 px</li></a>
                      <li><a ng-click="set_height('300px')">300 px</li></a>
                      <li><a ng-click="set_height('350px')">350 px</li></a>
                      <li><a ng-click="set_height('450px')">450 px</li></a>
                      <li><a ng-click="set_height('500px')">500 px</li></a>
                      <li><a ng-click="set_height('600px')">600 px</li></a>
                      <li><a ng-click="set_height('700px')">700 px</li></a>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a href="javascript:void();">Move</a>
                    <ul class="dropdown-menu">
                      <li><a ng-click="move_row(-1)">Up</li></a>
                      <li><a ng-click="move_row(1)">Down</li></a>
                    </ul>
                  </li>
                  <li>
                    <a config-modal="app/partials/roweditor.html">Row editor</a>
                  </li>
                  <li>
                    <a ng-click="delete_row()">Delete row</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div style="padding-top:0px" ng-if="!row.collapse">

            <!-- Panels -->
            <div ng-repeat="(name, panel) in row.panels|filter:isPanel" ng-hide="panel.hide" class="panel nospace" ng-style="{'width':!panel.span?'100%':(panel.span/1.2)*10+'%'}" data-drop="true" ng-model="row.panels" data-jqyoui-options jqyoui-droppable="{index:$index,mutate:false,onDrop:'panelMoveDrop',onOver:'panelMoveOver(true)',onOut:'panelMoveOut'}" ng-class="{'dragInProgress':dashboard.panelDragging}">
              <!-- Content Panel -->
              <div style="position:relative">
                <kibana-panel type="panel.type" ng-cloak></kibana-panel>
              </div>
            </div>

            <div ng-show="rowSpan(row) < 10 && dashboard.panelDragging" class="panel" style="margin:5px;width:30%;background:rgba(100,100,100,0.50)" ng-class="{'dragInProgress':dashboard.panelDragging}" ng-style="{height:row.height}" data-drop="true" ng-model="row.panels" data-jqyoui-options jqyoui-droppable="{index:row.panels.length,mutate:false,onDrop:'panelMoveDrop',onOver:'panelMoveOver',onOut:'panelMoveOut'}">
            </div>

            <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>

      <div ng-show='dashboard.current.editable && dashboard.current.panel_hints' class="row-fluid add-row-panel-hint">
        <div class="span12" style="text-align:right;">
          <span style="margin-right: 10px;" ng-click="add_row_default()" class="pointer btn btn-info btn-mini">
            <span><i class="icon-plus-sign"></i> ADD A ROW</span>
          </span>
        </div>
      </div>

    </div>
  </div>
</div>