<div ng-controller="JsonEditorCtrl">

	<div class="dashboard-editor-header">
		<div class="dashboard-editor-title">
			<i class="icon icon-edit"></i>
		  JSON
		</div>
	</div>

	<div class="dashboard-editor-body" style="height: 500px">
		<textarea ng-model="json" rows="20" spellcheck="false" style="width: 90%;"></textarea>
	</div>

	<div class="dashboard-editor-footer">
		<button type="button" class="btn btn-success pull-left" ng-show="canUpdate" ng-click="update(); dismiss();">Update</button>
		<button type="button" class="btn btn-success pull-right" ng-click="dismiss();">Close</button>
	</div>

</div>
