<div ng-controller="JsonEditorCtrl">

	<div class="gf-box-header">
		<div class="gf-box-title">
			<i class="fa fa-edit"></i>
		  JSON
		</div>

		<button class="gf-box-header-close-btn" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</button>
	</div>

	<div class="gf-box-body" style="height: 500px">
		<textarea ng-model="json" rows="20" spellcheck="false" style="width: 100%;"></textarea>
		<br>
		<br>

		<button type="button" class="btn btn-success" ng-show="canUpdate" ng-click="update(); dismiss();">Update</button>
	</div>

</div>
