<div class="container">

	<div class="login-box">

		<div class="login-box-logo">
			<img src="img/logo_transparent_200x75.png">
		</div>

    <div class="login-inner-box">
			<h1 ng-if="mode === 'login'">Login</h1>
			<h1 ng-if="mode === 'signup'">Sign up</h1>

      <form name="loginForm" class="login-form">
        <div class="tight-form" ng-if="mode === 'login'">
          <ul class="tight-form-list">
            <li class="tight-form-item" style="width: 80px">
              User
            </li>
            <li>
              <input type="text" class="tight-form-input last" ng-model='loginModel.user' placeholder="email or username" style="width: 246px">
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="tight-form" ng-if="mode === 'login'">
          <ul class="tight-form-list">
            <li class="tight-form-item" style="width: 80px">
              Password
            </li>
            <li>
              <input type="password" class="tight-form-input last" required ng-model="loginModel.password" id="inputPassword" style="width: 246px">
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>

				<div class="tight-form" ng-if="mode === 'signup'">
          <ul class="tight-form-list">
            <li class="tight-form-item" style="width: 80px">
              Email
            </li>
            <li>
              <input type="email" class="tight-form-input last" required ng-model='newUser.email' placeholder="email" style="width: 246px">
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>

				<div class="tight-form" ng-if="mode === 'signup'">
          <ul class="tight-form-list">
            <li class="tight-form-item" style="width: 80px">
              Name
            </li>
            <li>
              <input type="text" class="tight-form-input last" ng-model='newUser.name' placeholder="your full name (optional)" style="width: 246px">
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>

				<div class="tight-form" ng-if="mode === 'signup'">
          <ul class="tight-form-list">
            <li class="tight-form-item" style="width: 80px">
              Password
            </li>
            <li>
              <input type="password" class="tight-form-input last" required ng-model='newUser.password' placeholder="" style="width: 246px">
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>

				<div class="tight-form">
          <ul class="tight-form-list">
						<li class="tight-form-item login-signup-button" ng-class="{'login-signup-button-disable': mode === 'signup'}">
							<a ng-click="login()">Log in</a>
						</li>
						<li class="tight-form-item login-signup-button last" ng-class="{'login-signup-button-disable': mode === 'login'}">
							<a ng-click="signUp()">Sign up</a>
						</li>
          </ul>
          <div class="clearfix"></div>
        </div>

				<button type="submit" ng-click="submit();" class="hidden"></button>
			</form>

			<div class="clearfix"></div>

			<div class="login-oauth text-center">
				<a class="btn btn-google" href="login/google" target="_self">
					<i class="fa fa-google"></i>
					with Google
				</a>
				<a class="btn btn-github" href="login/github" target="_self">
					<i class="fa fa-github"></i>
					with Github
				</a>
			</div>
	</div>

	<div class="row" style="margin-top: 100px">
		<div class="version-footer text-center small">
			Grafana version: {{buildInfo.version}}, commit: {{buildInfo.commit}},
			build date: {{buildInfo.buildstamp | date: 'yyyy-MM-dd HH:mm:ss' }}
		</div>
	</div>

</div>


