<div ng-include src="datasource.editorSrc"></div>


<div class="editor-row" style="margin-top: 30px">
  <button class="btn btn-success pull-right" ng-click="addDataQuery(panel.target)">Add query</button>

  <div class="btn-group pull-right" style="margin-right: 10px;">
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" bs-tooltip="'Datasource'">{{datasource.name}} <span class="caret"></span></button>

    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="datasource in datasources" role="menuitem">
        <a ng-click="changeDatasource(datasource.value);">{{datasource.name}}</a>
      </li>
    </ul>
  </div>

	<div class="clearfix"></div>
</div>
