<div bindonce class="dashboard-editor-header">
	<div class="dashboard-editor-title">
		<i class="fa fa-text-width"></i>
		<span bo-text="panel.type+' settings'"></span>
	</div>

	<div ng-model="editor.index" bs-tabs style="text-transform:capitalize;">
		<div ng-repeat="tab in panelMeta.editorTabs" data-title="{{tab.title}}">
		</div>
	</div>

</div>

<div class="dashboard-editor-body">
	<div ng-repeat="tab in panelMeta.editorTabs" ng-show="editor.index == $index">
		<div ng-include src="tab.src"></div>
	</div>
</div>

<div class="dashboard-editor-footer">
	<button type="button" class="btn btn-success pull-right" ng-click="editor.index=0;dismiss()">Close</button>
</div>
