  <div class="row-fluid">
    <div class="span12">
      <strong>{{panelMeta.status}}</strong> // <span ng-bind-html="panelMeta.description"></span>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <label class="small">Title</label><input type="text" class="input-medium" ng-model='panel.title'></input>
    </div>
    <div class="span2" ng-hide="panel.sizeable == false">
      <label class="small">Span</label> <select class="input-mini" ng-model="panel.span" ng-options="f for f in [0,1,2,3,4,5,6,7,8,9,10,11,12]"></select>
    </div>
    <div class="span2">
      <label class="small">Editable</label><input type="checkbox" ng-model="panel.editable" ng-checked="panel.editable">
    </div>
    <div class="span2" ng-show="!_.isUndefined(panel.spyable)">
      <label class="small">
        Inspect <i class="icon-question-sign" bs-tooltip="'Allow query reveal via <i class=icon-eye-open></i>'"></i>
      </label>
      <input type="checkbox" ng-model="panel.spyable" ng-checked="panel.spyable">
    </div>
  </div>