<div bindonce class="dashboard-editor-header">
	<div class="dashboard-editor-title">
		<i class="icon icon-text-width"></i>
		<span bo-text="panel.type+' settings'"></span>
	</div>

	<div ng-model="editor.index" bs-tabs style="text-transform:capitalize;">
		<div ng-repeat="tab in setEditorTabs(panelMeta)" data-title="{{tab}}">
		</div>
	</div>

</div>

<div class="dashboard-editor-body">
	<div ng-show="editorTabs[editor.index] == 'General'">
		<div ng-include src="'app/partials/panelgeneral.html'"></div>
	</div>

	<div ng-show="editorTabs[editor.index] == 'Panel'">
		<div ng-include src="panelEditorPath(panel.type)"></div>
	</div>

	<div ng-repeat="tab in panelMeta.editorTabs" ng-show="editorTabs[editor.index] == tab.title">
		<div ng-include src="tab.src"></div>
	</div>
</div>

<div class="dashboard-editor-footer">
	<button type="button" class="btn btn-success pull-right" ng-click="editor.index=0;dismiss()">Close</button>
</div>
