<div ng-controller="PlaylistCtrl" ng-init="init()">
	<div class="dashboard-editor-header">
		<div class="dashboard-editor-title">
			<i class="icon icon-play"></i>
			Start dashboard playlist
		</div>
	</div>

	<div class="dashboard-editor-body">

		<div class="editor-row">
			<div class="section">
				<div class="editor-option">
					<table class="table table-striped span4">
						<tr>
							<th>Dashboard</th>
							<th>Include</th>
							<th style="white-space: nowrap;">Remove as favorite</th>
						</tr>
						<tr ng-repeat="dashboard in favDashboards">
							<td style="white-space: nowrap;">
								{{dashboard.title}}
							</td>
							<td style="text-align: center">
								<input type="checkbox" ng-model="dashboard.include" ng-checked="dashboard.include" />
							</td>
							<td style="text-align: center">
								<i class="icon-remove pointer" ng-click="removeAsFavorite(dashboard)"></i>
							</td>
						</tr>
						<tr ng-hide="favDashboards.length">
							<td colspan="3">
								<i class="icon-warning"></i> No dashboards marked as favorites
							</td>
						</tr>
					</table>
				</div>
				<div class="editor-option">
					<div class="span4">
						<span><i class="icon-question-sign"></i>
							dashboards available in the playlist are only the ones marked as favorites (stored in local browser storage).
							to mark a dashboard as favorite, use save icon in the menu and in the dropdown select mark as favorite
							<br/><br/>
						</span>
					</div>
				</div>
				<div class="editor-option">
					<label>
						Timespan between change
					</label>
					<input type="text" class="input-small" ng-model="timespan" />
				</div>
			</div>
		</div>
	</div>

	<div class="dashboard-editor-footer">
		<button class="btn btn-success" ng-click="start();dismiss();"><i class="icon-play"></i> Start</button>
		<button type="button" class="btn btn-success pull-right" ng-click="dismiss();"><i class="icon-ban-circle"></i> Close</button>
	</div>
</div>
