  <style>
    #grafana-search {
      position: fixed;
      right: 0;
      left: 0;
      top: 39px;
      margin-right: auto;
      margin-left: auto;
      /* give it dimensions */
      min-height: 10em;
      width: 90%;
    }
  </style>

  <a href="#" bs-tooltip="'Search'" data-placement="bottom" ng-click="openSearch()" class="dropdown-toggle" data-toggle="dropdown">
    <i class='icon-folder-open'></i>
  </a>

  <ul class="dropdown-menu" id="grafana-search">
    <li ng-if="!showImport">
      <div class="grafana-search-panel">
        <div class="search-field-wrapper">
          <button class="btn btn-success pull-right" config-modal="app/partials/playlist.html">
            <i class="icon-play"></i>
            Playlist
          </button>
          <button class="btn btn-success pull-right" ng-click="toggleImport($event)">
            <i class="icon-download-alt"></i>
            Import
          </button>
          <button class="btn btn-success pull-right" ng-click="newDashboard()">
            <i class="icon-th-large"></i>
            New
          </button>
          <span class="position: relative;">
            <input  type="text"
                    placeholder="search dashboards, metrics, or graphs"
                    xng-focus="giveSearchFocus"
                    ng-keydown="keyDown($event)"
                    ng-model="query.query" spellcheck='false'
                    ng-change="search()" />
            <a class="search-tagview-switch" href="javascript:void(0);"
              ng-class="{'active': tagsOnly}"
              ng-click="showTags($event)">tags</a>
          </span>
        </div>

        <h6 ng-hide="results.dashboards.length || results.metrics.length">No dashboards or metrics matching your query found</h6>

        <table class="table table-condensed table-striped" ng-if="tagsOnly">
          <tr ng-repeat="tag in results.tags" ng-class="{'selected-tag': $index === selectedIndex }">
            <td>
              <a ng-click="filterByTag(tag.term, $event)" class="label label-tag">
                {{tag.term}} &nbsp;({{tag.count}})
              </a>
            </td>
            <td style="width:100%;padding-left: 10px;font-weight: bold;">
            </td>
          </tr>
        </table>

        <table class="table table-condensed table-striped" ng-if="!tagsOnly">
					<tbody style="max-height: 570px; overflow: auto; display: block">
          <tr bindonce ng-repeat="row in results.metrics"
              class="grafana-search-metric-result"
              ng-class="{'selected': $index === selectedIndex }">
            <td><span class="label label-info">metric</span></td>
            <td class="grafana-search-metric-name">
              {{row.id}}
            </td>
            <td style="width:100%;">
              <div class="grafana-search-metric-actions">
                <a ng-click="addMetricToCurrentDashboard(row.id)"><i class="icon-plus-sign"></i> Add to dashboard</a>
              </div>
            </td>
          </tr>

          <tr bindonce
              ng-repeat="row in results.dashboards"
              ng-class="{'selected': $index === selectedIndex }">
            <td><a ng-click="deleteDashboard(row.id)"><i class="icon-remove"></i></a></td>
            <td style="width:100%">
              <a href="#/dashboard/db/{{row.id}}" bo-text="row.id"></a>
            </td>
            <td style="white-space: nowrap; text-align: right;">
              <a ng-click="filterByTag(tag, $event)" ng-repeat="tag in row.tags" style="margin-right: 5px; background-color:{{tag | hashStringToColor}}" class="label label-tag">
                {{tag}}
              </a>
            </td>
            <td><a><i class="icon-share" ng-click="shareDashboard(row.id, row.id)" config-modal="app/partials/dashLoaderShare.html"></i></a></td>
          </tr>
					</tbody>
        </table>
      </div>
    </li>

    <li ng-if="showImport" style="margin: 20px;">
      <div class="editor-row">
        <div class="section">
          <div class="editor-option">
            <h5>Local File <tip>Load dashboard JSON layout from file</tip></h5>
            <form>
              <input type="file" id="dashupload" dash-upload /><br>
            </form>
          </div>
        </div>
      </div>
    </li>
  </ul>
