<div ng-controller="SharePanelCtrl">
	<div class="modal-header">
		<div class="dashboard-editor-header">
			<div class="dashboard-editor-title">
				<i class="icon icon-share"></i>
				Share
			</div>

			<div ng-model="editor.index" bs-tabs style="text-transform:capitalize;">
				<div ng-repeat="tab in ['Link']" data-title="{{tab}}">
				</div>
			</div>

		</div>
	</div>

	<div class="modal-body">

		<div class="editor-row">
			<editor-opt-bool text="Current time range" model="forCurrent" change="buildUrl()"></editor-opt-bool>
			<editor-opt-bool text="To this panel only" model="toPanel" change="buildUrl()"></editor-opt-bool>
			<editor-opt-bool text="Include template variables" model="includeTemplateVars" change="buildUrl()"></editor-opt-bool>
		</div>

		<div class="editor-row" style="margin-top: 20px;">
			<input type="text" data-share-panel-url class="input input-fluid" ng-model='shareUrl'></input>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-success pull-right" ng-click="dismiss();">close</button>
	</div>
</div>
