<section class="pro-sidemenu-items">
	<div class="dropdown">
		<a class="pro-sidemenu-link pointer gravatar" data-toggle="dropdown" title="{{grafana.user.email}}">
			<span class="gravatar-missing">f</span>
			<img ng-src="{{grafana.user.gravatarUrl}}" width="35"> <span class="gravatar-email small">{{grafana.user.login}}</span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="/login?logout">Logout</a></li>
		</ul>
	</div>
	<a class="pro-sidemenu-link" ng-href="{{appSubUrl}}/">
		<i class="fa fa-th-large"></i>
		Dashboards
	</a>
	<a class="pro-sidemenu-link" href="charts">
		<i class="fa fa-signal"></i>
		Graphs
	</a>
	<a class="pro-sidemenu-link" href="charts">
		<i class="fa fa-bolt" style="padding-right: 23px"></i>
		 Alerts
	</a>
	<a class="pro-sidemenu-link" href="account/datasources">
		<i class="fa fa-sitemap"></i>
		Data
	</a>
	<a class="pro-sidemenu-link" href="account">
		<i class="fa fa-user"></i>
		Account
	</a>
	<a class="pro-sidemenu-link" href="account/collaborators">
		<i class="fa fa-users"></i>Collaborators
	</a>
	<a class="pro-sidemenu-link" href="admin/accounts" ng-if="grafana.user.isAdmin">
		<i class="fa fa-institution"></i>Admin
	</a>
	<a class="pro-sidemenu-link" href="login?logout">
		<i class="fa fa-sign-out"></i>
		Sign out
	</a>

</section>

</div>
