<div ng-controller="SideMenuCtrl" ng-init="init()">
	<ul class="sidemenu">
		<li class="dropdown">
			<a class="sidemenu-user pointer" data-toggle="dropdown" title="{{grafana.user.email}}">
				<span class="gravatar-missing">f</span>
				<img ng-src="{{grafana.user.gravatarUrl}}" width="35">
				<span class="gravatar-email small">{{grafana.user.login}}</span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="{{appSubUrl}}/login?logout">Logout</a></li>
			</ul>
		</li>
		<li ng-repeat-start="item in menu" ng-class="{'active': item.active}">
			<a href="{{item.href}}" class="sidemenu-item"><i class="{{item.icon}}"></i>{{item.text}}</a>
		</li>
		<li ng-repeat-end ng-if="item.active">
			<ul class="sidemenu-links">
				<li ng-repeat="link in item.links">
					<a href="{{link.href}}" class="sidemenu-link" ng-class="{active: link.active}"><i class="fa fa-angle-right"></i>{{link.text}}</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
