<div class="submenu-controls" ng-controller="SubmenuCtrl">
	<div class="tight-form borderless">


		<ul class="tight-form-list" ng-if="dashboard.templating.list.length > 0">
			<li ng-repeat-start="variable in variables" class="tight-form-item template-param-name">
				<span class="template-variable ">
					${{variable.name}}:
				</span>
			</li>

			<li ng-repeat-end template-param-selector>
			</li>

			<li class="tight-form-item" style="width: 15px">
			</li>
		</ul>

		<ul class="tight-form-list" ng-if="dashboard.annotations.list.length > 0">
			<li ng-repeat="annotation in dashboard.annotations.list" class="tight-form-item annotation-segment" ng-class="{'annotation-disabled': !annotation.enable}">
				<a ng-click="disableAnnotation(annotation)">
					<i class="fa fa-bolt"></i>
					{{annotation.name}}
					<input class="cr1" id="hideYAxis" type="checkbox" ng-model="annotation.enable" ng-checked="annotation.enable">
					<label for="hideYAxis" class="cr1"></label>
				</a>
			</li>
		</ul>


		<div class="clearfix"></div>
	</div>
</div>
