<div class="submenu-controls" ng-controller="SubmenuCtrl">
	<div class="tight-form borderless">


		<ul class="tight-form-list" ng-if="dashboard.templating.list.length > 0">

			<li ng-repeat="variable in variables" class="tight-form-item template-param-name dropdown">
				<variable-value-select variable="variable"></variable-value-select>
			</li>

			<!-- <li class="dropdown" ng&#45;repeat&#45;end> -->
			<!-- 	<a class="tight&#45;form&#45;item" tabindex="1" data&#45;toggle="dropdown">{{variable.current.text}} <i class="fa fa&#45;caret&#45;down"></i></a> -->
			<!-- 	<div class="dropdown&#45;menu variable&#45;values&#45;dropdown"> -->
			<!-- 		<input type="text" class="fluid&#45;width"> -->
			<!-- 		<div class="variable&#45;values&#45;list"> -->
			<!-- 			<div class="variable&#45;values&#45;list&#45;item" ng&#45;repeat="option in variable.options"> -->
			<!-- 				<editor&#45;checkbox text="{{option.text}}" model="asd" change="buildUrl()"></editor&#45;checkbox> -->
			<!-- 			</div> -->
			<!-- 		</div> -->
			<!-- 	</div> -->
			<!-- </li> -->
      <!--  -->
			<!--
			<li ng-repeat-end template-param-selector>
			</li>
			-->

			<li class="tight-form-item" style="width: 15px">
			</li>
		</ul>

		<ul class="tight-form-list" ng-if="dashboard.annotations.list.length > 0">
			<li class="tight-form-item">
				<strong>ANNOTATIONS:</strong>
			</li>
			<li ng-repeat="annotation in dashboard.annotations.list" class="tight-form-item annotation-segment" ng-class="{'annotation-disabled': !annotation.enable}">
				<a ng-click="disableAnnotation(annotation)">
					{{annotation.name}}
					<input class="cr1" id="hideYAxis" type="checkbox" ng-model="annotation.enable" ng-checked="annotation.enable">
					<label for="hideYAxis" class="cr1"></label>
				</a>
			</li>
		</ul>


		<div class="clearfix"></div>
	</div>
</div>
