<div ng-controller="AnnotationsEditorCtrl" ng-init="init()">
	<div class="modal-body">
		<div class="pull-right editor-title">Templating</div>

		<div class="editor-row">
		</div>

	</div>

	<div class="modal-footer">
		<button ng-show="currentIsNew" type="button" class="btn btn-success" ng-click="add()">Add annotation</button>
		<button ng-show="!currentIsNew" type="button" class="btn btn-success" ng-click="update()">Update</button>
		<button type="button" class="btn btn-danger" ng-click="close_edit();dismiss();dashboard.refresh();">Close</button>
	</div>
</div>
