<div class="modal-body gf-box gf-box-no-margin">
	<div class="gf-box-header text-center">
		<span class="gf-box-title">
			<i class="fa fa-exclamation"></i>
			Unsaved changes
		</span>
		<button class="gf-box-header-close-btn" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</button>
	</div>

	<div class="gf-box-body" style="min-height: 0;">
		<div class="row-fluid text-center">
			<button type="button" class="btn btn-success span4" ng-click="save();dismiss();">Save</button>
			<button type="button" class="btn btn-danger span4" ng-click="ignore();dismiss();">Ignore</button>
			<button type="button" class="btn btn-inverse span4" ng-click="dismiss()">Cancel</button>
		</div>
	</div>
</div>

