<kibana-panel ng-controller='hits' ng-init="init()">
  <div ng-show="panel.counters">
    <p ng-style="panel.style" ng-show="panel.aggregate">{{hits}}</p>
    <table ng-style="panel.style" ng-show="!panel.aggregate && panel.arrangement == 'vertical'">  
      <tr style="line-height:{{panel.style['font-size']}}" ng-repeat="query in data">
        <td ng-show="panel.chart" style="background:{{query.color}};width:{{panel.style['font-size']}}"></td> <td style="padding-right:10px;padding-left:10px;">{{query.label}}</td><td>{{query.hits}}</td>
      </tr>
    </table>
    <div ng-style="panel.style" ng-show="!panel.aggregate && panel.arrangement == 'horizontal'" ng-repeat="query in data" style="float:left;padding-left: 10px;">
     <span ng-show='panel.chart'><div style="display:inline-block;background:{{query.color}};height:{{panel.style['font-size']}};width:{{panel.style['font-size']}}"></div></span> {{query.label}} ({{query.hits}}) <span ng-show="!$last">|</span>
    </div><br>
  </div><div style="clear:both"></div>
  <div ng-show='panel.chart && !panel.aggregate ' hits-chart params="{{panel}}" style="height:{{panel.height || row.height}};position:relative"></div>
</kibana-panel>         