<kibana-panel ng-controller='hits' ng-init="init()">

  <div ng-show="panel.counters && panel.counter_pos == 'above'">
    <!-- no chart, aggregated numbers -->    
    <p ng-style="panel.style" ng-show="panel.aggregate">{{hits}}</p>

    <!-- vertical legend -->
    <table ng-style="panel.style" ng-show="!panel.aggregate && panel.arrangement == 'vertical'">  
      <tr style="line-height:{{panel.style['font-size']}}" ng-repeat="query in plot.getData()">
        <td style="background:{{query.color}};width:{{panel.style['font-size']}}"></td> <td style="padding-right:10px;padding-left:10px;">{{query.label}}</td><td>{{query.data[0][1]}}</td>
      </tr>
    </table>

    <!-- horizontal legend -->
    <div ng-style="panel.style" ng-show="!panel.aggregate && panel.arrangement == 'horizontal'" ng-repeat="query in plot.getData()" style="float:left;padding-left: 10px;">
     <span><div style="display:inline-block;border-radius:{{panel.style['font-size']}};background:{{query.color}};height:{{panel.style['font-size']}};width:{{panel.style['font-size']}}"></div></span> {{query.label}} ({{query.data[0][1]}}) </span>
    </div><br>

  </div>
  <div style="clear:both"></div>
  <div ng-show='panel.chart != "none" && !panel.aggregate ' hits-chart params="{{panel}}" style="height:{{panel.height || row.height}};position:relative"></div>

  <div ng-show="panel.counters && panel.counter_pos == 'below'">
    <!-- no chart, aggregated numbers -->    
    <p ng-style="panel.style" ng-show="panel.aggregate">{{hits}}</p>

    <!-- vertical legend -->
    <table ng-style="panel.style" ng-show="!panel.aggregate && panel.arrangement == 'vertical'">  
      <tr style="line-height:{{panel.style['font-size']}}" ng-repeat="query in plot.getData()">
        <tdstyle="background:{{query.color}};width:{{panel.style['font-size']}}"></td> <td style="padding-right:10px;padding-left:10px;">{{query.label}}</td><td>{{query.data[0][1]}}</td>
      </tr>
    </table>

    <!-- horizontal legend -->
    <div ng-style="panel.style" ng-show="!panel.aggregate && panel.arrangement == 'horizontal'" ng-repeat="query in plot.getData()" style="float:left;padding-left: 10px;">
     <span><div style="display:inline-block;border-radius:{{panel.style['font-size']}};background:{{query.color}};height:{{panel.style['font-size']}};width:{{panel.style['font-size']}}"></div></span> {{query.label}} ({{query.data[0][1]}}) </span>
    </div><br>

  </div>


</kibana-panel>         