<navbar model="ctrl.navModel"></navbar>

<div class="page-container">
	<div class="page-header">
		<h1>
			Server Administration
		</h1>
	</div>

	<a class="btn btn-inverse" href="admin/users">
		Manage Users
	</a>

	<a class="btn btn-inverse" href="admin/orgs">
		Manage Organizations
	</a>

	<a class="btn btn-inverse" href="admin/settings">
		View Server Settings
	</a>

	<a class="btn btn-inverse" href="admin/stats">
		View Server Stats
	</a>

	<a class="btn btn-inverse" href="styleguide">
	  Style guide
	</a>

</div>

