<navbar model="ctrl.navModel"></navbar>

<div class="page-container">
	<div class="page-header">
		<h1>Server settings</h1>
	</div>

		<div class="grafana-info-box span8" style="margin: 20px 0 25px 0">
			These system settings are defined in grafana.ini or custom.ini (or overridden in ENV variables).
			To change these you currently need to restart grafana.
		</div>

		<table class="grafana-options-table">
			<tr ng-repeat-start="(secName, secValue) in settings">
				<td class="admin-settings-section">{{secName}}</td>
				<td></td>
			</tr>
			<tr ng-repeat="(keyName, keyValue) in secValue" ng-repeat-end>
				<td style="padding-left: 25px;">{{keyName}}</td>
				<td>{{keyValue}}</td>
			</tr>
		</table>
</div>



