<topnav icon="fa fa-fw fa-bar-chart" title="Grafana stats">
</topnav>

<div class="page-container">
	<div class="page-wide">
		<h1>
			Stats
		</h1>

    <table class="filter-table form-inline">
			<thead>
				<tr>
					<th>Name</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
        <tr>
					<td>Total dashboards</td>
					<td>{{stats.dashboard_count}}</td>
				</tr>
        <tr>
          <td>Total users</td>
          <td>{{stats.user_count}}</td>
        </tr>
        <tr>
          <td>Total organizations</td>
          <td>{{stats.org_count}}</td>
        </tr>
        <tr>
          <td>Total datasources</td>
          <td>{{stats.data_source_count}}</td>
        </tr>
        <tr>
          <td>Total playlists</td>
          <td>{{stats.playlist_count}}</td>
        </tr>
        <tr>
          <td>Total snapshots</td>
          <td>{{stats.db_snapshot_count}}</td>
        </tr>
        <tr>
          <td>Total dashboard tags</td>
          <td>{{stats.db_tag_count}}</td>
        </tr>
        <tr>
          <td>Total starred dashboards</td>
          <td>{{stats.starred_db_count}}</td>
        </tr>
			</tbody>
		</table>
	</div>
</div>
