<topnav icon="fa fa-fw fa-bar-chart" title="Grafana stats">
</topnav>

<div class="page-container">
	<div class="page-wide">
		<h1>
			Stats
		</h1>

    <table class="filter-table form-inline">
			<thead>
				<tr>
					<th>Name</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
        <tr>
					<td>Total dashboards</td>
					<td>213</td>
				</tr>
        <tr>
          <td>Total users</td>
          <td>97</td>
        </tr>
        <tr>
          <td>Total organizations</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Total playlists</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Total snapshots</td>
          <td>64</td>
        </tr>
        <tr>
          <td>Total dashboard tags</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Total starred dashboards</td>
          <td>131</td>
        </tr>
        <tr>
          <td>Total panels</td>
          <td>2739</td>
        </tr>
			</tbody>
		</table>
	</div>
</div>
