<topnav icon="fa fa-fw fa-user" title="Global Users" subnav="true">
	<ul class="nav">
		<li class="active"><a href="admin/users">List</a></li>
		<li><a href="admin/users/create">Create user</a></li>
	</ul>
</topnav>

<div class="page-container" style="background: transparent; border: 0;">
	<div class="page-wide">
		<h2>
			Users
		</h2>

		<div class="filter-controls-filters">
      <div class="tight-form last">
        <ul class="tight-form-list">
          <li class="tight-form-item">Filters:</li>
          <li class="tight-form-item">Id</li>
          <li><!-- <value-select-dropdown></value-select-dropdown> --></li>
          <li class="tight-form-item">Name</li>
          <li><!-- <value-select-dropdown></value-select-dropdown> --></li>
          <li class="tight-form-item">
            <a class="pointer">
              <i class="fa fa-pencil"></i>
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>

    <ul class="filter-controls-actions">
      <li>
        <div class="dropdown">
          <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
            <input class="cr1" id="state-enabled" type="checkbox">
            <label for="state-enabled" class="cr1"></label> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a>All</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
            Bulk Actions &nbsp; <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a>Update notifications</a></li>
          </ul>
        </div>
      </li>
      <li>
        <span class="filter-controls-actions-selected">0 selected, showing 1 of 1 total</span>
      </li>
    </ul>

    <table class="filter-table form-inline">
			<thead>
				<tr>
					<th style="width: 48px;"></th>
					<th>Id</th>
					<th>Name</th>
					<th>Login</th>
					<th>Email</th>
					<th style="white-space: nowrap">Grafana Admin</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<td>
						<input class="cr1" id="alert1" type="checkbox">
            <label for="alert1" class="cr1"></label>
					</td>
					<td>{{user.id}}</td>
					<td>{{user.name}}</td>
					<td>{{user.login}}</td>
					<td>{{user.email}}</td>
					<td>{{user.isAdmin}}</td>
					<td class="text-right">
						<a href="admin/users/edit/{{user.id}}" class="btn btn-inverse btn-small">
							<i class="fa fa-edit"></i>
							Edit
						</a>
						&nbsp;&nbsp;
						<a ng-click="deleteUser(user)" class="btn btn-danger btn-small">
							<i class="fa fa-remove"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
