{
  "presets": [
    [
      "@babel/preset-env",
      {
		  "targets": { "browsers": "last 3 versions" },
		  "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [["import", {
    "libraryName": "antd",
    "libraryDirectory": "lib",   // default: lib
    "style": true
  }]]
}
