[dev]
last 1 chrome versions
last 1 firefox versions
last 1 safari versions

[production]
last 2 Firefox versions
last 2 Chrome versions
last 2 Safari versions
last 2 Edge versions
last 1 ios_saf versions
last 1 and_chr versions
last 1 samsung versions


