.awcache
.dockerignore
.git
.gitignore
.vscode
bin
!bin/grafana-linux-k8s
!bin/grafana-linux-k8s-debug
data*
dist
!dist/*.tar.gz
docker
Dockerfile
docs
dump.rdb
node_modules
**/node_modules
/tmp
*.yml
!.yarnrc.yml
*.md
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/versions
!.yarn/cache
devenv
!devenv/frontend-service/build/grafana
.nx
scripts/grafana-server/tmp