.awcache
.dockerignore
.gitignore
.vscode
bin
data*
dist
docker
Dockerfile
docs
dump.rdb
node_modules
**/node_modules
/tmp
*.yml
!.yarnrc.yml
*.md
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/versions
!.yarn/cache
