{
  "extends": ["@grafana/eslint-config"],
  "root": true,
  "plugins": [
    "no-only-tests"
  ],
  "rules": {
    "no-only-tests/no-only-tests": "error",
    "react/prop-types": "off"
  },
  "overrides": [
    {
      "files": [
        "packages/grafana-ui/**/*/!(*.story).{ts,tsx}",
        "packages/jaeger-ui-components/**/*.{ts,tsx,js}",
        "public/app/**/*.{ts,tsx}"
      ],
      "rules": {
        "react-hooks/rules-of-hooks": "off",
        "react-hooks/exhaustive-deps": "off"
      }
    }
  ]
}
