node_modules
coverage/
.aws-config.json
awsconfig
/dist
/packaging/windows/dest
/packaging/windows/release
/packaging/windows/tools/Tools.dproj.local
/packaging/windows/tools/Tools.dsk
/packaging/windows/tools/Tools.~dsk
/packaging/windows/tools/Tools.identcache
/packaging/windows/tools/__history
/packaging/windows/tools/Win32
/packaging/windows/tools/Win64
/packaging/windows/GrafCrunchGuard/GrafCrunchGuard.dproj.local
/packaging/windows/GrafCrunchGuard/GrafCrunchGuard.dsk
/packaging/windows/GrafCrunchGuard/GrafCrunchGuard.~dsk
/packaging/windows/GrafCrunchGuard/GrafCrunchGuard.identcache
/packaging/windows/GrafCrunchGuard/__history
/packaging/windows/GrafCrunchGuard/Win32
/packaging/windows/GrafCrunchGuard/Win64


/emails/dist
/tmp

docs/AWS_S3_BUCKET
docs/GIT_BRANCH
docs/VERSION
docs/GITCOMMIT
docs/changed-files

# locally required config files
public/css/*.min.css

# Editor junk
*.sublime-workspace
*.swp
.idea/
*.iml

/data/*
/bin/*

conf/custom.ini
fig.yml
profile.cov

