node_modules
coverage/
.aws-config.json
awsconfig
/dist
/tmp

docs/AWS_S3_BUCKET
docs/GIT_BRANCH
docs/VERSION
docs/GITCOMMIT
docs/changed-files
docs/changed-files

# locally required config files
public/css/*.min.css

# Editor junk
*.sublime-workspace
*.swp
.idea/
*.iml

/data/*
/bin/*
grafana

conf/custom.ini
fig.yml
profile.cov

