go 1.24.2

// The `skip:golangci-lint` comment tag is used to exclude the package from the `golangci-lint` GitHub Action.
// The module at the root of the repo (`.`) is excluded because ./pkg/... is included manually in the `golangci-lint` configuration.

use (
	. // skip:golangci-lint
	./apps/advisor
	./apps/alerting/notifications
	./apps/dashboard
	./apps/folder
	./apps/investigations
	./apps/playlist
	./pkg/aggregator
	./pkg/apimachinery
	./pkg/apis/secret // @grafana/grafana-operator-experience-squad
	./pkg/apiserver
	./pkg/build
	./pkg/build/wire // skip:golangci-lint
	./pkg/codegen
	./pkg/plugins/codegen
	./pkg/promlib
	./pkg/semconv
	./pkg/storage/unified/apistore
	./pkg/storage/unified/resource
)

replace github.com/getkin/kin-openapi => github.com/getkin/kin-openapi v0.126.0

replace github.com/prometheus/alertmanager => github.com/grafana/prometheus-alertmanager v0.25.1-0.20250331083058-4563aec7a975

replace github.com/crewjam/saml => github.com/grafana/saml v0.4.15-0.20240917091248-ae3bbdad8a56
