go 1.21.0

use (
	.
	./pkg/util/xorm
)

// when we release xorm we would like to release it like github.com/grafana/grafana/pkg/util/xorm
// but we don't want to change all the imports. so we use replace to handle this situation
replace xorm.io/xorm => ./pkg/util/xorm
