.ColorPicker {
  .popper__arrow {
    border-color: #f7f8fa;
  }
}

.ColorPicker__arrow {

}
.ColorPickerPopover {
  border-radius: 3px;
}

.ColorPickerPopover--light {
  color: black;
  background: linear-gradient(180deg, #ffffff 0%, #f7f8fa 104.25%);
  box-shadow: 0px 2px 4px #dde4ed, 0px 0px 2px #dde4ed;
}

.ColorPickerPopover--dark {
  color: #d8d9da;
  background: linear-gradient(180deg, #1e2028 0%, #161719 104.25%);
  box-shadow: 0px 2px 4px #000000, 0px 0px 2px #000000;

  .ColorPickerPopover__tab {
    background: #303133;
    color: white;
    cursor: pointer;
  }
  .ColorPickerPopover__tab--active {
    background: none;
  }
}

.ColorPickerPopover__content {
  width: 360px;
  padding: 32px;
}

.ColorPickerPopover__tabs {
  display: flex;
  width: 100%;
}

.ColorPickerPopover__tab {
  width: 50%;
  text-align: center;
  padding: 8px 0;
  background: #dde4ed;
  border-radius: 3px;
}

.ColorPickerPopover__tab--active {
  background: white;
}
.sp-replacer {
  background: inherit;
  border: none;
  color: inherit;
  padding: 0;
}

.sp-replacer:hover,
.sp-replacer.sp-active {
  border-color: inherit;
  color: inherit;
}

.sp-container {
  border-radius: 0;
  background-color: $dropdownBackground;
  border: none;
  padding: 0;
}

.sp-palette-container,
.sp-picker-container {
  border: none;
}

.sp-dd {
  display: none;
}

.sp-preview {
  position: relative;
  width: 15px;
  height: 15px;
  border: none;
  margin: 0;
  float: left;
  z-index: 0;
}

.gf-color-picker__body {
  padding-bottom: 10px;
  padding-left: 6px;
}

.drop-popover.gf-color-picker {
  .drop-content {
    width: 210px;
  }
}
