  <div class="editor-row">
    <div class="section">
      <div class="editor-option">
        <label class="small">Relative time options <small>comma seperated</small></label>
        <input type="text" array-join class="input-xlarge" ng-model="panel.time_options">
      </div>
      <div class="editor-option">
        <label class="small">Auto-refresh options <small>comma seperated</small></label>
        <input type="text" array-join class="input-xlarge" ng-model="panel.refresh_intervals">
      </div>

      <p>
        <br>
        <i class="fa fa-info-circle"></i>
        For these changes to fully take effect save and reload the dashboard.
      </i>
    </div>
  </div>
