  <div class="editor-row">
    <div class="section">
      <div class="editor-option">
        <label class="small">Relative time options <small>comma seperated</small></label>
        <input type="text" array-join class="input-large" ng-model="panel.time_options">
      </div>
      <div class="editor-option">
        <label class="small">Auto-refresh options <small>comma seperated</small></label>
        <input type="text" array-join class="input-large" ng-model="panel.refresh_intervals">
      </div>
      <div class="editor-option">
        <label class="small">Time Field</label>
        <input type="text" class="input-small" ng-model="panel.timefield">
      </div>
    </div>
  </div>
