<div class="editor-row">
	<div class="tight-form-section">
		<h5>Map IDs in legends, titles and template variables to names</h5>
		<div class="tight-form last">
			<ul class="tight-form-list">
				<li class="tight-form-item">
					<editor-checkbox text="Enabled" model="ctrl.idMapping.enabled" change="ctrl.update()" tip="Also requires $map(ID) in legend alias or title text to identify IDs."></editor-checkbox>
				</li>
				<li class="tight-form-item" style="width: 90px">
					Datasource
				</li>
				<li>
					<select ng-model="ctrl.idMapping.datasource" class='input-small tight-form-input' ng-options="f.name as f.name for f in ctrl.datasources" ng-change="ctrl.onDataSourceChanged()"></select>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

<div class="editor-row" ng-if="ctrl.isElasticDataSource">
	<div class="tight-form-section">
		<h5>Elasticsearch settings</h5>
		<div class="tight-form last">
			<ul class="tight-form-list">
				<li class="tight-form-item">
					ID field
				</li>
				<li>
					<input type="text" class="input-xlarge tight-form-input" ng-model='ctrl.idMapping.idField' ng-blur="ctrl.update()"></input>
				</li>
				<li class="tight-form-item">
					Name field
				</li>
				<li>
					<input type="text" class="input-xlarge tight-form-input" ng-model='ctrl.idMapping.nameField' ng-blur="ctrl.update()"></input>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
</div>