<div class="editor-row">
  <div class="section">
    <h5>Main options</h5>
		<editor-opt-bool text="Show table" model="panel.table.show" change="render()"></editor-opt-bool>
		<editor-opt-bool text="Show big values" model="panel.stats.show" change="render()"></editor-opt-bool>
  </div>
  <div class="section" ng-if="panel.stats">
    <h5>Big values</h5>
		<div class="editor-option">
			<label class="small">Template</label>
			<input type="text" class="input-large" ng-model="panel.stats.template" ng-blur="render()"></input>
		</div>
	</div>
	<div class="section">
    <h5>Formats</h5>
		<div class="editor-option">
			<label class="small">Unit format</label>
			<select class="input-small" ng-model="panel.format" ng-options="f for f in ['none','short','bytes', 'bits', 'bps', 's', 'ms', 'µs', 'ns', 'percent']" ng-change="render()"></select>
		</div>
	</div>
	<div class="section">
    <h5>Coloring</h5>
		<editor-opt-bool text="Background" model="panel.coloring.background" change="setColoring({background: true})"></editor-opt-bool>
		<editor-opt-bool text="Value" model="panel.coloring.value" change="setColoring({value: true})"></editor-opt-bool>
		<div class="editor-option">
			<label class="small">Thresholds</label>
			<input type="text" class="input-large" ng-model="panel.coloring.thresholds" ng-blur="render()"></input>
		</div>
		<div class="editor-option">
      <label class="small">Color</label>
      <spectrum-picker ng-model="panel.coloring.colors[0]" ng-change="render()" ></spectrum-picker>
      <spectrum-picker ng-model="panel.coloring.colors[1]" ng-change="render()" ></spectrum-picker>
			<spectrum-picker ng-model="panel.coloring.colors[2]" ng-change="render()" ></spectrum-picker>
			<a class="pointer" ng-click="invertColorOrder()">invert order</a>
		</div>
	</div>
</div>

<div class="editor-row">
	<div class="section">
		<h5>Series options</h5>
		<div class="grafana-target" ng-repeat="series in data.series">
			<div class="grafana-target-inner">
				<ul class="grafana-segment-list">
					<li class="grafana-target-segment">
						<i class="icon-eye-open" ng-click="hideSeries(series)"></i>
					</li>

					<li class="grafana-target-segment">
						{{series.info.alias}}
					</li>

					<li class="grafana-target-segment">
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

