<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#000">

  <title>Grafana - License Error</title>

  <base href="[[.AppSubUrl]]/" />

  <link rel="stylesheet" href="public/build/grafana.[[ .Theme ]].<%= webpack.hash %>.css">

  <link rel="icon" type="image/png" href="public/img/fav32.png">
  <link rel="mask-icon" href="public/img/grafana_mask_icon.svg" color="#F05A28">

</head>

<body class="theme-[[ .Theme ]]">
<div class="main-view">
  <div class="page-container">
    <div class="page-header">
      <div class="page-header__inner">
            <span class="page-header__logo">
              <i class="page-header__icon fa fa-frown-o"></i>
            </span>
        <div class="page-header__info-block">
          <h1 class="page-header__title">
            <span>Grafana / License Error</span><span></span>
          </h1>
          <div class="page-header__sub-title">The provided license is invalid.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-container page-body ng-scope" style="padding: 2rem">
    <div class="alert">
      <div class="alert-icon"><i class="fa fa-lock"></i></div>
      <div class="alert-body">
        This instance of Grafana Enterprise is running with an invalid license. Contact your Grafana administrator
        to remove this error message.
      </div>
    </div>

    <div class="grafana-info-box">
      <h4 class="page-heading">For administrators:</h4>

      <div>
        [[.ErrorMsg]]
      </div>

      <div>
      <!-- FIXME: INSERT GRAFANA DOCUMENTATION URL -->
      For help removing this page visit the <a href="#">license error in the Grafana help pages</a>.
      </div>
    </div>
  </div>
</div>
</body>
</html>
