// ==========================================================================
// RAINTANK ICON FONTS
// ==========================================================================



// Font files 
// ==========================================================================

@font-face {
  font-family: 'raintank-icons';
  src:url('../fonts/raintank-icons.eot?-1mxvgn');
  src:url('../fonts/raintank-icons.eot?#iefix-1mxvgn') format('embedded-opentype'),
    url('../fonts/raintank-icons.woff?-1mxvgn') format('woff'),
    url('../fonts/raintank-icons.ttf?-1mxvgn') format('truetype'),
    url('../fonts/raintank-icons.svg?-1mxvgn#raintank-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}



// Base font styles 
// ==========================================================================
i {
  font-family: 'raintank-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// Icons 
// ==========================================================================

.icon-rt-raintank_wordmark:before {
  content: "\e600";
}

.icon-rt-raintank_icn:before {
  content: "\e601";
}

.icon-rt-raintank_r-icn:before {
  content: "\e602";
}

.icon-rt-check-alt:before {
  content: "\e603";
}

.icon-rt-check:before {
  content: "\e604";
}

.icon-rt-collector:before {
  content: "\e605";
}

.icon-rt-dashboard:before {
  content: "\e606";
}

.icon-rt-datasources:before {
  content: "\e607";
}

.icon-rt-endpoint-tiny:before {
  content: "\e608";
}

.icon-rt-endpoint:before {
  content: "\e609";
}

.icon-rt-filter:before {
  content: "\e60a";
}

.icon-rt-status:before {
  content: "\e60b";
}

.icon-rt-monitoring:before {
  content: "\e60c";
}

.icon-rt-monitoring-tiny:before {
  content: "\e620";
}

.icon-rt-jump-to-dashboard:before {
  content: "\e60d";
}

.icon-rt-warn:before {
  content: "\e60e";
}

.icon-rt-nodata:before {
  content: "\e60f";
}

.icon-rt-critical:before {
  content: "\e610";
}

.icon-rt-online:before {
  content: "\e611";
}

.icon-rt-event-error:before {
  content: "\e623";
}

.icon-rt-event:before {
  content: "\e624";
}

.icon-rt-private-collector:before {
  content: "\e612";
}

.icon-rt-alert:before {
  content: "\e61f";
}

.icon-rt-alert-disabled:before {
  content: "\e621";
}

.icon-rt-refresh:before {
  content: "\e613";
}

.icon-rt-save:before {
  content: "\e614";
}

.icon-rt-settings:before {
  content: "\e615";
}

.icon-rt-share:before {
  content: "\e616";
}

.icon-rt-star:before {
  content: "\e617";
}

.icon-rt-search:before {
  content: "\e618";
}

.icon-rt-tag-add:before {
  content: "\e619";
}

.icon-rt-tag-remove:before {
  content: "\e61a";
}

.icon-rt-video:before {
  content: "\e61b";
}

.icon-rt-bulk_action:before {
  content: "\e61c";
}

.icon-rt-users:before {
  content: "\e622";
}

.icon-rt-globe:before {
  content: "\e61d";
}

.icon-rt-snapshot:before {
  content: "\e61e";
}

.icon-rt-play-grafana-icon:before {
  content: "\e629";
}
.icon-rt-grafana-icon:before {
  content: "\e625";
}
.icon-rt-email:before {
  content: "\e628";
}
.icon-rt-stopwatch:before {
  content: "\e626";
}
.icon-rt-skull:before {
  content: "\e900";
}
.icon-rt-litmus:before {
  content: "\e627";
}