{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-07-24",
    "endpointPrefix":"sagemaker",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"SageMaker",
    "serviceFullName":"Amazon SageMaker Service",
    "signatureVersion":"v4",
    "signingName":"sagemaker",
    "targetPrefix":"SageMaker",
    "uid":"sagemaker-2017-07-24"
  },
  "operations":{
    "AddTags":{
      "name":"AddTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsInput"},
      "output":{"shape":"AddTagsOutput"}
    },
    "CreateEndpoint":{
      "name":"CreateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointInput"},
      "output":{"shape":"CreateEndpointOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateEndpointConfig":{
      "name":"CreateEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointConfigInput"},
      "output":{"shape":"CreateEndpointConfigOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateModel":{
      "name":"CreateModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelInput"},
      "output":{"shape":"CreateModelOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateNotebookInstance":{
      "name":"CreateNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNotebookInstanceInput"},
      "output":{"shape":"CreateNotebookInstanceOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreatePresignedNotebookInstanceUrl":{
      "name":"CreatePresignedNotebookInstanceUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePresignedNotebookInstanceUrlInput"},
      "output":{"shape":"CreatePresignedNotebookInstanceUrlOutput"}
    },
    "CreateTrainingJob":{
      "name":"CreateTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrainingJobRequest"},
      "output":{"shape":"CreateTrainingJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "DeleteEndpoint":{
      "name":"DeleteEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointInput"}
    },
    "DeleteEndpointConfig":{
      "name":"DeleteEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointConfigInput"}
    },
    "DeleteModel":{
      "name":"DeleteModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelInput"}
    },
    "DeleteNotebookInstance":{
      "name":"DeleteNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNotebookInstanceInput"}
    },
    "DeleteTags":{
      "name":"DeleteTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTagsInput"},
      "output":{"shape":"DeleteTagsOutput"}
    },
    "DescribeEndpoint":{
      "name":"DescribeEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointInput"},
      "output":{"shape":"DescribeEndpointOutput"}
    },
    "DescribeEndpointConfig":{
      "name":"DescribeEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointConfigInput"},
      "output":{"shape":"DescribeEndpointConfigOutput"}
    },
    "DescribeModel":{
      "name":"DescribeModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelInput"},
      "output":{"shape":"DescribeModelOutput"}
    },
    "DescribeNotebookInstance":{
      "name":"DescribeNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNotebookInstanceInput"},
      "output":{"shape":"DescribeNotebookInstanceOutput"}
    },
    "DescribeTrainingJob":{
      "name":"DescribeTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrainingJobRequest"},
      "output":{"shape":"DescribeTrainingJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListEndpointConfigs":{
      "name":"ListEndpointConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEndpointConfigsInput"},
      "output":{"shape":"ListEndpointConfigsOutput"}
    },
    "ListEndpoints":{
      "name":"ListEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEndpointsInput"},
      "output":{"shape":"ListEndpointsOutput"}
    },
    "ListModels":{
      "name":"ListModels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelsInput"},
      "output":{"shape":"ListModelsOutput"}
    },
    "ListNotebookInstances":{
      "name":"ListNotebookInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListNotebookInstancesInput"},
      "output":{"shape":"ListNotebookInstancesOutput"}
    },
    "ListTags":{
      "name":"ListTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsInput"},
      "output":{"shape":"ListTagsOutput"}
    },
    "ListTrainingJobs":{
      "name":"ListTrainingJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrainingJobsRequest"},
      "output":{"shape":"ListTrainingJobsResponse"}
    },
    "StartNotebookInstance":{
      "name":"StartNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartNotebookInstanceInput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "StopNotebookInstance":{
      "name":"StopNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopNotebookInstanceInput"}
    },
    "StopTrainingJob":{
      "name":"StopTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTrainingJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "UpdateEndpoint":{
      "name":"UpdateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEndpointInput"},
      "output":{"shape":"UpdateEndpointOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "UpdateEndpointWeightsAndCapacities":{
      "name":"UpdateEndpointWeightsAndCapacities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEndpointWeightsAndCapacitiesInput"},
      "output":{"shape":"UpdateEndpointWeightsAndCapacitiesOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "UpdateNotebookInstance":{
      "name":"UpdateNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateNotebookInstanceInput"},
      "output":{"shape":"UpdateNotebookInstanceOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    }
  },
  "shapes":{
    "AddTagsInput":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "Tags"
      ],
      "members":{
        "ResourceArn":{"shape":"ResourceArn"},
        "Tags":{"shape":"TagList"}
      }
    },
    "AddTagsOutput":{
      "type":"structure",
      "members":{
        "Tags":{"shape":"TagList"}
      }
    },
    "AlgorithmImage":{
      "type":"string",
      "max":255
    },
    "AlgorithmSpecification":{
      "type":"structure",
      "required":[
        "TrainingImage",
        "TrainingInputMode"
      ],
      "members":{
        "TrainingImage":{"shape":"AlgorithmImage"},
        "TrainingInputMode":{"shape":"TrainingInputMode"}
      }
    },
    "Channel":{
      "type":"structure",
      "required":[
        "ChannelName",
        "DataSource"
      ],
      "members":{
        "ChannelName":{"shape":"ChannelName"},
        "DataSource":{"shape":"DataSource"},
        "ContentType":{"shape":"ContentType"},
        "CompressionType":{"shape":"CompressionType"},
        "RecordWrapperType":{"shape":"RecordWrapper"}
      }
    },
    "ChannelName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9\\.\\-_]+"
    },
    "CompressionType":{
      "type":"string",
      "enum":[
        "None",
        "Gzip"
      ]
    },
    "ContainerDefinition":{
      "type":"structure",
      "required":["Image"],
      "members":{
        "ContainerHostname":{"shape":"ContainerHostname"},
        "Image":{"shape":"Image"},
        "ModelDataUrl":{"shape":"Url"},
        "Environment":{"shape":"EnvironmentMap"}
      }
    },
    "ContainerHostname":{
      "type":"string",
      "max":63,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "ContentType":{
      "type":"string",
      "max":256
    },
    "CreateEndpointConfigInput":{
      "type":"structure",
      "required":[
        "EndpointConfigName",
        "ProductionVariants"
      ],
      "members":{
        "EndpointConfigName":{"shape":"EndpointConfigName"},
        "ProductionVariants":{"shape":"ProductionVariantList"},
        "Tags":{"shape":"TagList"},
        "KmsKeyId":{"shape":"KmsKeyId"}
      }
    },
    "CreateEndpointConfigOutput":{
      "type":"structure",
      "required":["EndpointConfigArn"],
      "members":{
        "EndpointConfigArn":{"shape":"EndpointConfigArn"}
      }
    },
    "CreateEndpointInput":{
      "type":"structure",
      "required":[
        "EndpointName",
        "EndpointConfigName"
      ],
      "members":{
        "EndpointName":{"shape":"EndpointName"},
        "EndpointConfigName":{"shape":"EndpointConfigName"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateEndpointOutput":{
      "type":"structure",
      "required":["EndpointArn"],
      "members":{
        "EndpointArn":{"shape":"EndpointArn"}
      }
    },
    "CreateModelInput":{
      "type":"structure",
      "required":[
        "ModelName",
        "PrimaryContainer",
        "ExecutionRoleArn"
      ],
      "members":{
        "ModelName":{"shape":"ModelName"},
        "PrimaryContainer":{"shape":"ContainerDefinition"},
        "ExecutionRoleArn":{"shape":"RoleArn"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateModelOutput":{
      "type":"structure",
      "required":["ModelArn"],
      "members":{
        "ModelArn":{"shape":"ModelArn"}
      }
    },
    "CreateNotebookInstanceInput":{
      "type":"structure",
      "required":[
        "NotebookInstanceName",
        "InstanceType",
        "RoleArn"
      ],
      "members":{
        "NotebookInstanceName":{"shape":"NotebookInstanceName"},
        "InstanceType":{"shape":"InstanceType"},
        "SubnetId":{"shape":"SubnetId"},
        "SecurityGroupIds":{"shape":"SecurityGroupIds"},
        "RoleArn":{"shape":"RoleArn"},
        "KmsKeyId":{"shape":"KmsKeyId"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateNotebookInstanceOutput":{
      "type":"structure",
      "members":{
        "NotebookInstanceArn":{"shape":"NotebookInstanceArn"}
      }
    },
    "CreatePresignedNotebookInstanceUrlInput":{
      "type":"structure",
      "required":["NotebookInstanceName"],
      "members":{
        "NotebookInstanceName":{"shape":"NotebookInstanceName"},
        "SessionExpirationDurationInSeconds":{"shape":"SessionExpirationDurationInSeconds"}
      }
    },
    "CreatePresignedNotebookInstanceUrlOutput":{
      "type":"structure",
      "members":{
        "AuthorizedUrl":{"shape":"NotebookInstanceUrl"}
      }
    },
    "CreateTrainingJobRequest":{
      "type":"structure",
      "required":[
        "TrainingJobName",
        "AlgorithmSpecification",
        "RoleArn",
        "InputDataConfig",
        "OutputDataConfig",
        "ResourceConfig",
        "StoppingCondition"
      ],
      "members":{
        "TrainingJobName":{"shape":"TrainingJobName"},
        "HyperParameters":{"shape":"HyperParameters"},
        "AlgorithmSpecification":{"shape":"AlgorithmSpecification"},
        "RoleArn":{"shape":"RoleArn"},
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "ResourceConfig":{"shape":"ResourceConfig"},
        "StoppingCondition":{"shape":"StoppingCondition"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateTrainingJobResponse":{
      "type":"structure",
      "required":["TrainingJobArn"],
      "members":{
        "TrainingJobArn":{"shape":"TrainingJobArn"}
      }
    },
    "CreationTime":{"type":"timestamp"},
    "DataSource":{
      "type":"structure",
      "required":["S3DataSource"],
      "members":{
        "S3DataSource":{"shape":"S3DataSource"}
      }
    },
    "DeleteEndpointConfigInput":{
      "type":"structure",
      "required":["EndpointConfigName"],
      "members":{
        "EndpointConfigName":{"shape":"EndpointConfigName"}
      }
    },
    "DeleteEndpointInput":{
      "type":"structure",
      "required":["EndpointName"],
      "members":{
        "EndpointName":{"shape":"EndpointName"}
      }
    },
    "DeleteModelInput":{
      "type":"structure",
      "required":["ModelName"],
      "members":{
        "ModelName":{"shape":"ModelName"}
      }
    },
    "DeleteNotebookInstanceInput":{
      "type":"structure",
      "required":["NotebookInstanceName"],
      "members":{
        "NotebookInstanceName":{"shape":"NotebookInstanceName"}
      }
    },
    "DeleteTagsInput":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "TagKeys"
      ],
      "members":{
        "ResourceArn":{"shape":"ResourceArn"},
        "TagKeys":{"shape":"TagKeyList"}
      }
    },
    "DeleteTagsOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeEndpointConfigInput":{
      "type":"structure",
      "required":["EndpointConfigName"],
      "members":{
        "EndpointConfigName":{"shape":"EndpointConfigName"}
      }
    },
    "DescribeEndpointConfigOutput":{
      "type":"structure",
      "required":[
        "EndpointConfigName",
        "EndpointConfigArn",
        "ProductionVariants",
        "CreationTime"
      ],
      "members":{
        "EndpointConfigName":{"shape":"EndpointConfigName"},
        "EndpointConfigArn":{"shape":"EndpointConfigArn"},
        "ProductionVariants":{"shape":"ProductionVariantList"},
        "KmsKeyId":{"shape":"KmsKeyId"},
        "CreationTime":{"shape":"Timestamp"}
      }
    },
    "DescribeEndpointInput":{
      "type":"structure",
      "required":["EndpointName"],
      "members":{
        "EndpointName":{"shape":"EndpointName"}
      }
    },
    "DescribeEndpointOutput":{
      "type":"structure",
      "required":[
        "EndpointName",
        "EndpointArn",
        "EndpointConfigName",
        "EndpointStatus",
        "CreationTime",
        "LastModifiedTime"
      ],
      "members":{
        "EndpointName":{"shape":"EndpointName"},
        "EndpointArn":{"shape":"EndpointArn"},
        "EndpointConfigName":{"shape":"EndpointConfigName"},
        "ProductionVariants":{"shape":"ProductionVariantSummaryList"},
        "EndpointStatus":{"shape":"EndpointStatus"},
        "FailureReason":{"shape":"FailureReason"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"}
      }
    },
    "DescribeModelInput":{
      "type":"structure",
      "required":["ModelName"],
      "members":{
        "ModelName":{"shape":"ModelName"}
      }
    },
    "DescribeModelOutput":{
      "type":"structure",
      "required":[
        "ModelName",
        "PrimaryContainer",
        "ExecutionRoleArn",
        "CreationTime",
        "ModelArn"
      ],
      "members":{
        "ModelName":{"shape":"ModelName"},
        "PrimaryContainer":{"shape":"ContainerDefinition"},
        "ExecutionRoleArn":{"shape":"RoleArn"},
        "CreationTime":{"shape":"Timestamp"},
        "ModelArn":{"shape":"ModelArn"}
      }
    },
    "DescribeNotebookInstanceInput":{
      "type":"structure",
      "required":["NotebookInstanceName"],
      "members":{
        "NotebookInstanceName":{"shape":"NotebookInstanceName"}
      }
    },
    "DescribeNotebookInstanceOutput":{
      "type":"structure",
      "members":{
        "NotebookInstanceArn":{"shape":"NotebookInstanceArn"},
        "NotebookInstanceName":{"shape":"NotebookInstanceName"},
        "NotebookInstanceStatus":{"shape":"NotebookInstanceStatus"},
        "FailureReason":{"shape":"FailureReason"},
        "Url":{"shape":"NotebookInstanceUrl"},
        "InstanceType":{"shape":"InstanceType"},
        "SubnetId":{"shape":"SubnetId"},
        "SecurityGroups":{"shape":"SecurityGroupIds"},
        "RoleArn":{"shape":"RoleArn"},
        "KmsKeyId":{"shape":"KmsKeyId"},
        "NetworkInterfaceId":{"shape":"NetworkInterfaceId"},
        "LastModifiedTime":{"shape":"LastModifiedTime"},
        "CreationTime":{"shape":"CreationTime"}
      }
    },
    "DescribeTrainingJobRequest":{
      "type":"structure",
      "required":["TrainingJobName"],
      "members":{
        "TrainingJobName":{"shape":"TrainingJobName"}
      }
    },
    "DescribeTrainingJobResponse":{
      "type":"structure",
      "required":[
        "TrainingJobName",
        "TrainingJobArn",
        "ModelArtifacts",
        "TrainingJobStatus",
        "SecondaryStatus",
        "AlgorithmSpecification",
        "InputDataConfig",
        "ResourceConfig",
        "StoppingCondition",
        "CreationTime"
      ],
      "members":{
        "TrainingJobName":{"shape":"TrainingJobName"},
        "TrainingJobArn":{"shape":"TrainingJobArn"},
        "ModelArtifacts":{"shape":"ModelArtifacts"},
        "TrainingJobStatus":{"shape":"TrainingJobStatus"},
        "SecondaryStatus":{"shape":"SecondaryStatus"},
        "FailureReason":{"shape":"FailureReason"},
        "HyperParameters":{"shape":"HyperParameters"},
        "AlgorithmSpecification":{"shape":"AlgorithmSpecification"},
        "RoleArn":{"shape":"RoleArn"},
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "ResourceConfig":{"shape":"ResourceConfig"},
        "StoppingCondition":{"shape":"StoppingCondition"},
        "CreationTime":{"shape":"Timestamp"},
        "TrainingStartTime":{"shape":"Timestamp"},
        "TrainingEndTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"}
      }
    },
    "DesiredWeightAndCapacity":{
      "type":"structure",
      "required":["VariantName"],
      "members":{
        "VariantName":{"shape":"VariantName"},
        "DesiredWeight":{"shape":"VariantWeight"},
        "DesiredInstanceCount":{"shape":"TaskCount"}
      }
    },
    "DesiredWeightAndCapacityList":{
      "type":"list",
      "member":{"shape":"DesiredWeightAndCapacity"},
      "min":1
    },
    "EndpointArn":{
      "type":"string",
      "max":2048,
      "min":20
    },
    "EndpointConfigArn":{
      "type":"string",
      "max":2048,
      "min":20
    },
    "EndpointConfigName":{
      "type":"string",
      "max":63,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "EndpointConfigNameContains":{
      "type":"string",
      "pattern":"[a-zA-Z0-9-]+"
    },
    "EndpointConfigSortKey":{
      "type":"string",
      "enum":[
        "Name",
        "CreationTime"
      ]
    },
    "EndpointConfigSummary":{
      "type":"structure",
      "required":[
        "EndpointConfigName",
        "EndpointConfigArn",
        "CreationTime"
      ],
      "members":{
        "EndpointConfigName":{"shape":"EndpointConfigName"},
        "EndpointConfigArn":{"shape":"EndpointConfigArn"},
        "CreationTime":{"shape":"Timestamp"}
      }
    },
    "EndpointConfigSummaryList":{
      "type":"list",
      "member":{"shape":"EndpointConfigSummary"}
    },
    "EndpointName":{
      "type":"string",
      "max":63,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "EndpointNameContains":{
      "type":"string",
      "pattern":"[a-zA-Z0-9-]+"
    },
    "EndpointSortKey":{
      "type":"string",
      "enum":[
        "Name",
        "CreationTime",
        "Status"
      ]
    },
    "EndpointStatus":{
      "type":"string",
      "enum":[
        "OutOfService",
        "Creating",
        "Updating",
        "RollingBack",
        "InService",
        "Deleting",
        "Failed"
      ]
    },
    "EndpointSummary":{
      "type":"structure",
      "required":[
        "EndpointName",
        "EndpointArn",
        "CreationTime",
        "LastModifiedTime",
        "EndpointStatus"
      ],
      "members":{
        "EndpointName":{"shape":"EndpointName"},
        "EndpointArn":{"shape":"EndpointArn"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "EndpointStatus":{"shape":"EndpointStatus"}
      }
    },
    "EndpointSummaryList":{
      "type":"list",
      "member":{"shape":"EndpointSummary"}
    },
    "EnvironmentKey":{
      "type":"string",
      "max":1024,
      "pattern":"[a-zA-Z_][a-zA-Z0-9_]*"
    },
    "EnvironmentMap":{
      "type":"map",
      "key":{"shape":"EnvironmentKey"},
      "value":{"shape":"EnvironmentValue"},
      "max":16
    },
    "EnvironmentValue":{
      "type":"string",
      "max":1024
    },
    "FailureReason":{
      "type":"string",
      "max":1024
    },
    "HyperParameters":{
      "type":"map",
      "key":{"shape":"ParameterKey"},
      "value":{"shape":"ParameterValue"},
      "max":100,
      "min":0
    },
    "Image":{
      "type":"string",
      "max":255,
      "pattern":"[\\S]+"
    },
    "InputDataConfig":{
      "type":"list",
      "member":{"shape":"Channel"},
      "max":8,
      "min":1
    },
    "InstanceType":{
      "type":"string",
      "enum":[
        "ml.t2.medium",
        "ml.m4.xlarge",
        "ml.p2.xlarge"
      ]
    },
    "KmsKeyId":{
      "type":"string",
      "max":2048
    },
    "LastModifiedTime":{"type":"timestamp"},
    "ListEndpointConfigsInput":{
      "type":"structure",
      "members":{
        "SortBy":{"shape":"EndpointConfigSortKey"},
        "SortOrder":{"shape":"OrderKey"},
        "NextToken":{"shape":"PaginationToken"},
        "MaxResults":{"shape":"MaxResults"},
        "NameContains":{"shape":"EndpointConfigNameContains"},
        "CreationTimeBefore":{"shape":"Timestamp"},
        "CreationTimeAfter":{"shape":"Timestamp"}
      }
    },
    "ListEndpointConfigsOutput":{
      "type":"structure",
      "required":["EndpointConfigs"],
      "members":{
        "EndpointConfigs":{"shape":"EndpointConfigSummaryList"},
        "NextToken":{"shape":"PaginationToken"}
      }
    },
    "ListEndpointsInput":{
      "type":"structure",
      "members":{
        "SortBy":{"shape":"EndpointSortKey"},
        "SortOrder":{"shape":"OrderKey"},
        "NextToken":{"shape":"PaginationToken"},
        "MaxResults":{"shape":"MaxResults"},
        "NameContains":{"shape":"EndpointNameContains"},
        "CreationTimeBefore":{"shape":"Timestamp"},
        "CreationTimeAfter":{"shape":"Timestamp"},
        "LastModifiedTimeBefore":{"shape":"Timestamp"},
        "LastModifiedTimeAfter":{"shape":"Timestamp"},
        "StatusEquals":{"shape":"EndpointStatus"}
      }
    },
    "ListEndpointsOutput":{
      "type":"structure",
      "required":["Endpoints"],
      "members":{
        "Endpoints":{"shape":"EndpointSummaryList"},
        "NextToken":{"shape":"PaginationToken"}
      }
    },
    "ListModelsInput":{
      "type":"structure",
      "members":{
        "SortBy":{"shape":"ModelSortKey"},
        "SortOrder":{"shape":"OrderKey"},
        "NextToken":{"shape":"PaginationToken"},
        "MaxResults":{"shape":"MaxResults"},
        "NameContains":{"shape":"ModelNameContains"},
        "CreationTimeBefore":{"shape":"Timestamp"},
        "CreationTimeAfter":{"shape":"Timestamp"}
      }
    },
    "ListModelsOutput":{
      "type":"structure",
      "required":["Models"],
      "members":{
        "Models":{"shape":"ModelSummaryList"},
        "NextToken":{"shape":"PaginationToken"}
      }
    },
    "ListNotebookInstancesInput":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"},
        "SortBy":{"shape":"NotebookInstanceSortKey"},
        "SortOrder":{"shape":"NotebookInstanceSortOrder"},
        "NameContains":{"shape":"NotebookInstanceNameContains"},
        "CreationTimeBefore":{"shape":"CreationTime"},
        "CreationTimeAfter":{"shape":"CreationTime"},
        "LastModifiedTimeBefore":{"shape":"LastModifiedTime"},
        "LastModifiedTimeAfter":{"shape":"LastModifiedTime"},
        "StatusEquals":{"shape":"NotebookInstanceStatus"}
      }
    },
    "ListNotebookInstancesOutput":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"NextToken"},
        "NotebookInstances":{"shape":"NotebookInstanceSummaryList"}
      }
    },
    "ListTagsInput":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{"shape":"ResourceArn"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"ListTagsMaxResults"}
      }
    },
    "ListTagsMaxResults":{
      "type":"integer",
      "min":50
    },
    "ListTagsOutput":{
      "type":"structure",
      "members":{
        "Tags":{"shape":"TagList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListTrainingJobsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        },
        "CreationTimeAfter":{"shape":"Timestamp"},
        "CreationTimeBefore":{"shape":"Timestamp"},
        "LastModifiedTimeAfter":{"shape":"Timestamp"},
        "LastModifiedTimeBefore":{"shape":"Timestamp"},
        "NameContains":{"shape":"NameContains"},
        "StatusEquals":{"shape":"TrainingJobStatus"},
        "SortBy":{"shape":"SortBy"},
        "SortOrder":{"shape":"SortOrder"}
      }
    },
    "ListTrainingJobsResponse":{
      "type":"structure",
      "required":["TrainingJobSummaries"],
      "members":{
        "TrainingJobSummaries":{"shape":"TrainingJobSummaries"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "MaxResults":{
      "type":"integer",
      "max":100,
      "min":1
    },
    "MaxRuntimeInSeconds":{
      "type":"integer",
      "min":1
    },
    "ModelArn":{
      "type":"string",
      "max":2048,
      "min":20
    },
    "ModelArtifacts":{
      "type":"structure",
      "required":["S3ModelArtifacts"],
      "members":{
        "S3ModelArtifacts":{"shape":"S3Uri"}
      }
    },
    "ModelName":{
      "type":"string",
      "max":63,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "ModelNameContains":{
      "type":"string",
      "pattern":"[a-zA-Z0-9-]+"
    },
    "ModelSortKey":{
      "type":"string",
      "enum":[
        "Name",
        "CreationTime"
      ]
    },
    "ModelSummary":{
      "type":"structure",
      "required":[
        "ModelName",
        "ModelArn",
        "CreationTime"
      ],
      "members":{
        "ModelName":{"shape":"ModelName"},
        "ModelArn":{"shape":"ModelArn"},
        "CreationTime":{"shape":"Timestamp"}
      }
    },
    "ModelSummaryList":{
      "type":"list",
      "member":{"shape":"ModelSummary"}
    },
    "NameContains":{
      "type":"string",
      "max":63,
      "pattern":"[a-zA-Z0-9\\-]+"
    },
    "NetworkInterfaceId":{"type":"string"},
    "NextToken":{
      "type":"string",
      "max":8192
    },
    "NotebookInstanceArn":{
      "type":"string",
      "max":256
    },
    "NotebookInstanceName":{
      "type":"string",
      "max":63,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "NotebookInstanceNameContains":{
      "type":"string",
      "pattern":"[a-zA-Z0-9-]+"
    },
    "NotebookInstanceSortKey":{
      "type":"string",
      "enum":[
        "Name",
        "CreationTime",
        "Status"
      ]
    },
    "NotebookInstanceSortOrder":{
      "type":"string",
      "enum":[
        "Ascending",
        "Descending"
      ]
    },
    "NotebookInstanceStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InService",
        "Stopping",
        "Stopped",
        "Failed",
        "Deleting"
      ]
    },
    "NotebookInstanceSummary":{
      "type":"structure",
      "required":[
        "NotebookInstanceName",
        "NotebookInstanceArn"
      ],
      "members":{
        "NotebookInstanceName":{"shape":"NotebookInstanceName"},
        "NotebookInstanceArn":{"shape":"NotebookInstanceArn"},
        "NotebookInstanceStatus":{"shape":"NotebookInstanceStatus"},
        "Url":{"shape":"NotebookInstanceUrl"},
        "InstanceType":{"shape":"InstanceType"},
        "CreationTime":{"shape":"CreationTime"},
        "LastModifiedTime":{"shape":"LastModifiedTime"}
      }
    },
    "NotebookInstanceSummaryList":{
      "type":"list",
      "member":{"shape":"NotebookInstanceSummary"}
    },
    "NotebookInstanceUrl":{"type":"string"},
    "OrderKey":{
      "type":"string",
      "enum":[
        "Ascending",
        "Descending"
      ]
    },
    "OutputDataConfig":{
      "type":"structure",
      "required":["S3OutputPath"],
      "members":{
        "KmsKeyId":{"shape":"KmsKeyId"},
        "S3OutputPath":{"shape":"S3Uri"}
      }
    },
    "PaginationToken":{
      "type":"string",
      "max":8192
    },
    "ParameterKey":{
      "type":"string",
      "max":256
    },
    "ParameterValue":{
      "type":"string",
      "max":256
    },
    "ProductionVariant":{
      "type":"structure",
      "required":[
        "VariantName",
        "ModelName",
        "InitialInstanceCount",
        "InstanceType"
      ],
      "members":{
        "VariantName":{"shape":"VariantName"},
        "ModelName":{"shape":"ModelName"},
        "InitialInstanceCount":{"shape":"TaskCount"},
        "InstanceType":{"shape":"ProductionVariantInstanceType"},
        "InitialVariantWeight":{"shape":"VariantWeight"}
      }
    },
    "ProductionVariantInstanceType":{
      "type":"string",
      "enum":[
        "ml.c4.2xlarge",
        "ml.c4.8xlarge",
        "ml.c4.xlarge",
        "ml.c5.2xlarge",
        "ml.c5.9xlarge",
        "ml.c5.xlarge",
        "ml.m4.xlarge",
        "ml.p2.xlarge",
        "ml.p3.2xlarge",
        "ml.t2.medium"
      ]
    },
    "ProductionVariantList":{
      "type":"list",
      "member":{"shape":"ProductionVariant"},
      "min":1
    },
    "ProductionVariantSummary":{
      "type":"structure",
      "required":["VariantName"],
      "members":{
        "VariantName":{"shape":"VariantName"},
        "CurrentWeight":{"shape":"VariantWeight"},
        "DesiredWeight":{"shape":"VariantWeight"},
        "CurrentInstanceCount":{"shape":"TaskCount"},
        "DesiredInstanceCount":{"shape":"TaskCount"}
      }
    },
    "ProductionVariantSummaryList":{
      "type":"list",
      "member":{"shape":"ProductionVariantSummary"},
      "min":1
    },
    "RecordWrapper":{
      "type":"string",
      "enum":[
        "None",
        "RecordIO"
      ]
    },
    "ResourceArn":{
      "type":"string",
      "max":256
    },
    "ResourceConfig":{
      "type":"structure",
      "required":[
        "InstanceType",
        "InstanceCount",
        "VolumeSizeInGB"
      ],
      "members":{
        "InstanceType":{"shape":"TrainingInstanceType"},
        "InstanceCount":{"shape":"TrainingInstanceCount"},
        "VolumeSizeInGB":{"shape":"VolumeSizeInGB"},
        "VolumeKmsKeyId":{"shape":"KmsKeyId"}
      }
    },
    "ResourceInUse":{
      "type":"structure",
      "members":{
        "Message":{"shape":"FailureReason"}
      },
      "exception":true
    },
    "ResourceLimitExceeded":{
      "type":"structure",
      "members":{
        "Message":{"shape":"FailureReason"}
      },
      "exception":true
    },
    "ResourceNotFound":{
      "type":"structure",
      "members":{
        "Message":{"shape":"FailureReason"}
      },
      "exception":true
    },
    "RoleArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn:aws[a-z\\-]*:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+$"
    },
    "S3DataDistribution":{
      "type":"string",
      "enum":[
        "FullyReplicated",
        "ShardedByS3Key"
      ]
    },
    "S3DataSource":{
      "type":"structure",
      "required":[
        "S3DataType",
        "S3Uri"
      ],
      "members":{
        "S3DataType":{"shape":"S3DataType"},
        "S3Uri":{"shape":"S3Uri"},
        "S3DataDistributionType":{"shape":"S3DataDistribution"}
      }
    },
    "S3DataType":{
      "type":"string",
      "enum":[
        "ManifestFile",
        "S3Prefix"
      ]
    },
    "S3Uri":{
      "type":"string",
      "max":1024,
      "pattern":"^(https|s3)://([^/]+)/?(.*)$"
    },
    "SecondaryStatus":{
      "type":"string",
      "enum":[
        "Starting",
        "Downloading",
        "Training",
        "Uploading",
        "Stopping",
        "Stopped",
        "MaxRuntimeExceeded",
        "Completed",
        "Failed"
      ]
    },
    "SecurityGroupId":{
      "type":"string",
      "max":32
    },
    "SecurityGroupIds":{
      "type":"list",
      "member":{"shape":"SecurityGroupId"},
      "max":5
    },
    "SessionExpirationDurationInSeconds":{
      "type":"integer",
      "max":43200,
      "min":1800
    },
    "SortBy":{
      "type":"string",
      "enum":[
        "Name",
        "CreationTime",
        "Status"
      ]
    },
    "SortOrder":{
      "type":"string",
      "enum":[
        "Ascending",
        "Descending"
      ]
    },
    "StartNotebookInstanceInput":{
      "type":"structure",
      "required":["NotebookInstanceName"],
      "members":{
        "NotebookInstanceName":{"shape":"NotebookInstanceName"}
      }
    },
    "StopNotebookInstanceInput":{
      "type":"structure",
      "required":["NotebookInstanceName"],
      "members":{
        "NotebookInstanceName":{"shape":"NotebookInstanceName"}
      }
    },
    "StopTrainingJobRequest":{
      "type":"structure",
      "required":["TrainingJobName"],
      "members":{
        "TrainingJobName":{"shape":"TrainingJobName"}
      }
    },
    "StoppingCondition":{
      "type":"structure",
      "members":{
        "MaxRuntimeInSeconds":{"shape":"MaxRuntimeInSeconds"}
      }
    },
    "SubnetId":{
      "type":"string",
      "max":32
    },
    "Tag":{
      "type":"structure",
      "required":[
        "Key",
        "Value"
      ],
      "members":{
        "Key":{"shape":"TagKey"},
        "Value":{"shape":"TagValue"}
      }
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^((?!aws:)[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "max":50,
      "min":1
    },
    "TagList":{
      "type":"list",
      "member":{"shape":"Tag"},
      "max":50,
      "min":0
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "TaskCount":{
      "type":"integer",
      "min":1
    },
    "Timestamp":{"type":"timestamp"},
    "TrainingInputMode":{
      "type":"string",
      "enum":[
        "Pipe",
        "File"
      ]
    },
    "TrainingInstanceCount":{
      "type":"integer",
      "min":1
    },
    "TrainingInstanceType":{
      "type":"string",
      "enum":[
        "ml.m4.xlarge",
        "ml.m4.4xlarge",
        "ml.m4.10xlarge",
        "ml.c4.xlarge",
        "ml.c4.2xlarge",
        "ml.c4.8xlarge",
        "ml.p2.xlarge",
        "ml.p2.8xlarge",
        "ml.p2.16xlarge",
        "ml.p3.2xlarge",
        "ml.p3.8xlarge",
        "ml.p3.16xlarge",
        "ml.c5.xlarge",
        "ml.c5.2xlarge",
        "ml.c5.4xlarge",
        "ml.c5.9xlarge",
        "ml.c5.18xlarge"
      ]
    },
    "TrainingJobArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws:sagemaker:[\\p{Alnum}\\-]*:[0-9]{12}:training-job/.*"
    },
    "TrainingJobName":{
      "type":"string",
      "max":63,
      "min":1,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "TrainingJobStatus":{
      "type":"string",
      "enum":[
        "InProgress",
        "Completed",
        "Failed",
        "Stopping",
        "Stopped"
      ]
    },
    "TrainingJobSummaries":{
      "type":"list",
      "member":{"shape":"TrainingJobSummary"}
    },
    "TrainingJobSummary":{
      "type":"structure",
      "required":[
        "TrainingJobName",
        "TrainingJobArn",
        "CreationTime",
        "TrainingJobStatus"
      ],
      "members":{
        "TrainingJobName":{"shape":"TrainingJobName"},
        "TrainingJobArn":{"shape":"TrainingJobArn"},
        "CreationTime":{"shape":"Timestamp"},
        "TrainingEndTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "TrainingJobStatus":{"shape":"TrainingJobStatus"}
      }
    },
    "UpdateEndpointInput":{
      "type":"structure",
      "required":[
        "EndpointName",
        "EndpointConfigName"
      ],
      "members":{
        "EndpointName":{"shape":"EndpointName"},
        "EndpointConfigName":{"shape":"EndpointConfigName"}
      }
    },
    "UpdateEndpointOutput":{
      "type":"structure",
      "required":["EndpointArn"],
      "members":{
        "EndpointArn":{"shape":"EndpointArn"}
      }
    },
    "UpdateEndpointWeightsAndCapacitiesInput":{
      "type":"structure",
      "required":[
        "EndpointName",
        "DesiredWeightsAndCapacities"
      ],
      "members":{
        "EndpointName":{"shape":"EndpointName"},
        "DesiredWeightsAndCapacities":{"shape":"DesiredWeightAndCapacityList"}
      }
    },
    "UpdateEndpointWeightsAndCapacitiesOutput":{
      "type":"structure",
      "required":["EndpointArn"],
      "members":{
        "EndpointArn":{"shape":"EndpointArn"}
      }
    },
    "UpdateNotebookInstanceInput":{
      "type":"structure",
      "required":["NotebookInstanceName"],
      "members":{
        "NotebookInstanceName":{"shape":"NotebookInstanceName"},
        "InstanceType":{"shape":"InstanceType"},
        "RoleArn":{"shape":"RoleArn"}
      }
    },
    "UpdateNotebookInstanceOutput":{
      "type":"structure",
      "members":{
      }
    },
    "Url":{
      "type":"string",
      "max":1024,
      "pattern":"^(https|s3)://([^/]+)/?(.*)$"
    },
    "VariantName":{
      "type":"string",
      "max":63,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "VariantWeight":{
      "type":"float",
      "min":0
    },
    "VolumeSizeInGB":{
      "type":"integer",
      "min":1
    }
  }
}
