.grafana-app {
  display: flex;
  align-items: stretch;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-view {
  position: relative;
  flex-grow: 1;
  background: $page-gradient;
}

.page-container {
  @extend .container;
  padding: $spacer $spacer $spacer $spacer*3;
}

.scroll-canvas {
  position: absolute;
  width: 100%;
  overflow: auto;
  height: 100%;

  &--dashboard {
    height: calc(100% - 54px);
  }
}

.page-body {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.page-content-with-sidebar {
  width: calc(100% - #{$page-sidebar-width + $page-sidebar-margin}); // sidebar width + margin
}

.page-sidebar {
  @include media-breakpoint-up(md) {
    width: $page-sidebar-width;
    margin-left: $page-sidebar-margin;
  }
}

.page-header {
  padding: 2rem 0 0 0;
  margin-bottom: 2rem;
  @include brand-bottom-border();
  @include clearfix();

  h1 {
    font-size: $font-size-h2;
    flex-grow: 1;
    display: inline-block;
    margin-bottom: 1rem;

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 0.5rem;
      position: relative;
      top: -3px;
    }
  }

  a, button {
    float: right;
    margin-left: $spacer;

    // better align icons
    .fa {
      position: relative;
      top: 1px;
    }
  }
}



.page-heading {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: $spacer * 0.7;
}

.admin-page {
  max-width: 800px;
  margin-left: 10px;
  h2 {
    margin-left: 15px;
    margin-bottom: 0px;
    font-size: $font-size-lg;
    color: $text-color;
    i {
      padding-right: 6px;
    }
  }
}

.page-sidebar {
  color: $text-color-weak;
  h4 {
    font-size: $font-size-base;
    font-weight: $font-weight-semi-bold;
  }
  h5 {
    font-size: $font-size-base;
    font-weight: $font-weight-semi-bold;
  }
}

.page-sidebar-section {
  margin-bottom: $spacer*2;
}

.page-breadcrumb {
  display: flex;
  padding: 0 $spacer;
  line-height: 0.5;
  margin-left: 2em;
}

.page-breadcrumb__item {
  background: $page-nav-bg;
  margin-right: .2rem;
  transform: skewX(-35deg);


  > a {
    color: $page-nav-breadcrumb-color;
    font-size: $font-size-sm;
    display: block;
    padding: 0.6rem 1rem 0.6rem 1rem;;
    position: relative;
    transform: skewX(35deg);
  }

  &:last-child {
    background: $breadcrumb-hover-hl;;
  }





  &:hover {
    background: $breadcrumb-hover-hl;

    .page-breadcrumb__caret {
      opacity: 1;
    }

    > a {
      color: $text-color;

      &::after {
        border-left-color: $breadcrumb-hover-hl;
        color: $text-color;
      }
    }
  }
}

.page-breadcrumb__caret {
  opacity: 0;
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  right: -9px;
  top: 5px;
  z-index: 3;
}

