.grafana-app {
  display: flex;
  align-items: stretch;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-view {
  position: relative;
  flex-grow: 1;
  background: $page-gradient;
}

.page-container {
  @extend .container;
  padding: 0 $spacer * 2;
}

.scroll-canvas {
  position: absolute;
  width: 100%;
  overflow: auto;
  height: 100%;

  &--dashboard {
    height: calc(100% - 54px);
  }
}

.page-body {
  padding-top: $spacer*2;

  &--with-sidebar {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.page-content-with-sidebar {
  width: calc(100% - #{$page-sidebar-width + $page-sidebar-margin}); // sidebar width + margin
}

.page-sidebar {
  @include media-breakpoint-up(md) {
    width: $page-sidebar-width;
    margin-left: $page-sidebar-margin;
  }
}

.page-header-canvas {
  background: linear-gradient(90deg, #292a2d, black);
  box-shadow: inset 0px -4px 14px #2d2d2d;
  bottom-border: 1px solid $dark-4;
}

.page-header {
  padding: 2rem 0 0 0;

  .btn {
    float: right;
    margin-left: 1rem;

    // better align icons
    .fa {
      position: relative;
      top: 1px;
    }
  }
}

.page-header__title {
  font-size: $font-size-h2;
  flex-grow: 1;
  display: inline-block;
  margin-bottom: 2.5rem;
}

.page-header__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 1rem;
  position: relative;
  top: -3px;
}

.page-header__icon {
  font-size: 150%;
  margin-right: 1rem;
}

.page-heading {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: $spacer * 0.7;
}

.admin-page {
  max-width: 800px;
  margin-left: 10px;
  h2 {
    margin-left: 15px;
    margin-bottom: 0px;
    font-size: $font-size-lg;
    color: $text-color;
    i {
      padding-right: 6px;
    }
  }
}

.page-sidebar {
  color: $text-color-weak;
  h4 {
    font-size: $font-size-base;
    font-weight: $font-weight-semi-bold;
  }
  h5 {
    font-size: $font-size-base;
    font-weight: $font-weight-semi-bold;
  }
}

.page-sidebar-section {
  margin-bottom: $spacer*2;
}

.page-breadcrumbs {
  display: flex;
  padding: 10px 0;
  line-height: 0.5;
}

.breadcrumb {
  display: inline-block;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  border-radius: 5px;
  counter-reset: flag;
}

.breadcrumb-item {
  @include gradientBar($btn-inverse-bg, $btn-inverse-bg-hl, $btn-inverse-text-color);

  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 30px;
  padding: 0 7px 0 37px;
  position: relative;
  box-shadow: $card-shadow;

  &:first-child {
    padding-left: 10px;
    border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
    font-size: 18px;
  }

  &:first-child:before {
    left: 14px;
  }

  &:last-child {
    border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
    padding-right: 20px;
  }

  &.active,
  &:hover {
    background: #333;
    background: linear-gradient(#333, #000);
  }

  &.active:after,
  &:hover:after {
    background: #333;
    background: linear-gradient(135deg, #333, #000);
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: -14px; // half of square's length

    // same dimension as the line-height of .breadcrumb-item
    width: 30px;
    height: 30px;

    transform: scale(0.707) rotate(45deg);
    // we need to prevent the arrows from getting buried under the next link
    z-index: 1;

    // background same as links but the gradient will be rotated to compensate with the transform applied
    background: linear-gradient(135deg, $btn-inverse-bg, $btn-inverse-bg-hl);

    // stylish arrow design using box shadow
    box-shadow: 2px -2px 0 2px rgb(35, 31, 31), 3px -3px 0 2px rgba(255, 255, 255, 0.1);

    // 5px - for rounded arrows and
    // 50px - to prevent hover glitches on the border created using shadows*/
  border-radius: 0 5px 0 50px;
}

// we dont need an arrow after the last link
&:last-child:after {
  content: none;
}
}


