<div class="panel-container" ng-class="{'panel-transparent': panel.transparent}">
	<div class="panel-header">
		<span class="alert-error panel-error small pointer" config-modal="app/partials/inspector.html" ng-if="panelMeta.error">
			<span data-placement="top" bs-tooltip="panelMeta.error">
				<i class="fa fa-exclamation"></i><span class="panel-error-arrow"></span>
			</span>
		</span>

		<span class="panel-loading" ng-show="panelMeta.loading">
			<i class="fa fa-spinner fa-spin"></i>
		</span>

		<span class="alert-info panel-help small pointer" ng-mouseenter="isShowInfo($event)" ng-if="helpInfo.info">
			<span data-placement="top">
				<i class="fa fa-question"></i><span class="panel-help-arrow"></span>
			</span>
		</span>

		<div class="panel-title-container drag-handle" panel-menu></div>
	</div>

	<div class="panel-content">
		<ng-transclude></ng-transclude>
	</div>
	<panel-resizer></panel-resizer>
	<div class="help-info" ng-if="helpInfo.info" ng-mouseleave="isShowInfo($event)">
		<div>
			<h2>{{helpInfo.title}}</h2>
			<p ng-repeat="txt in helpInfo.context" ng-bind-html="txt"></p>
		</div>
	</div>
</div>

<div class="panel-full-edit" ng-if="editMode">
	<div class="gf-box">
		<div class="gf-box-header">
			<div class="gf-box-title">
				<i ng-class="panelMeta.editIcon"></i>
				{{panelMeta.panelName}}
			</div>

			<div ng-model="editor.index" bs-tabs>
				<div ng-repeat="tab in panelMeta.editorTabs" data-title="{{tab.title}}">
				</div>
			</div>

			<button class="gf-box-header-close-btn" ng-click="exitFullscreen();">
				返回仪表盘
			</button>
		</div>

		<div class="gf-box-body">
			<div ng-repeat="tab in panelMeta.editorTabs" ng-if="editor.index === $index">
				<div ng-include src="tab.src"></div>
			</div>
		</div>
	</div>
</div>

