<div class="gf-form-group">
	<div class="gf-form">
		<span class="gf-form-label">
			<i class="fa fa-clock-o"></i>
		</span>

		<span class="gf-form-label width-12">Override relative time</span>
		<span class="gf-form-label width-6">Last</span>

		<input type="text" class="gf-form-input max-width-8" placeholder="1h"
			empty-to-null ng-model="ctrl.panel.timeFrom" valid-time-span
			ng-change="ctrl.refresh()" ng-model-onblur>
	</div>

	<div class="gf-form">
		<span class="gf-form-label">
			<i class="fa fa-clock-o"></i>
		</span>
		<span class="gf-form-label width-12">Add time shift</span>
		<span class="gf-form-label width-6">Amount</span>
		<input type="text" class="gf-form-input max-width-8" placeholder="1h"
			empty-to-null ng-model="ctrl.panel.timeShift" valid-time-span
			ng-change="ctrl.refresh()" ng-model-onblur>
	</div>

	<div class="gf-form">
		<span class="gf-form-label">
			<i class="fa fa-clock-o"></i>
		</span>
		<editor-checkbox text="Hide time override info" model="ctrl.panel.hideTimeOverride" change="ctrl.refresh()"></editor-checkbox>
	</div>
</div>


