
.dashnav-back-to-dashboard  {
  display: none;
}

// Media queries
// ---------------------

@include media-breakpoint-down(lg) {
  .navbar-page-btn {
    max-width: 290px;
  }
  .gf-timepicker-nav-btn {
    max-width: 240px;
  }
}

@include media-breakpoint-down(md) {
  .navbar-buttons--zoom {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  body {
    padding: 0;
  }
  .page-dashboard .navbar-page-btn {
    max-width: 200px;
  }
  .gf-timepicker-nav-btn {
    max-width: 120px;
  }
  .navbar-buttons--actions {
    display: none;
  }
}

@include media-breakpoint-down(xs) {
  .page-dashboard .navbar-page-btn {
    max-width: 250px;
  }
}

// form styles
@include media-breakpoint-up(md) {
  .page-dashboard .navbar-page-btn {
    max-width: 280px;
  }

  .gf-timepicker-nav-btn {
    max-width: 120px;
  }
}
