@import '../../node_modules/antd/dist/antd.less';


// @link-color: #1890ff; // link color
// @success-color: #52c41a; // success state color
// @warning-color: #faad14; // warning state color
// @error-color: #f5222d; // error state color
// @font-size-base: 14px; // major text font size
// @heading-color: rgba(0, 0, 0, 0.85); // heading text color
// @text-color: rgba(0, 0, 0, 0.65); // major text color
// @text-color-secondary : rgba(0, 0, 0, .45); // secondary text color
// @disabled-color : rgba(0, 0, 0, .25); // disable state color
// @border-radius-base: 4px; // major border radius
// @border-color-base: #d9d9d9; // major border color
// @box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers

@primary-color: #299c46;

@body-background: #313131;
@component-background: #333;
@background-color-base: #313131;
@heading-color: #ababab;
@text-color: #bbb;
@text-color-secondary: #aaa;
@text-color-inverse: #333;
@icon-color-hover: #fff;
@heading-color-dark: #aaa;
@text-color-dark: #aaa;
@text-color-secondary-dark: #999;
@item-active-bg: #555;
@item-hover-bg: #000;
@border-color-base: #666;
@border-color-split: #565656;
@background-color-light: #222;
@disabled-color: #777;
@disabled-bg: #555;
@disabled-color-dark: #444;
@btn-default-bg: #333;
@checkbox-check-color: #333;
@input-bg: #333;
@input-number-handler-active-bg: #454545;
@table-selected-row-bg: #343434;
@table-expanded-row-bg: #353535;
@tree-directory-selected-color: #111;
@table-row-hover-bg: #111;
@popover-bg: #222;
@shadow-color: rgba(255, 255, 255, 0.15);
@btn-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
@btn-primary-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
@btn-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
@alert-success-border-color: #03300c;
@alert-success-bg-color: #03300f;
@alert-info-border-color: #061f70;
@alert-info-bg-color: #061f72;
@alert-warning-border-color: #706705;
@alert-warning-bg-color: #706705;
@alert-error-border-color: #702b06;
@alert-error-bg-color: #702b05;
