{
  "plugins": ["testing-library"],
  "rules": {
    "dot-notation": "error",
  },
  "overrides": [
    {
      "files": ["**/__tests__/**/*.[jt]s?(x)", "**/?(*.)+(spec|test).[jt]s?(x)"],
      "extends": ["plugin:testing-library/react"],
    },
  ],
}
