<div class="editor-row">
	<h5>Links and Dash Navigation</h5>

	<div ng-repeat="link in dashboard.links" style="margin-top: 10px;">
		<div class="tight-form">
			<ul class="tight-form-list pull-right">
				<li class="tight-form-item">
					<i ng-click="moveLink($index, -1)" ng-hide="$first" class="pointer fa fa-arrow-up"></i>
					<i ng-click="moveLink($index, 1)" ng-hide="$last" class="pointer fa fa-fw fa-arrow-down"></i>
				</li>
				<li class="tight-form-item last">
					<i class="fa fa-remove pointer" ng-click="deleteLink($index)"></i>
				</li>
			</ul>

			<ul class="tight-form-list">
				<li class="tight-form-item" style="width: 20px">
					<i class="fa fa-fw fa-unlink"></i>
				</li>

				<li class="tight-form-item">Type</li>
				<li>
					<select class="input-medium tight-form-input" style="width: 150px;" ng-model="link.type" ng-options="f for f in ['dashboards','link']" ng-change="updated()"></select>
				</li>

				<li class="tight-form-item" ng-show="link.type === 'dashboards'">With tags</li>
				<li ng-show="link.type === 'dashboards'">
					<bootstrap-tagsinput ng-model="link.tags" tagclass="label label-tag" placeholder="add tags">
					</bootstrap-tagsinput>
				</li>
				<li class="tight-form-item" ng-show="link.type === 'dashboards'">
					<editor-checkbox text="As dropdown" model="link.asDropdown" change="updated()"></editor-checkbox>
				</li>
				<li class="tight-form-item" ng-show="link.type === 'dashboards' && link.asDropdown">
					Title
				</li>
				<li ng-show="link.type === 'dashboards' && link.asDropdown">
					<input type="text" ng-model="link.title" class="input-medium tight-form-input" ng-model-onblur ng-change="updated()">
				</li>
				<li class="tight-form-item" ng-show="link.type === 'link'" style="width: 51px">Url</li>
				<li ng-show="link.type === 'link'">
					<input type="text" ng-model="link.url" class="input-xlarge tight-form-input" style="width: 302px;" ng-model-onblur ng-change="updated()">
				</li>
				<li class="tight-form-item" ng-show="link.type === 'link'">
					<editor-checkbox text="Open in new tab " model="link.targetBlank" change="updated()"></editor-checkbox>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="tight-form" ng-if="link.type === 'link'">
			<ul class="tight-form-list">
				<li class="tight-form-item" style="width: 20px">
					<i class="fa fa-fw fa-unlink invisible"></i>
				</li>
				<li class="tight-form-item" ng-show="link.type === 'link'" style="width: 31px">Title</li>
				<li ng-show="link.type === 'link'">
					<input type="text" ng-model="link.title" class="input-medium tight-form-input" ng-model-onblur ng-change="updated()">
				</li>
				<li class="tight-form-item" ng-show="link.type === 'link'" style="width: 51px">Tooltip</li>
				<li ng-show="link.type === 'link'">
					<input type="text" ng-model="link.tooltip" class="input-medium tight-form-input" style="width: 151px" placeholder="Open dashboard" ng-model-onblur ng-change="updated()">
				</li>
				<li class="tight-form-item" ng-show="link.type === 'link'">Icon</li>
				<li ng-show="link.type === 'link'">
					<select class="input-medium tight-form-input" style="width: 110px;" ng-model="link.icon" ng-options="k as k for (k, v) in iconMap" ng-change="updated()"></select>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="tight-form last">
			<ul class="tight-form-list">
				<li class="tight-form-item" style="width: 20px">
					<i class="fa fa-fw fa-unlink invisible"></i>
				</li>
				<li class="tight-form-item">
					<editor-checkbox text="Keep current time range" model="link.keepTime" change="updated()"></editor-checkbox>
				</li>
				<li class="tight-form-item">
					<editor-checkbox text="Add current variable values" model="link.includeVars" change="updated()"></editor-checkbox>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="editor-row">
	<br>
	<button class="btn btn-inverse" ng-click="addLink()"><i class="fa fa-plus"></i> Add link</button>
</div>

