html {
	height: 100%;
}

body {
	height: 100%;
  margin: 0;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $text-color;
  background-color: $body-bg;
}


// Links
// -------------------------

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-color-hover;
    text-decoration: none;
  }

  &:focus {
    @include tab-focus();
  }
}

img {
  vertical-align: middle;
}
