//
// Code (inline and blocK)
// --------------------------------------------------


// Inline and block code styles
code,
pre {
  @include font-family-monospace();
  font-size: $font-size-base - 2;
  background-color: $code-tag-bg;
  color: $text-color;
  border: 1px solid darken($code-tag-bg, 15%);
  padding: 2px;
}

// Inline code
code {
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  white-space: nowrap;
}

// Blocks of code
pre {
  display: block;
  margin: 0 0 $line-height-base / 2;
  font-size: $font-size-base - 1; // 14px to 13px
  line-height: $line-height-base;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;

  // Make prettyprint styles more spaced out for readability
  &.prettyprint {
    margin-bottom: $line-height-base;
  }

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    color: inherit;
    white-space: pre;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0;
  }
}

