.gicon {
  line-height: 1;
  display: inline-block;
  width: 1.1057142857em;
  height: 1.1057142857em;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  display: inline-block;
  vertical-align: middle;
}

.gicon-alert {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_alert.svg');
}

.gicon-datasources {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_data_sources.svg');
}

.gicon-dashboard {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_dashboard.svg');
}

.gicon-dashboard-starred {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_dashboard_fav.svg');
}

.gicon-dashboard-new {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_new_dashboard.svg');
}

.gicon-folder-new {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_add_folder.svg');
}

.gicon-dashboard-import {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_import_dashboard.svg');
}

.gicon-add-panel {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_add_panel.svg');
}

.gicon-alert-notification-channel {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_notification_channels.svg');
}

.gicon-user-group {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_user_group.svg');
}

.gicon-org {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_org.svg');
}
