
<h5 class="section-heading text-center" ng-if="!ctrl.event.annotationId">Add Annotation</h5>
<h5 class="section-heading text-center" ng-if="ctrl.event.annotationId">Edit Annotation</h5>

<form name="ctrl.form" class="text-center">
  <div style="display: inline-block">
    <div class="gf-form">
      <span class="gf-form-label width-7">Title</span>
      <input type="text" ng-model="ctrl.event.title" class="gf-form-input max-width-20" required>
    </div>
    <!-- single event -->
    <!-- <div ng&#45;if="!ctrl.event.isRegion"> -->
    <!--   <div class="gf&#45;form"> -->
    <!--     <span class="gf&#45;form&#45;label width&#45;7">Time</span> -->
    <!--     <input type="text" ng&#45;model="ctrl.event.time" class="gf&#45;form&#45;input max&#45;width&#45;20" input&#45;datetime required ng&#45;change="ctrl.timeChanged()"> -->
    <!--   </div> -->
    <!-- </div> -->
    <!-- <!&#45;&#45; region event &#45;&#45;> -->
    <!-- <div ng&#45;if="ctrl.event.isRegion"> -->
    <!--   <div class="gf&#45;form"> -->
    <!--     <span class="gf&#45;form&#45;label width&#45;7">Start</span> -->
    <!--     <input type="text" ng&#45;model="ctrl.event.time" class="gf&#45;form&#45;input max&#45;width&#45;20" input&#45;datetime required ng&#45;change="ctrl.timeChanged()"> -->
    <!--   </div> -->
    <!--   <div class="gf&#45;form"> -->
    <!--     <span class="gf&#45;form&#45;label width&#45;7">End</span> -->
    <!--     <input type="text" ng&#45;model="ctrl.event.timeEnd" class="gf&#45;form&#45;input max&#45;width&#45;20" input&#45;datetime required ng&#45;change="ctrl.timeChanged()"> -->
    <!--   </div> -->
    <!-- </div> -->
    <div class="gf-form gf-form--v-stretch">
      <span class="gf-form-label width-7">Description</span>
      <textarea class="gf-form-input width-20" rows="3" ng-model="ctrl.event.text"  placeholder="Event description"></textarea>
    </div>

		<div class="gf-form">
      <span class="gf-form-label width-7">Tags</span>
      <bootstrap-tagsinput ng-model="ctrl.event.tags" tagclass="label label-tag" placeholder="add tags">
      </bootstrap-tagsinput>
    </div>

    <div class="gf-form-button-row">
      <button type="submit" class="btn gf-form-btn btn-success" ng-click="ctrl.save()">Save</button>
      <button ng-if="ctrl.event.annotationId" type="submit" class="btn gf-form-btn btn-danger" ng-click="ctrl.delete()">Delete</button>
      <a class="btn-text" ng-click="ctrl.close();">Cancel</a>
    </div>
  </div>
</form>
