<div class="tabbed-view-header">
	<h2 class="tabbed-view-title">
		Add Panel
	</h2>

	<input type="text" class="gf-form-input max-width-14 pull-left" ng-model='ctrl.panelSearch' give-focus='true' ng-keydown="ctrl.keyDown($event)" ng-change="ctrl.panelSearchChanged()" placeholder="panel search filter"></input>

	<button class="tabbed-view-close-btn" ng-click="ctrl.dismiss();">
		<i class="fa fa-remove"></i>
	</button>
</div>

<div class="tabbed-view-body tabbed-view-body--small">
	<div class="add-panel-panels-scroll">
    <div class="add-panel-panels">
      <div class="add-panel-item"
					ng-repeat="panel in ctrl.panelHits"
					ng-class="{active: $index === ctrl.activeIndex}"
					ng-click="ctrl.addPanel(panel)"
          title="{{panel.name}}">
        <img class="add-panel-item-img" ng-src="{{panel.info.logos.small}}"></img>
        <div class="add-panel-item-name">{{panel.name}}</div>
      </div>
    </div>
  </div>
</div>
