<div class="dash-row-options">
	<div class="gf-form section">
		<div class="gf-form-inline">
			<div class="gf-form">
				<span class="gf-form-label width-6">Row Title</span>
				<input type="text" class="gf-form-input max-width-14" ng-model='ctrl.row.title'></input>
			</div>
			<div class="gf-form">
				<label class="gf-form-label width-6">Size</label>
				<div class="gf-form-select-wrapper">
					<select class="input-small gf-form-input" ng-model="ctrl.row.titleSize" ng-options="f for f in ctrl.fontSizes"></select>
				</div>
			</div>
			<gf-form-switch class="gf-form" label="Show" checked="ctrl.row.showTitle">
			</gf-form-switch>
		</div>
		<div class="gf-form-inline">
			<div class="gf-form">
				<span class="gf-form-label width-6">Height</span>
				<input type="text" class="gf-form-input max-width-14" ng-model='ctrl.row.height'></input>
			</div>
		</div>
	</div>

	<div class="gf-form section">
		<div class="gf-form">
			<span class="gf-form-label">Repeat Row</span>
      <dash-repeat-option model="ctrl.row"></dash-repeat-option>
		</div>
	</div>

  <div class="clearfix"></div>

  <div class="pull-right">
    <button class="btn btn-danger btn-small" ng-click="ctrl.removeRow()">
      <i class="fa fa-trash"></i>
      Delete row
    </button>
  </div>

  <div class="clearfix"></div>

</div>

