<div class="dash-row-options">
	<div class="gf-form-group section">
		<!-- <h5 class="section&#45;heading">Options</h5> -->
		<div class="gf-form-inline">
			<div class="gf-form">
				<span class="gf-form-label width-6">Row Title</span>
				<input type="text" class="gf-form-input max-width-14" ng-model='ctrl.row.title'></input>
			</div>
			<div class="gf-form">
				<label class="gf-form-label width-6">Size</label>
				<div class="gf-form-select-wrapper">
					<select class="input-small gf-form-input" ng-model="ctrl.row.titleSize" ng-options="f for f in ctrl.fontSizes"></select>
				</div>
			</div>
			<gf-form-switch class="gf-form" label="Show" checked="ctrl.row.showTitle">
			</gf-form-switch>
		</div>
		<div class="gf-form-inline">
			<div class="gf-form">
				<span class="gf-form-label width-6">Height</span>
				<input type="text" class="gf-form-input max-width-14" ng-model='ctrl.row.height'></input>
			</div>
		</div>
	</div>

	<div class="gf-form-group section">
		<!-- <h5 class="section&#45;heading">Row Templating</h5> -->

		<div class="gf-form">
			<span class="gf-form-label">Repeat Row</span>
			<div class="gf-form-select-wrapper max-width-10">
				<select class="gf-form-input" ng-model="row.repeat" ng-options="f.name as f.name for f in dashboard.templating.list">
					<option value=""></option>
			</div>
		</div>
	</div>
</div>

