<div class="dash-row-handle-column" ng-show="ctrl.dashboard.editMode">
	<div class="dash-row-move-handle">
	</div>
	<div class="dash-row-resize-handle">
	</div>
</div>

<div class="dash-row-content">

	<div class="dash-row-header" ng-if="ctrl.dashboard.editMode">
    <div class="gf-form gf-form--grow">
      <input class="gf-form-input width-10" ng-model="ctrl.row.title"></input>

      <label class="btn gf-form-btn btn-inverse">
        Row Options <i class="fa fa-caret-down"></i>
      </label>

      <label class="btn gf-form-btn btn-inverse">
        Add Panel <i class="fa fa-plus"></i>
      </label>


    <!--   <div class="dash&#45;row&#45;header&#45;settings dropdown"> -->
		<!-- 	<a class="pointer dropdown&#45;toggle" data&#45;toggle="dropdown"> -->
		<!-- 		<i class="fa fa&#45;plus&#45;circle"></i> -->
		<!-- 	</a> -->
		<!-- 	<ul class="dropdown&#45;menu dropdown&#45;menu&#45;right" role="menu" aria&#45;labelledby="drop1"> -->
		<!-- 		<li class="dropdown&#45;submenu"> -->
		<!-- 			<a href="javascript:void(0);">Add Panel</a> -->
		<!-- 			<ul class="dropdown&#45;menu"> -->
		<!-- 				<li bindonce ng&#45;repeat="(key, value) in ctrl.panelPlugins"> -->
		<!-- 					<a ng&#45;click="ctrl.addPanelDefault(key)" bo&#45;text="value.name"></a> -->
		<!-- 				</li> -->
		<!-- 			</ul> -->
		<!-- 		</li> -->
		<!-- 		<li class="dropdown&#45;submenu"> -->
		<!-- 			<a href="javascript:void(0);">Set height</a> -->
		<!-- 			<ul class="dropdown&#45;menu"> -->
		<!-- 				<li><a ng&#45;click="setHeight('25px')">25 px</a></li> -->
		<!-- 				<li><a ng&#45;click="setHeight('100px')">100 px</a></li> -->
		<!-- 				<li><a ng&#45;click="setHeight('150px')">150 px</a></li> -->
		<!-- 				<li><a ng&#45;click="setHeight('200px')">200 px</a></li> -->
		<!-- 				<li><a ng&#45;click="setHeight('250px')">250 px</a></li> -->
		<!-- 				<li><a ng&#45;click="setHeight('300px')">300 px</a></li> -->
		<!-- 				<li><a ng&#45;click="setHeight('350px')">350 px</a></li> -->
		<!-- 				<li><a ng&#45;click="setHeight('450px')">450 px</a></li> -->
		<!-- 				<li><a ng&#45;click="setHeight('500px')">500 px</a></li> -->
		<!-- 				<li><a ng&#45;click="setHeight('600px')">600 px</a></li> -->
		<!-- 				<li><a ng&#45;click="setHeight('700px')">700 px</a></li> -->
		<!-- 			</ul> -->
		<!-- 		</li> -->
		<!-- 		<!&#45;&#45; <li class="dropdown&#38;#45;submenu"> &#45;&#45;> -->
		<!-- 		<!&#45;&#45; 	<a href="javascript:void(0);">Move</a> &#45;&#45;> -->
		<!-- 		<!&#45;&#45; 	<ul class="dropdown&#38;#45;menu"> &#45;&#45;> -->
		<!-- 		<!&#45;&#45; 		<li><a ng&#38;#45;click="moveRow('up')">Up</a></li> &#45;&#45;> -->
		<!-- 		<!&#45;&#45; 		<li><a ng&#38;#45;click="moveRow('down')">Down</a></li> &#45;&#45;> -->
		<!-- 		<!&#45;&#45; 		<li><a ng&#38;#45;click="moveRow('top')">To top</a></li> &#45;&#45;> -->
		<!-- 		<!&#45;&#45; 		<li><a ng&#38;#45;click="moveRow('bottom')">To Bottom</a></li> &#45;&#45;> -->
		<!-- 		<!&#45;&#45; 	</ul> &#45;&#45;> -->
		<!-- 		<!&#45;&#45; </li> &#45;&#45;> -->
		<!-- 		<li> -->
		<!-- 			<a ng&#45;click="ctrl.editRow()">Row options</a> -->
		<!-- 		</li> -->
		<!-- 		<li> -->
		<!-- 			<a ng&#45;click="ctrl.deleteRow()">Delete row</a> -->
		<!-- 		</li> -->
		<!-- 	</ul> -->
		<!-- </div> -->
		<div class="gf-form-label gf-form-label--grow text-right" ng-click="ctrl.row.collapse = !ctrl.row.collapse">
			<a class="pointer">
				<i class="fa fa-chevron-down" ng-show="!ctrl.row.collapse"></i>
				<i class="fa fa-chevron-right" ng-show="ctrl.row.collapse"></i>
			</a>
		</div>
	</div>
  </div>

	<div class="panels-wrapper" ng-if="!ctrl.row.collapse">
		<div ng-repeat="panel in ctrl.row.panels track by panel.id" class="panel" ui-draggable="!ctrl.dashboard.meta.fullscreen" drag="panel.id" ui-on-drop="ctrl.onDrop($data, panel)" drag-handle-class="drag-handle" panel-width ui-on-drag-enter="ctrl.onDragEnter($data)">
			<plugin-component type="panel" class="panel-margin">
			</plugin-component>
		</div>

		<div panel-drop-zone class="panel panel-drop-zone" ui-on-drop="ctrl.onDrop($data)" data-drop="true">
			<div class="panel-container" style="background: transparent">
				<div style="text-align: center">
					<em>Drop here</em>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>
	</div>
</div>

