html {
  font-size: 14px;
  height: 100%;
}

body {
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.5714285714285714;
  height: 100%;
  width: 100%;
  margin: 0;
}

body.theme-dark {
  background-color: #111217;
  color: rgb(204, 204, 220);
}

body.theme-light {
  background-color: #fbfbfb;
  color: rgba(36, 41, 46, 1);
}
