<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-cog fa-spin"></i>
			<span class="p-l-1">{{model.name}}</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content">
    <div ng-if="activeStep">

    </div>

		<!-- <table class="filter&#45;table"> -->
		<!-- 	<tbody> -->
		<!-- 		<tr ng&#45;repeat="step in model.steps"> -->
		<!-- 			<td>{{step.name}}</td> -->
		<!-- 			<td>{{step.status}}</td> -->
		<!-- 			<td width="1%"> -->
		<!-- 				<i class="fa fa&#45;check" style="color: #39A039"></i> -->
		<!-- 			</td> -->
		<!-- 		</tr> -->
		<!-- 	</tbody> -->
		<!-- </table> -->
	</div>

</div>

