
<div class="editor-row">
	<div class="section" style="margin-bottom: 20px">
		<div class="tight-form">
			<ul class="tight-form-list">
				<li class="tight-form-item" style="width: 110px">
					<strong>Mode</strong>
				</li>
				<li>
					<select class="input-small tight-form-input" ng-model="panel.mode" ng-options="f for f in modes" ng-change="get_data()"></select>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="section" style="margin-bottom: 20px" ng-if="panel.mode === 'search'">
		<div class="tight-form">
			<ul class="tight-form-list">
				<li class="tight-form-item" style="width: 110px">
					<strong>Search options</strong>
				</li>
				<li class="tight-form-item">
					Query
				</li>
				<li>
					<input type="text" class="input-medium tight-form-input" placeholder="title query"
					ng-model="panel.query" ng-change="get_data()" ng-model-onblur>
				</li>
				<li class="tight-form-item">
					Tags
				</li>
				<li>
					<bootstrap-tagsinput ng-model="panel.tags" tagclass="label label-tag" placeholder="add tags" on-tags-updated="get_data()">
					</bootstrap-tagsinput>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

<div class="editor-row">
	<div class="section" style="margin-bottom: 20px">
		<div class="tight-form">
			<ul class="tight-form-list">
				<li class="tight-form-item" style="width: 110px">
					<strong>Limit number to</strong>
				</li>
				<li>
					<input class="input-small tight-form-input" type="number" ng-model="panel.limit" ng-model-onblur ng-change="get_data()">
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

