<grafana-panel>
	<div class="dashlist">
	<div class="dashlist-item" ng-repeat="dash in dashList">
		<a class="dashlist-link dashlist-link-{{dash.type}}" href="dashboard/{{dash.uri}}">
			<span class="dashlist-title">
				{{dash.title}}
			</span>
      <span class="dashlist-star">
        <i class="fa" ng-class="{'fa-star': dash.isStarred, 'fa-star-o': !dash.isStarred}"></i>
      </span>
      <span ng-if="dash.health" class="btn {{dash.healthStyle}} btn-small disabled" style="float: right;margin-right: 10px;">
        健康指数:{{dash.health}}
      </span>
      <span ng-if="dash.numAlerts > -1" class="btn {{dash.alertStyle}} btn-small disabled" style="float: right;margin-right: 10px;">
        报警个数:{{dash.numAlerts}}
      </span>

		</a>

	</div>
</grafana-panel>
