.thresholds-row {
  display: flex;
  flex-direction: row;
  height: 70px;
}

.thresholds-row:last-child > .thresholds-row-color-indicator {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  overflow: hidden;
}

.thresholds-row-add-button {
  align-self: center;
  margin-right: 5px;
  color: $green;
}

.thresholds-row-add-button > i {
  cursor: pointer;
}

.thresholds-row-color-indicator {
  width: 20px;
}

.thresholds-row-input {
  margin-top: 51px;
  margin-left: 2px;
}

.thresholds-row-input-inner {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 37px;
}

.thresholds-row-input-inner > div:last-child {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.thresholds-row-input-inner-arrow {
  align-self: center;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid $gray-5;
}

.thresholds-row-input-inner-value {
  border: 1px solid $input-label-border-color;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  padding: 8px 10px;
  width: 150px;
}

.thresholds-row-input-inner-color {
  width: 37px;
  border-top: 1px solid $input-label-border-color;
  border-bottom: 1px solid $input-label-border-color;
  border-right: 1px solid $input-label-border-color;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $input-bg;
}

.thresholds-row-input-inner-color-colorpicker {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.thresholds-row-input-inner-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
  width: 37px;
  background-color: $gray-5;
  border-top: 1px solid $input-label-border-color;
  border-bottom: 1px solid $input-label-border-color;
  border-right: 1px solid $input-label-border-color;
  cursor: pointer;
}
