<div class="submenu-controls gf-form-query">
	<ul ng-if="ctrl.dashboard.templating.list.length > 0">
		<li ng-repeat="variable in ctrl.variables" ng-hide="variable.hide === 2" class="submenu-item gf-form-inline">
			<div class="gf-form">
				<label class="gf-form-label template-variable" ng-hide="variable.hide === 1">
					{{variable.label || variable.name}}:
				</label>
				<value-select-dropdown ng-if="variable.type !== 'adhoc'" variable="variable" on-updated="ctrl.variableUpdated(variable)" get-values-for-tag="ctrl.getValuesForTag(variable, tagKey)"></value-select-dropdown>
			</div>
			<ad-hoc-filters ng-if="variable.type === 'adhoc'" variable="variable"></ad-hoc-filters>
		</li>
	</ul>

	<ul ng-if="ctrl.dashboard.annotations.list.length > 0">
		<li ng-repeat="annotation in ctrl.dashboard.annotations.list" class="submenu-item annotation-segment" ng-class="{'annotation-disabled': !annotation.enable}">
			<a ng-click="ctrl.disableAnnotation(annotation)">
				<i class="fa fa-bolt" style="color:{{annotation.iconColor}}"></i>
				{{annotation.name}}
				<input class="cr1" id="hideYAxis" type="checkbox" ng-model="annotation.enable" ng-checked="annotation.enable">
				<label for="hideYAxis" class="cr1"></label>
			</a>
		</li>
	</ul>

	<ul class="pull-right" ng-if="ctrl.dashboard.links.length > 0">
		<dash-links-container links="ctrl.dashboard.links"></dash-links-container>
	</ul>

	<div class="clearfix"></div>
</div>
