{
  "apiVersion": "provisioning.grafana.app/v0alpha1",
      "kind": "Repository",
      "metadata": {
          "name": "{{ .Name }}"
      },
      "spec": {
          "description": "Test",
          "local": {
              "path": "{{ .h.ProvisioningPath }}"
          },
          "sync": {
              "enabled": false,
              "target": "",
              "intervalSeconds": 60
          },
          "title": "ExportToUnifiedRepository test repository",
          "type": "local",
          "workflows": ["write"]
      }
}
