<topnav title="运维轮班" icon="fa fa-fw fa-phone" subnav="true">
  <ul class="nav">
    <li><a href="oncallerschedule">值班表</a></li>
    <li class="active"><a href="oncallers">值班人员</a></li>
  </ul>
</topnav>


<div class="page-container">
  <div class="page">
    <h2 ng-show="isNew">新增人员</h2>
    <h2 ng-show="!isNew">编辑人员信息</h2>

    <form name="oncallerForm">
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">姓名</li>
          <li><input type="text" class="input-xxlarge tight-form-input last"
                         ng-model="oncallerDef.name" placeholder="通知运维人员名称" required>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">邮箱</li>
          <li><input type="text" class="input-xxlarge tight-form-input last"
                         ng-model="oncallerDef.email" placeholder="发送告警通知到运维人员邮箱" required>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">电话</li>
          <li><input type="text" class="input-xxlarge tight-form-input last"
                     ng-model="oncallerDef.tel" placeholder="发送告警通知到运维人员手机" required>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">载体</li>
          <select type="text" class="input-xxlarge tight-form-input last"
                     ng-options="f for f in ['att', 'tmobile', 'verizon', 'sprint', 'cricket', 'metro pcs', '中国移动', '中国联通', '中国电信']"
                     ng-model="oncallerDef.carrier" placeholder="carrier" required>
          </select>
        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- todo: remove org parameter. Use token to retrieve org name in alert-daemon instead -->
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">公司名称</li>
          <li class="tight-form-item" style="width: 150px">{{orgName}}<li>
        </li></li>
        </ul>
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">服务名称</li>
          <li class="tight-form-item" style="width: 150px">{{serviceName}}<li>
        </li></li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <br>
      <div class="pull-right" style="margin-top: 35px">
        <button type="submit" class="btn btn-success" ng-show="isNew" ng-click="saveChanges()">新增</button>
        <button type="submit" class="btn btn-success" ng-show="!isNew" ng-click="saveChanges()">保存</button>
        <a class="btn btn-inverse" href="oncallers">取消</a>
      </div>
      <br>
    </form>
  </div>
</div>
