<navbar title="运维轮班" icon="fa fa-fw fa-phone" subnav="true">
  <ul class="nav">
    <li><a href="oncallerschedule">值班表</a></li>
    <li class="active"><a href="oncallers">值班人员</a></li>
  </ul>
</navbar>

<div class="page-container">
  <div class="page">
    <h2>值班人员</h2>

    <div ng-if="oncallerDefList.length === 0">
      <em>您还没有添加任何值班人员,请</em>
      <a href="oncallers/new" style="color: blue">
        添加
      </a>
    </div>

    <table class="grafana-options-table" ng-if="oncallerDefList.length > 0">
      <tr>
        <td><strong>运维人员</strong></td>
        <td><strong>电话</strong></td>
        <td><strong>邮箱</strong></td>
        <td><strong>组织</strong></td>
        <td><strong>服务名称</strong></td>
        <td>
          <a href="oncallers/new" class="btn btn-inverse btn-mini">
            <i class="fa fa-plus-square-o"></i>
            添加
          </a>
        </td>
        <td></td>
      </tr>
      <tr ng-repeat="oncallerDef in oncallerDefList">
        <td style="width:10%">
          <i class="fa fa-phone"></i> &nbsp;
          {{oncallerDef.name}}
        </td>
        <td style="width:30%">
          {{oncallerDef.tel}}
        </td>
        <td style="width:30%">
          {{oncallerDef.email}}
        </td>
        <td style="width:10%">
          {{orgName}}
        </td>
        <td style="width:50%">
          {{getSystemName(oncallerDef.service)}}
        </td>
        <td style="width: 1%">
          <a href="oncallers/edit/{{oncallerDef.id}}" class="btn btn-inverse btn-mini">
            <i class="fa fa-edit"></i>
            编辑
          </a>
        </td>
        <td style="width: 1%">
          <a ng-click="remove(oncallerDef.org, oncallerDef.service, oncallerDef.id)" class="btn btn-danger btn-mini">
            <i class="fa fa-remove"></i>
          </a>
        </td>
      </tr>
    </table>

  </div>
</div>

