<div class="editor-row" style="margin-top: 10px;">

	<div  ng-repeat="target in panel.targets"
        class="grafana-target"
        ng-class="{'grafana-target-hidden': target.hide}"
        ng-controller="GraphiteTargetCtrl"
        ng-init="init()">

    <div class="grafana-target-inner">
      <ul class="grafana-target-controls">
        <li ng-show="parserError">
          <a bs-tooltip="parserError" style="color: rgb(229, 189, 28)" role="menuitem">
            <i class="icon icon-warning-sign"></i>
          </a>
        </li>
        <li>
          <a class="pointer" tabindex="1" ng-click="showTextEditor = !showTextEditor">
            <i class="icon icon-pencil"></i>
          </a>
        </li>
        <li class="dropdown">
          <a  class="pointer dropdown-toggle"
              data-toggle="dropdown"
              tabindex="1">
            <i class="icon icon-cog"></i>
          </a>
          <ul class="dropdown-menu pull-right" role="menu">
            <li role="menuitem">
              <a  tabindex="1"
                  ng-click="duplicate()">
                Duplicate
              </a>
            </li>
            <li role="menuitem">
              <a  tabindex="1"
                  ng-click="toggleMetricOptions()">
                Toggle request options
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a class="pointer" tabindex="1" ng-click="removeDataQuery(target)">
            <i class="icon icon-remove"></i>
          </a>
        </li>
      </ul>

      <ul class="grafana-target-controls-left">
				<li class="grafana-target-segment" style="min-width: 15px; text-align: center">
					{{targetLetter}}
        </li>
        <li>
          <a  class="grafana-target-segment"
              ng-click="target.hide = !target.hide; get_data();"
              role="menuitem">
            <i class="icon-eye-open"></i>
          </a>
        </li>
      </ul>

      <input  type="text"
              class="grafana-target-text-input span10"
              ng-model="target.target"
              focus-me="showTextEditor"
              spellcheck='false'
              ng-model-onblur ng-change="targetTextChanged()"
              ng-show="showTextEditor" />

      <ul class="grafana-segment-list" role="menu" ng-hide="showTextEditor">
        <li ng-repeat="segment in segments" role="menuitem" graphite-segment></li>
				<li ng-repeat="func in functions">
          <span graphite-func-editor class="grafana-target-segment grafana-target-function">
          </span>
        </li>
        <li class="dropdown" graphite-add-func>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>

	<div class="grafana-target grafana-metric-options" ng-if="panel.metricOptionsEnabled">
		<div class="grafana-target-inner">
			<ul class="grafana-segment-list">
				<li class="grafana-target-segment">
					cacheTimeout <tip>Graphite parameter to overwride memcache default timeout (unit is seconds)</tip>
				</li>
				<li>
					<input type="text"
								class="input-large grafana-target-segment-input"
								ng-model="panel.cacheTimeout"
								spellcheck='false'
								placeholder="60">
				</li>
			</ul>
      <div class="clearfix"></div>
		</div>
	</div>

</div>


