// NOTE:
// This file is copied from:
// https://github.com/leeoniya/uPlot/blob/master/src/uPlot.css
// and then run through an online converter

.uplot {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.5;
  width: max-content;
  * {
    box-sizing: border-box;
    &::before {
      box-sizing: border-box;
    }
    &::after {
      box-sizing: border-box;
    }
  }
  .title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  .wrap {
    position: relative;
    user-select: none;
  }
  .over {
    position: absolute;
    overflow: hidden;
  }
  .under {
    position: absolute;
    overflow: hidden;
  }
  canvas {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .select {
    background: rgba(0, 0, 0, 0.07);
    position: absolute;
    pointer-events: none;
  }
  .select.off {
    display: none;
  }
  .cursor-x {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
    z-index: 100;
    height: 100%;
    border-right: 1px dashed #607d8b;
  }
  .cursor-y {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
    z-index: 100;
    width: 100%;
    border-bottom: 1px dashed #607d8b;
  }
  .cursor-pt {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    filter: brightness(85%);
    pointer-events: none;
    will-change: transform;
    z-index: 100;
  }
}
