// importing the uPlot css so it will be bundled with the rest of the styling.
@import 'uplot/dist/uPlot.min.css';

.uplot {
  font-family: inherit;
}

.u-select {
  background: rgba(120, 120, 130, 0.2);
}

.u-hz .u-cursor-x,
.u-vt .u-cursor-y {
  border-right: 1px dashed rgba(120, 120, 130, 0.5);
}

.u-hz .u-cursor-y,
.u-vt .u-cursor-x {
  border-bottom: 1px dashed rgba(120, 120, 130, 0.5);
}

.shared-crosshair:not(.plot-active) .u-cursor-pt {
  display: none !important;
}
