{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-12-10",
    "endpointPrefix":"servicecatalog",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceFullName":"AWS Service Catalog",
    "signatureVersion":"v4",
    "targetPrefix":"AWS242ServiceCatalogService"
  },
  "operations":{
    "DescribeProduct":{
      "name":"DescribeProduct",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeProductInput"},
      "output":{"shape":"DescribeProductOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ]
    },
    "DescribeProductView":{
      "name":"DescribeProductView",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeProductViewInput"},
      "output":{"shape":"DescribeProductViewOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ]
    },
    "DescribeProvisioningParameters":{
      "name":"DescribeProvisioningParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeProvisioningParametersInput"},
      "output":{"shape":"DescribeProvisioningParametersOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DescribeRecord":{
      "name":"DescribeRecord",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRecordInput"},
      "output":{"shape":"DescribeRecordOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListLaunchPaths":{
      "name":"ListLaunchPaths",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLaunchPathsInput"},
      "output":{"shape":"ListLaunchPathsOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListRecordHistory":{
      "name":"ListRecordHistory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRecordHistoryInput"},
      "output":{"shape":"ListRecordHistoryOutput"},
      "errors":[
        {"shape":"InvalidParametersException"}
      ]
    },
    "ProvisionProduct":{
      "name":"ProvisionProduct",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ProvisionProductInput"},
      "output":{"shape":"ProvisionProductOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DuplicateResourceException"}
      ]
    },
    "ScanProvisionedProducts":{
      "name":"ScanProvisionedProducts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ScanProvisionedProductsInput"},
      "output":{"shape":"ScanProvisionedProductsOutput"},
      "errors":[
        {"shape":"InvalidParametersException"}
      ]
    },
    "SearchProducts":{
      "name":"SearchProducts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SearchProductsInput"},
      "output":{"shape":"SearchProductsOutput"},
      "errors":[
        {"shape":"InvalidParametersException"}
      ]
    },
    "TerminateProvisionedProduct":{
      "name":"TerminateProvisionedProduct",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TerminateProvisionedProductInput"},
      "output":{"shape":"TerminateProvisionedProductOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "UpdateProvisionedProduct":{
      "name":"UpdateProvisionedProduct",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateProvisionedProductInput"},
      "output":{"shape":"UpdateProvisionedProductOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"}
      ]
    }
  },
  "shapes":{
    "AcceptLanguage":{"type":"string"},
    "AllowedValue":{"type":"string"},
    "AllowedValues":{
      "type":"list",
      "member":{"shape":"AllowedValue"}
    },
    "ApproximateCount":{"type":"integer"},
    "AttributeValue":{"type":"string"},
    "ConstraintDescription":{"type":"string"},
    "ConstraintSummaries":{
      "type":"list",
      "member":{"shape":"ConstraintSummary"}
    },
    "ConstraintSummary":{
      "type":"structure",
      "members":{
        "Type":{"shape":"ConstraintType"},
        "Description":{"shape":"ConstraintDescription"}
      }
    },
    "ConstraintType":{"type":"string"},
    "CreatedTime":{"type":"timestamp"},
    "DefaultValue":{"type":"string"},
    "DescribeProductInput":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "AcceptLanguage":{"shape":"AcceptLanguage"},
        "Id":{"shape":"Id"}
      }
    },
    "DescribeProductOutput":{
      "type":"structure",
      "members":{
        "ProductViewSummary":{"shape":"ProductViewSummary"},
        "ProvisioningArtifacts":{"shape":"ProvisioningArtifacts"}
      }
    },
    "DescribeProductViewInput":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "AcceptLanguage":{"shape":"AcceptLanguage"},
        "Id":{"shape":"Id"}
      }
    },
    "DescribeProductViewOutput":{
      "type":"structure",
      "members":{
        "ProductViewSummary":{"shape":"ProductViewSummary"},
        "ProvisioningArtifacts":{"shape":"ProvisioningArtifacts"}
      }
    },
    "DescribeProvisioningParametersInput":{
      "type":"structure",
      "required":[
        "ProductId",
        "ProvisioningArtifactId"
      ],
      "members":{
        "AcceptLanguage":{"shape":"AcceptLanguage"},
        "ProductId":{"shape":"Id"},
        "ProvisioningArtifactId":{"shape":"Id"},
        "PathId":{"shape":"Id"}
      }
    },
    "DescribeProvisioningParametersOutput":{
      "type":"structure",
      "members":{
        "ProvisioningArtifactParameters":{"shape":"ProvisioningArtifactParameters"},
        "ConstraintSummaries":{"shape":"ConstraintSummaries"},
        "UsageInstructions":{"shape":"UsageInstructions"}
      }
    },
    "DescribeRecordInput":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "AcceptLanguage":{"shape":"AcceptLanguage"},
        "Id":{"shape":"Id"},
        "PageToken":{"shape":"PageToken"},
        "PageSize":{"shape":"PageSize"}
      }
    },
    "DescribeRecordOutput":{
      "type":"structure",
      "members":{
        "RecordDetail":{"shape":"RecordDetail"},
        "RecordOutputs":{"shape":"RecordOutputs"},
        "NextPageToken":{"shape":"PageToken"}
      }
    },
    "Description":{"type":"string"},
    "DuplicateResourceException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ErrorCode":{"type":"string"},
    "ErrorDescription":{"type":"string"},
    "HasDefaultPath":{"type":"boolean"},
    "Id":{"type":"string"},
    "IdempotencyToken":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9][a-zA-Z0-9_-]*"
    },
    "IgnoreErrors":{"type":"boolean"},
    "InstructionType":{"type":"string"},
    "InstructionValue":{"type":"string"},
    "InvalidParametersException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "LastRequestId":{"type":"string"},
    "LaunchPathSummaries":{
      "type":"list",
      "member":{"shape":"LaunchPathSummary"}
    },
    "LaunchPathSummary":{
      "type":"structure",
      "members":{
        "Id":{"shape":"Id"},
        "ConstraintSummaries":{"shape":"ConstraintSummaries"},
        "Tags":{"shape":"Tags"},
        "Name":{"shape":"PortfolioName"}
      }
    },
    "ListLaunchPathsInput":{
      "type":"structure",
      "required":["ProductId"],
      "members":{
        "AcceptLanguage":{"shape":"AcceptLanguage"},
        "ProductId":{"shape":"Id"},
        "PageSize":{"shape":"PageSize"},
        "PageToken":{"shape":"PageToken"}
      }
    },
    "ListLaunchPathsOutput":{
      "type":"structure",
      "members":{
        "LaunchPathSummaries":{"shape":"LaunchPathSummaries"},
        "NextPageToken":{"shape":"PageToken"}
      }
    },
    "ListRecordHistoryInput":{
      "type":"structure",
      "members":{
        "AcceptLanguage":{"shape":"AcceptLanguage"},
        "SearchFilter":{"shape":"ListRecordHistorySearchFilter"},
        "PageSize":{"shape":"PageSize"},
        "PageToken":{"shape":"PageToken"}
      }
    },
    "ListRecordHistoryOutput":{
      "type":"structure",
      "members":{
        "RecordDetails":{"shape":"RecordDetails"},
        "NextPageToken":{"shape":"PageToken"}
      }
    },
    "ListRecordHistorySearchFilter":{
      "type":"structure",
      "members":{
        "Key":{"shape":"SearchFilterKey"},
        "Value":{"shape":"SearchFilterValue"}
      }
    },
    "NoEcho":{"type":"boolean"},
    "NotificationArn":{
      "type":"string",
      "max":1224,
      "min":1,
      "pattern":"arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}"
    },
    "NotificationArns":{
      "type":"list",
      "member":{"shape":"NotificationArn"},
      "max":5
    },
    "OutputKey":{"type":"string"},
    "OutputValue":{"type":"string"},
    "PageSize":{
      "type":"integer",
      "max":20,
      "min":0
    },
    "PageToken":{
      "type":"string",
      "pattern":"[\\u0009\\u000a\\u000d\\u0020-\\uD7FF\\uE000-\\uFFFD]*"
    },
    "ParameterConstraints":{
      "type":"structure",
      "members":{
        "AllowedValues":{"shape":"AllowedValues"}
      }
    },
    "ParameterKey":{"type":"string"},
    "ParameterType":{"type":"string"},
    "ParameterValue":{"type":"string"},
    "PortfolioName":{"type":"string"},
    "ProductType":{"type":"string"},
    "ProductViewAggregationType":{"type":"string"},
    "ProductViewAggregationValue":{
      "type":"structure",
      "members":{
        "Value":{"shape":"AttributeValue"},
        "ApproximateCount":{"shape":"ApproximateCount"}
      }
    },
    "ProductViewAggregationValues":{
      "type":"list",
      "member":{"shape":"ProductViewAggregationValue"}
    },
    "ProductViewAggregations":{
      "type":"map",
      "key":{"shape":"ProductViewAggregationType"},
      "value":{"shape":"ProductViewAggregationValues"}
    },
    "ProductViewDistributor":{"type":"string"},
    "ProductViewFilterBy":{
      "type":"string",
      "enum":[
        "FullTextSearch",
        "Owner",
        "ProductType"
      ]
    },
    "ProductViewFilterValue":{"type":"string"},
    "ProductViewFilterValues":{
      "type":"list",
      "member":{"shape":"ProductViewFilterValue"}
    },
    "ProductViewFilters":{
      "type":"map",
      "key":{"shape":"ProductViewFilterBy"},
      "value":{"shape":"ProductViewFilterValues"}
    },
    "ProductViewName":{"type":"string"},
    "ProductViewOwner":{"type":"string"},
    "ProductViewShortDescription":{"type":"string"},
    "ProductViewSortBy":{
      "type":"string",
      "enum":[
        "Title",
        "VersionCount",
        "CreationDate"
      ]
    },
    "ProductViewSummaries":{
      "type":"list",
      "member":{"shape":"ProductViewSummary"}
    },
    "ProductViewSummary":{
      "type":"structure",
      "members":{
        "Id":{"shape":"Id"},
        "ProductId":{"shape":"Id"},
        "Name":{"shape":"ProductViewName"},
        "Owner":{"shape":"ProductViewOwner"},
        "ShortDescription":{"shape":"ProductViewShortDescription"},
        "Type":{"shape":"ProductType"},
        "Distributor":{"shape":"ProductViewDistributor"},
        "HasDefaultPath":{"shape":"HasDefaultPath"},
        "SupportEmail":{"shape":"SupportEmail"},
        "SupportDescription":{"shape":"SupportDescription"},
        "SupportUrl":{"shape":"SupportUrl"}
      }
    },
    "ProvisionProductInput":{
      "type":"structure",
      "required":[
        "ProductId",
        "ProvisioningArtifactId",
        "ProvisionedProductName",
        "ProvisionToken"
      ],
      "members":{
        "AcceptLanguage":{"shape":"AcceptLanguage"},
        "ProductId":{"shape":"Id"},
        "ProvisioningArtifactId":{"shape":"Id"},
        "PathId":{"shape":"Id"},
        "ProvisionedProductName":{"shape":"ProvisionedProductName"},
        "ProvisioningParameters":{"shape":"ProvisioningParameters"},
        "Tags":{"shape":"Tags"},
        "NotificationArns":{"shape":"NotificationArns"},
        "ProvisionToken":{
          "shape":"IdempotencyToken",
          "idempotencyToken":true
        }
      }
    },
    "ProvisionProductOutput":{
      "type":"structure",
      "members":{
        "RecordDetail":{"shape":"RecordDetail"}
      }
    },
    "ProvisionedProductDetail":{
      "type":"structure",
      "members":{
        "Name":{"shape":"ProvisionedProductNameOrArn"},
        "Arn":{"shape":"ProvisionedProductNameOrArn"},
        "Type":{"shape":"ProvisionedProductType"},
        "Id":{"shape":"ProvisionedProductId"},
        "Status":{"shape":"RecordStatus"},
        "StatusMessage":{"shape":"ProvisionedProductStatusMessage"},
        "CreatedTime":{"shape":"CreatedTime"},
        "IdempotencyToken":{"shape":"IdempotencyToken"},
        "LastRecordId":{"shape":"LastRequestId"}
      }
    },
    "ProvisionedProductDetails":{
      "type":"list",
      "member":{"shape":"ProvisionedProductDetail"}
    },
    "ProvisionedProductId":{"type":"string"},
    "ProvisionedProductName":{"type":"string"},
    "ProvisionedProductNameOrArn":{
      "type":"string",
      "max":1224,
      "min":1,
      "pattern":"[a-zA-Z0-9][a-zA-Z0-9_-]{0,127}|arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}"
    },
    "ProvisionedProductStatusMessage":{"type":"string"},
    "ProvisionedProductType":{"type":"string"},
    "ProvisioningArtifact":{
      "type":"structure",
      "members":{
        "Id":{"shape":"Id"},
        "Name":{"shape":"ProvisioningArtifactName"},
        "Description":{"shape":"ProvisioningArtifactDescription"},
        "CreatedTime":{"shape":"ProvisioningArtifactCreatedTime"}
      }
    },
    "ProvisioningArtifactCreatedTime":{"type":"timestamp"},
    "ProvisioningArtifactDescription":{"type":"string"},
    "ProvisioningArtifactName":{"type":"string"},
    "ProvisioningArtifactParameter":{
      "type":"structure",
      "members":{
        "ParameterKey":{"shape":"ParameterKey"},
        "DefaultValue":{"shape":"DefaultValue"},
        "ParameterType":{"shape":"ParameterType"},
        "IsNoEcho":{"shape":"NoEcho"},
        "Description":{"shape":"Description"},
        "ParameterConstraints":{"shape":"ParameterConstraints"}
      }
    },
    "ProvisioningArtifactParameters":{
      "type":"list",
      "member":{"shape":"ProvisioningArtifactParameter"}
    },
    "ProvisioningArtifacts":{
      "type":"list",
      "member":{"shape":"ProvisioningArtifact"}
    },
    "ProvisioningParameter":{
      "type":"structure",
      "members":{
        "Key":{"shape":"ParameterKey"},
        "Value":{"shape":"ParameterValue"}
      }
    },
    "ProvisioningParameters":{
      "type":"list",
      "member":{"shape":"ProvisioningParameter"}
    },
    "RecordDetail":{
      "type":"structure",
      "members":{
        "RecordId":{"shape":"Id"},
        "ProvisionedProductName":{"shape":"ProvisionedProductName"},
        "Status":{"shape":"RecordStatus"},
        "CreatedTime":{"shape":"CreatedTime"},
        "UpdatedTime":{"shape":"UpdatedTime"},
        "ProvisionedProductType":{"shape":"ProvisionedProductType"},
        "RecordType":{"shape":"RecordType"},
        "ProvisionedProductId":{"shape":"Id"},
        "ProductId":{"shape":"Id"},
        "ProvisioningArtifactId":{"shape":"Id"},
        "PathId":{"shape":"Id"},
        "RecordErrors":{"shape":"RecordErrors"},
        "RecordTags":{"shape":"RecordTags"}
      }
    },
    "RecordDetails":{
      "type":"list",
      "member":{"shape":"RecordDetail"}
    },
    "RecordError":{
      "type":"structure",
      "members":{
        "Code":{"shape":"ErrorCode"},
        "Description":{"shape":"ErrorDescription"}
      }
    },
    "RecordErrors":{
      "type":"list",
      "member":{"shape":"RecordError"}
    },
    "RecordOutput":{
      "type":"structure",
      "members":{
        "OutputKey":{"shape":"OutputKey"},
        "OutputValue":{"shape":"OutputValue"},
        "Description":{"shape":"Description"}
      }
    },
    "RecordOutputs":{
      "type":"list",
      "member":{"shape":"RecordOutput"}
    },
    "RecordStatus":{
      "type":"string",
      "enum":[
        "IN_PROGRESS",
        "SUCCEEDED",
        "ERROR"
      ]
    },
    "RecordTag":{
      "type":"structure",
      "members":{
        "Key":{"shape":"RecordTagKey"},
        "Value":{"shape":"RecordTagValue"}
      }
    },
    "RecordTagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
    },
    "RecordTagValue":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
    },
    "RecordTags":{
      "type":"list",
      "member":{"shape":"RecordTag"},
      "max":10
    },
    "RecordType":{"type":"string"},
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ScanProvisionedProductsInput":{
      "type":"structure",
      "members":{
        "AcceptLanguage":{"shape":"AcceptLanguage"},
        "PageSize":{"shape":"PageSize"},
        "PageToken":{"shape":"PageToken"}
      }
    },
    "ScanProvisionedProductsOutput":{
      "type":"structure",
      "members":{
        "ProvisionedProducts":{"shape":"ProvisionedProductDetails"},
        "NextPageToken":{"shape":"PageToken"}
      }
    },
    "SearchFilterKey":{"type":"string"},
    "SearchFilterValue":{"type":"string"},
    "SearchProductsInput":{
      "type":"structure",
      "members":{
        "AcceptLanguage":{"shape":"AcceptLanguage"},
        "Filters":{"shape":"ProductViewFilters"},
        "PageSize":{"shape":"PageSize"},
        "SortBy":{"shape":"ProductViewSortBy"},
        "SortOrder":{"shape":"SortOrder"},
        "PageToken":{"shape":"PageToken"}
      }
    },
    "SearchProductsOutput":{
      "type":"structure",
      "members":{
        "ProductViewSummaries":{"shape":"ProductViewSummaries"},
        "ProductViewAggregations":{"shape":"ProductViewAggregations"},
        "NextPageToken":{"shape":"PageToken"}
      }
    },
    "SortOrder":{
      "type":"string",
      "enum":[
        "ASCENDING",
        "DESCENDING"
      ]
    },
    "SupportDescription":{"type":"string"},
    "SupportEmail":{"type":"string"},
    "SupportUrl":{"type":"string"},
    "Tag":{
      "type":"structure",
      "members":{
        "Key":{"shape":"TagKey"},
        "Value":{"shape":"TagValue"}
      }
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
    },
    "Tags":{
      "type":"list",
      "member":{"shape":"Tag"},
      "max":10
    },
    "TerminateProvisionedProductInput":{
      "type":"structure",
      "required":["TerminateToken"],
      "members":{
        "ProvisionedProductName":{"shape":"ProvisionedProductNameOrArn"},
        "ProvisionedProductId":{"shape":"Id"},
        "TerminateToken":{
          "shape":"IdempotencyToken",
          "idempotencyToken":true
        },
        "IgnoreErrors":{"shape":"IgnoreErrors"},
        "AcceptLanguage":{"shape":"AcceptLanguage"}
      }
    },
    "TerminateProvisionedProductOutput":{
      "type":"structure",
      "members":{
        "RecordDetail":{"shape":"RecordDetail"}
      }
    },
    "UpdateProvisionedProductInput":{
      "type":"structure",
      "required":["UpdateToken"],
      "members":{
        "AcceptLanguage":{"shape":"AcceptLanguage"},
        "ProvisionedProductName":{"shape":"ProvisionedProductNameOrArn"},
        "ProvisionedProductId":{"shape":"Id"},
        "ProductId":{"shape":"Id"},
        "ProvisioningArtifactId":{"shape":"Id"},
        "PathId":{"shape":"Id"},
        "ProvisioningParameters":{"shape":"UpdateProvisioningParameters"},
        "UpdateToken":{
          "shape":"IdempotencyToken",
          "idempotencyToken":true
        }
      }
    },
    "UpdateProvisionedProductOutput":{
      "type":"structure",
      "members":{
        "RecordDetail":{"shape":"RecordDetail"}
      }
    },
    "UpdateProvisioningParameter":{
      "type":"structure",
      "members":{
        "Key":{"shape":"ParameterKey"},
        "Value":{"shape":"ParameterValue"},
        "UsePreviousValue":{"shape":"UsePreviousValue"}
      }
    },
    "UpdateProvisioningParameters":{
      "type":"list",
      "member":{"shape":"UpdateProvisioningParameter"}
    },
    "UpdatedTime":{"type":"timestamp"},
    "UsageInstruction":{
      "type":"structure",
      "members":{
        "Type":{"shape":"InstructionType"},
        "Value":{"shape":"InstructionValue"}
      }
    },
    "UsageInstructions":{
      "type":"list",
      "member":{"shape":"UsageInstruction"}
    },
    "UsePreviousValue":{"type":"boolean"}
  }
}
