  <div class="row-fluid">    
    <div class="span4">
      <form>
        <h6>Coordinate Field <i class="icon-question-sign" bs-tooltip="'geoJSON array! Long,Lat NOT Lat,Long'"></i></h6>
        <input  bs-typeahead="fields.list" type="text" class="input-small" ng-model="panel.field">
      </form>
    </div>
    <div class="span4">
      <form>
        <h6>Tooltip Field</h6>
        <input  bs-typeahead="fields.list" type="text" class="input-small" ng-model="panel.tooltip">
      </form>
    </div>
    <div class="span2"><h6>Max Points</h6> 
      <input type="number" class="input-small" ng-model="panel.size">
    </div>
  </div>
  <div class="row-fluid" ng-include="'partials/querySelect.html'"></div>
  <h5>Panel Spy</h5>
  <div class="row-fluid">
    <div class="span2"> 
      <label class="small"> Spyable </label><input type="checkbox" ng-model="panel.spyable" ng-checked="panel.spyable">
    </div>
    <div class="span9 small">
      The panel spy shows 'behind the scenes' information about a panel. It can
      be accessed by clicking the <i class='icon-eye-open'></i> in the top right
      of the panel.
    </div>
  </div>
