input[type=text].input-fluid {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  -moz-box-sizing: border-box;
  height: 100%;
}

input[type="checkbox"].cr1 {
  display: none;
}

.editor-option label.cr1 {
  display: inline-block;
  margin: 5px 0 1px 0;
}

label.cr1 {
  display: inline-block;
  height: 18px;
  position: relative;
  top: -2px;
  clear: none;
  text-indent: 2px;
  margin: 0 0 0px 0;
  padding: 0 0 0 23px;
  vertical-align:middle;
  background: url(@checkboxImageUrl) left top no-repeat;
  cursor:pointer;
}

input[type="checkbox"]:checked+label {
  background: url(@checkboxImageUrl) 0px -18px no-repeat;
}

.gf-form {
  padding-bottom: 10px;
  .checkbox-label {
    padding-left: 7px;
    display: inline;
  }
}

.gf-fluid-input {
  border: none;
  display: block;
  overflow: hidden;
  padding-right: 10px;
  input[type=text] {
    width: 100%;
    padding: 5px 6px;
    height: 100%;
    box-sizing: border-box;
  }
  textarea {
    width: 100%;
    padding: 5px 6px;
    height: 100%;
    box-sizing: border-box;
  }
}

