
.login-form {
  width: 50%;
  float: left;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 50px;
}

.login-box {
  width: 700px;
  margin: 100px auto 0 auto;
}

.login-box-logo {
  text-align: center;
  padding-bottom: 50px;
}


.login-inner-box {
  background: @grafanaPanelBackground;
}

.login-tab-header {
  background: @grafanaTargetBackground;
  text-align: center;
}

.btn-login-tab {
  background: transparent;
  border: none;
  font-size: 15px;
  padding: 10px 10px;

  &.active {
    background: darken(@grafanaTargetBackground, 5%);
    color: @white;
  }

  &:focus {
    outline: none;
  }

  font-weight: bold;
  display: inline-block;
  width: 170px;
  color: @textColor;
}

.password-strength {
  display: block;
  width: 15%;
  overflow: visible;
  white-space: nowrap;
  padding-top: 3px;
  color: darken(@textColor, 20%);
  border-top: 3px solid @red;
  &.password-strength-ok {
    width: 40%;
    border-top: 3px solid lighten(@yellow, 10%);
  }
  &.password-strength-good {
    width: 100%;
    border-top: 3px solid lighten(@green, 10%);
  }
}

.login-submit-button-row {
  text-align: center;
  margin-top: 40px;
  button {
    padding: 9px 7px;
    font-size: 14px;
    font-weight: bold;
    min-width: 150px;
    display: inline-block;
    border: 1px solid lighten(@btnInverseBackground, 10%);
  }
}

.login-oauth {
  margin-top: 30px;
  padding: 10px;
  background: @grafanaTargetBackground;
  .btn-google {
    background: #dd4b39;
    color: white;
  }
  .btn-github {
    background: #555;
    color: white;
  }
}

.signup-page-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: url(../img/background_tease.jpg);
  opacity: 0.3;
  z-index: -1;
}

.invite-box {
  text-align: center;
  border: 1px solid @grafanaTargetFuncBackground;
	background-color: @grafanaPanelBackground;
	position: fixed;
  max-width: 800px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 20%;

  .tight-form {
    text-align: left;
  }

  h3 {
    margin-top: 30px;
  }

  .modal-close {
    float: right;
    font-size: 140%;
    padding: 10px;
  }

  .modal-tagline {
    font-size: 16px;
  }
}
