.panel {
  display: inline-block;
  float: left;
  vertical-align: top;
  position: relative;
}

.panel-margin {
  margin: 5px;
  display: block;
}

.panel-container {
  background-color: @grafanaPanelBackground;
  position: relative;
  border: @grafanaPanelBorder;
  &:hover {
    .panel-actions {
      display: block;
    }
  }

  &.panel-transparent {
    background-color: transparent;
    border: none;
  }
}

.panel-content {
  padding: 0px 10px 5px 10px;
}

.panel-title-container {
  min-height: 5px;
  padding-top: 4px;
  cursor: pointer;
}

.panel-title {
  border: 0px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  width: 100%;
  display: block;

  &.has-panel-links {
    .panel-title-text:after {
      content: "\f08e";
      font-family:'FontAwesome';
      font-size: 80%;
      padding-left: 10px;
      position: relative;
      top: -1px;
    }
  }
}

.panel-loading {
  position:absolute;
  top: -3px;
  right: 0px;
  z-index: 800;
}

.panel-header {
  text-align: center;
}

.panel-error {
  color: @white;
  position: absolute;
  left: 0;
  padding: 0px 17px 6px 5px;
  top: 0;
  z-index: 10;
  i {
    position: relative;
    top: -2px;
  }
}

.panel-error-arrow {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 31px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 27px solid @grafanaPanelBackground;
  left: 0;
  bottom: 0;
}

.panel-fullscreen {
  z-index: 100;
  display: block;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 60px;
  height: 100%;
  padding: 0;
  overflow-y: auto;
  height: 100%;

  .dropdown-menu {
    margin-bottom: 70px;
  }

  .panel-container {
    margin: 15px;
  }

  .panel-menu {
    top: 0px;
  }

  .panel-title-container {
    padding: 8px;
  }
}

.panel-full-edit {
  margin-top: 30px;
  padding-bottom: 130px;
}

.panel-menu {
  z-index: 500;
  position: absolute;
  background: @grafanaTargetFuncBackground;
  border: 1px solid black;

  .panel-menu-row {
    white-space: nowrap;
    border-bottom: 1px solid black;
    &:last-child {
      border-bottom: none;
    }
  }

  .panel-menu-link, .panel-menu-icon {
    padding: 5px 10px;
  }

  .panel-menu-link {
    display: inline-block;
    border-right: 1px solid black;
    &:last-child {
      border: none;
    }
  }

  .dropdown-menu {
    text-align: left;
  }
}

.panel-highlight  {
  .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(82,168,236, 0.8)");
}

.on-drag-hover {
  .panel-container {
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(82,168,236, 0.8)");
  }
}

.panel-drop-zone {
  display: none;
  .panel-container {
    border: 1px solid @grayDark;
  }
}

.panel-ghost{
  width: 100%;
  .panel-container {
    border: none;
    background: transparent;
  }
  .panel-ghost-list {
    margin: 10px 0 10px 20px;
  }

  button {
    text-align: left;
    min-width: 135px;
    .fa {
      position: relative;
      left: -5px;
    }
  }
}

.panel-time-info {
  font-weight: bold;
  float: right;
  margin-right: 15px;
  color: @blue;
  font-size: 85%;
  position: absolute;
  top: 0;
  right: 0;
}

.resize-panel-handle {
  cursor: se-resize;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  display: block;
}
