.sidemenu-canvas {
  position: relative;
}

.sidemenu-wrapper {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  background: @bodyBackground;
  min-height: 100%;
  z-index: 101;

  a:focus {
    text-decoration: none;
  }
}

.sidemenu-open {
  .sidemenu-wrapper {
    display: block;
  }

  .search-container {
    left: 200px;
  }

  .main-view {
    padding-left: 200px;
  }

  .panel-fullscreen {
    left: 200px;
  }
}

.sidemenu {
  font-size: 16px;
  font-weight: @baseFontWeight;
  list-style: none;
  margin: 0;
  padding: 0;

  >li {
    margin-bottom: 9px;
  }

  .fa-caret-down {
    position: relative;
    top: 2px;
    font-size: 90%;
  }

  &.sidemenu-small {
    font-size: 14px;

    .icon-circle {
      border-radius: 50%;
      background: @iconContainerBackground;
      box-shadow: @iconContainerShadow;
      border: @iconContainerBorder;
      width: 28px;
      height: 28px;
      i {
        top: 1px;
        left: 4px;
        font-size: 110%;
      }
    }

    .sidemenu-item {
      // color: @textColor;
      line-height: 28px;
      padding-left: 25px;
    }
  }
}


.sidemenu-item-text {
  width: 110px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidemenu-top-btn {
  display: block;
  padding: 8px 0 4px 22px;
  background-color: @navbarBackground;
  img {
    border-radius: 50%;
    background: @iconContainerBackground;
    border: 1px solid @bodyBackground;
    width: 30px;
    padding: 4px;

    &.logo-icon {
      background: @grafcrunch-logo-background;
      border: 2px solid @bodyBackground;
      padding: 3px;
    }
  }
  i {
    padding-right: 5px;
    padding-top: 5px;
    font-size: 170%;
    color: @linkColor;
  }
}

.icon-circle {
  width: 40px;
  height: 40px;
  display: inline-block;
  i {
    color: @linkColor;
    opacity: .7;
    position: relative;
    left: 7px;
    top: 5px;
    font-size: 150%;
  }
}

.sidemenu-item {
  color: @linkColor;
  line-height: 40px;
  padding: 0px 10px 0px 20px;
  display: block;
  white-space: nowrap;

  .sidemenu-item-text {
    padding-left: 11px;
    transition: color 100ms ease-out;

    &.no-icon {
      padding-left: 59px;
    }
  }
  img {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    box-shadow: 0 0 14px 2px rgba(255,255,255, 0.05);
  }
}

.sidemenu-system-section {
  background-color: @blueDark;
  color: @white;
  padding: 3px 0;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;

  .sidemenu-system-section-inner {
    border: 2px solid black;
    border-left: none;
    border-right: none;
    padding: 4px;
    overflow: hidden;
  }

  .fa {
    float: left;
    font-size: 120%;
    line-height: 41px;
    padding: 0 15px;
  }
}
.sidemenu-section-tagline {
  font-style: italic;
  font-size: 75%;
  line-height: 10px;
}

.sidemenu-section-text-wrapper {
  padding-top: 4px;
}
