.submenu-controls-visible {
  .panel-fullscreen {
    top: 88px;
  }
}

.submenu-controls {
  margin: 10px 10px 0 5px;
  font-size: 16px;
}

.annotation-disabled, .annotation-disabled a {
  color: @linkColorDisabled;
}

.annotation-segment {
  label.cr1 {
    margin-left: 5px;
  }
}

