.grafana-options-table {
  width: 100%;

  th {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 4px solid @grafanaPanelBackground;
  }

  tr td {
    background-color: @grafanaListBackground;
    padding: 5px 10px;
    white-space: nowrap;
    border-bottom: 4px solid transparent;
    &.nobg {
      background-color: transparent;
    }
  }

  .max-width-btns {
    padding-right: 0px;
    .btn {
      box-sizing: border-box;
      width: 100%;
    }
  }
}

.max-width {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}

.grafana-options-list {
  list-style: none;
  margin: 0;
  max-width: 450px;

  li:nth-child(odd) {
    background-color: @grafanaListAccent;
  }

  li {
    float: left;
    margin: 2px;
    padding: 5px 10px;
    border: 1px solid @grafanaListBorderBottom;
    border: 1px solid @grafanaListBorderBottom;
  }
  li:first-child {
    border: 1px solid @grafanaListBorderBottom;
  }
}
