
.nav-tabs-alt {
  border-bottom: @grafanaTriggerBorder;
  padding-left: 10px;

	& > li > a {
		.border-radius(3px);
	}

	li > a:hover,
	li.active > a,
	li.active > a:focus,
	li.active > a:hover {
		border: @grafanaTriggerBorder;
	  background-color: transparent;
	  border-bottom: 1px solid @grafanaPanelBackground;
	}

	li.disabled > a {
		color: @textColor;
	}

	.open .dropdown-toggle {
		background-color: #060606;
		border-color: transparent;
	}
}

