
<div ng-include="'app/partials/navbar.html'" ng-init="pageTitle='Account Settings'"></div>

<div class="dashboard-edit-view">
	<div class="editor-row">
		<div class="section">

			<div class="dashboard-editor-header">
				<div class="dashboard-editor-title">
					<i class="fa fa-user"></i>
					Account details
				</div>
			</div>

			<div class="dashboard-editor-body">

				<form name="accountForm">

					<div class="grafana-target">
						<div class="grafana-target-inner">
							<ul class="grafana-segment-list">
								<li class="grafana-target-segment" style="width: 80px">
									<strong>Name</strong>
								</li>
								<li>
									<input type="text" ng-model="account.name" class="input-xxlarge grafana-target-segment-input last" >
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="grafana-target-inner" style="margin-top: 10px">
							<ul class="grafana-segment-list">
								<li class="grafana-target-segment" style="width: 80px">
									<strong>Email</strong>
								</li>
								<li>
									<input type="text" ng-model="account.email" class="input-xxlarge grafana-target-segment-input last" >
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="grafana-target-inner" style="margin-top: 10px">
							<ul class="grafana-segment-list">
								<li class="grafana-target-segment" style="width: 80px">
									<strong>Username</strong>
								</li>
								<li>
									<input type="text" ng-model="account.login" class="input-xxlarge grafana-target-segment-input last" >
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>

					<br>
					<button type="submit" class="btn btn-success" ng-click="update()">Update</button>
				</form>
			</div>
		</div>

		<div class="section">
			<div class="dashboard-editor-header">
				<div class="dashboard-editor-title">
					<i class="fa fa-eye"></i>
					Active account
				</div>
			</div>
			<br>

			<table class="grafana-options-table">
				<tr ng-repeat="other in otherAccounts">
					<td>email: {{other.email}}</td>
					<td>role: {{other.role}}</td>
					<td ng-show="other.isUsing">
						currently using this account
					</td>
					<td ng-show="!other.isUsing">
						<a ng-click="setUsingAccount(other)" class="btn btn-success btn-mini">
							Select
						</a>
					</td>
				</tr>
			</table>

		</div>
		<div class="clearfix"></div><br><br>
		<div class="section">
			<div class="dashboard-editor-header">
				<div class="dashboard-editor-title">
					<i class="fa fa-key"></i>
					API Tokens
					<a ng-click="showTokens=!showTokens">
						<i class="fa fa-sort-up" ng-show="showTokens"></i>
						<i class="fa fa-sort-down" ng-hide="showTokens"></i>
					</a>
				</div>
			</div>
			<br>
			<div ng-show="showTokens">
				<div class="editor-row">
					<div class="editor-option">
						<form name="addTokenrForm" class="form-inline">
							<label class="small">Add a Token</label>
							<input type="text" class="input-xlarge" ng-model='token.name' placeholder="Name"></input>
							<select ng-model="token.role" ng-options="r for r in roleTypes"></select>
							<button class="btn btn-success" ng-click="addToken()">Add</button>
						</form>
					</div>
				</div>
				<table class="grafana-options-table">
					<tr ng-repeat="t in tokens">
						<td>{{t.name}}</td>
						<td>{{t.role}}</td>
						<td>{{t.token}}</td>
						<td style="width: 1%">
							<a ng-click="removeToken(t.id)" class="btn btn-danger btn-mini">
								<i class="fa fa-remove"></i>
							</a>
						</td>
					</tr>
				</table>
			</div>

		</div>
	</div>
</div>


