<topnav toggle="toggleSideMenu()"
				title="Import"
				icon="fa fa-download"
				show-menu-btn="!grafana.sidemenu">
</topnav>

<div class="gf-box" style="min-height: 500px">

	<div class="gf-box-header">
		<div class="gf-box-title">
			<i class="fa fa-th-large"></i>
			Import Dashboards
		</div>
	</div>

	<div class="gf-box-body">

		<div class="editor-row">
			<div class="section">
				<div class="tight-form">
					<ul class="tight-form-list">
						<li class="tight-form-item" style="width: 160px">
							<strong>Dashboard source</strong>
						</li>
						<li>
							<select type="text" ng-model="sourceName" class="input-small tight-form-input" ng-options="f for f in datasources">
							</select>
						</li>
						<li class="tight-form-item" style="width: 160px">
							<strong>Destination</strong>
						</li>
						<li>
							<select type="text" ng-model="destName" class="input-small tight-form-input" ng-options="f for f in datasources">
							</select>
						</li>
						<li>
							<button class="btn btn-success tight-form-btn" ng-click="startImport()">Import</button>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

		<div class="editor-row" ng-if="importing">
			<section class="section">
				<h5>{{infoText}}</h5>

				<div class="editor-row row">
					<table class="grafana-options-table span5">
						<tr ng-repeat="dash in imported">
							<td>{{dash.name}}</td>
							<td>
								{{dash.info}}
							</td>
						</tr>
					</table>
				</div>
			</section>
		</div>
	</div>
</div>

