.panel-options-group {
  border-bottom: $panel-border;
}

.panel-options-group__header {
  padding: 8px 16px 8px 8px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    .panel-options-group__icon {
      color: $text-color;
    }
  }
}

.panel-options-group__icon {
  color: $text-color-weak;
  margin-right: 8px;
}

.panel-options-group__add-btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  padding: 0;

  &:hover {
    .panel-options-group__add-circle {
      background-color: $btn-primary-bg;
      color: $white;
    }
  }
}

.panel-options-group__add-circle {
  @include gradientBar($btn-success-bg, $btn-success-bg-hl, #fff);

  border-radius: 50px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;

  i {
    position: relative;
    top: 1px;
  }
}

.panel-options-group__title {
  position: relative;
}

.panel-options-group__body {
  padding: 8px 16px 16px 32px;
}
