.panel-options-group {
  margin-bottom: 10px;
  border: $panel-options-group-border;
  border-radius: $border-radius;
  background: $page-bg;
}

.panel-options-group__header {
  padding: 4px 8px;
  font-size: 1.1rem;
  background: $panel-options-group-header-bg;
  position: relative;
  border-radius: $border-radius $border-radius 0 0;
  display: flex;

  .btn {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.panel-options-group__add {
  background-color: $btn-success-bg;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.panel-options-group__title {
  margin-left: 8px;
}

.panel-options-group__body {
  padding: 20px;

  &--queries {
    min-height: 200px;
  }
}
