// .ReactVirtualized__Table {
// }

// .ReactVirtualized__Table__Grid {
// }

.ReactVirtualized__Table__headerRow {
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: left;
}
.ReactVirtualized__Table__row {
  display: flex;
  flex-direction: row;
  align-items: center;

  border-bottom: 2px solid $body-bg;
}

.ReactVirtualized__Table__headerTruncatedText {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn {
  margin-right: 10px;
  min-width: 0px;
}

.ReactVirtualized__Table__headerColumn:first-of-type,
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 10px;
}
.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}

.ReactVirtualized__Table__sortableHeaderIconContainer {
  align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

.gf-table-header {
  padding: 3px 10px;

  background: $list-item-bg;
  border-top: 2px solid $body-bg;
  border-bottom: 2px solid $body-bg;

  cursor: pointer;
  white-space: nowrap;

  color: $blue;
}

.gf-table-cell {
  padding: 3px 10px;

  background: $page-gradient;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  border-right: 2px solid $body-bg;
  border-bottom: 2px solid $body-bg;
}

.gf-table-fixed-column {
  border-right: 1px solid #ccc;
}
