package crd

import (
  "github.com/grafana/grafana/pkg/kinds/{{ .Properties.MachineName }}"
  "github.com/grafana/grafana/pkg/kindsys/k8ssys"
)

// The CRD YAML representation of the {{ .Properties.Name }} kind.
//
//go:embed {{ .Properties.MachineName }}.crd.yml
var CRDYaml []byte

// {{ .Properties.Name }} is the Go CRD representation of a single {{ .Properties.Name }} object.
// It implements [runtime.Object], and is used in k8s scheme construction.
type {{ .Properties.Name }} k8ssys.Base[{{ .Properties.MachineName }}.{{ .Properties.Name }}]

// {{ .Properties.Name }}List is the Go CRD representation of a list {{ .Properties.Name }} objects.
// It implements [runtime.Object], and is used in k8s scheme construction.
type {{ .Properties.Name }}List k8ssys.ListBase[{{ .Properties.MachineName }}.{{ .Properties.Name }}]
