---
keywords:
  - grafana
  - schema
title: {{ .KindName }} kind
---
> Both documentation generation and kinds schemas are in active development and subject to change without prior notice.

## {{ .KindName }}

#### Maturity: {{ .KindMaturity }}
#### Version: {{ .KindVersion }}

{{ .KindDescription }}

{{ .Markdown }}
