---
keywords:
  - grafana
  - schema
title: {{ .KindName }} kind
---
> Both documentation generation and kinds schemas are in active development and subject to change without prior notice.

# {{ .KindName }} kind

## Maturity: {{ .KindMaturity }}
## Version: {{ .KindVersion }}

{{ .Markdown }}
