package {{ .Properties.MachineName }}

import "github.com/grafana/grafana/pkg/kindsys"

// Summarizer returns a func that takes raw bytes representing a {{ .Properties.Name }}
// and constructs a [kindsys.EntitySummary].
func Summarizer() kindsys.Summarizer {
  // This func is a gateway. The generated body depends on the value of handleSummary.
  // in the {{ .Properties.Name }} kind declaration.

  {{ if eq .Properties.SummaryHandler "generic" -}}
  // handleSummary is "generic" for the {{ .Properties.Name }} kind. The generic summary
  // extractor is used.
  return kindsys.GenericSummarizer("{{ .Properties.Name }}")
  {{- else -}}
  // handleSummary is "passthrough" for the {{ .Properties.Name }} kind. If the Go compiler
  // is failing here, you must either hand-implement getSummarizer() in another file in
  // this package, or change the value of handleSummary to "generic".
  return getSummarizer()
  {{- end }}
}
