package kind

import (
  "github.com/grafana/grafana/pkg/registry/corekind"
  {{- range .Kinds }}
  "{{ $.BackendKindPackagePrefix }}/{{ .Properties.MachineName }}"{{end}}
)

func doNewRegistry() map[string]*kindValues{
	kinds := make(map[string]*kindValues)
	breg := corekind.NewBase(nil)

	{{ range .Kinds }}
	kinds["{{ .Properties.MachineName }}"] = &kindValues{
	  info: makeEKI(breg.{{ .Properties.Name }}().Props()),
	  builder: {{ .Properties.MachineName }}.Summarizer(),
	}{{ end }}

	return kinds
}
