{{ template "autogen_header.tmpl" .Header -}}
package registry

import (
	"github.com/grafana/grafana/pkg/plugins/pfs"
	"github.com/grafana/thema"
  {{ range .Plugins }}
  {{ if .NoAlias }}{{ .PkgName }} {{end}}"{{ .Path }}"{{ end }}
)

func coreTreeLoaders() []func(*thema.Runtime) *pfs.Tree{
  return []func(*thema.Runtime) *pfs.Tree{
    {{- range .Plugins }}
    {{ .PkgName }}.PluginTree,{{ end }}
  }
}
