// ==========================================================================
// COLUMNS
// ==========================================================================



// Detail columns
// ==========================================================================

.detailContainer {
  min-width: 400px; 
  max-width: 1020px; 
  margin: 20px 0;
}

.detailColumn {
  width:  50%;
  float:left;
  position: relative;
}

.detailFull {
  width: 100%;
  position: relative;
}

.detailLeft {}
.detailRight {}

@media screen and (max-width: 780px) {
  .detailColumn {
    width:  100%;
    float:none;
  }

  .detailLeft {
    padding-right: 0px; 
    margin-left: 0px;
  }

  .detailRight {
    padding-left: 0px;
  }
}
