<div class="panel-query-meta row-fluid" style="width:220px">

  <style>
    .input-query-alias {
      margin-bottom: 5px !important;
    }
    .panel-query-meta .pin {
      text-decoration: underline;
    }

  </style>
  <form>
    <input class="input-large input-query-alias" type="text" ng-model="querySrv.list[id].alias" placeholder='Alias...' />
    <div>
      <i ng-repeat="color in querySrv.colors" class="pointer" ng-class="{'icon-circle-blank':querySrv.list[id].color == color,'icon-circle':querySrv.list[id].color != color}" ng-style="{color:color}" ng-click="querySrv.list[id].color = color;render();"> </i>
    </div>
  </form>
  <select class="input-small" ng-model="querySrv.list[id].type">
    <option ng-repeat="type in queryTypes|esVersion:'require'">{{type.name}}</option>
  </select>

  <div class="pull-right">
    <button class="btn" ng-class="{active:querySrv.list[id].pin}" ng-click="toggle_pin(id);dismiss();" class="pointer">Pin <i class="icon-pushpin"></i></button>
    <button class="btn btn-success " ng-click="dashboard.refresh();dismiss();">Apply</button>
  </div>
</div>