  <div class="row-fluid">
    <div class="span11">
    The map panel uses 2 letter country or US state codes to plot concentrations on a map. Darker terroritories mean more records matched that area. If multiple queries are sent from a single panel the <strong>first query will be displayed</strong>
    </div>
  </div>

  <div class="row-fluid">    
    <div class="span3">
      <form>
        <h6>Field</h6>
        <input  bs-typeahead="fields.list" type="text" class="input-small" ng-model="panel.field">
      </form>
    </div>
    <div class="span6">
      <form class="input-append">
        <h6>Query</h6>
        <input type="text" ng-model="panel.query">
        <button class="btn" ng-click="get_data();"><i class="icon-search"></i></button>
      </form>
    </div>
    <div class="span1"><h6>Map</h6> 
      <select ng-change="$emit('render')" class="input-small" ng-model="panel.map" ng-options="f for f in ['world','europe','usa']"></select>
    </div>
  </div>
  <h5>Panel Spy</h5>
  <div class="row-fluid">
    <div class="span2"> 
      <label class="small"> Spyable </label><input type="checkbox" ng-model="panel.spyable" ng-checked="panel.spyable">
    </div>
    <div class="span9 small">
      The panel spy shows 'behind the scenes' information about a panel. It can
      be accessed by clicking the <i class='icon-eye-open'></i> in the top right
      of the panel.
    </div>
  </div>
