{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2014-11-06",
    "endpointPrefix":"ssm",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"Amazon SSM",
    "serviceFullName":"Amazon Simple Systems Management Service",
    "signatureVersion":"v4",
    "targetPrefix":"AmazonSSM"
  },
  "operations":{
    "AddTagsToResource":{
      "name":"AddTagsToResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsToResourceRequest"},
      "output":{"shape":"AddTagsToResourceResult"},
      "errors":[
        {"shape":"InvalidResourceType"},
        {"shape":"InvalidResourceId"},
        {"shape":"InternalServerError"}
      ]
    },
    "CancelCommand":{
      "name":"CancelCommand",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelCommandRequest"},
      "output":{"shape":"CancelCommandResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidCommandId"},
        {"shape":"InvalidInstanceId"},
        {"shape":"DuplicateInstanceId"}
      ]
    },
    "CreateActivation":{
      "name":"CreateActivation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateActivationRequest"},
      "output":{"shape":"CreateActivationResult"},
      "errors":[
        {"shape":"InternalServerError"}
      ]
    },
    "CreateAssociation":{
      "name":"CreateAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAssociationRequest"},
      "output":{"shape":"CreateAssociationResult"},
      "errors":[
        {"shape":"AssociationAlreadyExists"},
        {"shape":"AssociationLimitExceeded"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidInstanceId"},
        {"shape":"UnsupportedPlatformType"},
        {"shape":"InvalidParameters"}
      ]
    },
    "CreateAssociationBatch":{
      "name":"CreateAssociationBatch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAssociationBatchRequest"},
      "output":{"shape":"CreateAssociationBatchResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidParameters"},
        {"shape":"DuplicateInstanceId"},
        {"shape":"AssociationLimitExceeded"},
        {"shape":"UnsupportedPlatformType"}
      ]
    },
    "CreateDocument":{
      "name":"CreateDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDocumentRequest"},
      "output":{"shape":"CreateDocumentResult"},
      "errors":[
        {"shape":"DocumentAlreadyExists"},
        {"shape":"MaxDocumentSizeExceeded"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocumentContent"},
        {"shape":"DocumentLimitExceeded"}
      ]
    },
    "DeleteActivation":{
      "name":"DeleteActivation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteActivationRequest"},
      "output":{"shape":"DeleteActivationResult"},
      "errors":[
        {"shape":"InvalidActivationId"},
        {"shape":"InvalidActivation"},
        {"shape":"InternalServerError"}
      ]
    },
    "DeleteAssociation":{
      "name":"DeleteAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAssociationRequest"},
      "output":{"shape":"DeleteAssociationResult"},
      "errors":[
        {"shape":"AssociationDoesNotExist"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidInstanceId"},
        {"shape":"TooManyUpdates"}
      ]
    },
    "DeleteDocument":{
      "name":"DeleteDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDocumentRequest"},
      "output":{"shape":"DeleteDocumentResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidDocumentOperation"},
        {"shape":"AssociatedInstances"}
      ]
    },
    "DeregisterManagedInstance":{
      "name":"DeregisterManagedInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterManagedInstanceRequest"},
      "output":{"shape":"DeregisterManagedInstanceResult"},
      "errors":[
        {"shape":"InvalidInstanceId"},
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeActivations":{
      "name":"DescribeActivations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeActivationsRequest"},
      "output":{"shape":"DescribeActivationsResult"},
      "errors":[
        {"shape":"InvalidFilter"},
        {"shape":"InvalidNextToken"},
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeAssociation":{
      "name":"DescribeAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAssociationRequest"},
      "output":{"shape":"DescribeAssociationResult"},
      "errors":[
        {"shape":"AssociationDoesNotExist"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidInstanceId"}
      ]
    },
    "DescribeDocument":{
      "name":"DescribeDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDocumentRequest"},
      "output":{"shape":"DescribeDocumentResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"}
      ]
    },
    "DescribeDocumentPermission":{
      "name":"DescribeDocumentPermission",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDocumentPermissionRequest"},
      "output":{"shape":"DescribeDocumentPermissionResponse"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidPermissionType"}
      ]
    },
    "DescribeInstanceInformation":{
      "name":"DescribeInstanceInformation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstanceInformationRequest"},
      "output":{"shape":"DescribeInstanceInformationResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidNextToken"},
        {"shape":"InvalidInstanceInformationFilterValue"},
        {"shape":"InvalidFilterKey"}
      ]
    },
    "GetDocument":{
      "name":"GetDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDocumentRequest"},
      "output":{"shape":"GetDocumentResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"}
      ]
    },
    "ListAssociations":{
      "name":"ListAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAssociationsRequest"},
      "output":{"shape":"ListAssociationsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "ListCommandInvocations":{
      "name":"ListCommandInvocations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCommandInvocationsRequest"},
      "output":{"shape":"ListCommandInvocationsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidCommandId"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidFilterKey"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "ListCommands":{
      "name":"ListCommands",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCommandsRequest"},
      "output":{"shape":"ListCommandsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidCommandId"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidFilterKey"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "ListDocuments":{
      "name":"ListDocuments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDocumentsRequest"},
      "output":{"shape":"ListDocumentsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidNextToken"},
        {"shape":"InvalidFilterKey"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResult"},
      "errors":[
        {"shape":"InvalidResourceType"},
        {"shape":"InvalidResourceId"},
        {"shape":"InternalServerError"}
      ]
    },
    "ModifyDocumentPermission":{
      "name":"ModifyDocumentPermission",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDocumentPermissionRequest"},
      "output":{"shape":"ModifyDocumentPermissionResponse"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidPermissionType"},
        {"shape":"DocumentPermissionLimit"},
        {"shape":"DocumentLimitExceeded"}
      ]
    },
    "RemoveTagsFromResource":{
      "name":"RemoveTagsFromResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveTagsFromResourceRequest"},
      "output":{"shape":"RemoveTagsFromResourceResult"},
      "errors":[
        {"shape":"InvalidResourceType"},
        {"shape":"InvalidResourceId"},
        {"shape":"InternalServerError"}
      ]
    },
    "SendCommand":{
      "name":"SendCommand",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendCommandRequest"},
      "output":{"shape":"SendCommandResult"},
      "errors":[
        {"shape":"DuplicateInstanceId"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidOutputFolder"},
        {"shape":"InvalidParameters"},
        {"shape":"UnsupportedPlatformType"},
        {"shape":"MaxDocumentSizeExceeded"},
        {"shape":"InvalidRole"},
        {"shape":"InvalidNotificationConfig"}
      ]
    },
    "UpdateAssociationStatus":{
      "name":"UpdateAssociationStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAssociationStatusRequest"},
      "output":{"shape":"UpdateAssociationStatusResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidDocument"},
        {"shape":"AssociationDoesNotExist"},
        {"shape":"StatusUnchanged"},
        {"shape":"TooManyUpdates"}
      ]
    },
    "UpdateManagedInstanceRole":{
      "name":"UpdateManagedInstanceRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateManagedInstanceRoleRequest"},
      "output":{"shape":"UpdateManagedInstanceRoleResult"},
      "errors":[
        {"shape":"InvalidInstanceId"},
        {"shape":"InternalServerError"}
      ]
    }
  },
  "shapes":{
    "AccountId":{
      "type":"string",
      "pattern":"(?i)all|[0-9]{12}"
    },
    "AccountIdList":{
      "type":"list",
      "member":{
        "shape":"AccountId",
        "locationName":"AccountId"
      },
      "max":20
    },
    "Activation":{
      "type":"structure",
      "members":{
        "ActivationId":{"shape":"ActivationId"},
        "Description":{"shape":"ActivationDescription"},
        "DefaultInstanceName":{"shape":"DefaultInstanceName"},
        "IamRole":{"shape":"IamRole"},
        "RegistrationLimit":{"shape":"RegistrationLimit"},
        "RegistrationsCount":{"shape":"RegistrationsCount"},
        "ExpirationDate":{"shape":"ExpirationDate"},
        "Expired":{"shape":"Boolean"},
        "CreatedDate":{"shape":"CreatedDate"}
      }
    },
    "ActivationCode":{
      "type":"string",
      "max":250,
      "min":20
    },
    "ActivationDescription":{
      "type":"string",
      "max":256,
      "min":0
    },
    "ActivationId":{
      "type":"string",
      "pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
    },
    "ActivationList":{
      "type":"list",
      "member":{"shape":"Activation"}
    },
    "AddTagsToResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceType",
        "ResourceId",
        "Tags"
      ],
      "members":{
        "ResourceType":{"shape":"ResourceTypeForTagging"},
        "ResourceId":{"shape":"ResourceId"},
        "Tags":{"shape":"TagList"}
      }
    },
    "AddTagsToResourceResult":{
      "type":"structure",
      "members":{
      }
    },
    "AssociatedInstances":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "Association":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentName"},
        "InstanceId":{"shape":"InstanceId"}
      }
    },
    "AssociationAlreadyExists":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "AssociationDescription":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentName"},
        "InstanceId":{"shape":"InstanceId"},
        "Date":{"shape":"DateTime"},
        "Status":{"shape":"AssociationStatus"},
        "Parameters":{"shape":"Parameters"}
      }
    },
    "AssociationDescriptionList":{
      "type":"list",
      "member":{
        "shape":"AssociationDescription",
        "locationName":"AssociationDescription"
      }
    },
    "AssociationDoesNotExist":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "AssociationFilter":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{"shape":"AssociationFilterKey"},
        "value":{"shape":"AssociationFilterValue"}
      }
    },
    "AssociationFilterKey":{
      "type":"string",
      "enum":[
        "InstanceId",
        "Name"
      ]
    },
    "AssociationFilterList":{
      "type":"list",
      "member":{
        "shape":"AssociationFilter",
        "locationName":"AssociationFilter"
      },
      "min":1
    },
    "AssociationFilterValue":{
      "type":"string",
      "min":1
    },
    "AssociationLimitExceeded":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "AssociationList":{
      "type":"list",
      "member":{
        "shape":"Association",
        "locationName":"Association"
      }
    },
    "AssociationStatus":{
      "type":"structure",
      "required":[
        "Date",
        "Name",
        "Message"
      ],
      "members":{
        "Date":{"shape":"DateTime"},
        "Name":{"shape":"AssociationStatusName"},
        "Message":{"shape":"StatusMessage"},
        "AdditionalInfo":{"shape":"StatusAdditionalInfo"}
      }
    },
    "AssociationStatusName":{
      "type":"string",
      "enum":[
        "Pending",
        "Success",
        "Failed"
      ]
    },
    "BatchErrorMessage":{"type":"string"},
    "Boolean":{"type":"boolean"},
    "CancelCommandRequest":{
      "type":"structure",
      "required":["CommandId"],
      "members":{
        "CommandId":{"shape":"CommandId"},
        "InstanceIds":{"shape":"InstanceIdList"}
      }
    },
    "CancelCommandResult":{
      "type":"structure",
      "members":{
      }
    },
    "Command":{
      "type":"structure",
      "members":{
        "CommandId":{"shape":"CommandId"},
        "DocumentName":{"shape":"DocumentName"},
        "Comment":{"shape":"Comment"},
        "ExpiresAfter":{"shape":"DateTime"},
        "Parameters":{"shape":"Parameters"},
        "InstanceIds":{"shape":"InstanceIdList"},
        "RequestedDateTime":{"shape":"DateTime"},
        "Status":{"shape":"CommandStatus"},
        "OutputS3BucketName":{"shape":"S3BucketName"},
        "OutputS3KeyPrefix":{"shape":"S3KeyPrefix"},
        "ServiceRole":{"shape":"ServiceRole"},
        "NotificationConfig":{"shape":"NotificationConfig"}
      }
    },
    "CommandFilter":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{"shape":"CommandFilterKey"},
        "value":{"shape":"CommandFilterValue"}
      }
    },
    "CommandFilterKey":{
      "type":"string",
      "enum":[
        "InvokedAfter",
        "InvokedBefore",
        "Status"
      ]
    },
    "CommandFilterList":{
      "type":"list",
      "member":{"shape":"CommandFilter"},
      "max":3,
      "min":1
    },
    "CommandFilterValue":{
      "type":"string",
      "min":1
    },
    "CommandId":{
      "type":"string",
      "max":36,
      "min":36
    },
    "CommandInvocation":{
      "type":"structure",
      "members":{
        "CommandId":{"shape":"CommandId"},
        "InstanceId":{"shape":"InstanceId"},
        "Comment":{"shape":"Comment"},
        "DocumentName":{"shape":"DocumentName"},
        "RequestedDateTime":{"shape":"DateTime"},
        "Status":{"shape":"CommandInvocationStatus"},
        "TraceOutput":{"shape":"InvocationTraceOutput"},
        "CommandPlugins":{"shape":"CommandPluginList"},
        "ServiceRole":{"shape":"ServiceRole"},
        "NotificationConfig":{"shape":"NotificationConfig"}
      }
    },
    "CommandInvocationList":{
      "type":"list",
      "member":{"shape":"CommandInvocation"}
    },
    "CommandInvocationStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Cancelling",
        "Success",
        "TimedOut",
        "Cancelled",
        "Failed"
      ]
    },
    "CommandList":{
      "type":"list",
      "member":{"shape":"Command"}
    },
    "CommandMaxResults":{
      "type":"integer",
      "max":50,
      "min":1
    },
    "CommandPlugin":{
      "type":"structure",
      "members":{
        "Name":{"shape":"CommandPluginName"},
        "Status":{"shape":"CommandPluginStatus"},
        "ResponseCode":{"shape":"ResponseCode"},
        "ResponseStartDateTime":{"shape":"DateTime"},
        "ResponseFinishDateTime":{"shape":"DateTime"},
        "Output":{"shape":"CommandPluginOutput"},
        "OutputS3BucketName":{"shape":"S3BucketName"},
        "OutputS3KeyPrefix":{"shape":"S3KeyPrefix"}
      }
    },
    "CommandPluginList":{
      "type":"list",
      "member":{"shape":"CommandPlugin"}
    },
    "CommandPluginName":{
      "type":"string",
      "min":4
    },
    "CommandPluginOutput":{
      "type":"string",
      "max":2500
    },
    "CommandPluginStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Success",
        "TimedOut",
        "Cancelled",
        "Failed"
      ]
    },
    "CommandStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Cancelling",
        "Success",
        "TimedOut",
        "Cancelled",
        "Failed"
      ]
    },
    "Comment":{
      "type":"string",
      "max":100
    },
    "ComputerName":{
      "type":"string",
      "max":255,
      "min":1
    },
    "CreateActivationRequest":{
      "type":"structure",
      "required":["IamRole"],
      "members":{
        "Description":{"shape":"ActivationDescription"},
        "DefaultInstanceName":{"shape":"DefaultInstanceName"},
        "IamRole":{"shape":"IamRole"},
        "RegistrationLimit":{
          "shape":"RegistrationLimit",
          "box":true
        },
        "ExpirationDate":{"shape":"ExpirationDate"}
      }
    },
    "CreateActivationResult":{
      "type":"structure",
      "members":{
        "ActivationId":{"shape":"ActivationId"},
        "ActivationCode":{"shape":"ActivationCode"}
      }
    },
    "CreateAssociationBatchRequest":{
      "type":"structure",
      "required":["Entries"],
      "members":{
        "Entries":{"shape":"CreateAssociationBatchRequestEntries"}
      }
    },
    "CreateAssociationBatchRequestEntries":{
      "type":"list",
      "member":{
        "shape":"CreateAssociationBatchRequestEntry",
        "locationName":"entries"
      }
    },
    "CreateAssociationBatchRequestEntry":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentName"},
        "InstanceId":{"shape":"InstanceId"},
        "Parameters":{"shape":"Parameters"}
      }
    },
    "CreateAssociationBatchResult":{
      "type":"structure",
      "members":{
        "Successful":{"shape":"AssociationDescriptionList"},
        "Failed":{"shape":"FailedCreateAssociationList"}
      }
    },
    "CreateAssociationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceId"
      ],
      "members":{
        "Name":{"shape":"DocumentName"},
        "InstanceId":{"shape":"InstanceId"},
        "Parameters":{"shape":"Parameters"}
      }
    },
    "CreateAssociationResult":{
      "type":"structure",
      "members":{
        "AssociationDescription":{"shape":"AssociationDescription"}
      }
    },
    "CreateDocumentRequest":{
      "type":"structure",
      "required":[
        "Content",
        "Name"
      ],
      "members":{
        "Content":{"shape":"DocumentContent"},
        "Name":{"shape":"DocumentName"}
      }
    },
    "CreateDocumentResult":{
      "type":"structure",
      "members":{
        "DocumentDescription":{"shape":"DocumentDescription"}
      }
    },
    "CreatedDate":{"type":"timestamp"},
    "DateTime":{"type":"timestamp"},
    "DefaultInstanceName":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "DeleteActivationRequest":{
      "type":"structure",
      "required":["ActivationId"],
      "members":{
        "ActivationId":{"shape":"ActivationId"}
      }
    },
    "DeleteActivationResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteAssociationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceId"
      ],
      "members":{
        "Name":{"shape":"DocumentName"},
        "InstanceId":{"shape":"InstanceId"}
      }
    },
    "DeleteAssociationResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteDocumentRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"DocumentName"}
      }
    },
    "DeleteDocumentResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeregisterManagedInstanceRequest":{
      "type":"structure",
      "required":["InstanceId"],
      "members":{
        "InstanceId":{"shape":"ManagedInstanceId"}
      }
    },
    "DeregisterManagedInstanceResult":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeActivationsFilter":{
      "type":"structure",
      "members":{
        "FilterKey":{"shape":"DescribeActivationsFilterKeys"},
        "FilterValues":{"shape":"StringList"}
      }
    },
    "DescribeActivationsFilterKeys":{
      "type":"string",
      "enum":[
        "ActivationIds",
        "DefaultInstanceName",
        "IamRole"
      ]
    },
    "DescribeActivationsFilterList":{
      "type":"list",
      "member":{"shape":"DescribeActivationsFilter"}
    },
    "DescribeActivationsRequest":{
      "type":"structure",
      "members":{
        "Filters":{"shape":"DescribeActivationsFilterList"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        },
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeActivationsResult":{
      "type":"structure",
      "members":{
        "ActivationList":{"shape":"ActivationList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeAssociationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceId"
      ],
      "members":{
        "Name":{"shape":"DocumentName"},
        "InstanceId":{"shape":"InstanceId"}
      }
    },
    "DescribeAssociationResult":{
      "type":"structure",
      "members":{
        "AssociationDescription":{"shape":"AssociationDescription"}
      }
    },
    "DescribeDocumentPermissionRequest":{
      "type":"structure",
      "required":[
        "Name",
        "PermissionType"
      ],
      "members":{
        "Name":{"shape":"DocumentName"},
        "PermissionType":{"shape":"DocumentPermissionType"}
      }
    },
    "DescribeDocumentPermissionResponse":{
      "type":"structure",
      "members":{
        "AccountIds":{"shape":"AccountIdList"}
      }
    },
    "DescribeDocumentRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"DocumentARN"}
      }
    },
    "DescribeDocumentResult":{
      "type":"structure",
      "members":{
        "Document":{"shape":"DocumentDescription"}
      }
    },
    "DescribeInstanceInformationRequest":{
      "type":"structure",
      "members":{
        "InstanceInformationFilterList":{"shape":"InstanceInformationFilterList"},
        "MaxResults":{
          "shape":"MaxResultsEC2Compatible",
          "box":true
        },
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeInstanceInformationResult":{
      "type":"structure",
      "members":{
        "InstanceInformationList":{"shape":"InstanceInformationList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescriptionInDocument":{"type":"string"},
    "DocumentARN":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9_\\-.:/]{3,128}$"
    },
    "DocumentAlreadyExists":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "DocumentContent":{
      "type":"string",
      "min":1
    },
    "DocumentDescription":{
      "type":"structure",
      "members":{
        "Sha1":{"shape":"DocumentSha1"},
        "Hash":{"shape":"DocumentHash"},
        "HashType":{"shape":"DocumentHashType"},
        "Name":{"shape":"DocumentARN"},
        "Owner":{"shape":"DocumentOwner"},
        "CreatedDate":{"shape":"DateTime"},
        "Status":{"shape":"DocumentStatus"},
        "Description":{"shape":"DescriptionInDocument"},
        "Parameters":{"shape":"DocumentParameterList"},
        "PlatformTypes":{"shape":"PlatformTypeList"}
      }
    },
    "DocumentFilter":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{"shape":"DocumentFilterKey"},
        "value":{"shape":"DocumentFilterValue"}
      }
    },
    "DocumentFilterKey":{
      "type":"string",
      "enum":[
        "Name",
        "Owner",
        "PlatformTypes"
      ]
    },
    "DocumentFilterList":{
      "type":"list",
      "member":{
        "shape":"DocumentFilter",
        "locationName":"DocumentFilter"
      },
      "min":1
    },
    "DocumentFilterValue":{
      "type":"string",
      "min":1
    },
    "DocumentHash":{
      "type":"string",
      "max":256
    },
    "DocumentHashType":{
      "type":"string",
      "enum":[
        "Sha256",
        "Sha1"
      ]
    },
    "DocumentIdentifier":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentARN"},
        "Owner":{"shape":"DocumentOwner"},
        "PlatformTypes":{"shape":"PlatformTypeList"}
      }
    },
    "DocumentIdentifierList":{
      "type":"list",
      "member":{
        "shape":"DocumentIdentifier",
        "locationName":"DocumentIdentifier"
      }
    },
    "DocumentLimitExceeded":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "DocumentName":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9_\\-.]{3,128}$"
    },
    "DocumentOwner":{"type":"string"},
    "DocumentParameter":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentParameterName"},
        "Type":{"shape":"DocumentParameterType"},
        "Description":{"shape":"DocumentParameterDescrption"},
        "DefaultValue":{"shape":"DocumentParameterDefaultValue"}
      }
    },
    "DocumentParameterDefaultValue":{"type":"string"},
    "DocumentParameterDescrption":{"type":"string"},
    "DocumentParameterList":{
      "type":"list",
      "member":{
        "shape":"DocumentParameter",
        "locationName":"DocumentParameter"
      }
    },
    "DocumentParameterName":{"type":"string"},
    "DocumentParameterType":{
      "type":"string",
      "enum":[
        "String",
        "StringList"
      ]
    },
    "DocumentPermissionLimit":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "DocumentPermissionType":{
      "type":"string",
      "enum":["Share"]
    },
    "DocumentSha1":{"type":"string"},
    "DocumentStatus":{
      "type":"string",
      "enum":[
        "Creating",
        "Active",
        "Deleting"
      ]
    },
    "DuplicateInstanceId":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ExpirationDate":{"type":"timestamp"},
    "FailedCreateAssociation":{
      "type":"structure",
      "members":{
        "Entry":{"shape":"CreateAssociationBatchRequestEntry"},
        "Message":{"shape":"BatchErrorMessage"},
        "Fault":{"shape":"Fault"}
      }
    },
    "FailedCreateAssociationList":{
      "type":"list",
      "member":{
        "shape":"FailedCreateAssociation",
        "locationName":"FailedCreateAssociationEntry"
      }
    },
    "Fault":{
      "type":"string",
      "enum":[
        "Client",
        "Server",
        "Unknown"
      ]
    },
    "GetDocumentRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"DocumentARN"}
      }
    },
    "GetDocumentResult":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentARN"},
        "Content":{"shape":"DocumentContent"}
      }
    },
    "IPAddress":{
      "type":"string",
      "max":46,
      "min":1
    },
    "IamRole":{
      "type":"string",
      "max":64
    },
    "InstanceId":{
      "type":"string",
      "pattern":"(^i-(\\w{8}|\\w{17})$)|(^mi-\\w{17}$)"
    },
    "InstanceIdList":{
      "type":"list",
      "member":{"shape":"InstanceId"},
      "max":50,
      "min":1
    },
    "InstanceInformation":{
      "type":"structure",
      "members":{
        "InstanceId":{"shape":"InstanceId"},
        "PingStatus":{"shape":"PingStatus"},
        "LastPingDateTime":{
          "shape":"DateTime",
          "box":true
        },
        "AgentVersion":{"shape":"Version"},
        "IsLatestVersion":{
          "shape":"Boolean",
          "box":true
        },
        "PlatformType":{"shape":"PlatformType"},
        "PlatformName":{"shape":"String"},
        "PlatformVersion":{"shape":"String"},
        "ActivationId":{"shape":"ActivationId"},
        "IamRole":{"shape":"IamRole"},
        "RegistrationDate":{
          "shape":"DateTime",
          "box":true
        },
        "ResourceType":{"shape":"ResourceType"},
        "Name":{"shape":"String"},
        "IPAddress":{"shape":"IPAddress"},
        "ComputerName":{"shape":"ComputerName"}
      }
    },
    "InstanceInformationFilter":{
      "type":"structure",
      "required":[
        "key",
        "valueSet"
      ],
      "members":{
        "key":{"shape":"InstanceInformationFilterKey"},
        "valueSet":{"shape":"InstanceInformationFilterValueSet"}
      }
    },
    "InstanceInformationFilterKey":{
      "type":"string",
      "enum":[
        "InstanceIds",
        "AgentVersion",
        "PingStatus",
        "PlatformTypes",
        "ActivationIds",
        "IamRole",
        "ResourceType"
      ]
    },
    "InstanceInformationFilterList":{
      "type":"list",
      "member":{
        "shape":"InstanceInformationFilter",
        "locationName":"InstanceInformationFilter"
      },
      "min":1
    },
    "InstanceInformationFilterValue":{
      "type":"string",
      "min":1
    },
    "InstanceInformationFilterValueSet":{
      "type":"list",
      "member":{
        "shape":"InstanceInformationFilterValue",
        "locationName":"InstanceInformationFilterValue"
      },
      "max":100,
      "min":1
    },
    "InstanceInformationList":{
      "type":"list",
      "member":{
        "shape":"InstanceInformation",
        "locationName":"InstanceInformation"
      }
    },
    "InternalServerError":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidActivation":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidActivationId":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidCommandId":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidDocument":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidDocumentContent":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidDocumentOperation":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidFilter":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidFilterKey":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidInstanceId":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidInstanceInformationFilterValue":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidNextToken":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidNotificationConfig":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidOutputFolder":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidParameters":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidPermissionType":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidResourceId":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidResourceType":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidRole":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvocationTraceOutput":{
      "type":"string",
      "max":2500
    },
    "KeyList":{
      "type":"list",
      "member":{"shape":"TagKey"}
    },
    "ListAssociationsRequest":{
      "type":"structure",
      "required":["AssociationFilterList"],
      "members":{
        "AssociationFilterList":{"shape":"AssociationFilterList"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        },
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListAssociationsResult":{
      "type":"structure",
      "members":{
        "Associations":{"shape":"AssociationList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListCommandInvocationsRequest":{
      "type":"structure",
      "members":{
        "CommandId":{"shape":"CommandId"},
        "InstanceId":{"shape":"InstanceId"},
        "MaxResults":{
          "shape":"CommandMaxResults",
          "box":true
        },
        "NextToken":{"shape":"NextToken"},
        "Filters":{"shape":"CommandFilterList"},
        "Details":{"shape":"Boolean"}
      }
    },
    "ListCommandInvocationsResult":{
      "type":"structure",
      "members":{
        "CommandInvocations":{"shape":"CommandInvocationList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListCommandsRequest":{
      "type":"structure",
      "members":{
        "CommandId":{"shape":"CommandId"},
        "InstanceId":{"shape":"InstanceId"},
        "MaxResults":{
          "shape":"CommandMaxResults",
          "box":true
        },
        "NextToken":{"shape":"NextToken"},
        "Filters":{"shape":"CommandFilterList"}
      }
    },
    "ListCommandsResult":{
      "type":"structure",
      "members":{
        "Commands":{"shape":"CommandList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListDocumentsRequest":{
      "type":"structure",
      "members":{
        "DocumentFilterList":{"shape":"DocumentFilterList"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        },
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListDocumentsResult":{
      "type":"structure",
      "members":{
        "DocumentIdentifiers":{"shape":"DocumentIdentifierList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceType",
        "ResourceId"
      ],
      "members":{
        "ResourceType":{"shape":"ResourceTypeForTagging"},
        "ResourceId":{"shape":"ResourceId"}
      }
    },
    "ListTagsForResourceResult":{
      "type":"structure",
      "members":{
        "TagList":{"shape":"TagList"}
      }
    },
    "ManagedInstanceId":{
      "type":"string",
      "pattern":"^mi-[0-9a-f]{17}$"
    },
    "MaxDocumentSizeExceeded":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "MaxResults":{
      "type":"integer",
      "max":50,
      "min":1
    },
    "MaxResultsEC2Compatible":{
      "type":"integer",
      "max":50,
      "min":5
    },
    "ModifyDocumentPermissionRequest":{
      "type":"structure",
      "required":[
        "Name",
        "PermissionType"
      ],
      "members":{
        "Name":{"shape":"DocumentName"},
        "PermissionType":{"shape":"DocumentPermissionType"},
        "AccountIdsToAdd":{"shape":"AccountIdList"},
        "AccountIdsToRemove":{"shape":"AccountIdList"}
      }
    },
    "ModifyDocumentPermissionResponse":{
      "type":"structure",
      "members":{
      }
    },
    "NextToken":{"type":"string"},
    "NotificationArn":{"type":"string"},
    "NotificationConfig":{
      "type":"structure",
      "members":{
        "NotificationArn":{"shape":"NotificationArn"},
        "NotificationEvents":{"shape":"NotificationEventList"},
        "NotificationType":{"shape":"NotificationType"}
      }
    },
    "NotificationEvent":{
      "type":"string",
      "enum":[
        "All",
        "InProgress",
        "Success",
        "TimedOut",
        "Cancelled",
        "Failed"
      ]
    },
    "NotificationEventList":{
      "type":"list",
      "member":{"shape":"NotificationEvent"}
    },
    "NotificationType":{
      "type":"string",
      "enum":[
        "Command",
        "Invocation"
      ]
    },
    "ParameterName":{"type":"string"},
    "ParameterValue":{"type":"string"},
    "ParameterValueList":{
      "type":"list",
      "member":{"shape":"ParameterValue"}
    },
    "Parameters":{
      "type":"map",
      "key":{"shape":"ParameterName"},
      "value":{"shape":"ParameterValueList"}
    },
    "PingStatus":{
      "type":"string",
      "enum":[
        "Online",
        "ConnectionLost",
        "Inactive"
      ]
    },
    "PlatformType":{
      "type":"string",
      "enum":[
        "Windows",
        "Linux"
      ]
    },
    "PlatformTypeList":{
      "type":"list",
      "member":{
        "shape":"PlatformType",
        "locationName":"PlatformType"
      }
    },
    "RegistrationLimit":{
      "type":"integer",
      "max":1000,
      "min":1
    },
    "RegistrationsCount":{
      "type":"integer",
      "max":1000,
      "min":1
    },
    "RemoveTagsFromResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceType",
        "ResourceId",
        "TagKeys"
      ],
      "members":{
        "ResourceType":{"shape":"ResourceTypeForTagging"},
        "ResourceId":{"shape":"ResourceId"},
        "TagKeys":{"shape":"KeyList"}
      }
    },
    "RemoveTagsFromResourceResult":{
      "type":"structure",
      "members":{
      }
    },
    "ResourceId":{
      "type":"string",
      "pattern":"^mi-[0-9a-f]{17}$"
    },
    "ResourceType":{
      "type":"string",
      "enum":[
        "ManagedInstance",
        "Document",
        "EC2Instance"
      ]
    },
    "ResourceTypeForTagging":{
      "type":"string",
      "enum":["ManagedInstance"]
    },
    "ResponseCode":{"type":"integer"},
    "S3BucketName":{
      "type":"string",
      "max":63,
      "min":3
    },
    "S3KeyPrefix":{
      "type":"string",
      "max":500
    },
    "SendCommandRequest":{
      "type":"structure",
      "required":[
        "InstanceIds",
        "DocumentName"
      ],
      "members":{
        "InstanceIds":{"shape":"InstanceIdList"},
        "DocumentName":{"shape":"DocumentARN"},
        "DocumentHash":{"shape":"DocumentHash"},
        "DocumentHashType":{"shape":"DocumentHashType"},
        "TimeoutSeconds":{
          "shape":"TimeoutSeconds",
          "box":true
        },
        "Comment":{"shape":"Comment"},
        "Parameters":{"shape":"Parameters"},
        "OutputS3BucketName":{"shape":"S3BucketName"},
        "OutputS3KeyPrefix":{"shape":"S3KeyPrefix"},
        "ServiceRoleArn":{"shape":"ServiceRole"},
        "NotificationConfig":{"shape":"NotificationConfig"}
      }
    },
    "SendCommandResult":{
      "type":"structure",
      "members":{
        "Command":{"shape":"Command"}
      }
    },
    "ServiceRole":{"type":"string"},
    "StatusAdditionalInfo":{
      "type":"string",
      "max":1024
    },
    "StatusMessage":{
      "type":"string",
      "max":1024
    },
    "StatusUnchanged":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "String":{"type":"string"},
    "StringList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "Tag":{
      "type":"structure",
      "required":[
        "Key",
        "Value"
      ],
      "members":{
        "Key":{"shape":"TagKey"},
        "Value":{"shape":"TagValue"}
      }
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^(?!^(?i)aws:)(?=^[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*$).*$"
    },
    "TagList":{
      "type":"list",
      "member":{"shape":"Tag"}
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "TimeoutSeconds":{
      "type":"integer",
      "max":2592000,
      "min":30
    },
    "TooManyUpdates":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "UnsupportedPlatformType":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "UpdateAssociationStatusRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceId",
        "AssociationStatus"
      ],
      "members":{
        "Name":{"shape":"DocumentName"},
        "InstanceId":{"shape":"InstanceId"},
        "AssociationStatus":{"shape":"AssociationStatus"}
      }
    },
    "UpdateAssociationStatusResult":{
      "type":"structure",
      "members":{
        "AssociationDescription":{"shape":"AssociationDescription"}
      }
    },
    "UpdateManagedInstanceRoleRequest":{
      "type":"structure",
      "required":[
        "InstanceId",
        "IamRole"
      ],
      "members":{
        "InstanceId":{"shape":"ManagedInstanceId"},
        "IamRole":{"shape":"IamRole"}
      }
    },
    "UpdateManagedInstanceRoleResult":{
      "type":"structure",
      "members":{
      }
    },
    "Version":{
      "type":"string",
      "pattern":"^[0-9]{1,6}(\\.[0-9]{1,6}){2,3}$"
    }
  }
}
