
<div class="edit-tab-with-sidemenu" ng-if="ctrl.viewId !== 'timepicker'">
	<aside class="edit-sidemenu-aside">
		<h2>
			<i class="fa fa-cog"></i>
			Settings
		</h2>

		<ul class="edit-sidemenu">
			<li ng-class="{active: ctrl.viewId === section.id}" ng-repeat="section in ctrl.sections">
				<a ng-click="ctrl.viewId = section.id">
					{{::section.title}}
				</a>
			</li>
		</ul>
	</aside>

	<div class="edit-tab-content" ng-if="ctrl.viewId === 'general'">
		general
	</div>

	<div class="edit-tab-content" ng-if="ctrl.viewId === 'annotations'">
		annotations
	</div>

	<div class="edit-tab-content" ng-if="ctrl.viewId === 'templating'">
		annotations
	</div>
</div>

<div ng-if="ctrl.viewId === 'timepicker'">
  <gf-time-picker-dropdown dashboard="ctrl.dashboard"></gf-time-picker-dropdown>
</div>

