<div ng-controller='histogram'>
  <div class="row-fluid">
    <div class="span3">
      <form style="margin-bottom: 0px">
        <h6>Label</h6>
        <input type="text" placeholder="New Label" style="width:70%" ng-model="newlabel">
      </form>
    </div>
    <div class="span8">
      <form class="input-append" style="margin-bottom: 0px">
        <h6>Query</h6>
        <input type="text" placeholder="New Query" style="width:80%" ng-model="newquery">
        <button class="btn" ng-click="add_query(newlabel,newquery);newlabel='';newquery=''"><i class="icon-plus"></i></button>
      </form>
    </div>
    <div class="span1">
    </div>
  </div>
  <div class="row-fluid" ng-repeat="q in panel.query">        
    <div class="span3">
      <form style="margin-bottom: 0px">
        <input type="text" style="width:70%" ng-model="q.label">
      </form>
    </div>
    <div class="span8">
      <form class="input-append" style="margin-bottom: 0px">
        <input type="text" style="width:80%" ng-model="q.query">
        <button class="btn" ng-click="get_data()"><i class="icon-search"></i></button>
      </form>
    </div>
    <div class="span1">
      <i class="icon-remove pointer" ng-click="remove_query(q)"></i>
    </div>
  </div>
  <div class="row-fluid">    
    <div class="span3">
      <label class="small">Chart Options</label> 
      <select ng-change="$emit('render')" multiple style="width:95%" ng-model="panel.show" ng-options="f for f in ['bars','points','stack','lines','legend','x-axis','y-axis']"></select>
    </div>
    <div class="span2">
      <label class="small">Line Fill</label> 
      <select ng-change="$emit('render')" class="input-mini" ng-model="panel.fill" ng-options="f for f in [0,1,2,3,4,5,6,7,8,9,10]"></select>
    </div>
    <div class="span2">
      <label class="small">Line Width</label> 
      <select ng-change="$emit('render')" class="input-mini" ng-model="panel.linewidth" ng-options="f for f in [0,1,2,3,4,5,6,7,8,9,10]"></select>
    </div>
    <div class="span3">
      <label class="small">Time correction</label> 
      <select ng-change="$emit('render')" ng-model="panel.timezone" class='input-small' ng-options="f for f in ['browser','utc']"></select>
    </div>
    <div class="span2"> 
      <label class="small">Zoom Links</label><input type="checkbox" ng-model="panel.zoomlinks" ng-checked="panel.zoomlinks">
    </div>
  </div>
  <h5>Panel Spy</h5>
  <div class="row-fluid">
    <div class="span2"> 
      <label class="small">Spyable</label><input type="checkbox" ng-model="panel.spyable" ng-checked="panel.spyable">
    </div>
    <div class="span9 small">
      The panel spy shows 'behind the scenes' information about a panel. It can
      be accessed by clicking the <i class='icon-eye-open'></i> in the top right
      of the panel.
    </div>
  </div>
</div>
