.admin-settings-section {
  color: $variable;
  font-weight: bold;
}

td.admin-settings-key {
  padding-left: 20px;
}

.admin-list-table {
  margin-bottom: 20px;
}

.admin-list-paging {
  float: right;
  li {
    display: inline-block;
    padding-left: 10px;
    margin-bottom: 5px;
  }
}
