
.app-edit-logo-box {
  padding: 1.2rem;
  background: $panel-bg;
  text-align: center;
  img {
    max-width: 7rem;
  }
  margin-right: 2rem;
}

.app-edit-links {
  list-style: none;
  margin: 0 0 0 2rem;

  li {
    background: $panel-bg;
    margin-top: 4px;
    padding: 0.2rem 1rem;
  }
}

.app-edit-description {
  font-style: italic;
  margin-bottom: 1.5rem;
}
