//
// Container
//

.error-container {
  display: flex;
  flex-direction: row;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/public/img/graph404.svg) right no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  filter: saturate(80%);
  text-align: center;

  .error-content {
    margin: auto;
    font-weight: 300;
    font-family: Roboto;
    font-style: normal;

    .error-head {
      display: flex;
      justify-content: center;
      position: relative;
      margin-top: 1rem;

      .error-icon {
        height: 102px;
        width: 92.3px;
      }

      .error-title {
        line-height: 0.9;

        .error-code {
          font-size: 73px;
        }

        .error-text {
          font-size: 37px;
        }
      }

      .error-oops {
        position: absolute;
        top: -46px;
        left: 51px;
      }
    }

    .error-main-text {
      color: #f05a28;
      font-size: 20px;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .error-sub-text {
      width: 60%;
      margin: auto;
    }

    .error-home-button {
      width: 213px;
      justify-content: center;
      height: 48px;
      background: #0f335d;
      border-radius: 27px;
      margin-top: 1rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .error-oops {
    left: 48px !important;
  }

  .error-sub-text {
    width: 70% !important;
  }
}

@include media-breakpoint-down(xs) {
  .error-container {
    flex-direction: column;
  }

  // .error-oops {
  //   left: 25px !important;
  // }
}
