$tab-list-width: 14.5rem;
.setup-container {
  margin: 0;
  padding: 0;
}

.tab-list{
  position: fixed;
  list-style: none;
  width: $tab-list-width;
  height: 100%;
  background: rgb(243,247,250);
  border: solid 1px #ddd;
  &>li{
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
    &.active{
      background: skyblue;
      &:after{
        content: '';
        border: 25px solid transparent;
        border-right: 30px solid #fff;
        position: absolute;
        right: 0px;
      }
    }
  }
}

.tab-container{
  position: fixed;
  margin: 0px;
  margin-left: $tab-list-width;
  height: 100%;
  padding: 40px;
  background: #fff;
  box-shadow: -5px 5px 5px 0px #ccc;
  overflow: scroll;
  .tight-form{
    padding: 10px;
  }
  .label{
    background: none;
    width: 80px;
    color: black;
    text-shadow: none;
  }
  h5{
    margin-left: 15px;
  }
  ul{
    list-style: none;
  }
}

.service-list{
  display: flex;
  flex-wrap: wrap;
  .service-item{
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    border: 1px solid skyblue;
    background: white;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    .iconfont{
      font-size: 200%;
    }
    .service-name{
      font-size: 20px;
      margin-top: 20px;
    }
    .service-msg{
      height: 160px;
      padding: 30px 20px 0px;
    }
    .service-cover{
      position: absolute;
      width: 100%;
      height: 160px;
      transform: translateY(-100%);
      background: rgba(236,239,241,0.88);;
      transition: all linear 0.2s;
      p{
        height: 130px;
        padding: 10px;
        font-weight: bold;
        text-align:justify;
        overflow: hidden;
      }
    }
    &.service-err{
      border-color: rgb(254,153,5);
      &:before{
        content: '没有收到数据';
        position: absolute;
        left: 0;
        width: 100%;
        height: 30px;
        line-height: 30px;
        color: white;
        background: rgb(254,153,5);
      }
    }
    &:hover{
      .service-cover{
        transform: translateY(0);
      }
    }
  }
  .btn-install{
    width: 100%;
    height: 40px;
    left: 0px;
    bottom: 0px;
    position: absolute;
    color: white;
    border: none;
    background: skyblue;
  }
}

.icon-install{
  color: dodgerblue;
  font-size: 150%!important;
}

.installed{
  padding: 10px 0px;
  .btn{
    margin: 5px;
  }
}

.service-header{
  text-align: left;
  &>dt{
    width: 120px;
    height: 120px;
    border: 2px solid skyblue;
    margin: 0 15px 25px;
    text-align: center;
  }
  .iconfont{
    font-size: 50px;
    line-height: 70px;
  }
}

.service-nav{
  list-style: none;
  &>li{
    float: left;
    padding: 5px 20px;
    color: white;
    cursor: pointer;
    background: skyblue;
    margin: 0px 5px -2px 19px;
    border: 2px solid skyblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    &.active{
      color: black;
      background: white;
      border-bottom-color: white;
    }
  }
}

.service-tab{
  width: 100%;
  height: 300px;
  padding: 20px 5%;
  text-align: left;
  overflow-y: scroll;
  border: 2px solid skyblue;
  display: none;
  ul{
    list-style: decimal;
  }

  .metrics-table{
    width: 100%;
    th,td{
      line-height: 30px;
      border-bottom: 1px solid #ccc;
    }
  }

  &.active{
    display: block;
  }
}

.btn-update{
  color: skyblue;
  cursor: pointer;
}