.signup-page-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: url(/img/background_tease.jpg);

  .signup-logo-container {
    width: 150px;
    margin: 0 auto;
    padding: 80px 0;
  }
}

.signup__password-strength {
  position: absolute;
  margin-left: 9rem;
  width: 194px;
}
