.signup-page-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: url(/img/background_tease.jpg);

  .signup-logo-container {
    width: 150px;
    margin: 0 auto;
    padding: 80px 0;
  }
}
// cwiz start
.signup-box {
  height: 100vh;
}

.signup-inner-box{
    margin-bottom: 200px;
    background: linear-gradient(to right,rgb(43,175,250),rgba(102,214,252,0.8));
    .container{
        position: relative;
    }
}

.signup-description{
    color: $white;
    padding-top: 20px;
    margin-left: -50px;
    strong{
        font-size: 36px;
        line-height: 50px;
    }
    .signup-desc-list{
        margin-top: 25px;
        margin-left: 60px;
        font-size: 26px;
        line-height: 38px;
    }
    .signup-desc-item{
        margin-bottom: 36px;
        font-weight: bold;
    }
    p{
        font-size: 28px;
        font-weight: bold;
        line-height: 30px;
    }

}

.signup-right{
    position: absolute;
    width: 600px;
    top: 20px;
    right: -50px;
    padding: 20px;
    background: rgba(244,244,244,0.71);
}

.signup-form{
    background: $white;
    text-align: center;
    color: rgb(57,57,58);
    padding: 22px 35px;
    margin: 0px;
    .control-group{
        margin-bottom: 20px;
    }
    h2{
        font-size: 28px;
        line-height: 28px;
    }
    h3{
        font-size: 12px;
        line-height: 0px;
    }

    .controls{
        margin-left: 90px;
        margin-top: -42px;
    }
    .control-label{
        width: 120px;
        font-size: 24px;
        line-height: 42px;
        text-align: left;
        font-weight: bold;
    }

    .controls>input {
        width: 359px;
        height: 42px;
        font-size: 18px;
        border: 1px solid rgb(188,186,186);
        border-radius: 0px;
        background: none;
    }

    .controls>select{
        width: 359px;
        height: 42px;
        border: 0px;
        background: none;
        outline: 1px solid rgb(188,186,186);
    }
     
}

.signup-accept{
    margin-bottom: 35px;
    strong{
        font-size: 18px;
    }
    a{
        font-size: 18px;
        font-weight: bold;
        color: rgb(21,88,228);
    }
}

.btn-signup{
    width: 269px;
    height: 75px;
    color: $white;
    font-size: 36px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background: rgb(43,175,250);
}

.go-login{
    font-size: 22px;
    margin-top: 28px;
    strong{
        color: rgb(140,141,144);
    }
    a{
        color: rgb(38,157,248);
    }
}

/* 大屏幕 */
@media (min-width: 1200px) {
    .signup-box{
        min-width: 1200px;  
    } 
}
/* 宽屏幕 */
@media (max-height: 900px) {
    .signup-box{
        padding-bottom: 300px;
    }
}

@media (max-width: 1199px) {
    .signup-box{
        background: linear-gradient(to right,rgb(43,175,250),rgba(102,214,252,0.8));
    }
    .signup-inner-box{
        background: none;
    }
    .signup-description{
        display: none;
    }
    .signup-right{
        min-width: 600px;
        right: 50%;
        margin-right: -300px;
    }
    .sign-footer{
        display: none;
    }
}
 
/* 横向放置的手机和竖向放置的平板之间的分辨率 */
@media (max-width: 767px) {
    .signup-right{
        position: static;
        min-width: auto;
        width: auto;
        margin: 0 auto;
        background: none;

        .control-group{
            label{
                font-weight: normal;
            }
            input, select{
                width: 85%;
                height: 28px;
            }
        }
    }
    .btn-login{
        width: 90%;
    }
}

@media (max-width:540px){
     .signup-box{
        overflow: scroll;
        padding-bottom: 0px;
    }
    .signup-inner-box{
        margin-bottom: 0px;
    }
}
// cwiz end
