{
  "metadata": {
    "apiVersion": "2017-10-12", 
    "endpointPrefix": "mediapackage", 
    "jsonVersion": "1.1", 
    "protocol": "rest-json", 
    "serviceAbbreviation": "MediaPackage", 
    "serviceFullName": "AWS Elemental MediaPackage", 
    "serviceId": "MediaPackage", 
    "signatureVersion": "v4", 
    "signingName": "mediapackage", 
    "uid": "mediapackage-2017-10-12"
  }, 
  "operations": {
    "CreateChannel": {
      "errors": [
        {
          "shape": "UnprocessableEntityException"
        }, 
        {
          "shape": "InternalServerErrorException"
        }, 
        {
          "shape": "ForbiddenException"
        }, 
        {
          "shape": "NotFoundException"
        }, 
        {
          "shape": "ServiceUnavailableException"
        }, 
        {
          "shape": "TooManyRequestsException"
        }
      ], 
      "http": {
        "method": "POST", 
        "requestUri": "/channels", 
        "responseCode": 200
      }, 
      "input": {
        "shape": "CreateChannelRequest"
      }, 
      "name": "CreateChannel", 
      "output": {
        "shape": "CreateChannelResponse"
      }
    }, 
    "CreateOriginEndpoint": {
      "errors": [
        {
          "shape": "UnprocessableEntityException"
        }, 
        {
          "shape": "InternalServerErrorException"
        }, 
        {
          "shape": "ForbiddenException"
        }, 
        {
          "shape": "NotFoundException"
        }, 
        {
          "shape": "ServiceUnavailableException"
        }, 
        {
          "shape": "TooManyRequestsException"
        }
      ], 
      "http": {
        "method": "POST", 
        "requestUri": "/origin_endpoints", 
        "responseCode": 200
      }, 
      "input": {
        "shape": "CreateOriginEndpointRequest"
      }, 
      "name": "CreateOriginEndpoint", 
      "output": {
        "shape": "CreateOriginEndpointResponse"
      }
    }, 
    "DeleteChannel": {
      "errors": [
        {
          "shape": "UnprocessableEntityException"
        }, 
        {
          "shape": "InternalServerErrorException"
        }, 
        {
          "shape": "ForbiddenException"
        }, 
        {
          "shape": "NotFoundException"
        }, 
        {
          "shape": "ServiceUnavailableException"
        }, 
        {
          "shape": "TooManyRequestsException"
        }
      ], 
      "http": {
        "method": "DELETE", 
        "requestUri": "/channels/{id}", 
        "responseCode": 202
      }, 
      "input": {
        "shape": "DeleteChannelRequest"
      }, 
      "name": "DeleteChannel", 
      "output": {
        "shape": "DeleteChannelResponse"
      }
    }, 
    "DeleteOriginEndpoint": {
      "errors": [
        {
          "shape": "UnprocessableEntityException"
        }, 
        {
          "shape": "InternalServerErrorException"
        }, 
        {
          "shape": "ForbiddenException"
        }, 
        {
          "shape": "NotFoundException"
        }, 
        {
          "shape": "ServiceUnavailableException"
        }, 
        {
          "shape": "TooManyRequestsException"
        }
      ], 
      "http": {
        "method": "DELETE", 
        "requestUri": "/origin_endpoints/{id}", 
        "responseCode": 202
      }, 
      "input": {
        "shape": "DeleteOriginEndpointRequest"
      }, 
      "name": "DeleteOriginEndpoint", 
      "output": {
        "shape": "DeleteOriginEndpointResponse"
      }
    }, 
    "DescribeChannel": {
      "errors": [
        {
          "shape": "UnprocessableEntityException"
        }, 
        {
          "shape": "InternalServerErrorException"
        }, 
        {
          "shape": "ForbiddenException"
        }, 
        {
          "shape": "NotFoundException"
        }, 
        {
          "shape": "ServiceUnavailableException"
        }, 
        {
          "shape": "TooManyRequestsException"
        }
      ], 
      "http": {
        "method": "GET", 
        "requestUri": "/channels/{id}", 
        "responseCode": 200
      }, 
      "input": {
        "shape": "DescribeChannelRequest"
      }, 
      "name": "DescribeChannel", 
      "output": {
        "shape": "DescribeChannelResponse"
      }
    }, 
    "DescribeOriginEndpoint": {
      "errors": [
        {
          "shape": "UnprocessableEntityException"
        }, 
        {
          "shape": "InternalServerErrorException"
        }, 
        {
          "shape": "ForbiddenException"
        }, 
        {
          "shape": "NotFoundException"
        }, 
        {
          "shape": "ServiceUnavailableException"
        }, 
        {
          "shape": "TooManyRequestsException"
        }
      ], 
      "http": {
        "method": "GET", 
        "requestUri": "/origin_endpoints/{id}", 
        "responseCode": 200
      }, 
      "input": {
        "shape": "DescribeOriginEndpointRequest"
      }, 
      "name": "DescribeOriginEndpoint", 
      "output": {
        "shape": "DescribeOriginEndpointResponse"
      }
    }, 
    "ListChannels": {
      "errors": [
        {
          "shape": "UnprocessableEntityException"
        }, 
        {
          "shape": "InternalServerErrorException"
        }, 
        {
          "shape": "ForbiddenException"
        }, 
        {
          "shape": "NotFoundException"
        }, 
        {
          "shape": "ServiceUnavailableException"
        }, 
        {
          "shape": "TooManyRequestsException"
        }
      ], 
      "http": {
        "method": "GET", 
        "requestUri": "/channels", 
        "responseCode": 200
      }, 
      "input": {
        "shape": "ListChannelsRequest"
      }, 
      "name": "ListChannels", 
      "output": {
        "shape": "ListChannelsResponse"
      }
    }, 
    "ListOriginEndpoints": {
      "errors": [
        {
          "shape": "UnprocessableEntityException"
        }, 
        {
          "shape": "InternalServerErrorException"
        }, 
        {
          "shape": "ForbiddenException"
        }, 
        {
          "shape": "NotFoundException"
        }, 
        {
          "shape": "ServiceUnavailableException"
        }, 
        {
          "shape": "TooManyRequestsException"
        }
      ], 
      "http": {
        "method": "GET", 
        "requestUri": "/origin_endpoints", 
        "responseCode": 200
      }, 
      "input": {
        "shape": "ListOriginEndpointsRequest"
      }, 
      "name": "ListOriginEndpoints", 
      "output": {
        "shape": "ListOriginEndpointsResponse"
      }
    }, 
    "RotateChannelCredentials": {
      "errors": [
        {
          "shape": "UnprocessableEntityException"
        }, 
        {
          "shape": "InternalServerErrorException"
        }, 
        {
          "shape": "ForbiddenException"
        }, 
        {
          "shape": "NotFoundException"
        }, 
        {
          "shape": "ServiceUnavailableException"
        }, 
        {
          "shape": "TooManyRequestsException"
        }
      ], 
      "http": {
        "method": "PUT", 
        "requestUri": "/channels/{id}/credentials", 
        "responseCode": 200
      }, 
      "input": {
        "shape": "RotateChannelCredentialsRequest"
      }, 
      "name": "RotateChannelCredentials", 
      "output": {
        "shape": "RotateChannelCredentialsResponse"
      }
    }, 
    "UpdateChannel": {
      "errors": [
        {
          "shape": "UnprocessableEntityException"
        }, 
        {
          "shape": "InternalServerErrorException"
        }, 
        {
          "shape": "ForbiddenException"
        }, 
        {
          "shape": "NotFoundException"
        }, 
        {
          "shape": "ServiceUnavailableException"
        }, 
        {
          "shape": "TooManyRequestsException"
        }
      ], 
      "http": {
        "method": "PUT", 
        "requestUri": "/channels/{id}", 
        "responseCode": 200
      }, 
      "input": {
        "shape": "UpdateChannelRequest"
      }, 
      "name": "UpdateChannel", 
      "output": {
        "shape": "UpdateChannelResponse"
      }
    }, 
    "UpdateOriginEndpoint": {
      "errors": [
        {
          "shape": "UnprocessableEntityException"
        }, 
        {
          "shape": "InternalServerErrorException"
        }, 
        {
          "shape": "ForbiddenException"
        }, 
        {
          "shape": "NotFoundException"
        }, 
        {
          "shape": "ServiceUnavailableException"
        }, 
        {
          "shape": "TooManyRequestsException"
        }
      ], 
      "http": {
        "method": "PUT", 
        "requestUri": "/origin_endpoints/{id}", 
        "responseCode": 200
      }, 
      "input": {
        "shape": "UpdateOriginEndpointRequest"
      }, 
      "name": "UpdateOriginEndpoint", 
      "output": {
        "shape": "UpdateOriginEndpointResponse"
      }
    }
  }, 
  "shapes": {
    "AdMarkers": {
      "enum": [
        "NONE", 
        "SCTE35_ENHANCED", 
        "PASSTHROUGH"
      ], 
      "type": "string"
    }, 
    "Channel": {
      "members": {
        "Arn": {
          "locationName": "arn", 
          "shape": "__string"
        }, 
        "Description": {
          "locationName": "description", 
          "shape": "__string"
        }, 
        "HlsIngest": {
          "locationName": "hlsIngest", 
          "shape": "HlsIngest"
        }, 
        "Id": {
          "locationName": "id", 
          "shape": "__string"
        }
      }, 
      "type": "structure"
    }, 
    "ChannelCreateParameters": {
      "members": {
        "Description": {
          "locationName": "description", 
          "shape": "__string"
        }, 
        "Id": {
          "locationName": "id", 
          "shape": "__string"
        }
      }, 
      "type": "structure"
    }, 
    "ChannelList": {
      "members": {
        "Channels": {
          "locationName": "channels", 
          "shape": "ListOfChannel"
        }, 
        "NextToken": {
          "locationName": "nextToken", 
          "shape": "__string"
        }
      }, 
      "type": "structure"
    }, 
    "ChannelUpdateParameters": {
      "members": {
        "Description": {
          "locationName": "description", 
          "shape": "__string"
        }
      }, 
      "type": "structure"
    }, 
    "CreateChannelRequest": {
      "members": {
        "Description": {
          "locationName": "description", 
          "shape": "__string"
        }, 
        "Id": {
          "locationName": "id", 
          "shape": "__string"
        }
      }, 
      "required": [
        "Id"
      ], 
      "type": "structure"
    }, 
    "CreateChannelResponse": {
      "members": {
        "Arn": {
          "locationName": "arn", 
          "shape": "__string"
        }, 
        "Description": {
          "locationName": "description", 
          "shape": "__string"
        }, 
        "HlsIngest": {
          "locationName": "hlsIngest", 
          "shape": "HlsIngest"
        }, 
        "Id": {
          "locationName": "id", 
          "shape": "__string"
        }
      }, 
      "type": "structure"
    }, 
    "CreateOriginEndpointRequest": {
      "members": {
        "ChannelId": {
          "locationName": "channelId", 
          "shape": "__string"
        }, 
        "DashPackage": {
          "locationName": "dashPackage", 
          "shape": "DashPackage"
        }, 
        "Description": {
          "locationName": "description", 
          "shape": "__string"
        }, 
        "HlsPackage": {
          "locationName": "hlsPackage", 
          "shape": "HlsPackage"
        }, 
        "Id": {
          "locationName": "id", 
          "shape": "__string"
        }, 
        "ManifestName": {
          "locationName": "manifestName", 
          "shape": "__string"
        }, 
        "MssPackage": {
          "locationName": "mssPackage", 
          "shape": "MssPackage"
        }, 
        "StartoverWindowSeconds": {
          "locationName": "startoverWindowSeconds", 
          "shape": "__integer"
        }, 
        "TimeDelaySeconds": {
          "locationName": "timeDelaySeconds", 
          "shape": "__integer"
        }, 
        "Whitelist": {
          "locationName": "whitelist", 
          "shape": "ListOf__string"
        }
      }, 
      "required": [
        "ChannelId", 
        "Id"
      ], 
      "type": "structure"
    }, 
    "CreateOriginEndpointResponse": {
      "members": {
        "Arn": {
          "locationName": "arn", 
          "shape": "__string"
        }, 
        "ChannelId": {
          "locationName": "channelId", 
          "shape": "__string"
        }, 
        "DashPackage": {
          "locationName": "dashPackage", 
          "shape": "DashPackage"
        }, 
        "Description": {
          "locationName": "description", 
          "shape": "__string"
        }, 
        "HlsPackage": {
          "locationName": "hlsPackage", 
          "shape": "HlsPackage"
        }, 
        "Id": {
          "locationName": "id", 
          "shape": "__string"
        }, 
        "ManifestName": {
          "locationName": "manifestName", 
          "shape": "__string"
        }, 
        "MssPackage": {
          "locationName": "mssPackage", 
          "shape": "MssPackage"
        }, 
        "StartoverWindowSeconds": {
          "locationName": "startoverWindowSeconds", 
          "shape": "__integer"
        }, 
        "TimeDelaySeconds": {
          "locationName": "timeDelaySeconds", 
          "shape": "__integer"
        }, 
        "Url": {
          "locationName": "url", 
          "shape": "__string"
        }, 
        "Whitelist": {
          "locationName": "whitelist", 
          "shape": "ListOf__string"
        }
      }, 
      "type": "structure"
    }, 
    "DashEncryption": {
      "members": {
        "KeyRotationIntervalSeconds": {
          "locationName": "keyRotationIntervalSeconds", 
          "shape": "__integer"
        }, 
        "SpekeKeyProvider": {
          "locationName": "spekeKeyProvider", 
          "shape": "SpekeKeyProvider"
        }
      }, 
      "required": [
        "SpekeKeyProvider"
      ], 
      "type": "structure"
    }, 
    "DashPackage": {
      "members": {
        "Encryption": {
          "locationName": "encryption", 
          "shape": "DashEncryption"
        }, 
        "ManifestWindowSeconds": {
          "locationName": "manifestWindowSeconds", 
          "shape": "__integer"
        }, 
        "MinBufferTimeSeconds": {
          "locationName": "minBufferTimeSeconds", 
          "shape": "__integer"
        }, 
        "MinUpdatePeriodSeconds": {
          "locationName": "minUpdatePeriodSeconds", 
          "shape": "__integer"
        }, 
        "Profile": {
          "locationName": "profile", 
          "shape": "Profile"
        }, 
        "SegmentDurationSeconds": {
          "locationName": "segmentDurationSeconds", 
          "shape": "__integer"
        }, 
        "StreamSelection": {
          "locationName": "streamSelection", 
          "shape": "StreamSelection"
        }, 
        "SuggestedPresentationDelaySeconds": {
          "locationName": "suggestedPresentationDelaySeconds", 
          "shape": "__integer"
        }
      }, 
      "type": "structure"
    }, 
    "DeleteChannelRequest": {
      "members": {
        "Id": {
          "location": "uri", 
          "locationName": "id", 
          "shape": "__string"
        }
      }, 
      "required": [
        "Id"
      ], 
      "type": "structure"
    }, 
    "DeleteChannelResponse": {
      "members": {}, 
      "type": "structure"
    }, 
    "DeleteOriginEndpointRequest": {
      "members": {
        "Id": {
          "location": "uri", 
          "locationName": "id", 
          "shape": "__string"
        }
      }, 
      "required": [
        "Id"
      ], 
      "type": "structure"
    }, 
    "DeleteOriginEndpointResponse": {
      "members": {}, 
      "type": "structure"
    }, 
    "DescribeChannelRequest": {
      "members": {
        "Id": {
          "location": "uri", 
          "locationName": "id", 
          "shape": "__string"
        }
      }, 
      "required": [
        "Id"
      ], 
      "type": "structure"
    }, 
    "DescribeChannelResponse": {
      "members": {
        "Arn": {
          "locationName": "arn", 
          "shape": "__string"
        }, 
        "Description": {
          "locationName": "description", 
          "shape": "__string"
        }, 
        "HlsIngest": {
          "locationName": "hlsIngest", 
          "shape": "HlsIngest"
        }, 
        "Id": {
          "locationName": "id", 
          "shape": "__string"
        }
      }, 
      "type": "structure"
    }, 
    "DescribeOriginEndpointRequest": {
      "members": {
        "Id": {
          "location": "uri", 
          "locationName": "id", 
          "shape": "__string"
        }
      }, 
      "required": [
        "Id"
      ], 
      "type": "structure"
    }, 
    "DescribeOriginEndpointResponse": {
      "members": {
        "Arn": {
          "locationName": "arn", 
          "shape": "__string"
        }, 
        "ChannelId": {
          "locationName": "channelId", 
          "shape": "__string"
        }, 
        "DashPackage": {
          "locationName": "dashPackage", 
          "shape": "DashPackage"
        }, 
        "Description": {
          "locationName": "description", 
          "shape": "__string"
        }, 
        "HlsPackage": {
          "locationName": "hlsPackage", 
          "shape": "HlsPackage"
        }, 
        "Id": {
          "locationName": "id", 
          "shape": "__string"
        }, 
        "ManifestName": {
          "locationName": "manifestName", 
          "shape": "__string"
        }, 
        "MssPackage": {
          "locationName": "mssPackage", 
          "shape": "MssPackage"
        }, 
        "StartoverWindowSeconds": {
          "locationName": "startoverWindowSeconds", 
          "shape": "__integer"
        }, 
        "TimeDelaySeconds": {
          "locationName": "timeDelaySeconds", 
          "shape": "__integer"
        }, 
        "Url": {
          "locationName": "url", 
          "shape": "__string"
        }, 
        "Whitelist": {
          "locationName": "whitelist", 
          "shape": "ListOf__string"
        }
      }, 
      "type": "structure"
    }, 
    "EncryptionMethod": {
      "enum": [
        "AES_128", 
        "SAMPLE_AES"
      ], 
      "type": "string"
    }, 
    "ForbiddenException": {
      "error": {
        "httpStatusCode": 403
      }, 
      "exception": true, 
      "members": {
        "Message": {
          "locationName": "message", 
          "shape": "__string"
        }
      }, 
      "type": "structure"
    }, 
    "HlsEncryption": {
      "members": {
        "ConstantInitializationVector": {
          "locationName": "constantInitializationVector", 
          "shape": "__string"
        }, 
        "EncryptionMethod": {
          "locationName": "encryptionMethod", 
          "shape": "EncryptionMethod"
        }, 
        "KeyRotationIntervalSeconds": {
          "locationName": "keyRotationIntervalSeconds", 
          "shape": "__integer"
        }, 
        "RepeatExtXKey": {
          "locationName": "repeatExtXKey", 
          "shape": "__boolean"
        }, 
        "SpekeKeyProvider": {
          "locationName": "spekeKeyProvider", 
          "shape": "SpekeKeyProvider"
        }
      }, 
      "required": [
        "SpekeKeyProvider"
      ], 
      "type": "structure"
    }, 
    "HlsIngest": {
      "members": {
        "IngestEndpoints": {
          "locationName": "ingestEndpoints", 
          "shape": "ListOfIngestEndpoint"
        }
      }, 
      "type": "structure"
    }, 
    "HlsPackage": {
      "members": {
        "AdMarkers": {
          "locationName": "adMarkers", 
          "shape": "AdMarkers"
        }, 
        "Encryption": {
          "locationName": "encryption", 
          "shape": "HlsEncryption"
        }, 
        "IncludeIframeOnlyStream": {
          "locationName": "includeIframeOnlyStream", 
          "shape": "__boolean"
        }, 
        "PlaylistType": {
          "locationName": "playlistType", 
          "shape": "PlaylistType"
        }, 
        "PlaylistWindowSeconds": {
          "locationName": "playlistWindowSeconds", 
          "shape": "__integer"
        }, 
        "ProgramDateTimeIntervalSeconds": {
          "locationName": "programDateTimeIntervalSeconds", 
          "shape": "__integer"
        }, 
        "SegmentDurationSeconds": {
          "locationName": "segmentDurationSeconds", 
          "shape": "__integer"
        }, 
        "StreamSelection": {
          "locationName": "streamSelection", 
          "shape": "StreamSelection"
        }, 
        "UseAudioRenditionGroup": {
          "locationName": "useAudioRenditionGroup", 
          "shape": "__boolean"
        }
      }, 
      "type": "structure"
    }, 
    "IngestEndpoint": {
      "members": {
        "Password": {
          "locationName": "password", 
          "shape": "__string"
        }, 
        "Url": {
          "locationName": "url", 
          "shape": "__string"
        }, 
        "Username": {
          "locationName": "username", 
          "shape": "__string"
        }
      }, 
      "type": "structure"
    }, 
    "InternalServerErrorException": {
      "error": {
        "httpStatusCode": 500
      }, 
      "exception": true, 
      "members": {
        "Message": {
          "locationName": "message", 
          "shape": "__string"
        }
      }, 
      "type": "structure"
    }, 
    "ListChannelsRequest": {
      "members": {
        "MaxResults": {
          "location": "querystring", 
          "locationName": "maxResults", 
          "shape": "MaxResults"
        }, 
        "NextToken": {
          "location": "querystring", 
          "locationName": "nextToken", 
          "shape": "__string"
        }
      }, 
      "type": "structure"
    }, 
    "ListChannelsResponse": {
      "members": {
        "Channels": {
          "locationName": "channels", 
          "shape": "ListOfChannel"
        }, 
        "NextToken": {
          "locationName": "nextToken", 
          "shape": "__string"
        }
      }, 
      "type": "structure"
    }, 
    "ListOfChannel": {
      "member": {
        "shape": "Channel"
      }, 
      "type": "list"
    }, 
    "ListOfIngestEndpoint": {
      "member": {
        "shape": "IngestEndpoint"
      }, 
      "type": "list"
    }, 
    "ListOfOriginEndpoint": {
      "member": {
        "shape": "OriginEndpoint"
      }, 
      "type": "list"
    }, 
    "ListOf__string": {
      "member": {
        "shape": "__string"
      }, 
      "type": "list"
    }, 
    "ListOriginEndpointsRequest": {
      "members": {
        "ChannelId": {
          "location": "querystring", 
          "locationName": "channelId", 
          "shape": "__string"
        }, 
        "MaxResults": {
          "location": "querystring", 
          "locationName": "maxResults", 
          "shape": "MaxResults"
        }, 
        "NextToken": {
          "location": "querystring", 
          "locationName": "nextToken", 
          "shape": "__string"
        }
      }, 
      "type": "structure"
    }, 
    "ListOriginEndpointsResponse": {
      "members": {
        "NextToken": {
          "locationName": "nextToken", 
          "shape": "__string"
        }, 
        "OriginEndpoints": {
          "locationName": "originEndpoints", 
          "shape": "ListOfOriginEndpoint"
        }
      }, 
      "type": "structure"
    }, 
    "MaxResults": {
      "max": 1000, 
      "min": 1, 
      "type": "integer"
    }, 
    "MssEncryption": {
      "members": {
        "SpekeKeyProvider": {
          "locationName": "spekeKeyProvider", 
          "shape": "SpekeKeyProvider"
        }
      }, 
      "required": [
        "SpekeKeyProvider"
      ], 
      "type": "structure"
    }, 
    "MssPackage": {
      "members": {
        "Encryption": {
          "locationName": "encryption", 
          "shape": "MssEncryption"
        }, 
        "ManifestWindowSeconds": {
          "locationName": "manifestWindowSeconds", 
          "shape": "__integer"
        }, 
        "SegmentDurationSeconds": {
          "locationName": "segmentDurationSeconds", 
          "shape": "__integer"
        }, 
        "StreamSelection": {
          "locationName": "streamSelection", 
          "shape": "StreamSelection"
        }
      }, 
      "type": "structure"
    }, 
    "NotFoundException": {
      "error": {
        "httpStatusCode": 404
      }, 
      "exception": true, 
      "members": {
        "Message": {
          "locationName": "message", 
          "shape": "__string"
        }
      }, 
      "type": "structure"
    }, 
    "OriginEndpoint": {
      "members": {
        "Arn": {
          "locationName": "arn", 
          "shape": "__string"
        }, 
        "ChannelId": {
          "locationName": "channelId", 
          "shape": "__string"
        }, 
        "DashPackage": {
          "locationName": "dashPackage", 
          "shape": "DashPackage"
        }, 
        "Description": {
          "locationName": "description", 
          "shape": "__string"
        }, 
        "HlsPackage": {
          "locationName": "hlsPackage", 
          "shape": "HlsPackage"
        }, 
        "Id": {
          "locationName": "id", 
          "shape": "__string"
        }, 
        "ManifestName": {
          "locationName": "manifestName", 
          "shape": "__string"
        }, 
        "MssPackage": {
          "locationName": "mssPackage", 
          "shape": "MssPackage"
        }, 
        "StartoverWindowSeconds": {
          "locationName": "startoverWindowSeconds", 
          "shape": "__integer"
        }, 
        "TimeDelaySeconds": {
          "locationName": "timeDelaySeconds", 
          "shape": "__integer"
        }, 
        "Url": {
          "locationName": "url", 
          "shape": "__string"
        }, 
        "Whitelist": {
          "locationName": "whitelist", 
          "shape": "ListOf__string"
        }
      }, 
      "type": "structure"
    }, 
    "OriginEndpointCreateParameters": {
      "members": {
        "ChannelId": {
          "locationName": "channelId", 
          "shape": "__string"
        }, 
        "DashPackage": {
          "locationName": "dashPackage", 
          "shape": "DashPackage"
        }, 
        "Description": {
          "locationName": "description", 
          "shape": "__string"
        }, 
        "HlsPackage": {
          "locationName": "hlsPackage", 
          "shape": "HlsPackage"
        }, 
        "Id": {
          "locationName": "id", 
          "shape": "__string"
        }, 
        "ManifestName": {
          "locationName": "manifestName", 
          "shape": "__string"
        }, 
        "MssPackage": {
          "locationName": "mssPackage", 
          "shape": "MssPackage"
        }, 
        "StartoverWindowSeconds": {
          "locationName": "startoverWindowSeconds", 
          "shape": "__integer"
        }, 
        "TimeDelaySeconds": {
          "locationName": "timeDelaySeconds", 
          "shape": "__integer"
        }, 
        "Whitelist": {
          "locationName": "whitelist", 
          "shape": "ListOf__string"
        }
      }, 
      "type": "structure"
    }, 
    "OriginEndpointList": {
      "members": {
        "NextToken": {
          "locationName": "nextToken", 
          "shape": "__string"
        }, 
        "OriginEndpoints": {
          "locationName": "originEndpoints", 
          "shape": "ListOfOriginEndpoint"
        }
      }, 
      "type": "structure"
    }, 
    "OriginEndpointUpdateParameters": {
      "members": {
        "DashPackage": {
          "locationName": "dashPackage", 
          "shape": "DashPackage"
        }, 
        "Description": {
          "locationName": "description", 
          "shape": "__string"
        }, 
        "HlsPackage": {
          "locationName": "hlsPackage", 
          "shape": "HlsPackage"
        }, 
        "ManifestName": {
          "locationName": "manifestName", 
          "shape": "__string"
        }, 
        "MssPackage": {
          "locationName": "mssPackage", 
          "shape": "MssPackage"
        }, 
        "StartoverWindowSeconds": {
          "locationName": "startoverWindowSeconds", 
          "shape": "__integer"
        }, 
        "TimeDelaySeconds": {
          "locationName": "timeDelaySeconds", 
          "shape": "__integer"
        }, 
        "Whitelist": {
          "locationName": "whitelist", 
          "shape": "ListOf__string"
        }
      }, 
      "type": "structure"
    }, 
    "PlaylistType": {
      "enum": [
        "NONE", 
        "EVENT", 
        "VOD"
      ], 
      "type": "string"
    }, 
    "Profile": {
      "enum": [
        "NONE", 
        "HBBTV_1_5"
      ], 
      "type": "string"
    }, 
    "RotateChannelCredentialsRequest": {
      "members": {
        "Id": {
          "location": "uri", 
          "locationName": "id", 
          "shape": "__string"
        }
      }, 
      "required": [
        "Id"
      ], 
      "type": "structure"
    }, 
    "RotateChannelCredentialsResponse": {
      "members": {
        "Arn": {
          "locationName": "arn", 
          "shape": "__string"
        }, 
        "Description": {
          "locationName": "description", 
          "shape": "__string"
        }, 
        "HlsIngest": {
          "locationName": "hlsIngest", 
          "shape": "HlsIngest"
        }, 
        "Id": {
          "locationName": "id", 
          "shape": "__string"
        }
      }, 
      "type": "structure"
    }, 
    "ServiceUnavailableException": {
      "error": {
        "httpStatusCode": 503
      }, 
      "exception": true, 
      "members": {
        "Message": {
          "locationName": "message", 
          "shape": "__string"
        }
      }, 
      "type": "structure"
    }, 
    "SpekeKeyProvider": {
      "members": {
        "ResourceId": {
          "locationName": "resourceId", 
          "shape": "__string"
        }, 
        "RoleArn": {
          "locationName": "roleArn", 
          "shape": "__string"
        }, 
        "SystemIds": {
          "locationName": "systemIds", 
          "shape": "ListOf__string"
        }, 
        "Url": {
          "locationName": "url", 
          "shape": "__string"
        }
      }, 
      "required": [
        "Url", 
        "ResourceId", 
        "RoleArn", 
        "SystemIds"
      ], 
      "type": "structure"
    }, 
    "StreamOrder": {
      "enum": [
        "ORIGINAL", 
        "VIDEO_BITRATE_ASCENDING", 
        "VIDEO_BITRATE_DESCENDING"
      ], 
      "type": "string"
    }, 
    "StreamSelection": {
      "members": {
        "MaxVideoBitsPerSecond": {
          "locationName": "maxVideoBitsPerSecond", 
          "shape": "__integer"
        }, 
        "MinVideoBitsPerSecond": {
          "locationName": "minVideoBitsPerSecond", 
          "shape": "__integer"
        }, 
        "StreamOrder": {
          "locationName": "streamOrder", 
          "shape": "StreamOrder"
        }
      }, 
      "type": "structure"
    }, 
    "TooManyRequestsException": {
      "error": {
        "httpStatusCode": 429
      }, 
      "exception": true, 
      "members": {
        "Message": {
          "locationName": "message", 
          "shape": "__string"
        }
      }, 
      "type": "structure"
    }, 
    "UnprocessableEntityException": {
      "error": {
        "httpStatusCode": 422
      }, 
      "exception": true, 
      "members": {
        "Message": {
          "locationName": "message", 
          "shape": "__string"
        }
      }, 
      "type": "structure"
    }, 
    "UpdateChannelRequest": {
      "members": {
        "Description": {
          "locationName": "description", 
          "shape": "__string"
        }, 
        "Id": {
          "location": "uri", 
          "locationName": "id", 
          "shape": "__string"
        }
      }, 
      "required": [
        "Id"
      ], 
      "type": "structure"
    }, 
    "UpdateChannelResponse": {
      "members": {
        "Arn": {
          "locationName": "arn", 
          "shape": "__string"
        }, 
        "Description": {
          "locationName": "description", 
          "shape": "__string"
        }, 
        "HlsIngest": {
          "locationName": "hlsIngest", 
          "shape": "HlsIngest"
        }, 
        "Id": {
          "locationName": "id", 
          "shape": "__string"
        }
      }, 
      "type": "structure"
    }, 
    "UpdateOriginEndpointRequest": {
      "members": {
        "DashPackage": {
          "locationName": "dashPackage", 
          "shape": "DashPackage"
        }, 
        "Description": {
          "locationName": "description", 
          "shape": "__string"
        }, 
        "HlsPackage": {
          "locationName": "hlsPackage", 
          "shape": "HlsPackage"
        }, 
        "Id": {
          "location": "uri", 
          "locationName": "id", 
          "shape": "__string"
        }, 
        "ManifestName": {
          "locationName": "manifestName", 
          "shape": "__string"
        }, 
        "MssPackage": {
          "locationName": "mssPackage", 
          "shape": "MssPackage"
        }, 
        "StartoverWindowSeconds": {
          "locationName": "startoverWindowSeconds", 
          "shape": "__integer"
        }, 
        "TimeDelaySeconds": {
          "locationName": "timeDelaySeconds", 
          "shape": "__integer"
        }, 
        "Whitelist": {
          "locationName": "whitelist", 
          "shape": "ListOf__string"
        }
      }, 
      "required": [
        "Id"
      ], 
      "type": "structure"
    }, 
    "UpdateOriginEndpointResponse": {
      "members": {
        "Arn": {
          "locationName": "arn", 
          "shape": "__string"
        }, 
        "ChannelId": {
          "locationName": "channelId", 
          "shape": "__string"
        }, 
        "DashPackage": {
          "locationName": "dashPackage", 
          "shape": "DashPackage"
        }, 
        "Description": {
          "locationName": "description", 
          "shape": "__string"
        }, 
        "HlsPackage": {
          "locationName": "hlsPackage", 
          "shape": "HlsPackage"
        }, 
        "Id": {
          "locationName": "id", 
          "shape": "__string"
        }, 
        "ManifestName": {
          "locationName": "manifestName", 
          "shape": "__string"
        }, 
        "MssPackage": {
          "locationName": "mssPackage", 
          "shape": "MssPackage"
        }, 
        "StartoverWindowSeconds": {
          "locationName": "startoverWindowSeconds", 
          "shape": "__integer"
        }, 
        "TimeDelaySeconds": {
          "locationName": "timeDelaySeconds", 
          "shape": "__integer"
        }, 
        "Url": {
          "locationName": "url", 
          "shape": "__string"
        }, 
        "Whitelist": {
          "locationName": "whitelist", 
          "shape": "ListOf__string"
        }
      }, 
      "type": "structure"
    }, 
    "__boolean": {
      "type": "boolean"
    }, 
    "__double": {
      "type": "double"
    }, 
    "__integer": {
      "type": "integer"
    }, 
    "__string": {
      "type": "string"
    }, 
    "__timestamp": {
      "type": "timestamp"
    }
  }
}