<topnav title="健康管理" icon="fa fa-fw fa-stethoscope" subnav="true">
  <ul class="nav">
    <li class="active" ><a href="health">列表</a></li>
  </ul>
</topnav>

<div class="page-container">
  <div class="page">
    <div class="controls">
      <h2 class="span2">系统健康指标</h2>
      <div class="progress span3" style="padding: 20px 0px 0px 0px;">
        <div class="bar bar-success" style="width:{{100-(100-applicationHealth+20)}}%;">
          <span style="position: absolute;display: block;width: 300px;color:whitesmoke;">应用健康指数:{{applicationHealth}}%</span>
        </div>
        <div class="bar bar-danger" style="width:{{(100-applicationHealth)+20}}%;"></div>
      </div>
    </div>

    <div ng-if="anomalyList.length === 0">
      <em>系统一切正常</em>
    </div>
    <table class="grafana-options-table" ng-if="anomalyList.length > 0">
      <tr>
        <td><strong>指标名称</strong></td>
        <td><strong>健康指数</strong></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-repeat="anomalyDef in anomalyList">
        <td style="width:1%">
          <i class="fa fa-bell"></i> &nbsp;
          {{anomalyDef.metric}}
        </td>
        <td style="width:70%;padding: 20px 50px 0px 10px;">
          <div class="progress progress-striped">
            <div class="bar bar-success" style="width:{{100-(100-anomalyDef.health+20)}}%;">
              <span style="position: absolute;display: block;width: 300px;color:whitesmoke;">健康指数:{{anomalyDef.health}} %</span>
            </div>
            <div class="bar bar-danger" style="width:{{(100-anomalyDef.health)+20}}%;"></div>
          </div>
        </td>
        <td style="width: 1%">
          <a href="/anomaly/{{anomalyDef.metric}}" class="btn btn-inverse btn-mini">
            <i class="fa fa-edit"></i>
            进入
          </a>
        </td>
      </tr>
    </table>

  </div>
</div>

