<topnav title="健康管理" icon="fa fa-fw fa-stethoscope" subnav="true">
  <ul class="nav">
    <li><a href="anomaly">总览</a></li>
    <li class="active"><a>历史</a></li>
  </ul>
</topnav>

<div class="page-container">
    <h2>自动异常检测 <span style="font-size: 12px">历史</span></h2>

    <div ng-if="anomalyRows.length === 0">
      <em>还没有任何历史数据</em>
    </div>

    <div style="overflow: hidden;">
      <div class="grafana-list-item">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">
            查询历史
          </li>
          <li>
            <select style="width: 110px" 
              ng-model="anomalyTimeSelected" 
              ng-options="item.value for item in anomalyHistoryRange"
              ng-change="loadHistory(anomalyTimeSelected)"
              >
            </select>
          </li>
          <li style="padding-left: 20px">
            <input type="text" class="tight-form-input input-large" required placeholder="请输入需要查询内容" ng-model="anomalyKey"/>
          </li>
          <li>
            <span class="tight-form-btn btn btn-success btn-small"><i class="fa fa-fw fa-search"></i>查询</span>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>

       <div class="grafana-list-item">
        <span style="width: 200px;"><strong>异常出现时间</strong></span>
        <span style="width: 100px;"><strong>机器名称</strong></span>
        <span style="width: 300px;"><strong>指标名称</strong></span>
      </div>
      <div class="grafana-list-item" ng-repeat="anomaly in anomalyHistory | filter: anomalyKey" ng-click="getDetail(anomaly);">
        <span style="width: 200px;">{{anomaly.time | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
        <span style="width: 100px;">{{anomaly.host}}</span>
        <span style="width: 300px;">{{anomaly.metric}}</span>
      </div>
    </div>
</div>
