<topnav title="健康管理" icon="fa fa-fw fa-stethoscope" subnav="true">
  <ul class="nav">
    <li class="active" ><a href="health">列表</a></li>
  </ul>
</topnav>

<div class="page-container" style="float: left;width: 93%">
  <div class="page" style="float: left;">
    <h2>{{system}}</h2>
    <h4>参与总体计算指标<span class="btn btn-small btn-success">健康值:{{applicationHealth}}%</span></h4>

    <div ng-if="includeMetricsData.length === 0">
      <em>系统一切正常</em>
    </div>
    <table class="grafana-options-table" ng-if="includeMetricsData.length > 0">
      <tr>
        <td><strong>指标名称</strong></td>
        <td><strong>健康指数</strong></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-repeat="anomalyDef in includeMetricsData">
        <td style="width:1%">
          <i class="fa fa-bell"></i> &nbsp;
          {{_.getMetricName(anomalyDef.metric)}}
        </td>
        <td style="width:70%;padding: 20px 50px 0px 10px;">
          <div class="progress progress-striped active">
            <div class="bar bar-success" style="width:{{anomalyDef.health}}%;">
              <span style="position: absolute;display: block;width: 300px;color:whitesmoke;">健康指数:{{anomalyDef.health}} %</span>
            </div>
            <div class="bar bar-danger" style="width:{{100-anomalyDef.health}}%;"></div>
          </div>
        </td>
        <td style="width: 1%">
          <a ng-click="exclude(anomalyDef.metric)" class="btn  btn-mini">
            <i class="fa fa-ban"></i>
            剔除
          </a>
        </td>
        <td style="width: 1%">
          <a href="/anomaly/{{anomalyDef.metric}}" class="btn btn-inverse btn-mini">
            <i class="fa fa-edit"></i>
            进入
          </a>
        </td>
      </tr>
    </table>

    <br/>
    <table class="grafana-options-table" ng-if="excludeMetricsData.length > 0">
      <h4>不参与总体计算指标</h4>
      <tr>
        <td><strong>指标名称</strong></td>
        <td><strong>健康指数</strong></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-repeat="anomalyDef in excludeMetricsData">
        <td style="width:1%">
          <i class="fa fa-check-square-o"></i> &nbsp;
          {{_.getMetricName(anomalyDef.metric)}}
        </td>
        <td style="width:50%;padding: 20px 50px 0px 10px;">
          <div class="progress progress-striped active">
            <div class="bar bar-success" style="width:{{anomalyDef.health}}%;">
              <span style="position: absolute;display: block;width: 300px;color:whitesmoke;">健康指数:{{anomalyDef.health}} %</span>
            </div>
            <div class="bar bar-danger" style="width:{{100-anomalyDef.health}}%;"></div>
          </div>
        </td>
        <td style="width: 1%">
          <a ng-click="include(anomalyDef.metric)" class="btn btn-inverse btn-mini">
            <i class="fa fa-check"></i>
            增加
          </a>
        </td>
        <td style="width: 1%">
          <a href="/anomaly/{{anomalyDef.metric}}" class="btn btn-inverse btn-mini">
            <i class="fa fa-edit"></i>
            进入
          </a>
        </td>
      </tr>
    </table>
  </div>

</div>

