<div class="editor-row">
	<div class="section" style="margin-bottom: 20px">
		<div class="tight-form">
			<ul class="tight-form-list">
				<li class="tight-form-item tight-form-item-icon">
					<i class="fa fa-clock-o"></i>
				</li>
				<li class="tight-form-item" style="width: 148px">
					<strong>Override relative time</strong>
				</li>
				<li class="tight-form-item" style="width: 50px">
					Last
				</li>
				<li>
					<input type="text" class="input-small tight-form-input" placeholder="1h"
					  empty-to-null ng-model="panel.timeFrom"
					  ng-change="get_data()" ng-model-onblur>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="tight-form">
			<ul class="tight-form-list">
				<li class="tight-form-item tight-form-item-icon">
					<i class="fa fa-clock-o"></i>
				</li>
				<li class="tight-form-item" style="width: 148px">
					<strong>Add time shift</strong>
				</li>
				<li class="tight-form-item" style="width: 50px">
					Amount
				</li>
				<li>
					<input type="text" class="input-small tight-form-input" placeholder="1h"
					empty-to-null ng-model="panel.timeShift"
					ng-change="get_data()" ng-model-onblur>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

