<div class="modal-body gf-box gf-box-no-margin" ng-controller="SharePanelCtrl">
	<div class="gf-box-header">
		<div class="gf-box-title">
			<i class="fa fa-share"></i>
			Share
		</div>

		<div ng-model="editor.index" bs-tabs style="text-transform:capitalize;">
			<div ng-repeat="tab in ['Link']" data-title="{{tab}}">
			</div>
		</div>

		<button class="gf-box-header-close-btn" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</button>
	</div>

	<div class="gf-box-body" ng-if="editor.index === 0">
		<br>
		<div class="gf-form">
			<div class="gf-form-row">
				<editor-checkbox text="Current time range" model="options.forCurrent" change="buildUrl()"></editor-checkbox>
			</div>
		</div>
		<div class="gf-form">
			<div class="gf-form-row">
				<editor-checkbox text="Include template variables" model="options.includeTemplateVars" change="buildUrl()"></editor-checkbox>
			</div>
		</div>

		<br>
		<div class="gf-form">
			<div class="gf-form-row">
				<button class="btn btn-inverse pull-right" data-clipboard-text="{{shareUrl}}" clipboard-button><i class="fa fa-clipboard"></i> Copy</button>
				<span class="gf-fluid-input">
					<input type="text" data-share-panel-url class="input" ng-model='shareUrl'></input>
				</span>
			</div>
			<div>

				<div class="editor-row" style="margin-top: 5px;" ng-if="options.toPanel">
					<a href="{{imageUrl}}" target="_blank"><i class="fa fa-camera"></i> Direct link rendered image</a>
				</div>
			</div>
		</div>
	</div>

</div>
