
<!-- <p> -->
<!-- 	Exporting will export a cleaned sharable dashboard that can be imported -->
<!-- 	into another Grafana instance. -->
<!-- </p> -->

<div class="share-modal-header">
	<div class="share-modal-big-icon">
		<i class="fa fa-cloud-upload"></i>
	</div>
	<div>
		<p class="share-modal-info-text">
			Export the dashboard to a JSON file. The exporter will templatize the
			dashboard's data sources to make it easy for others to import and reuse.
			You can share dashboards on <a class="external-link" href="https://grafana.com">Grafana.com</a>
		</p>

		<div class="gf-form-button-row">
			<button type="button" class="btn gf-form-btn width-10 btn-success" ng-click="ctrl.save()">
				<i class="fa fa-save"></i> Save to file
			</button>
			<button type="button" class="btn gf-form-btn width-10 btn-secondary" ng-click="ctrl.saveJson()">
				<i class="fa fa-file-text-o"></i> View JSON
			</button>
			<a class="btn btn-link" ng-click="ctrl.dismiss()">Cancel</a>
		</div>

	</div>
</div>
