/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #E9E9E9;
  background: #222;
  font-family: 'Droid Sans', serif;
}

.main {
  background: #1F1F1F;
  padding-bottom: 30px;
  padding-top: 40px;
  border-bottom: 1px solid black;
}

p {
  font-size: 1.8rem;
}

.small {
  font-size: 1.4rem;
}

h1  {
  font-size: 6em;
  font-family: 'Droid Sans', serif;
  font-weight: bold;
  text-shadow: 2px 2px 0px #2c2e38, 4px 4px 0px #5c5f72;
  letter-spacing: 10px;
  margin-top: 0;
  margin-bottom: 5px;
}

a {
  color: #6BDCFD;
}

h2.lead {
  margin-top: 5px;
}

@font-face {
    font-family: 'DroidSans';
    src: url('fonts/DroidSans-webfont.eot?') format('eot'),
         url('fonts/DroidSans-webfont.woff') format('woff'),
         url('fonts/DroidSans-webfont.ttf') format('truetype'),
         url('fonts/DroidSans-webfont.svg#webfontw7zqO19G') format('svg');
    font-weight: normal;
    font-style: normal;

}

.top-buffer { margin-top:20px; }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {

}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {

}
.navbar-wrapper .navbar {
  margin-bottom: 0;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }


  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


.feature-group {
  background: #272727;
  border-radius: 5px;
  padding: 10px;
}

.feature-group h2 {
  margin-top: 10px;
}

.feature-group ul {
  padding-left: 10px;
  text-align: left;
  list-style: none;
}

.feature-group li {
  padding-left: 1.8rem;
}

.feature-group li:before {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  position: relative;
  top: 3px;
  margin-left: -2.8rem;
  width: 1.5em;
  color: #5CB85C;
}

footer {
  margin-top: 20px;
}

footer p {
  float: left;
}

.bs-social-buttons {
  list-style: none;
  float: right;
  margin: 0;
}

.bs-social-buttons li {
  float: left;
  padding: 0;
}

iframe {
  margin: 15px 0 0 0;
}

.screenshot-frame {
  background: #444;
  border: 1px solid #888888;
  text-align: center;
  padding: 10px;
}

.feature-box {
  padding-left: 45px;
}

.screenshot {
  display: inline-block;
}

.screenshot img {
  width: 100%;
  height:auto;
}