<!-- This email is sent when an existing user is added to an organization -->

[[Subject .Subject "[[.InvitedBy]] has added you to the Grafana organization [[.OrgName]]"]]

<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>
						<h3>You have been added to the Grafana organization [[.OrgName]]</h3>
					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td class="center">
						<p>You can switch organization in the left side menu, in the dropdown below your username.</p>
					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>


