<!-- This email is sent when user who does not already exist in Grafana is added to an organization -->

[[Subject .Subject "[[.InvitedBy]] 邀请您加入 Cloudwiz 大数据平台"]]

<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>
						<h3>您已经被邀请加入 [[.OrgName]]</h3>
					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td class="center">
						<p>您已经被邀请加入 <span class="emphasis">[[.OrgName]]</span>  请点击以下链接,接受并加入:</p>
					</td>
				</tr>
				<tr>
					<td class="center">
	                    <table class="better-button" align="center" border="0" cellspacing="0" cellpadding="0">
	                    	<tr>
	                          <td align="center" class="better-button" bgcolor="#ff8f2b"><a href="[[.LinkUrl]]" target="_blank">接受邀请</a></td>
	                        </tr>
	                    </table>
					</td>
				</tr>
				<tr>
					<td class="center">
						<p>您可以复制粘贴下面链接到地址栏中直接访问: <a href="[[.LinkUrl]]">[[.LinkUrl]]</a></p>
					</td>
					<td class="expander"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
