[[Subject .Subject "[[.InvitedBy]] has invited you to join Grafana"]]

<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>
						<h3>You're invited to sign up to Grafana and join [[.OrgName]]</h3>
					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td class="center">
						<table class="button radius">
							<tbody><tr>
									<td>
										<a href="[[.LinkUrl]]">Complete Sign Up</a>
									</td>
								</tr>
						</tbody></table>
					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>


