[[Subject .Subject "Welcome to CloudInsight"]]

<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>
						<h3>Hi [[.Name]]</h3>
					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td class="center">
						<p>
							If you are new to CloudInsight please read the <a href="http://docs.grafana.org/guides/gettingstarted/">Getting Started</a> guide.
						</p>
					</td>
					<td class="expander"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>


