[[Subject .Subject "欢迎使用 Cloudwiz 大数据平台"]]

<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>
						<h3>您好 [[.Name]]</h3>
					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td class="center">
						<p>
              如果您是第一次Cloudwiz大数据平台可以阅读 <a href="http://cloudwiz.cn/document/part1/basic_function.html">快速入门</a>
						</p>
					</td>
					<td class="expander"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>


