<div ng-include="'app/partials/navbar.html'" ng-init="pageTitle='Profile'"></div>

<div class="dashboard-edit-view">
	<div class="editor-row">
		<div class="section">

			<div class="dashboard-editor-header">
				<div class="dashboard-editor-title">
					<i class="fa fa-user"></i>
					Your info
				</div>
			</div>

			<div class="dashboard-editor-body">

				<form name="userForm">

					<div class="tight-form">
						<ul class="tight-form-list">
							<li class="tight-form-item" style="width: 80px">
								<strong>Name</strong>
							</li>
							<li>
								<input type="text" required ng-model="user.name" class="input-xxlarge tight-form-input last" >
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="tight-form" style="margin-top: 10px">
						<ul class="tight-form-list">
							<li class="tight-form-item" style="width: 80px">
								<strong>Email</strong>
							</li>
							<li>
								<input type="text" required ng-model="user.email" class="input-xxlarge tight-form-input last" >
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="tight-form" style="margin-top: 10px">
						<ul class="tight-form-list">
							<li class="tight-form-item" style="width: 80px">
								<strong>Username</strong>
							</li>
							<li>
								<input type="text" required ng-model="user.login" class="input-xxlarge tight-form-input last" >
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>

					<br>
					<button type="submit" class="btn btn-success" ng-click="update()">Update</button>
				</form>
			</div>
		</div>

		<div class="section">
			<div class="dashboard-editor-header">
				<div class="dashboard-editor-title">
					<i class="fa fa-eye"></i>
					Active account
				</div>
			</div>
			<br>

			<table class="grafana-options-table">
				<tr ng-repeat="ac in accounts">
					<td>email: {{ac.email}}</td>
					<td>role: {{ac.role}}</td>
					<td ng-show="ac.isUsing">
						currently using this account
					</td>
					<td ng-show="!ac.isUsing">
						<a ng-click="setUsingAccount(ac)" class="btn btn-success btn-mini">
							Select
						</a>
					</td>
				</tr>
			</table>

		</div>
	</div>
</div>


