<navbar model="ctrl.navModel">

<ul class="nav dash-playlist-actions" ng-if="ctrl.playlistSrv.isPlaying">
	<li>
		<a ng-click="ctrl.playlistSrv.prev()"><i class="fa fa-step-backward"></i></a>
	</li>
	<li>
		<a ng-click="ctrl.playlistSrv.stop()"><i class="fa fa-stop"></i></a>
	</li>
	<li>
		<a ng-click="ctrl.playlistSrv.next()"><i class="fa fa-step-forward"></i></a>
	</li>
</ul>

<ul class="nav pull-left dashnav-action-icons">
	<li ng-show="::ctrl.dashboard.meta.canStar">
		<a class="pointer" ng-click="ctrl.starDashboard()">
			<i class="fa" ng-class="{'fa-star-o': !ctrl.dashboard.meta.isStarred, 'fa-star': ctrl.dashboard.meta.isStarred}" style="color: orange;"></i>
		</a>
	</li>
	<li ng-show="::ctrl.dashboard.meta.canShare" class="dropdown">
		<a class="pointer" ng-click="ctrl.hideTooltip($event)" bs-tooltip="'Share dashboard'" data-placement="bottom" data-toggle="dropdown"><i class="fa fa-share-square-o"></i></a>
		<ul class="dropdown-menu">
			<li>
				<a class="pointer" ng-click="ctrl.shareDashboard(0)">
					<i class="fa fa-link"></i> Link to Dashboard
					<div class="dropdown-desc">Share an internal link to the current dashboard. Some configuration options available.</div>
				</a>
			</li>
			<li>
				<a class="pointer" ng-click="ctrl.shareDashboard(1)">
					<i class="icon-gf icon-gf-snapshot"></i>Snapshot
					<div class="dropdown-desc">Interactive, publically accessible dashboard. Sensitive data is stripped out.</div>
				</a>
			</li>
			<li>
				<a class="pointer" ng-click="ctrl.shareDashboard(2)">
					<i class="fa fa-cloud-upload"></i>Export
					<div class="dropdown-desc">Export the dashboard to a JSON file for others and to share on Grafana.com</div>
				</a>
			</li>
		</ul>
	</li>
	<li ng-show="::ctrl.dashboard.meta.canSave">
		<a ng-click="ctrl.saveDashboard()" bs-tooltip="'Save dashboard <br> CTRL+S'" data-placement="bottom"><i class="fa fa-save"></i></a>
	</li>
	<li ng-if="ctrl.dashboard.snapshot.originalUrl">
		<a ng-href="{{ctrl.dashboard.snapshot.originalUrl}}" bs-tooltip="'Open original dashboard'" data-placement="bottom"><i class="fa fa-link"></i></a>
	</li>
</ul>

<ul class="nav pull-right">
	<li ng-show="ctrl.dashboard.meta.fullscreen" class="dashnav-back-to-dashboard">
		<a ng-click="ctrl.exitFullscreen()">
			Back to dashboard
		</a>
	</li>
	<li>
		<gf-time-picker dashboard="ctrl.dashboard"></gf-time-picker>
	</li>
</ul>

</navbar>
