
<div class="sidemenu__top">

	<a class="navbar-brand-btn pointer" ng-click="ctrl.contextSrv.toggleSideMenu()">
		<span class="navbar-brand-btn-background">
			<img src="public/img/grafana_icon.svg"></img>
		</span>
	</a>

	<div class="sidemenu-item">
		<a class="sidemenu-link" ng-click="ctrl.search()">
			<span class="icon-circle sidemenu-icon"><i class="fa fa-fw fa-search"></i></span>
		</a>
	</div>

	<div ng-repeat="item in ::ctrl.mainLinks" class="sidemenu-item dropdown">
		<a href="{{::item.url}}" class="sidemenu-link" target="{{::item.target}}">
			<span class="icon-circle sidemenu-icon">
				<i class="{{::item.icon}}" ng-show="::item.icon"></i>
				<img ng-src="{{::item.img}}" ng-show="::item.img">
			</span>
		</a>
		<ul class="dropdown-menu dropdown-menu--sidemenu" role="menu" ng-if="::item.children">
			<li class="side-menu-header">
				<span class="sidemenu-item-text">{{::item.text}}</span>
			</li>
			<li ng-repeat="child in ::item.children" ng-class="{divider: child.divider}">
				<a href="{{::child.url}}">
					<i class="{{::child.icon}}" ng-show="::child.icon"></i>
					{{::child.text}}
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="sidemenu__bottom">
	<div ng-show="::!ctrl.isSignedIn" class="sidemenu-item">
		<a href="{{ctrl.loginUrl}}" class="sidemenu-link" target="_self">
			<span class="icon-circle sidemenu-icon"><i class="fa fa-fw fa-sign-in"></i></span>
			<span class="sidemenu-item-text">Sign in</span>
		</a>
	</div>


	<div class="sidemenu-item dropup dropdown" ng-if="::ctrl.isSignedIn">
		<a class="sidemenu-link" href="profile">
			<span class="icon-circle sidemenu-icon sidemenu-org-avatar">
				<img ng-src="{{::ctrl.user.gravatarUrl}}">
				<span class="sidemenu-org-avatar--missing">
					<i class="fa fa-fw fa-user"></i>
				</span>
		</a>
		<ul class="dropdown-menu dropdown-menu--sidemenu dropup" role="menu">
			<li ng-show="ctrl.orgs.length > ctrl.maxShownOrgs" style="margin-left: 10px;width: 90%">
				<span class="sidemenu-item-text">Max shown : {{::ctrl.maxShownOrgs}}</span>
				<input ng-model="::ctrl.orgFilter" style="padding-left: 5px" type="text" ng-change="::ctrl.loadOrgsItems();" class="gf-input-small width-12" placeholder="Filter">
			</li>
			<li ng-repeat="orgItem in ctrl.orgItems" ng-class="::orgItem.cssClass">
				<a href="{{::orgItem.url}}" ng-show="::orgItem.url" target="{{::orgItem.target}}">
					<i class="{{::orgItem.icon}}" ng-show="::orgItem.icon"></i>
					{{::orgItem.text}}
				</a>
			</li>
			<li ng-repeat="menuItem in ctrl.userMenu" ng-class="::menuItem.cssClass">
				<a href="{{::menuItem.url}}" ng-show="::menuItem.url" target="{{::menuItem.target}}">
					<i class="{{::menuItem.icon}}" ng-show="::menuItem.icon"></i>
					{{::menuItem.text}}
				</a>
			</li>
			<li class="side-menu-header">
				<span class="sidemenu-item-text">{{::ctrl.user.name}}</span>
			</li>
		</ul>
	</div>

	<div class="sidemenu-item">
		<a href="http://docs.grafana.org" class="sidemenu-link" target="_blank">
			<span class="icon-circle sidemenu-icon"><i class="fa fa-fw fa-question"></i></span>
		</a>

		<ul class="dropdown-menu dropdown-menu--sidemenu dropup" role="menu">
			<li class="side-menu-header">
				<span class="sidemenu-item-text">Documentation</span>
			</li>
		</ul>
	</div>
</div>

