
<div ng-include="'app/partials/pro/navbar.html'" ng-init="pageTitle='Account Settings'"></div>

<div class="dashboard-edit-view">
	<div class="editor-row">
		<div class="section">

			<div class="dashboard-editor-header">
				<div class="dashboard-editor-title">
					<i class="icon icon-user"></i>
					Personal information
				</div>
			</div>

			<div class="dashboard-editor-body">
				<div class="editor-row">
					<div class="editor-option">
						<label class="small">Name</label>
						<input type="text" class="input-xxlarge" ng-model='account.name' placeholder="name"></input>
					</div>
				</div>

				<div class="editor-row">
					<div class="editor-option">
						<label class="small">Email</label>
						<input type="text" class="input-xxlarge" ng-model='account.email' placeholder="name"></input>
					</div>
				</div>

				<div class="editor-row">
					<div class="editor-option">
						<label class="small">Account Name</label>
						<input type="text" class="input-xxlarge" ng-model='account.accountName' placeholder="name"></input>
					</div>
				</div>

			</div>

			<div class="dashboard-editor-footer">
				<button class="btn btn-success">Update</button>
			</div>

		</div>

		<div class="section">
			<div class="dashboard-editor-header">
				<div class="dashboard-editor-title">
					<i class="icon icon-eye-open"></i>
					Active account
				</div>
			</div>
			<br>

			<table class="grafana-options-table">
				<tr ng-repeat="other in otherAccounts">
					<td>name: {{other.name}}</td>
					<td>role: {{other.role}}</td>
					<td ng-show="other.isUsing">
						currently using this account
					</td>
					<td ng-show="!other.isUsing">
						<a ng-click="setUsingAccount(other)" class="btn btn-success btn-mini">
							Select
						</a>
					</td>
				</tr>
			</table>

		</div>
	</div>
</div>

<div class="dashboard-edit-view" style="border-top: solid 1px black;">

	<div class="dashboard-editor-header">
		<div class="dashboard-editor-title">
			<i class="icon icon-eye-open"></i>
			Collaborators
		</div>
	</div>

	<div class="dashboard-editor-body">

		<div class="editor-row">
			<div class="editor-option">
				<form name="addCollaboratorForm" class="form-inline">
					<label class="small">Add a collaborator</label>
					<input type="text" class="input-xxlarge" ng-model='collaborator.email' placeholder="collaborator@email.com"></input>
					<button class="btn btn-success" ng-click="addCollaborator()">Add</button>
				</form>
			</div>
		</div>

		<div class="editor-row row">
			<table class="grafana-options-table span5">
				<tr ng-repeat="collaborator in account.collaborators">
					<td>{{collaborator.email}}</td>
					<td>
						{{collaborator.role}}
					</td>
					<td style="width: 1%">
						<a ng-click="removeCollaborator(collaborator)" class="btn btn-danger btn-mini">
							<i class="icon-remove"></i>
						</a>
					</td>
				</tr>
			</table>
		</div>

	</div>
</div>

