
<div class="container">

	<div class="login-box">

		<div class="login-box-logo">
			<img src="/img/logo_transparent_200x75.png">
		</div>

		<div class="login-inner-box">

			<form name="loginForm">
					<input type="text" required ng-model="loginModel.email" id="inputEmail" placeholder="Email">

					<input type="password" required ng-model="loginModel.password" id="inputPassword" placeholder="Password">

					<label class="checkbox">
						<input type="checkbox" ng-model="loginModel.remember" ng-checked="login.remember"> Remember me
					</label>

					<button type="submit" ng-click="login()" class="btn btn-success" style="margin-bottom: 20px">
						Sign in
					</button>
			</form>

			<div class="alert alert-error" ng-show="loginError">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Login failed:</strong> {{loginError}}
			</div>

			<div class="login-oauth text-center">
				<a class="btn btn-primary" href="/login/google" target="_self">
					Sign in with Google
				</a>
				<a class="btn btn-primary" href="/login/github" target="_self">
					Sign in with Github
				</a>
			</div>

			<div class="register-box text-center">
				<a href="/register" class="btn btn-info">Sign up now!</a>
			</div>
		</div>

	</div>
