<section class="pro-sidemenu-items">
	<a class="pro-sidemenu-link" href="/login?logout">
		<i class="icon-lock"></i>
		logout
	</a>
	<a class="pro-sidemenu-link" href="/dashboard/db/home">
		<i class="icon-th-large"></i>
		Dashboards
	</a>
	<a class="pro-sidemenu-link" href="/charts">
		<i class="icon-signal"></i>
		Graphs
	</a>
	<a class="pro-sidemenu-link" href="/charts">
		<i class="icon-bolt" style="padding-right: 23px"></i>
		 Alerts
	</a>
	<a class="pro-sidemenu-link" href="/admin/datasources">
		<i class="icon-sitemap"></i>
		Data sources
	</a>
	<a class="pro-sidemenu-link" href="/admin">
		<i class="icon-tasks"></i>
		Global options
	</a>
	<a class="pro-sidemenu-link" href="/admin">
		<i class="icon-user"></i>
		User accounts
	</a>
</section>

</div>
