<section class="pro-sidemenu-items">
	<div class="dropdown">
		<a class="pro-sidemenu-link pointer" data-toggle="dropdown">
			<i class="icon-user"></i>
			{{grafana.user.login}}
		</a>
		<ul class="dropdown-menu">
			<li><a href="/login?logout">Logout</a>
		</ul>
	</div>
	<a class="pro-sidemenu-link" href="/">
		<i class="icon-th-large"></i>
		Dashboards
	</a>
	<a class="pro-sidemenu-link" href="/charts">
		<i class="icon-signal"></i>
		Graphs
	</a>
	<a class="pro-sidemenu-link" href="/charts">
		<i class="icon-bolt" style="padding-right: 23px"></i>
		 Alerts
	</a>
	<a class="pro-sidemenu-link" href="/admin/datasources">
		<i class="icon-sitemap"></i>
		Data sources
	</a>
	<a class="pro-sidemenu-link" href="/admin">
		<i class="icon-tasks"></i>
		Global options
	</a>
	<a class="pro-sidemenu-link" href="/account">
		<i class="icon-user"></i>
		User accounts
	</a>
	<a class="pro-sidemenu-link" href="/login?logout">
		<i class="icon-signout"></i>
		Sign out
	</a>

</section>

</div>
