  <div class="row-fluid" ng-switch="panel.mode">
    <div class="row-fluid">
      <div class="span2">
        <label class="small">Mode</label> 
        <select class="input-small" ng-change="set_mode(panel.mode);set_refresh(true)" ng-model="panel.mode" ng-options="f for f in ['terms','goal']"></select>
      </div> 
    </div>
    <div ng-switch-when="terms">
      <div class="row-fluid">
        <div class="span2">
          <label class="small">Field</label>
          <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.query.field" ng-change="set_refresh(true)">
        </div>
        <div class="span2">
          <label class="small">Length</label>
          <input class="input-small" type="number" ng-model="panel.size" ng-change="set_refresh(true)">
        </div>
        <div class="span6">
          <label class="small">Exclude Terms(s) (comma seperated)</label>
          <input array-join type="text" ng-model='panel.exclude'></input>
        </div>
      </div>  
    </div>
    <div ng-switch-when="goal">
      <div class="row-fluid">
        <div class="span2">
          <form style="margin-bottom: 0px">
            <label class="small">Goal</label>
            <input type="number" style="width:90%" ng-model="panel.query.goal" ng-change="set_refresh(true)">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">    
    <div class="span1">
      <label class="small"> Donut </label><input type="checkbox" ng-model="panel.donut" ng-checked="panel.donut">
    </div>
    <div class="span1">
      <label class="small"> Tilt </label><input type="checkbox" ng-model="panel.tilt" ng-checked="panel.tilt">
    </div>
    <div class="span1">
      <label class="small"> Labels </label><input type="checkbox" ng-model="panel.labels" ng-checked="panel.labels">
    </div>
    <div class="span3"> 
      <label class="small">Legend</label> 
      <select class="input-small" ng-model="panel.legend" ng-options="f for f in ['above','below','none']"></select></span>
    </div>
  </div>