<navbar icon="fa fa-fw fa-cubes" title="服务状态"></navbar>

<div class="page-container">
  <div class="page">
    <h2>服务状态</h2>
    <h4>快速查看当前节点的运行情况</h4>
    <div class="tight-form last">
      <ul class="tight-form-list">
        <li class="tight-form-item" style="width: 50px">
          子系统
        </li>
        <li>
          <select ng-model="summarySelect.system" class="input-small tight-form-input" ng-change="cleanup()">
            <option ng-selected="$index === 0" ng-repeat="sys in systems" value="{{sys.Id}}">{{sys.SystemsName}}</option>
          </select>
        </li>
      </ul>
      <ul class="tight-form-list">
        <li class="tight-form-item">
          主机名
        </li>
        <li>
          <input type="text" class="input-medium tight-form-input ng-pristine ng-untouched ng-valid" spellcheck="false"
                 bs-typeahead-old="suggestTagHost" ng-model="summarySelect.currentTagValue" placeholder="请输入您已部署的主机名"
                 data-provide="typeahead">
        </li>
      </ul>
      <ul class="tight-form-list">
        <li class="tight-form-item">
          <button ng-click="changeSelect()" class="pull-right btn btn-success">查询</button>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>

    <p ng-if="warningScript.length">{{warningScript}}</p>
    <table class="grafana-options-table form-inline">
      <tbody ng-if="serviceList.length">
      <tr>
        <th>主机名</th>
        <th>服务名称</th>
        <th>状态</th>
      </tr>
      <tr ng-repeat="service in serviceList">
        <td>{{service.host}}</td>
        <td width="50%">{{service.alias}}</td>
        <td>{{service.state}}</td>
      </tr>
      </tbody>
      <p ng-if="!serviceList.length">您暂时没有安装任何服务</p>
    </table>

</div>
</div>

