<topnav section="机器连接状态" icon="fa fa-fw fa-crosshairs">

</topnav>
<div class="page-container">
  <td class="page">
    <h2>{{summarySelect.SystemsName}} 总体情况</h2>
    <h4>请选择需要查看的机器连接情况和服务状态,即产生相应概要信息<tip>服务状态: 探针是否能够获取服务信息, 状态为正常/异常/尚未启动.机器连接情况展示已部署探针的概要信息</tip></h4>
    <div class="tight-form last">
      <ul class="tight-form-list">
        <li class="tight-form-item" style="width: 50px">
          服务
        </li>
        <li>
          <select ng-model="summarySelect.services" class="input-small tight-form-input" ng-change="cleanup()">
            <option ng-selected="$index == 0" ng-repeat="(key, value) in services" value="{{key}}">{{value}}</option>
          </select>
        </li>
      </ul>
      <ul class="tight-form-list">
        <li class="tight-form-item">
          <button ng-click="changeSelect()" class="pull-right btn btn-success">查询</button>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>

    <p ng-if="!summaryList.length && !serviceList.length && summarySelect.services && warningScript">{{warningScript}}</p>
    <table class="grafana-options-table form-inline" ng-if="summaryList.length">
      <tr>
        <th>主机名</th>
        <th>运行状态</th>
        <th ng-repeat="(key,value) in tableHeader[summarySelect.services]">{{key}}</th>
      </tr>

      <tbody ng-repeat="summary in summaryList" ng-if="summarySelect.services != 'service'">
      <tr ng-repeat="content in summary.content">
        <td>{{summary.tag.host}}</td>
        <td>{{summary.state}}</td>
        <td ng-repeat="(key,value) in tableHeader[summarySelect.services]">{{content[value]}}</td>
      </tr>
      </tbody>

    </table>

</div>
</div>

