# .env.example
GRPC_SERVER_AUTH_SIGNING_KEYS_URL=http://localhost:6481/jwks
GRPC_SERVER_KEY_FILE=path/to/authz.key
GRPC_SERVER_CERT_FILE=path/to/authz.crt
DB_DEFAULT_CONNECTION="user:password@tcp(localhost:13306)/stacks_info"
DB_HG_CONNECTION="user:password@tcp(localhost:13306)/"