<div class="editor-row">
	<div class="section">
		<h5>Data</h5>
		<div class="tight-form-container">
			<div class="tight-form">
				<ul class="tight-form-list">
					<li class="tight-form-item" style="width: 140px">
						To Table Transform
					</li>
					<li>
						<select class="input-large tight-form-input"
							ng-model="panel.transform"
							ng-options="k as v.description for (k, v) in transformers"
							ng-change="transformChanged()"></select>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="tight-form" ng-if="panel.transform === 'json'">
				<ul class="tight-form-list">
					<li class="tight-form-item" style="width: 140px">
						Columns
					</li>
					<li class="tight-form-item" ng-repeat="column in panel.columns">
						<i class="pointer fa fa-remove" ng-click="removeColumn(column)"></i>
						<span>
							{{column.name}}
						</span>
					</li>
					<li class="dropdown" dropdown-typeahead="columnsMenu" dropdown-typeahead-on-select="addColumn($item, $subItem)">
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="section">
		<h5>Table Display</h5>
		<div class="tight-form-container">
			<div class="tight-form">
				<ul class="tight-form-list">
					<li class="tight-form-item">
						Pagination (Page size)
					</li>
					<li>
						<input type="number" class="input-small tight-form-input" placeholder="50"
						empty-to-null ng-model="panel.pageSize" ng-change="render()" ng-model-onblur>
					</li>
					<li class="tight-form-item">
						<editor-checkbox text="Scroll" model="panel.scroll" change="render()"></editor-checkbox>
					</li>
					<li class="tight-form-item">
						Font size
					</li>
					<li>
						<select class="input-small tight-form-input" ng-model="panel.fontSize" ng-options="f for f in fontSizes" ng-change="render()"></select>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

<div class="editor-row" style="margin-top: 20px">
	<h5>Column Styles</h5>

	<div class="tight-form-container">
		<div ng-repeat="style in panel.styles">
			<div class="tight-form">
				<ul class="tight-form-list pull-right">
					<li class="tight-form-item last">
						<i class="fa fa-remove pointer" ng-click="removeColumnStyle(style)"></i>
					</li>
				</ul>

				<ul class="tight-form-list">
					<li class="tight-form-item">
						Name or regex
					</li>
					<li>
						<input type="text" ng-model="style.pattern" bs-typeahead="getColumnNames" ng-blur="render()" data-min-length=0 data-items=100 class="input-medium tight-form-input">
					</li>
					<li class="tight-form-item" style="width: 86px">
						Type
					</li>
					<li>
						<select class="input-small tight-form-input"
							ng-model="style.type"
							ng-options="c.value as c.text for c in columnTypes"
							ng-change="render()"
							style="width: 150px"
							></select>
					</li>
				</ul>
				<ul class="tight-form-list" ng-if="style.type === 'date'">
					<li class="tight-form-item">
						Format
					</li>
					<li>
						<metric-segment-model property="style.dateFormat" options="dateFormats" on-change="render()" custom="true"></metric-segment-model>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="tight-form" ng-if="style.type === 'number'">
				<ul class="tight-form-list">
					<li class="tight-form-item text-right" style="width: 93px">
						Coloring
					</li>
					<li>
						<select class="input-small tight-form-input"
							ng-model="style.colorMode"
							ng-options="c.value as c.text for c in colorModes"
							ng-change="render()"
							style="width: 150px"
							></select>
					</li>
					<li class="tight-form-item">
						Thresholds<tip>Comma seperated values</tip>
					</li>
					<li>
						<input type="text" class="input-small tight-form-input" style="width: 150px" ng-model="style.thresholds" ng-blur="render()" placeholder="0,50,80" array-join></input>
					</li>
					<li class="tight-form-item" style="width: 60px">
						Colors
					</li>
					<li class="tight-form-item">
						<spectrum-picker ng-model="style.colors[0]" ng-change="render()" ></spectrum-picker>
						<spectrum-picker ng-model="style.colors[1]" ng-change="render()" ></spectrum-picker>
						<spectrum-picker ng-model="style.colors[2]" ng-change="render()" ></spectrum-picker>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="tight-form" ng-if="style.type === 'number'">
				<ul class="tight-form-list">
					<li class="tight-form-item text-right" style="width: 93px">
						Unit
					</li>
					<li class="dropdown" style="width: 150px"
						ng-model="style.unit"
						dropdown-typeahead="unitFormats"
						dropdown-typeahead-on-select="setUnitFormat(style, $subItem)">
					</li>
					<li class="tight-form-item" style="width: 86px">
						Decimals
					</li>
					<li style="width: 105px">
						<input type="number" class="input-mini tight-form-input" ng-model="style.decimals" ng-change="render()" ng-model-onblur>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>

		</div>
	</div>

	<button class="btn btn-inverse" style="margin-top: 20px" ng-click="addColumnStyle()">
		Add style display rule
	</button>
</div>

