<div class="table-panel-wrapper">
	<grafana-panel>
		<div class="table-panel-container" style="min-height: 195px;">
			<div class="table-panel-header-bg" ng-show="table.rows.length != 0"></div>
			<div class="table-panel-scroll">
				<table class="table-panel-table">
					<thead>
						<tr>
							<th ng-repeat="col in table.columns">
								<div class="table-panel-table-header-inner pointer" ng-click="toggleColumnSort(col, $index)">
									{{col.text}}
									<span class="table-panel-table-header-controls" ng-if="col.sort">
										<i class="fa fa-caret-down" ng-show="col.desc"></i>
										<i class="fa fa-caret-up" ng-hide="col.desc"></i>
									</span>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
		<div ng-show="table.rows.length===0" style="pointer: none;position: absolute;top: 50%;left: 50%;z-index: 10;margin-top: -50px;margin-left: -100px;width: 200px;text-align: center;cursor: auto;padding: 10px;">
			<span class="small" >
				没有数据
			</span>
		</div>
		<div class="table-panel-footer">
		</div>
	</grafana-panel>
</div>
