  <div class="row-fluid" ng-controller="debug">    
  <div class="row-fluid">    
    <div class="span3">
      <h5>Length</h5>
      <input type="number" class="input-mini" ng-model="panel.size">
    </div>
    <div class="span3"><h6>Font Size</h6> 
      <select class="input-small" ng-model="panel.style['font-size']" ng-options="f for f in ['6pt','7pt','8pt','9pt','10pt','12pt','14pt','16pt','18pt','20pt','24pt','28pt','32pt','36pt','42pt','48pt','52pt','60pt','72pt']"></select></span>
  </div>