<kibana-panel ng-controller='debug' ng-init='init()'>
<table class="table-hover table table-condensed" ng-style="panel.style" style="height:{{panel.height || row.height}};overflow-y:auto;overflow-x:auto">
  <thead>
    <th style="white-space:nowrap" ng-repeat="th in ['timestamp','from','to','type']">
      {{th}} 
    </th>
  </thead>
  <tbody ng-repeat="event in events" ng-class-odd="'odd'">
    <tr ng-click="toggle_details(event)">
      <td>{{event.header.time}}</td>
      <td>{{event.header.from}}</td>
      <td>{{event.header.to}}</td>
      <td>{{event.header.type}}</td>
    </tr>
    <tr ng-show="event.details">
      <td>
        <h6>Event header</h6>
        <pre ng-style="panel.style">{{event.header | json}}</pre>
      </td>
      <td colspan=1000>
        <h6>Event payload</h6>
        <pre ng-style="panel.style">{{event.data | json}}</pre>
      </td>
    </tr>
  </tbody>
</table>
</kibana-panel>         