.add-data-source-header {
  margin-bottom: $panel-margin * 2;
  text-align: center;
}

.add-data-source-search {
  display: flex;
  justify-content: center;
  margin-bottom: $panel-margin * 6;
}

.add-data-source-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.add-data-source-grid-item {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: $card-background;
  box-shadow: $card-shadow;
  color: $headings-color;

  &:hover {
    background: $card-background-hover;
  }
}

.add-data-source-grid-item-text {
  font-size: $font-size-h5;
  margin-left: 10px;
}

.add-data-source-grid-item-logo {
  width: 55px;
  height: 55px;
}
