.gf-code-editor {
  min-height: 2.60rem;
  min-width: 20rem;
  flex-grow: 1;
  margin-right: 0.25rem;
  border: 1px solid #333333;

  &.ace_editor {
    min-height: 6rem;
    font-family: monospace;
    font-size: 1rem;
  }
}
