.collapse-box {
  margin-bottom: $spacer;

  &--error {
    .collapse-box__header {
      border-color: $collapse-box-body-error-border;
    }
    .collapse-box__body {
      border-color: $collapse-box-body-error-border;
    }
  }

}

.collapse-box__header {
  display: flex;
  flex-direction: row;
  padding: $input-padding-y $input-padding-x;
  margin-right: $gf-form-margin;
  background-color: $input-label-bg;
  font-size: $font-size-sm;
  margin-right: $gf-form-margin;
  border: $input-btn-border-width solid $collapse-box-body-border;
  @include border-radius($label-border-radius-sm);
}

.collapse-box__header-title {
  flex-grow: 1;
}

.collapse-box__body {
  padding: $input-padding-y*2 $input-padding-x;
  display: block;
  margin-right: $gf-form-margin;
  border: $input-btn-border-width solid $collapse-box-body-border;
  border-top: none;
  @include border-radius($label-border-radius-sm);
}

.collapse-box__header-actions {
  display: flex;
  flex-direction: row;
  a {
    margin-left: $spacer;
  }
}
