
.sp-replacer {
  background: inherit;
  border: none;
  color: inherit;
  padding: 0;
}

.sp-replacer:hover, .sp-replacer.sp-active {
  border-color: inherit;
  color: inherit;
}

.sp-container {
  border-radius: 0;
  background-color: $dropdownBackground;
  border: none;
  padding: 0;
}

.sp-palette-container, .sp-picker-container {
  border: none;
}

.sp-dd {
  display: none;
}

.sp-preview {
  position: relative;
  width: 15px;
  height: 15px;
  border: none;
  margin: 0;
  float: left;
  z-index: 0;
}

.sp-input {
  padding: $input-padding-y $input-padding-x;
  margin-right: $gf-form-margin;
  font-size: $font-size-base;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-image: none;
  background-clip: padding-box;
  border: $input-btn-border-width solid $input-border-color;
  @include border-radius($input-border-radius-sm);
  @include box-shadow($input-box-shadow);
}