.empty-list-cta {
    background-color: $search-filter-box-bg;
    text-align: center;
}

.empty-list-cta__title {
    padding-bottom: 30px;
    font-style: italic;
}

.empty-list-cta__button {
    margin-bottom: 50px;
}

.empty-list-cta__pro-tip {
    padding-bottom: 20px;
}

.empty-list-cta__pro-tip-link {
    margin-left: 5px;
}