$gf-form-margin: 4px;

.gf-form {
  margin-top: $gf-form-margin;
  margin-right: $gf-form-margin;
  display: flex;
  flex-direction: row;
  align-items: center;

  .checkbox-label {
    display: inline;
    cursor: pointer;
    padding: 8px 7px 8px 4px;
  }

  .cr1 {
    margin-left: 8px;
  }
}

.gf-form-group {
  margin-bottom: 20px;
}

.gf-form-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

  .gf-form {
    flex-grow: 1;
  }
}

.gf-form-button-row {
  margin-top: 20px;
  margin-bottom: 10px;
}

.gf-form-label {
  flex-shrink: 0;
  background-color: $labelBackground;
  display: block;
  padding: 8px 7px;
  font-size: $font-size-sm;
  margin-right: $gf-form-margin;
}

.gf-form-checkbox {
  flex-shrink: 0;
}

[type=text],
[type=email],
[type=number],
[type=password], {
  &.gf-form-input {
    border: none;
    margin: 0px;
    border-radius: 0;
    padding: 8px 6px;
    height: 100%;
    box-sizing: border-box;
    font-size: 15px;
    display: block;
    width: 100%;
    margin-right: $gf-form-margin;
  }
  &.gf-size-auto { width: auto; }
}

input[type=checkbox].gf-form-checkbox {
  margin: 0;
}

select.gf-form-input {
  padding: 2px 3px;
  font-size: 15px;
  box-sizing: content-box;
  display: block;
  width: 100%;
  margin-right: $gf-form-margin;
  &.gf-size-auto { width: auto; }
}

@each $size, $value in $form-sizes {
  .gf-size-#{$size} { width: $value; }

  .gf-size-max-#{$size} {
    max-width: $value;
  }
}

.gf-size-max { width: 100%; }
.gf-size-auto { width: auto; }

