// .grafana-info-box::before {
//   content: "\f05a";
//   font-family:'FontAwesome';
//   position: absolute;
//   top: -13px;
//   left: -8px;
//   font-size: 20px;
//   color: $text-color;
// }

.grafana-info-box {
  position: relative;
  background: $info-box-background;
  box-shadow: $card-shadow;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: $spacer;
  margin-right: $gf-form-margin;
  flex-grow: 1;

  h5 {
    margin-bottom: $spacer;
  }
  ul {
    padding-left: $spacer * 1.5;
  }

  a {
    @extend .external-link;
  }
}

.grafana-info-box__close {
  text-align: center;
  display: block;
  color: $link-color !important;
  height: 0;
  position: relative;
  top: -9px;
}
