.logs-rows {
  // display: grid;
  // grid-column-gap: 1rem;
  // grid-row-gap: 0.1rem;
  // font-family: $font-family-monospace;
  // font-size: 12px;
  display: table;
}

.logs-row {
  display: table-row;

  > div {
    display: table-cell;
  }
}

.logs-row__time {
  white-space: nowrap;
}

.logs-row__message {
}
