
.navbar {
  display: block;
  overflow: visible;
  position: relative;
  padding-left: $side-menu-width;
  box-shadow: $navbarShadow;
  z-index: 1;
  background: $navbarBackground;
}

.navbar-inner {
  min-height: $navbarHeight;
  padding-right: $spacer;
  display: flex;
  @include clearfix();
}

.sidemenu-open {
  .navbar {
    padding-left: 15px;
  }
}

.navbar .nav {
  position: relative;
  left: 0;
  float: left;

  &--grow {
    flex-grow: 1;
  }
}


.navbar .nav > li {
  float: left;
}

// Links
.navbar .nav > li > a {
  float: none;
  padding: 17px 13px 13px;
  color: $navbarLinkColor;
  text-decoration: none;

  .fa { font-size: 115%; }
}

// Hover/focus
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: $navbarLinkColorHover;
  text-decoration: none;
}

// Active nav items
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: $navbarLinkColorActive;
  text-decoration: none;
  background-color: $navbarLinkBackgroundActive;
}

.navbar-page-btn {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  margin: 0;
  color: darken($link-color, 5%);
  font-size: $font-size-lg;
  padding: 1rem 1rem 0.75rem 1rem;
  min-height: $navbarHeight;

  .fa-caret-down {
    font-size: 60%;
    padding-left: 0.2rem;
  }

  &--search {
    padding: 1rem 1.5rem 0.75rem 1.5rem;
  }

  .gicon {
    position: relative;
    top: -1px;
    font-size: 19px;
    line-height: 8px;
    opacity: 0.75;
    margin-right: 8px;
  }
}

.navbar-page-btn-wrapper {
  display: inline-block;
  position: relative;
}

.navbar-section-wrapper {
  position: relative;
  float: left;
}

.navbar-mini-btn-wrapper {
  padding: 15px;
}
