.editor-row {
  vertical-align: top;
}

.section {
  margin-right: 3rem;
  vertical-align: top;
  display: inline-block;
}

div.editor-option {
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;
}

div.editor-option label {
  display: block;
}
