
.page-header-canvas {
  background: linear-gradient(90deg, #292a2d, black);
  box-shadow: inset 0px -4px 14px #2d2d2d;
  border-bottom: 1px solid $dark-4;
}

.page-header {
  padding: 2rem 0 0 0;

  .btn {
    float: right;
    margin-left: 1rem;

    // better align icons
    .fa {
      position: relative;
      top: 1px;
    }
  }
}

.page-header__inner {
  flex-grow: 1;
  display: flex;
  margin-bottom: 2.5rem;
}

.page-header__title {
  font-size: $font-size-h2;
  margin-bottom: 1px;
  padding-top: $spacer;
}

.page-header__img {
  border-radius: 50%;
  position: relative;
  top: -3px;
  width: 65px;
  height: 65px;
}

.page-header__icon {
  font-size: 70px;
  width: 65;
  height: 65;
  position: relative;

  &.fa {
    top: 3px;
  }

  &.icon-gf {
    top: 3px;
  }
}

.page-header__logo {
  margin-right: $spacer/2;
}

.page-header__sub-title {
  color: $text-muted;
}

.page-header-stamps-type {
  color: $link-color-disabled;
  text-transform: uppercase;
}

