.singlestat-panel {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
}

.singlestat-panel-value-container {
  line-height: 1;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 3em;
  font-weight: $font-weight-semi-bold;
}

.singlestat-panel-prefix {
  padding-right: 20px;
}

#flotGagueValue0 {
  font-weight: bold; //please dont hurt me for this!
}
