$font-size-heatmap-tick: 11px;

.heatmap-canvas-wrapper {
  position: relative;
  cursor: crosshair;
  display: flex;
}

.heatmap-panel {
  position: relative;
  flex-grow: 1;

  .axis .tick {
    text {
      fill: $text-color;
      color: $text-color;
      font-size: $font-size-heatmap-tick;
    }

    line {
      opacity: 0.4;
      stroke: $text-color-weak;
    }
  }

  // This hack prevents mouseenter/mouseleave events get fired too often
  svg {
    pointer-events: none;

    rect {
      pointer-events: visiblePainted;
    }
  }
}

.heatmap-tooltip {
  white-space: nowrap;
  font-size: $font-size-sm;
  background-color: $graph-tooltip-bg;
  color: $text-color;
}

.heatmap-histogram rect {
  fill: $text-color-weak;
}

.heatmap-crosshair {
  line {
    stroke: darken($red, 15%);
    stroke-width: 1;
  }
}

.heatmap-selection {
  stroke-width: 1;
  fill: rgba(102, 102, 102, 0.4);
  stroke: rgba(102, 102, 102, 0.8);
}

.heatmap-legend-wrapper {
  @include clearfix();
  margin: 0 $spacer;
  padding-top: 4px;

  svg {
    width: 100%;
    max-width: 300px;
    height: 18px;
    float: left;
    white-space: nowrap;
    padding-left: 10px;
  }

  .heatmap-legend-values {
    display: inline-block;
  }

  .axis .tick {
    text {
      fill: $text-color;
      color: $text-color;
      font-size: $font-size-heatmap-tick;
    }

    line {
      opacity: 0.4;
      stroke: $text-color-weak;
    }

    .domain {
      opacity: 0.4;
      stroke: $text-color-weak;
    }
  }
}

.heatmap-threshold-manager {
  position: relative;
  flex-grow: 0;
  cursor: default;
  // width: 110px;
}

.heatmap-wrapper {
  // .threshold-handlers {
  //   display: flex;
  // }

  .alert-handle-wrapper {
    // position: relative;
    position: absolute;

    &--T1 {
      // right: 0px;
      right: 13px;
      width: 245px;

      .alert-handle-line {
        width: 145px;
      }
    }

    &--T0 {
      right: 0px;
      width: 129px;

      .alert-handle-line {
        width: 28px;
      }
    }
  }
}
