.piechart-panel {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;

  .piechart-container {
    top: 10px;
    margin: auto;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .piechart-tooltip {
    white-space: nowrap;
    font-size: 12px;
    background-color: #141414;
    color: #d8d9da;
    opacity: 0;
    position: absolute;

    .piechart-tooltip-time {
      text-align: center;
      position: relative;
      padding: $space-xxs;
      font-weight: bold;
      color: #d8d9da;

      .piechart-tooltip-value {
        display: table-cell;
        font-weight: bold;
        padding: 15px;
        text-align: right;
      }
    }
  }
}
