.dashlist-section-header {
  margin-bottom: $spacer;
  color: $text-color-weak;
}

.dashlist-section {
  margin-bottom: $spacer;
  padding-top: 3px;
}

.dashlist-link {
  @include list-item();
  display: flex;
  cursor: pointer;

  .fa {
    padding-top: 3px;
  }

  .fa-star {
    color: $orange;
  }
}

.dashlist-star {
  display: flex;
  align-items: center;
  color: $text-color-weak;
  cursor: pointer;
  z-index: 1;
}

.dashlist-folder {
  color: $text-color-weak;
  font-size: $font-size-xs;
}

.dashlist-title {
  &::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.dashlist-link-body {
  flex-grow: 1;
}

.dashlist-item {
  position: relative;
  list-style: none;
}
