.multistat-panel {
  position: relative;
  height: 100%;
}

.multistat-container {
  height: 100%;

  &--horizontal {
    display: flex;
  }

  &--vertical {
    display: block;
  }
}

.multistat-bars {
  &--horizontal {
    display: flex;
  }

  &--vertical {
    display: block;
  }
}

.multistat-single {
  display: block;
  text-align: center;
  line-height: 1;
  position: relative;
  z-index: 1;
  font-size: 3em;
  font-weight: 500;
  white-space: nowrap;

  &.label-left {
    display: flex;

    .multistat-label-container {
      position: relative;
      flex-grow: 1;
      line-height: unset;

      .multistat-label {
        vertical-align: top;
      }
    }

    .multistat-value-container {
      flex-grow: 2;
    }
  }

  .multistat-value-container {
    position: relative;
    top: 20%;
  }

  .multistat-value {
    width: 100%;
    vertical-align: top;
  }

  .multistat-label {
    font-size: 0.4em;
    font-weight: 300;
  }

  .multistat-sparkline {
    position: absolute;
    bottom: 5px;
  }
}

.multistat-bar-container {
  padding: 0rem 0.2rem;
  display: flex;

  &--horizontal {
    display: block;
    position: absolute;
    bottom: 8px;

    .multistat-bar {
      border-top-style: solid;
      border-top-width: 2px;

      .bar-label {
        position: absolute;

        &--vertical {
          writing-mode: vertical-lr;
          transform: rotate(-180deg);
        }

        &--horizontal {
          text-align: center;
          bottom: 0.3rem;
          padding-left: 0rem;
        }
      }
    }

    .value-container {
      position: relative;
      text-align: center;
      margin-top: 0.5rem;

      &--out-of-bar {
        margin-top: 0rem;
      }
    }
  }

  &--vertical {
    display: flex;
    width: 100%;

    .multistat-bar {
      border-right-style: solid;
      border-right-width: 2px;
      padding: 0rem 0.4rem;
    }

    .bar-value {
      float: right;
      padding-right: 0.5rem;
      white-space: nowrap;
    }

    .value-container {
      margin-left: 1rem;
    }
  }
}

.multistat-bar {
  .bar-label {
    padding-left: 0.5rem;
  }
}
