.multistat-panel {
  position: relative;
  height: 100%;
}

.multistat-container {
  height: 100%;

  &--horizontal {
    display: flex;
  }

  &--vertical {
    display: block;
  }
}

.multistat-bars {
  &--horizontal {
    display: flex;
  }

  &--vertical {
    display: block;
  }
}

.multistat-single {
  margin: 0.3rem;
  display: block;
  text-align: center;
  line-height: 1;
  position: relative;
  z-index: 1;
  font-size: 3em;
  font-weight: 500;

  .multistat-value-container {
    position: relative;
    top: 20%;
  }

  .multistat-value {
    width: 100%;
    vertical-align: top;
  }

  .multistat-label {
    font-size: 0.4em;
    font-weight: 300;
  }
}

.multistat-bar-container {
  padding: 0rem 0.4rem;
  display: flex;

  &--horizontal {
    display: block;
    position: absolute;
    bottom: 8px;

    .multistat-bar {
      border-top-style: solid;
      border-top-width: 2px;
    }

    .bar-label {
      position: absolute;

      &--vertical {
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
      }
    }

    .value-container {
      position: relative;
      text-align: center;
      margin-top: 0.5rem;

      &--out-of-bar {
        margin-top: 0rem;
      }
    }
  }

  &--vertical {
    display: flex;
    width: 100%;

    .multistat-bar {
      border-right-style: solid;
      border-right-width: 2px;
      padding: 0rem 0.4rem;
    }

    .bar-value {
      float: right;
      padding-right: 0.5rem;
    }

    .value-container {
      margin-left: 1rem;
    }
  }
}

.multistat-bar {
  .bar-label {
    padding-left: 0.5rem;
    font-size: 1vw;
  }

  .bar-value {
    font-size: 1vw;
  }

  .value-container {
    font-size: 1vw;
  }
}
