.singlestat-panel {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
}

.singlestat-panel-value-container {
  // line-height 0 is imporant here as the font-size is on this
  // level but overriden one level deeper and but the line-height: is still
  // based on the base font size on this level. Using line-height: 0 fixes that
  line-height: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  z-index: 1;
  font-weight: $font-weight-semi-bold;
  font-size: 38px;
}

// Helps
.panel-container--no-title {
  .singlestat-panel-value-container {
    padding-bottom: 0;
  }
}

.singlestat-panel-prefix {
  padding-right: 20px;
}

#flotGagueValue0 {
  font-weight: $font-weight-semi-bold; //please dont hurt me for this!
}
