.heatmap-canvas-wrapper {
  // position: relative;
  cursor: crosshair;
}

.heatmap-panel {
  position: relative;

  .axis .tick {
    text {
      fill: $text-color;
      color: $text-color;
      font-size: $font-size-sm;
    }

    line {
      opacity: 0.4;
      stroke: $text-color-weak;
    }
  }
}

.heatmap-tooltip {
  white-space: nowrap;
  font-size: $font-size-sm;
  background-color: $graph-tooltip-bg;
  color: $text-color;
}

.heatmap-histogram rect {
  fill: $text-color-weak;
}

.heatmap-crosshair {
  line {
    stroke: darken($red,15%);
    stroke-width: 1;
  }
}
