.popper {
  position: absolute;
  z-index: $zindex-tooltip;
  color: $tooltipColor;
  max-width: 400px;
  text-align: center;
}

.popper .popper__arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.popper .popper__arrow {
  border-color: $tooltipBackground;
}

.popper[data-placement^='top'] {
  margin-bottom: 5px;
}

.popper[data-placement^='top'] .popper__arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
}

.popper[data-placement^='bottom'] {
  padding-top: 5px;
}

.popper__background {
  background: $tooltipBackground;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.popper[data-placement^='bottom'] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: 0;
  left: calc(50% - 8px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[data-placement^='right'] {
  padding-left: 5px;
}
.popper[data-placement^='right'] .popper__arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: 0;
  top: calc(50% - 8px);
  margin-left: 0;
  margin-right: 0;
}

.popper[data-placement^='left'] {
  margin-right: 5px;
}

.popper[data-placement^='left'] .popper__arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.popper__target,
.popper__manager {
  display: inline-block;
}

.popper__manager--block {
  display: block;
}
