//
// Popovers
// --------------------------------------------------


.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $zindex-popover;
  display: none;
  max-width: 480px;
  padding: 1px;
  text-align: left; // Reset given new insertion method
  background-color: $popoverBackground;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  @include box-shadow(0 5px 10px rgba(0,0,0,.2));

  // Overrides for proper insertion
  white-space: normal;

  // Offset the popover to account for the popover arrow
  &.top     { margin-top: -10px; }
  &.right   { margin-left: 10px; }
  &.bottom  { margin-top: 10px; }
  &.left    { margin-left: -10px; }
}

.popover-title {
  margin: 0; // reset heading margin
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: $popoverTitleBackground;

  &:empty {
    display: none;
  }
}

.popover-content {
  padding: 9px 14px;
}

// Arrows
//
// .arrow is outer, .arrow:after is inner

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover .arrow {
  border-width: $popoverArrowOuterWidth;
}
.popover .arrow:after {
  border-width: $popoverArrowWidth;
  content: "";
}

.popover {
  &.top .arrow {
    left: 50%;
    margin-left: -$popoverArrowOuterWidth;
    border-bottom-width: 0;
    border-top-color: #999; // IE8 fallback
    border-top-color: $popoverArrowOuterColor;
    bottom: -$popoverArrowOuterWidth;
    &:after {
      bottom: 1px;
      margin-left: -$popoverArrowWidth;
      border-bottom-width: 0;
      border-top-color: $popoverArrowColor;
    }
  }
  &.right .arrow {
    top: 50%;
    left: -$popoverArrowOuterWidth;
    margin-top: -$popoverArrowOuterWidth;
    border-left-width: 0;
    border-right-color: #999; // IE8 fallback
    border-right-color: $popoverArrowOuterColor;
    &:after {
      left: 1px;
      bottom: -$popoverArrowWidth;
      border-left-width: 0;
      border-right-color: $popoverArrowColor;
    }
  }
  &.bottom .arrow {
    left: 50%;
    margin-left: -$popoverArrowOuterWidth;
    border-top-width: 0;
    border-bottom-color: #999; // IE8 fallback
    border-bottom-color: $popoverArrowOuterColor;
    top: -$popoverArrowOuterWidth;
    &:after {
      top: 1px;
      margin-left: -$popoverArrowWidth;
      border-top-width: 0;
      border-bottom-color: $popoverArrowColor;
    }
  }

  &.left .arrow {
    top: 50%;
    right: -$popoverArrowOuterWidth;
    margin-top: -$popoverArrowOuterWidth;
    border-right-width: 0;
    border-left-color: #999; // IE8 fallback
    border-left-color: $popoverArrowOuterColor;
    &:after {
      right: 1px;
      border-right-width: 0;
      border-left-color: $popoverArrowColor;
      bottom: -$popoverArrowWidth;
    }
  }

}

.drop-element, .drop-element:after, .drop-element:before, .drop-element *, .drop-element *:after, .drop-element *:before {
  box-sizing: border-box; }

.drop-element {
  position: absolute;
  display: none; }
  .drop-element.drop-open {
    display: block; }

.drop-element.drop-theme-arrows-bounce-dark {
  max-width: 100%;
  max-height: 100%; }
  .drop-element.drop-theme-arrows-bounce-dark .drop-content {
    border-radius: 5px;
    position: relative;
    font-family: inherit;
    background: #000;
    color: #fff;
    padding: 1em;
    font-size: 1.1em;
    line-height: 1.5em; }
    .drop-element.drop-theme-arrows-bounce-dark .drop-content:before {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-width: 12px;
      border-style: solid; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-center .drop-content {
    margin-bottom: 12px; }
    .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-center .drop-content:before {
      top: 100%;
      left: 50%;
      margin-left: -12px;
      border-top-color: #000; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-center .drop-content {
    margin-top: 12px; }
    .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-center .drop-content:before {
      bottom: 100%;
      left: 50%;
      margin-left: -12px;
      border-bottom-color: #000; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-right.drop-element-attached-middle .drop-content {
    margin-right: 12px; }
    .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-right.drop-element-attached-middle .drop-content:before {
      left: 100%;
      top: 50%;
      margin-top: -12px;
      border-left-color: #000; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-left.drop-element-attached-middle .drop-content {
    margin-left: 12px; }
    .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-left.drop-element-attached-middle .drop-content:before {
      right: 100%;
      top: 50%;
      margin-top: -12px;
      border-right-color: #000; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-left.drop-target-attached-bottom .drop-content {
    margin-top: 12px; }
    .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-left.drop-target-attached-bottom .drop-content:before {
      bottom: 100%;
      left: 12px;
      border-bottom-color: #000; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-right.drop-target-attached-bottom .drop-content {
    margin-top: 12px; }
    .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-right.drop-target-attached-bottom .drop-content:before {
      bottom: 100%;
      right: 12px;
      border-bottom-color: #000; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-top .drop-content {
    margin-bottom: 12px; }
    .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-top .drop-content:before {
      top: 100%;
      left: 12px;
      border-top-color: #000; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-top .drop-content {
    margin-bottom: 12px; }
    .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-top .drop-content:before {
      top: 100%;
      right: 12px;
      border-top-color: #000; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-right.drop-target-attached-left .drop-content {
    margin-right: 12px; }
    .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-right.drop-target-attached-left .drop-content:before {
      top: 12px;
      left: 100%;
      border-left-color: #000; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-left.drop-target-attached-right .drop-content {
    margin-left: 12px; }
    .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-left.drop-target-attached-right .drop-content:before {
      top: 12px;
      right: 100%;
      border-right-color: #000; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-left .drop-content {
    margin-right: 12px; }
    .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-left .drop-content:before {
      bottom: 12px;
      left: 100%;
      border-left-color: #000; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-right .drop-content {
    margin-left: 12px; }
    .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-right .drop-content:before {
      bottom: 12px;
      right: 100%;
      border-right-color: #000; }

.drop-element.drop-theme-arrows-bounce-dark {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: opacity 100ms;
          transition: opacity 100ms;
  opacity: 0; }
  .drop-element.drop-theme-arrows-bounce-dark .drop-content {
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.265, 1.55);
            transition: transform 0.3s cubic-bezier(0, 0, 0.265, 1.55);
    -webkit-transform: scale(0) translateZ(0);
            transform: scale(0) translateZ(0); }
  .drop-element.drop-theme-arrows-bounce-dark.drop-open {
    display: none; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-open-transitionend {
    display: block; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-after-open {
    -webkit-transition: none;
            transition: none;
    opacity: 1; }
    .drop-element.drop-theme-arrows-bounce-dark.drop-after-open .drop-content {
      -webkit-transform: scale(1) translateZ(0);
              transform: scale(1) translateZ(0); }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-center .drop-content {
    -webkit-transform-origin: 50% calc(100% + 12px);
        -ms-transform-origin: 50% calc(100% + 12px);
            transform-origin: 50% calc(100% + 12px); }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-center .drop-content {
    -webkit-transform-origin: 50% -12px;
        -ms-transform-origin: 50% -12px;
            transform-origin: 50% -12px; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-right.drop-element-attached-middle .drop-content {
    -webkit-transform-origin: calc(100% + 12px) 50%;
        -ms-transform-origin: calc(100% + 12px) 50%;
            transform-origin: calc(100% + 12px) 50%; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-left.drop-element-attached-middle .drop-content {
    -webkit-transform-origin: -12px 50%;
        -ms-transform-origin: -12px 50%;
            transform-origin: -12px 50%; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-left.drop-target-attached-bottom .drop-content {
    -webkit-transform-origin: 0 -12px;
        -ms-transform-origin: 0 -12px;
            transform-origin: 0 -12px; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-right.drop-target-attached-bottom .drop-content {
    -webkit-transform-origin: 100% -12px;
        -ms-transform-origin: 100% -12px;
            transform-origin: 100% -12px; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-top .drop-content {
    -webkit-transform-origin: 0 calc(100% + 12px);
        -ms-transform-origin: 0 calc(100% + 12px);
            transform-origin: 0 calc(100% + 12px); }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-top .drop-content {
    -webkit-transform-origin: 100% calc(100% + 12px);
        -ms-transform-origin: 100% calc(100% + 12px);
            transform-origin: 100% calc(100% + 12px); }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-right.drop-target-attached-left .drop-content {
    -webkit-transform-origin: calc(100% + 12px) 0;
        -ms-transform-origin: calc(100% + 12px) 0;
            transform-origin: calc(100% + 12px) 0; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-left.drop-target-attached-right .drop-content {
    -webkit-transform-origin: -12px 0;
        -ms-transform-origin: -12px 0;
            transform-origin: -12px 0; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-left .drop-content {
    -webkit-transform-origin: calc(100% + 12px) 100%;
        -ms-transform-origin: calc(100% + 12px) 100%;
            transform-origin: calc(100% + 12px) 100%; }
  .drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-right .drop-content {
    -webkit-transform-origin: -12px 100%;
        -ms-transform-origin: -12px 100%;
            transform-origin: -12px 100%; }
