.query-part {
  background-color: lighten($input-label-bg, 5%);

  &.show-function-controls {
    padding-top: 5px;
    min-width: 100px;
    text-align: center;
  }

  .query-part__last {
    display: none;
  }

  &:hover .query-part__last {
    display: inline;
  }
}

.query-part__link {
  cursor: pointer;

  &--no-value {
    color: $text-muted;
  }
}
