$dashboard-row-height: 30px;

.dashboard-row {
  display: flex;
  height: $dashboard-row-height;
  line-height: $dashboard-row-height;
  align-items: center;
  align-content: center;
  justify-content: center;

  &--collapse {
    background: $panel-bg;

    .dashboard-row__panel_count {
      display: block;
    }

    .dashboard-row__drag,
    .dashboard-row__actions {
      visibility: visible;
      opacity: 1;
    }
  }

  &:hover {
    .dashboard-row__actions-left,
    .dashboard-row__actions-right {
      visibility: visible;
      opacity: 1;
      transition: opacity 200ms ease-in-out 100ms;
    }
  }
}

.dashboard-row__center {
  position: relative;
}

.dashboard-row__title {
  @include brand-bottom-border();

  position: relative;
  flex-grow: 0;
  font-size: 1.15rem;
  font-weight: $font-weight-semi-bold;
  padding: 0rem 1rem 0.3rem 1rem;
}

.dashboard-row__actions-left {
  position: absolute;
  left: -23px;
  font-size: $font-size-xs;
  color: $text-muted;
  top: 1px;
  visibility: hidden;
  opacity: 0;
}

.dashboard-row__actions-right {
  position: absolute;
  right: -40px;
  padding-right: 1rem;
  font-size: $font-size-sm;
  visibility: hidden;
  opacity: 0;
  top: 0px;

  a {
    color: $text-color-weak;
    padding-left: $spacer;
    &:hover {
      color: $link-hover-color;
    }
  }
}

.dashboard-row__title-text {
  color: $text-color;
}

.dashboard-row__panel_count {
  color: $text-color-weak;
  font-style: italic;
  font-size: $font-size-sm;
  font-weight: normal;
  display: none;
  position: absolute;
  right: 30px;
  top: 0;
}

.dashboard-row__drag {
  cursor: move;
  width: 1rem;
  height: $dashboard-row-height;
  background: url("../img/grab_dark.svg") no-repeat 50% 50%;
  background-size: 8px;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.panels-wrapper {
  flex-grow: 1;
  position: relative;
}

.dash-row-dropview {
  position: relative;
  background:  $panel-bg;
  border: $panel-border;
  margin: 0 $panel-margin $panel-margin*2 $panel-margin;
  padding: $panel-margin*2;
  display: flex;
}

.dash-row-dropview-close {
  position: absolute;
  right: -12px;
  top: -10px;
  width: 20px;
  height: 20px;
}

.add-panel-panels-scroll {
  width: 100%;
  overflow: auto;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none
  }
}

.add-panel-panels {
  display: flex;
  flex-direction: row;
}

.add-panel-item {
  background: $input-label-bg;
  border: $panel-border;
  padding: $spacer/3 $spacer;
  min-width: 9rem;
  max-width: 9rem;
  text-align: center;
  margin: $gf-form-margin;
  cursor: pointer;

  &.active,
  &:hover {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 1px rgba(82,168,236,5.8)
  }
}

.add-panel-item-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: $font-size-sm;
}

.add-panel-item-img {
  width: 2rem;
}

$dash-row-menu-animation-speed: 0.20s;

.dash-row-menu-container {
  position: absolute;
  top: 0px;
  width: 138px;
  min-height: 100%;
  transform: translate(-131px, 0);
  transition: 0.1s ease-out 0.4s;
  z-index: 0;
  display: flex;
  flex-direction: row;

  &:hover {
    transform: translate(-$panel-margin, 0);
    transition: $dash-row-menu-animation-speed ease-in 0.05s;
    z-index: 101;

    .dash-row-menu-grip {
      opacity: 0;
      transition: $dash-row-menu-animation-speed ease-in 0.05s;
    }
  }
}

.dash-row-menu {
  list-style: none;
  flex-grow: 1;
  box-shadow: $menu-dropdown-shadow;
  background: $menu-dropdown-bg;

  li a {
    display: block;
    white-space: nowrap;
    color: $dropdownLinkColor;
    font-size: $font-size-sm;
    padding: $spacer/2 $spacer;
    border-left: 2px solid $menu-dropdown-bg;
    i {
      display: inline-block;
      padding-right: $spacer/2;
    }

    &:hover {
      @include left-brand-border-gradient();
      color: $link-color;
      background: $input-label-bg;
    }
  }
}

.dash-row-menu-grip {
  text-align: center;
  font-size: 130%;
  color: $text-color-weak;
  opacity: 1;
  transition: $dash-row-menu-animation-speed ease-out 0.5s;
  width: 1rem;
}

