.search-backdrop {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: $navbarHeight;
  z-index: $zindex-modal-backdrop;
  background-color: $black;
  @include opacity(70);
}

.search-container {
  left: $side-menu-width;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: ($zindex-modal-backdrop + 10);
  position: fixed;

  .label-tag {
    margin-left: 6px;
    font-size: 11px;
    padding: 2px 6px;
  }
}

// Search
.search-field-wrapper {
  width: 100%;
  display: flex;
  background-color: $navbarButtonBackground;

  input {
    max-width: 653px;
    //padding: 0.5rem 1.5rem 0.5rem 0;
    padding: 1rem 1rem 0.75rem 1rem;
    height: 51px;
    line-height: 51px;
    box-sizing: border-box;
    outline: none;
    background: $side-menu-bg;
    background-color: $navbarButtonBackground;
    flex-grow: 10;
  }
}

.search-field-spacer {
  flex-grow: 1;
}

.search-switches {
  flex-grow: 1;
  padding: 1rem 1rem 0.75rem 1rem;
  white-space: nowrap;
}

.search-field-icon {
  font-size: $font-size-lg;
  padding: 1rem 1rem 0.75rem 1.5rem;
}

.search-dropdown {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  visibility: none;
  opacity: 0;
  background: $panel-bg;
  height: calc(100% - #{$navbarHeight});

  &--fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
  }
}

.search-results-container {
  height: 100%;
  display: block;
  padding: $spacer;
  position: relative;
  flex-grow: 10;

  .selected {
    .search-result-tag {
      opacity: 0.70;
      color: white;
    }
  }
}

.search-section__header {
  font-size: $font-size-h6;
  padding: 0.6rem 0;
  color: $text-color-weak;
  display: flex;

  &:hover {
    color: $text-color-weak;
    .search-section__header__toggle {
      background: $tight-form-func-bg;
      color: $link-hover-color;
    }
  }
}

.search-section__header__icon {
  padding: 3px 10px;
}

.search-section__header__toggle {
  padding: 5px;
}

.search-section__header__text {
  flex-grow: 1;
}

.search-item {
  display: flex;
  height: 37px;
  padding: 0px;
  white-space: nowrap;
  background-color: $tight-form-bg;
  margin-bottom: 4px;
  @include left-brand-border();

  &:hover {
    @include left-brand-border-gradient();
    background-color: $tight-form-func-bg;
  }

  &.selected {
    background-color: $tight-form-func-bg;
  }

  // .fa-star, .fa-star-o {
  //   padding-left: 13px;
  // }
  //
  // .fa-star {
  //   color: $orange;
  // }
}
.search-item__body {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

.search-item__body-title {
  color: $grafanaListMainLinkColor;
}

.search-item__body-sub-title {
  color: $grafanaListMainLinkColor;
  color: $text-muted;
  font-size: $font-size-sm;
  line-height: 9pt;
}

.search-item__icon {
  padding: 5px;
  flex: 0 0 auto;
  font-size: 19px;
  padding: 5px 2px 5px 10px;
}

.search-item__tags {
  padding: 8px;
}

.search-item__actions {
  visibility: hidden;
}

.search-button-row {
  text-align: center;
  padding: $spacer*2 $spacer;
}
