.search-backdrop {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: $navbarHeight;
  z-index: $zindex-modal-backdrop;
  background-color: $black;
  @include opacity(70);
}

.search-container {
  left: $side-menu-width;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: ($zindex-modal-backdrop + 10);
  position: fixed;
}

// Search
.search-field-wrapper {
  width: 100%;
  display: flex;
  background-color: $navbarBackground;
  box-shadow: $navbarShadow;
  position: relative;

  input {
    max-width: 653px;
    //padding: 0.5rem 1.5rem 0.5rem 0;
    padding: 1rem 1rem 0.75rem 1rem;
    height: 51px;
    line-height: 51px;
    box-sizing: border-box;
    outline: none;
    background: $side-menu-bg;
    background-color: $navbarButtonBackground;
    flex-grow: 10;
  }
}

.search-field-spacer {
  flex-grow: 1;
}

.search-switches {
  flex-grow: 1;
  padding: 1rem 1rem 0.75rem 1rem;
  white-space: nowrap;
}

.search-field-icon {
  font-size: $font-size-lg;
  padding: 1rem 1rem 0.75rem 1.5rem;
}

.search-dropdown {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  background: $page-bg;
  height: calc(100% - #{$navbarHeight});
}

.search-results-container {
  height: 100%;
  display: block;
  padding: $spacer;
  position: relative;
  flex-grow: 10;
  margin-bottom: 1rem;

  .label-tag {
    margin-left: 6px;
    font-size: 11px;
    padding: 2px 6px;
  }

  .selected {
    .search-result-tag {
      opacity: 0.70;
      color: white;
    }
  }
}

.search-section {
  background: $panel-bg;
  border: $panel-border;
  padding: $panel-padding;
  margin-bottom: 3px;
  border-radius: 5px;
}

.search-section__header {
  font-size: $font-size-h6;
  padding: 8px 0 2px 0;
  color: $text-color-weak;
  display: flex;
  flex-grow: 1;

  &:hover {
    color: $text-color-weak;
    .search-section__header__toggle {
      background: $tight-form-func-bg;
      color: $link-hover-color;
    }
  }
}

.search-section__header__with-checkbox {
  display: flex;
}

.search-section__header__icon {
  padding: 5px 10px;
}

.search-section__header__toggle {
  padding: 5px;
}

.search-section__header__text {
  flex-grow: 1;
}

.search-item__with-checkbox {
  display: flex;

  .search-item {
    margin: 1px 3px;
  }
}

.search-item {
  @include list-item();
  @include left-brand-border();

  display: flex;
  flex-grow: 1;
  height: 37px;
  white-space: nowrap;
  padding: 0px;

  &:hover {
    @include left-brand-border-gradient();
  }

  &.selected {
    background: $list-item-hover-bg;
  }
}

.search-item__body {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

.search-item__body-title {
  color: $list-item-link-color;
}

.search-item__body-sub-title {
  color: $text-muted;
  font-size: $font-size-sm;
  line-height: 9pt;
}

.search-item__icon {
  padding: 5px;
  flex: 0 0 auto;
  font-size: 19px;
  padding: 5px 2px 5px 10px;
}

.search-item__tags {
  padding: 10px;
}

.search-item__actions {
  flex: 0 0 auto;
  padding: 0 10px 0 0;
}

.search-item__actions__item {
  display: inline-block;
  opacity: 0;
  width: 0;
  transition: all 0.2s ease-in-out;
  .fa-star, .fa-star-o {
    color: $orange;
    line-height: 37px;
  }
}

.search-item:hover {
  .search-item__actions__item {
    width: 15px;
    opacity: 1;
  }
}

.search-button-row {
  text-align: center;
  padding: $spacer*2 $spacer;
  background: $panel-bg;
}
