.submenu-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  gap: $space-sm $space-md;
  padding: 0 0 $space-sm 0;
}

.submenu-item {
  display: inline-block;

  .fa-caret-down {
    font-size: 75%;
    padding-left: 8px;
  }

  .gf-form {
    margin-bottom: 0;
  }
}

.variable-link-wrapper {
  display: inline-block;
  position: relative;
}
