.tabbed-view {
  background-color: $page-bg;
  background-image: linear-gradient(60deg, transparent 70%, darken($page-bg, 4%) 98%);
  margin: -($spacer/2);
  padding: $spacer*2;
}

.tabbed-view-header {
  @include clearfix();
  border-image: linear-gradient(to right, rgba(255,213,0,1) 0%, rgba(255,68,0,1) 99%, rgba(255,68,0,1) 100%);
  border-image-slice: 1;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid transparent;
}

.tabbed-view-close-btn {
  float: right;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  padding: 8px;
  i {
    font-size: 120%;
  }
  color: $text-color;
  &:hover {
    color: $white;
  }
}

.tabbed-view-body {
  padding: 20px;
  min-height: 150px;
}

