.gf-tabs {
  @include clearfix();
  float: left;
  position: relative;
  top: 1px;
}

.gf-tabs-item {
  float: left;
  list-style: none;
}

.gf-tabs-link {
  padding: $tabs-padding;
  margin-right: $spacer/2;
  position: relative;
  display: block;
  border: solid transparent;
  border-width: 2px 1px 1px;
  border-radius: 3px 3px 0 0;

  i {
    margin-right: 5px;
  }

  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  &.active,
  &.active:hover,
  &.active:focus {
    border-color: $orange $tab-border-color transparent;
    background: $page-bg;
    color: $link-color;
  }
}

