.toolbar {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 3px 20px 3px 20px;
  position: relative;
  z-index: 1;
  flex: 0 0 auto;
  background: $black;
  border-bottom: 1px solid $black;
  border-radius: 3px;
}

.toolbar__heading {
  font-size: $font-size-lg;
  padding-right: 10px;
}

.toolbar__main {
  padding: $input-padding-y $input-padding-x;
  font-size: $font-size-md;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  border: $input-border;
  border-radius: $input-border-radius;
  display: flex;
  align-items: center;
  cursor: pointer;

  .fa {
    margin-left: 20px;
    display: inline-block;
    position: relative;
  }
}

.toolbar__main-image {
  margin-right: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.toolbar-subview__close {
  background: transparent;
  padding: 4px 8px 4px 9px;
  border: none;
  position: absolute;
  right: 25px;
  top: 20px;
  font-size: $font-size-md;

  &:hover {
    color: $text-color-strong;
  }
}
