.user-picker-option__button {
  position: relative;
  text-align: left;
  width: 100%;
  display: block;
  border-radius: 0;
}
.user-picker-option__avatar {
  width: 20px;
  display: inline-block;
  margin-right: 10px;
}
