.viz-editor {
  display: flex;
  height: 100%;
}

.viz-editor-col1 {
  width: 240px;
  height: 100%;
  margin-right: 40px;
}

.viz-editor-col2 {
  flex-grow: 1;
}

.viz-picker {
  display: flex;
  flex-direction: column;
}

.viz-picker-list {
  padding: 3px 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.viz-picker__item {
  background: $card-background;
  box-shadow: $card-shadow;

  border-radius: 3px;
  padding: $spacer;
  width: 100%;
  height: 60px;
  text-align: center;
  margin: $gf-form-margin;
  cursor: pointer;
  display: flex;

  &:hover {
    background: $card-background-hover;
  }

  &--selected {
    border: 1px solid $orange;

    .viz-picker__item-name {
      color: $text-color;
    }

    .viz-picker__item-img {
      filter: saturate(100%);
    }
  }
}

.viz-picker__item-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: $font-size-sm;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: $spacer;
  font-size: $font-size-md;
  color: $text-muted;
}

.viz-picker__item-img {
  height: 100%;
  filter: saturate(30%);
}
