.panel-in-fullscreen {
  .scroll-canvas--dashboard {
    height: 100%;
  }

  .sidemenu {
    display: none;
  }

  .main-view {
    background: unset;
  }

  .dashboard-container {
    padding: 0;
  }

  .submenu-controls {
    padding: $dashboard-padding $dashboard-padding $panel-margin $dashboard-padding;
  }

  .panel-editor-container__panel {
    margin: 0 $dashboard-padding;
  }
}

.viz-picker__search {
  flex-grow: 0;
}

.viz-picker__items {
  display: flex;
  // for scrollbar
  margin-bottom: 10px;
}

.viz-picker__item {
  background: $card-background;
  box-shadow: $card-shadow;

  border-radius: 3px;
  height: 70px;
  width: 130px;
  flex-shrink: 0;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  display: flex;
  margin-right: 6px;
  border: 1px solid transparent;
  align-items: center;

  &:hover {
    background: $card-background-hover;
  }

  &--selected {
    .viz-picker__item-name {
      color: $text-color;
    }
  }
}

.viz-picker__item-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: $font-size-sm;
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 20px;
}

.viz-picker__item-img {
  height: 40px;
}

.panel-editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.panel-editor-container__panel {
  flex: 1 1 0;
}

.panel-editor-container__editor {
  margin-top: $panel-margin*2;
  display: flex;
  flex-direction: row;
  height: 65%;
  position: relative;
}

.panel-editor__content {
  flex-grow: 1;
  min-width: 0;
  height: 100%;
  padding: 0 20px;
  max-width: 1100px;
}

.panel-editor__aside {
  background: $panel-bg;
  display: flex;
  flex-direction: column;
}

.panel-editor__aside-item {
  padding: 8px 20px;
  color: $text-color;
  font-size: $font-size-md;
  @include left-brand-border;

  &.active {
    @include left-brand-border-gradient();
    background: $page-bg;
  }

  i {
    width: 23px;
  }

  .gicon {
    margin-bottom: 2px;
  }

  .fa {
    font-size: 17px;
  }
}

.panel-editor__aside-actions {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  padding: 30px 0 0 0;

  a {
    text-align: left;
    padding-left: 20px;
  }
}

.panel-editor__aside-header {
  color: $text-muted;
  font-size: $font-size-h3;
  padding: 20px 30px 10px 20px;
  white-space: nowrap;

  i {
    font-size: 25px;
    position: relative;
    top: 1px;
    padding-right: 5px;
  }
}

.viz-picker__bar {
  display: flex;
  margin-bottom: $spacer;
}

.panel-editor-resizer {
  position: absolute;
  height: 2px;
  width: 100%;
  top: 1px;
  padding-left: 32px;
}

.panel-editor-resizer__handle {
  display: inline-block;
  width: 100px;
  position: relative;
  background: $input-label-bg;
  top: -12px;
  border-radius: 2px;
  box-shadow: 0 0 8px $black;
  height: 8px;
  cursor: grabbing;
}

.panel-editor-resizer__handle-dots {
  border-top: 2px dotted $text-color-faint;
  position: relative;
  top: 3px;
}

.panel-editor {
  height: calc(100% - 10px);
}
