<div class="editor-row">

  <div class="editor-row">
    <div class="editor-option">
      <label class="small">Left y-axis label</label>
      <input ng-change="get_data()" ng-model-onblur placeholder="" type="text" class="input-large" ng-model="panel.leftYAxisLabel">
    </div>
    <div class="editor-option">
      <label class="small">Right y-axis label</label>
      <input ng-change="get_data()" ng-model-onblur placeholder="" type="text" class="input-large" ng-model="panel.rightYAxisLabel">
    </div>
  </div>

</div>