<div class="editor-row">

  <div class="section">
    <h5>Axes</h5>
    <div class="editor-option">
      <label class="small">X-Axis</label><input type="checkbox" ng-model="panel['x-axis']" ng-checked="panel['x-axis']" ng-change="render()">
    </div>
    <div class="editor-option">
      <label class="small">Y-Axis</label><input type="checkbox" ng-model="panel['y-axis']" ng-checked="panel['y-axis']" ng-change="render()">
    </div>
    <div class="editor-option">
      <label class="small">Left Y Format <tip>Y-axis formatting</tip></label>
      <select class="input-small" ng-model="panel.y_formats[1]" ng-options="f for f in ['none','short','bytes', 'ms']" ng-change="render()"></select>
    </div>
    <div class="editor-option">
      <label class="small">Right Y Format <tip>Y-axis formatting</tip></label>
      <select class="input-small" ng-model="panel.y_formats[2]" ng-options="f for f in ['none','short','bytes', 'ms']" ng-change="render()"></select>
    </div>

    <div class="editor-option">
      <label class="small">Left Y-axis label</label>
      <input ng-change="get_data()" ng-model-onblur placeholder="" type="text" class="input-medium" ng-model="panel.leftYAxisLabel">
    </div>
    <div class="editor-option">
      <label class="small">Right Y-axis label</label>
      <input ng-change="get_data()" ng-model-onblur placeholder="" type="text" class="input-medium" ng-model="panel.rightYAxisLabel">
    </div>

  </div>


</div>

<div class="editor-row">

  <div class="section">
    <h5>Grid</h5>
    <div class="editor-option">
      <label class="small">Min / <a ng-click="toggleGridMinMax('min')">Auto <i class="icon-star" ng-show="_.isNull(panel.grid.min)"></i></a></label>
      <input type="number" class="input-small" ng-model="panel.grid.min" ng-change="render()" ng-model-onblur />
    </div>
    <div class="editor-option">
      <label class="small">Max / <a ng-click="toggleGridMinMax('max')">Auto <i class="icon-star" ng-show="_.isNull(panel.grid.max)"></i></a></label>
      <input type="number" class="input-small" ng-model="panel.grid.max" ng-change="render()" ng-model-onblur />
    </div>
  </div>

  <div class="section">
    <h5>Legend</h5>
    <div class="editor-option">
      <label class="small">Legend</label><input type="checkbox" ng-model="panel.legend" ng-checked="panel.legend" ng-change="render();">
    </div>
  </div>

</div>