<div class="editor-row">

	<div class="grafana-target" ng-repeat="target in panel.targets" ng-controller="GraphiteTargetCtrl" ng-init="init()">
    <div class="grafana-target-inner-wrapper">
      <div class="grafana-target-inner">
        <span class="grafana-target-onoff">
          <i class="icon-eye-open"></i>
        </span>
        <ul class="grafana-segment-list" role="menu">
          <li class="dropdown" ng-repeat="segment in segments" role="menuitem">
            <a  tabindex="1"
                class="grafana-target-segment dropdown-toggle"
                data-toggle="dropdown"
                ng-click="getAltSegments($index)"
                focus-me="segment.focus"
                ng-bind-html-unsafe="segment.html">
            </a>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="altSegment in altSegments" role="menuitem">
                <a href="javascript:void(0)" tabindex="1" ng-click="setSegment($index, $parent.$index)" ng-bind-html-unsafe="altSegment.html"></a>
              </li>
            </ul>
          </li>
        </ul>
        <span class="grafana-target-controls">
          <i class="icon-remove"></i>
        </span>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="grafana-target-func-panel">
      <span class="grafana-target-func-panel-icon">
        <!-- <i class="icon-long-arrow-right"></i> -->
      </span>
      <ul>
        <li ng-repeat="func in functions">
          <a bs-popover="'app/panels/graphite/funcEditor.html'" data-placement="top">{{func.text}}</a>
          <i class="icon-long-arrow-right"></i>
        </li>
        <li class="dropdown">
          <a  class="dropdown-toggle"
              data-toggle="dropdown"
              tabindex="1"
              ng-click="addFunction">
              add function
          </a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="funcDef in funcDefs" role="menuitem">
              <a href="javascript:void(0)"
                 tabindex="1"
                 ng-click="addFunction(funcDef)">
                 {{funcDef.name}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>

    <!-- <div class="row-fluid">
  		<div class="span12">
        <span ng-if="!editMode">
          {{target.target}}
        </span>

    		<input ng-if="editMode" type="text" ng-model="target.target" class="input-large" style="width:100%" ng-model-onblur ng-change="targetChanged()" bs-typeahead="typeAheadSource" data-min-length=0 />

        <span ng-if="!editMode">
          <i ng-click="edit()" class="pointer icon-edit" style="padding: 0 7px;"></i>
          <i ng-click="panel.targets = _.without(panel.targets, target)" class="pointer icon-remove" style="padding: 0 7px;"></i>
    	 </span>

      </div>
    </div> -->
  </div>

  <div class="row-fluid" style="margin-top: 20px">
    <a class="pull-right" ng-click="add_target(panel.target)"  ng-show="editor.index == 1">Add target</a>
  </div>
</div>