<div class="grafana-func-editor">

  <div class="grafana-func-editor-header">
   <a ng-click="removeFunction(func)">
      Remove
    </a>
    &nbsp;&nbsp;
    <a ng-click="helpFunction(func)">
      Help
    </a>
    &nbsp;&nbsp;
    <a class="close" ng-click="dismiss();" href="">×</a>

  </div>

  <div class="editor-row" ng-if="func.def.params.length">
    <div class="section">
      <div class="editor-option" ng-repeat="param in func.def.params">
        <label class="small">{{param.name}}</label>
        <div ng-switch on="param.type">
          <div ng-switch-when="int">
             <input
                type="number"
                placeholder="seconds"
                focus-me="true"
                class="input-mini"
                ng-change="functionParamsChanged(func)" ng-model-onblur
                ng-model="func.params[$index]" />
          </div>
          <div ng-switch-when="string">
             <input
                type="text"
                focus-me="true"
                class="input-small"
                ng-change="functionParamsChanged(func)" ng-model-onblur
                ng-model="func.params[$index]" />
          </div>
          <div ng-switch-when="select">
              <select
                  class="input-mini"
                  ng-model="func.params[$index]"
                  ng-change="functionParamsChanged(func)"
                  focus-me="true"
                  ng-options="f for f in param.options">
              </select>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>