<span ng-show="panel.legend"
      ng-class="{'pull-right': series.yaxis === 2, 'hidden-series': hiddenSeries[series.alias]}"
      ng-repeat='series in legend'
      class="histogram-legend">
    <i  class='icon-circle pointer'
        ng-style="{color: series.color}"
        bs-popover="'colorPopup.html'"
        data-unique="1"
        data-placement="bottomLeft">
    </i>
    <span class='small histogram-legend-item'>
      <a ng-click="toggleSeries(series)">
        {{series.alias}}
      </a>
    </span>
</span>

<script type="text/ng-template" id="colorPopup.html">
  <div style="width: 150px;">
    <div>
      <a class="close pull-right" ng-click="dismiss();" href="">×</a>
      <div class="clearfix"></div>
    </div>

    <i ng-repeat="color in colors"
      class="pointer"
      ng-class="{'icon-circle-blank': color === series.color,'icon-circle': color !== series.color}"
      ng-style="{color:color}"
      ng-click="changeSeriesColor(series, color);dismiss();">
    </i>
</div>
</script>
