<div  ng-controller='graphite'
      ng-init="init()"
      style="min-height:{{panel.height || row.height}}"
      ng-class="{'panel-fullscreen': fullscreen}">
  <div>
    <span ng-show='panel.options'>
      <a class="link underline small" ng-show='panel.options' ng-click="options=!options">
        <i ng-show="!options" class="icon-caret-right"></i><i ng-show="options" class="icon-caret-down"></i> View
      </a> |&nbsp
    </span>
  </div>

  <center><img ng-show='panel.loading && _.isUndefined(data)' src="img/load_big.gif"></center>

  <div grafana-graph class="pointer histogram-chart">
  </div>

  <div ng-if="panel.legend" class="grafana-legend-container">
    <div ng-include="'app/panels/graphite/legend.html'"></div>
  </div>

  <div class="panel-full-edit-tabs" ng-if="editMode">
      <div ng-model="editor.index" bs-tabs>
        <div ng-repeat="tab in editorTabs" data-title="{{tab}}">
        </div>
      </div>

      <div class="tab-content" ng-show="editorTabs[editor.index] == 'General'">
        <div ng-include src="'app/partials/panelgeneral.html'"></div>
      </div>

      <div class="tab-content" ng-repeat="tab in panelMeta.fullEditorTabs" ng-show="editorTabs[editor.index] == tab.title">
        <div ng-include src="tab.src"></div>
      </div>
  </div>
</div>