
<div class="editor-row">
  <div class="section">
    <h5>Left Y Axis</h5>
       <div class="editor-option">
        <label class="small">Format <tip>Y-axis formatting</tip></label>
        <select class="input-small" ng-model="panel.y_formats[0]" ng-options="f for f in ['none','short','bytes', 'bits', 'bps', 's', 'ms', 'µs', 'ns']" ng-change="render()"></select>
      </div>
      <div class="editor-option">
        <label class="small">Min / <a ng-click="toggleGridMinMax('leftMin')">Auto <i class="icon-star" ng-show="_.isNull(panel.grid.leftMin)"></i></a></label>
        <input type="number" class="input-small" ng-model="panel.grid.leftMin" ng-change="render()" ng-model-onblur />
      </div>
      <div class="editor-option">
        <label class="small">Max / <a ng-click="toggleGridMinMax('leftMax')">Auto <i class="icon-star" ng-show="_.isNull(panel.grid.leftMax)"></i></a></label>
        <input type="number" class="input-small" ng-model="panel.grid.leftMax" ng-change="render()" ng-model-onblur />
      </div>
      <div class="editor-option">
        <label class="small">Label</label>
        <input ng-change="get_data()" ng-model-onblur placeholder="" type="text" class="input-medium" ng-model="panel.leftYAxisLabel">
      </div>
  </div>
</div>

<div class="editor-row">
  <div class="section">
    <h5>Legend styles</h5>
    <div class="editor-option">
      <label class="small">Show Legend</label><input type="checkbox" ng-model="panel.legend.show" ng-checked="panel.legend.show" ng-change="render();">
    </div>
    <div class="editor-option">
      <label class="small">Right side</label><input type="checkbox" ng-model="panel.legend.rightSide" ng-change="render();" ng-checked="panel.legend.rightSide">
    </div>
  </div>
  <div class="section">
    <h5>Heatmap data</h5>
      <div class="editor-option">
        <label class="small">Vertical resolution <tip>How many brackets will the heatmap have vertically. Horizontal scaling can be adjusted by changing time grouping of the query.</tip></label>
        <input type="number" class="input-small" ng-model="panel.grid.bucketCount" ng-change="render()" ng-model-onblur />
      </div>
  </div>
</div>

<div class="editor-row">
  <div class="section">
    <h5>Color and Depth</h5>
    <div class="editor-option">
      <label class="small">Min / <a ng-click="toggleGridMinMax('depthMin')">Auto <i class="icon-star" ng-show="_.isNull(panel.grid.depthMin)"></i></a> <tip>Value which will be displayed as 0% (black)</tip></label>
      <input type="number" class="input-small" ng-model="panel.grid.depthMin" ng-change="render()" ng-model-onblur />
    </div>
    <div class="editor-option">
      <label class="small">Max / <a ng-click="toggleGridMinMax('depthMax')">Auto <i class="icon-star" ng-show="_.isNull(panel.grid.depthMax)"></i></a> <tip>Value which will be displayed as 100% (full color)</tip></label>
      <input type="number" class="input-small" ng-model="panel.grid.depthMax" ng-change="render()" ng-model-onblur />
    </div>
    <div class="editor-option">
      <label class="small">Color</label>
      <spectrum-picker ng-model="panel.grid.mapColor" ng-change="render()" ></spectrum-picker>
    </div>
  </div>

  <div class="section">
    <h5>Show Axes</h5>
    <div class="editor-option">
      <label class="small">X-Axis</label><input type="checkbox" ng-model="panel['x-axis']" ng-checked="panel['x-axis']" ng-change="render()">
    </div>
    <div class="editor-option">
      <label class="small">Y-Axis</label><input type="checkbox" ng-model="panel['y-axis']" ng-checked="panel['y-axis']" ng-change="render()">
    </div>
  </div>

</div>
