<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width"/>
   <!-- build:css css/tidy.css -->
  <link inline rel="stylesheet" href="../assets/css/ink.css">
  <link inline rel="stylesheet" href="../assets/css/style.css">
  <!-- /build -->
</head>
<body>
	<table class="body">
		{{> body }}
	</table>
</body>
</html>
