.panel-option-section {
  margin-bottom: 10px;
  border: $panel-option-section-border;
  border-radius: $border-radius;
  background: $page-bg;
}

.panel-option-section__header {
  padding: 4px 20px;
  font-size: 1.1rem;
  background: $panel-option-section-header-bg;
  position: relative;

  .btn {
    position: absolute;
    right: 0;
    top: 0px;
  }
}

.panel-option-section__body {
  padding: 20px;

  &--queries {
    min-height: 200px;
  }
}
