{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-10-25",
    "endpointPrefix":"ce",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"AWS Cost Explorer",
    "serviceFullName":"AWS Cost Explorer Service",
    "serviceId":"Cost Explorer",
    "signatureVersion":"v4",
    "signingName":"ce",
    "targetPrefix":"AWSInsightsIndexService",
    "uid":"ce-2017-10-25"
  },
  "operations":{
    "GetCostAndUsage":{
      "name":"GetCostAndUsage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCostAndUsageRequest"},
      "output":{"shape":"GetCostAndUsageResponse"},
      "errors":[
        {"shape":"LimitExceededException"}
      ]
    },
    "GetDimensionValues":{
      "name":"GetDimensionValues",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDimensionValuesRequest"},
      "output":{"shape":"GetDimensionValuesResponse"},
      "errors":[
        {"shape":"LimitExceededException"}
      ]
    },
    "GetReservationUtilization":{
      "name":"GetReservationUtilization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetReservationUtilizationRequest"},
      "output":{"shape":"GetReservationUtilizationResponse"},
      "errors":[
        {"shape":"LimitExceededException"}
      ]
    },
    "GetTags":{
      "name":"GetTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTagsRequest"},
      "output":{"shape":"GetTagsResponse"},
      "errors":[
        {"shape":"LimitExceededException"}
      ]
    }
  },
  "shapes":{
    "AttributeType":{"type":"string"},
    "AttributeValue":{"type":"string"},
    "Attributes":{
      "type":"map",
      "key":{"shape":"AttributeType"},
      "value":{"shape":"AttributeValue"}
    },
    "Context":{
      "type":"string",
      "enum":[
        "COST_AND_USAGE",
        "RESERVATIONS"
      ]
    },
    "DateInterval":{
      "type":"structure",
      "required":[
        "Start",
        "End"
      ],
      "members":{
        "Start":{"shape":"YearMonthDay"},
        "End":{"shape":"YearMonthDay"}
      }
    },
    "Dimension":{
      "type":"string",
      "enum":[
        "AZ",
        "INSTANCE_TYPE",
        "LINKED_ACCOUNT",
        "OPERATION",
        "PURCHASE_TYPE",
        "REGION",
        "SERVICE",
        "USAGE_TYPE",
        "USAGE_TYPE_GROUP",
        "RECORD_TYPE",
        "OPERATING_SYSTEM",
        "TENANCY",
        "SCOPE",
        "PLATFORM",
        "SUBSCRIPTION_ID"
      ]
    },
    "DimensionValues":{
      "type":"structure",
      "members":{
        "Key":{"shape":"Dimension"},
        "Values":{"shape":"Values"}
      }
    },
    "DimensionValuesWithAttributes":{
      "type":"structure",
      "members":{
        "Value":{"shape":"Value"},
        "Attributes":{"shape":"Attributes"}
      }
    },
    "DimensionValuesWithAttributesList":{
      "type":"list",
      "member":{"shape":"DimensionValuesWithAttributes"}
    },
    "Entity":{"type":"string"},
    "ErrorMessage":{"type":"string"},
    "Estimated":{"type":"boolean"},
    "Expression":{
      "type":"structure",
      "members":{
        "Or":{"shape":"Expressions"},
        "And":{"shape":"Expressions"},
        "Not":{"shape":"Expression"},
        "Dimensions":{"shape":"DimensionValues"},
        "Tags":{"shape":"TagValues"}
      }
    },
    "Expressions":{
      "type":"list",
      "member":{"shape":"Expression"}
    },
    "GetCostAndUsageRequest":{
      "type":"structure",
      "members":{
        "TimePeriod":{"shape":"DateInterval"},
        "Granularity":{"shape":"Granularity"},
        "Filter":{"shape":"Expression"},
        "Metrics":{"shape":"MetricNames"},
        "GroupBy":{"shape":"GroupDefinitions"},
        "NextPageToken":{"shape":"NextPageToken"}
      }
    },
    "GetCostAndUsageResponse":{
      "type":"structure",
      "members":{
        "NextPageToken":{"shape":"NextPageToken"},
        "GroupDefinitions":{"shape":"GroupDefinitions"},
        "ResultsByTime":{"shape":"ResultsByTime"}
      }
    },
    "GetDimensionValuesRequest":{
      "type":"structure",
      "required":[
        "TimePeriod",
        "Dimension"
      ],
      "members":{
        "SearchString":{"shape":"SearchString"},
        "TimePeriod":{"shape":"DateInterval"},
        "Dimension":{"shape":"Dimension"},
        "Context":{"shape":"Context"},
        "NextPageToken":{"shape":"NextPageToken"}
      }
    },
    "GetDimensionValuesResponse":{
      "type":"structure",
      "required":[
        "DimensionValues",
        "ReturnSize",
        "TotalSize"
      ],
      "members":{
        "DimensionValues":{"shape":"DimensionValuesWithAttributesList"},
        "ReturnSize":{"shape":"PageSize"},
        "TotalSize":{"shape":"PageSize"},
        "NextPageToken":{"shape":"NextPageToken"}
      }
    },
    "GetReservationUtilizationRequest":{
      "type":"structure",
      "required":["TimePeriod"],
      "members":{
        "TimePeriod":{"shape":"DateInterval"},
        "GroupBy":{"shape":"GroupDefinitions"},
        "Granularity":{"shape":"Granularity"},
        "Filter":{"shape":"Expression"},
        "NextPageToken":{"shape":"NextPageToken"}
      }
    },
    "GetReservationUtilizationResponse":{
      "type":"structure",
      "required":["UtilizationsByTime"],
      "members":{
        "UtilizationsByTime":{"shape":"UtilizationsByTime"},
        "Total":{"shape":"ReservationAggregates"},
        "NextPageToken":{"shape":"NextPageToken"}
      }
    },
    "GetTagsRequest":{
      "type":"structure",
      "required":["TimePeriod"],
      "members":{
        "SearchString":{"shape":"SearchString"},
        "TimePeriod":{"shape":"DateInterval"},
        "TagKey":{"shape":"TagKey"},
        "NextPageToken":{"shape":"NextPageToken"}
      }
    },
    "GetTagsResponse":{
      "type":"structure",
      "required":[
        "Tags",
        "ReturnSize",
        "TotalSize"
      ],
      "members":{
        "NextPageToken":{"shape":"NextPageToken"},
        "Tags":{"shape":"TagList"},
        "ReturnSize":{"shape":"PageSize"},
        "TotalSize":{"shape":"PageSize"}
      }
    },
    "Granularity":{
      "type":"string",
      "enum":[
        "DAILY",
        "MONTHLY"
      ]
    },
    "Group":{
      "type":"structure",
      "members":{
        "Keys":{"shape":"Keys"},
        "Metrics":{"shape":"Metrics"}
      }
    },
    "GroupDefinition":{
      "type":"structure",
      "members":{
        "Type":{"shape":"GroupDefinitionType"},
        "Key":{"shape":"GroupDefinitionKey"}
      }
    },
    "GroupDefinitionKey":{"type":"string"},
    "GroupDefinitionType":{
      "type":"string",
      "enum":[
        "DIMENSION",
        "TAG"
      ]
    },
    "GroupDefinitions":{
      "type":"list",
      "member":{"shape":"GroupDefinition"}
    },
    "Groups":{
      "type":"list",
      "member":{"shape":"Group"}
    },
    "Key":{"type":"string"},
    "Keys":{
      "type":"list",
      "member":{"shape":"Key"}
    },
    "LimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "exception":true
    },
    "MetricAmount":{"type":"string"},
    "MetricName":{"type":"string"},
    "MetricNames":{
      "type":"list",
      "member":{"shape":"MetricName"}
    },
    "MetricUnit":{"type":"string"},
    "MetricValue":{
      "type":"structure",
      "members":{
        "Amount":{"shape":"MetricAmount"},
        "Unit":{"shape":"MetricUnit"}
      }
    },
    "Metrics":{
      "type":"map",
      "key":{"shape":"MetricName"},
      "value":{"shape":"MetricValue"}
    },
    "NextPageToken":{"type":"string"},
    "PageSize":{"type":"integer"},
    "PurchasedHours":{"type":"string"},
    "ReservationAggregates":{
      "type":"structure",
      "members":{
        "UtilizationPercentage":{"shape":"UtilizationPercentage"},
        "PurchasedHours":{"shape":"PurchasedHours"},
        "TotalActualHours":{"shape":"TotalActualHours"},
        "UnusedHours":{"shape":"UnusedHours"}
      }
    },
    "ReservationGroupKey":{"type":"string"},
    "ReservationGroupValue":{"type":"string"},
    "ReservationUtilizationGroup":{
      "type":"structure",
      "members":{
        "Key":{"shape":"ReservationGroupKey"},
        "Value":{"shape":"ReservationGroupValue"},
        "Attributes":{"shape":"Attributes"},
        "Utilization":{"shape":"ReservationAggregates"}
      }
    },
    "ReservationUtilizationGroups":{
      "type":"list",
      "member":{"shape":"ReservationUtilizationGroup"}
    },
    "ResultByTime":{
      "type":"structure",
      "members":{
        "TimePeriod":{"shape":"DateInterval"},
        "Total":{"shape":"Metrics"},
        "Groups":{"shape":"Groups"},
        "Estimated":{"shape":"Estimated"}
      }
    },
    "ResultsByTime":{
      "type":"list",
      "member":{"shape":"ResultByTime"}
    },
    "SearchString":{"type":"string"},
    "TagKey":{"type":"string"},
    "TagList":{
      "type":"list",
      "member":{"shape":"Entity"}
    },
    "TagValues":{
      "type":"structure",
      "members":{
        "Key":{"shape":"TagKey"},
        "Values":{"shape":"Values"}
      }
    },
    "TotalActualHours":{"type":"string"},
    "UnusedHours":{"type":"string"},
    "UtilizationByTime":{
      "type":"structure",
      "members":{
        "TimePeriod":{"shape":"DateInterval"},
        "Groups":{"shape":"ReservationUtilizationGroups"},
        "Total":{"shape":"ReservationAggregates"}
      }
    },
    "UtilizationPercentage":{"type":"string"},
    "UtilizationsByTime":{
      "type":"list",
      "member":{"shape":"UtilizationByTime"}
    },
    "Value":{"type":"string"},
    "Values":{
      "type":"list",
      "member":{"shape":"Value"}
    },
    "YearMonthDay":{
      "type":"string",
      "pattern":"\\d{4}-\\d{2}-\\d{2}"
    }
  }
}
