<navbar icon="icon-gf icon-gf-users" title="Profile" title-url="profile">
</navbar>

<div class="page-container">

	<h1>Change password</h1>

	<form name="userForm" class="gf-form-group">
		<div class="gf-form">
			<span class="gf-form-label gf-size-m">Old Password</span>
			<input class="gf-form-input gf-size-xxl" type="text" required ng-model="command.oldPassword">
		</div>
		<br>

		<div class="gf-form">
			<span class="gf-form-label gf-size-m">New Password</span>
			<input class="gf-form-input gf-size-xxl" type="text" required ng-minlength="4"  ng-model="command.newPassword">
		</div>
		<br>

		<div class="gf-form">
			<span class="gf-form-label gf-size-m">Confirm Password</span>
			<input class="gf-form-input gf-size-xxl" type="text" required ng-minlength="4"  ng-model="command.confirmNew">
		</div>
		<br>

		<div class="gf-form-button-row">
			<button type="submit" class="btn btn-success" ng-click="changePassword()">Change Password</button>
			<a class="btn-text" href="profile">Cancel</a>
		</div>
	</form>

</div>

