<topnav title="{{contextSrv.user.name}}" section="个人信息" icon="fa fa-user" subnav="true">
	<ul class="nav">
		<li><a href="profile">总览</a></li>
		<li class="active"><a href="profile/password">修改密码</a></li>
	</ul>
</topnav>

<div class="page-container">
	<div class="page">

		<h2>修改密码</h2>

		<form name="userForm">
			<div>
				<div class="tight-form">
					<ul class="tight-form-list">
						<li class="tight-form-item" style="width: 100px">
							<strong>旧密码</strong>
						</li>
						<li>
							<input type="password" required ng-model="command.oldPassword" class="input-xxlarge tight-form-input last" >
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="tight-form" style="margin-top: 5px">
					<ul class="tight-form-list">
						<li class="tight-form-item" style="width: 100px">
							<strong>新密码</strong>
						</li>
						<li>
							<input type="password" required ng-model="command.newPassword" ng-minlength="4" class="input-xxlarge tight-form-input last" >
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="tight-form" style="margin-top: 5px">
					<ul class="tight-form-list">
						<li class="tight-form-item" style="width: 100px">
							<strong>确认新密码</strong>
						</li>
						<li>
							<input type="password" required ng-model="command.confirmNew" ng-minlength="4" class="input-xxlarge tight-form-input last" >
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>

			<br>
			<button type="submit" class="pull-right btn btn-success" ng-click="changePassword()">Change Password</button>
		</form>

	</div>
</div>

