<navbar title="Profile" title-url="profile" icon="fa fa-fw fa-user" subnav="true">
	<ul class="nav">
		<li class="active"><a href="profile/password">Change password</a></li>
	</ul>
</navbar>

<div class="page-container">
	<div class="page">

		<h1>Change password</h1>

		<form name="userForm">
			<div>
				<div class="tight-form">
					<ul class="tight-form-list">
						<li class="tight-form-item" style="width: 100px">
							Old Password
						</li>
						<li>
							<input type="password" required ng-model="command.oldPassword" class="input-xxlarge tight-form-input last" >
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="tight-form">
					<ul class="tight-form-list">
						<li class="tight-form-item" style="width: 100px">
							New Password
						</li>
						<li>
							<input type="password" required ng-model="command.newPassword" ng-minlength="4" class="input-xxlarge tight-form-input last" >
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="tight-form">
					<ul class="tight-form-list">
						<li class="tight-form-item" style="width: 100px">
							Confirm New
						</li>
						<li>
							<input type="password" required ng-model="command.confirmNew" ng-minlength="4" class="input-xxlarge tight-form-input last" >
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>

			<br>
			<div class="pull-right">
				<button type="submit" class="btn btn-success" ng-click="changePassword()">Change Password</button>
				&nbsp;
				<a class="btn btn-inverse" href="profile">Cancel</a>
			</div>
		</form>

	</div>
</div>

