<navbar icon="icon-gf icon-gf-users" title="Preferences" title-url="preferences">
</navbar>

<div class="page-container">
	<div class="page-header">
		<h1>Preferences</h1>
	</div>

	<form name="userForm" class="gf-form-group">
		<div class="gf-form">
			<span class="gf-form-label width-10">Home Dashboard</span>
			<input class="gf-form-input max-width-21" type="text" ng-model="prefData.homeDashboard">
		</div>

		<div class="gf-form">
			<span class="gf-form-label width-10">Time Range</span>
			<input class="gf-form-input max-width-21" type="text" ng-model="prefData.timeRange">
		</div>

		<div class="gf-form">
			<span class="gf-form-label width-10">Theme</span>
			<input class="gf-form-input max-width-21" type="text" ng-model="prefData.theme">
		</div>

		<div class="gf-form-button-row">
			<button type="submit" class="btn btn-success" ng-click="setUserPreferences()">Set Preferences</button>
			<a class="btn-text" href="profile">Cancel</a>
		</div>
	</form>

</div>

