<topnav title="{{contextSrv.user.name}}" section="个人信息" icon="fa fa-fw fa-user" subnav="true">
	<ul class="nav">
		<li class="active"><a href="profile">总览</a></li>
		<li><a href="profile/password">修改密码</a></li>
	</ul>
</topnav>

<div class="page-container" style="background: transparent; border: 0;">
	<div class="page-wide">

		<h2>个人信息</h2>

		<form name="userForm">
			<div class="tight-form">
				<ul class="tight-form-list">
					<li class="tight-form-item" style="width: 100px">
						姓名
					</li>
					<li>
						<input type="text" required ng-model="user.name" class="input-xxlarge tight-form-input last" >
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="tight-form">
				<ul class="tight-form-list">
					<li class="tight-form-item" style="width: 100px">
						邮箱
					</li>
					<li>
						<input type="email" required ng-model="user.email" class="input-xxlarge tight-form-input last" >
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="tight-form">
				<ul class="tight-form-list">
					<li class="tight-form-item" style="width: 100px">
						账号
					</li>
					<li>
						<input type="text" required ng-model="user.login" class="input-xxlarge tight-form-input last" >
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>

			<div class="tight-form last">
				<ul class="tight-form-list">
					<li class="tight-form-item" style="width: 100px">
						皮肤
					</li>
					<li>
						<select class="input-small tight-form-input" ng-model="user.theme" ng-options="f for f in ['dark', 'light']"></select>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<br>
			<button type="submit" class="pull-right btn btn-success" ng-click="update()">更新</button>
		</form>

		<h3>公司</h3>

		<table class="filter-table form-inline">
			<thead>
				<tr>
					<th>公司名</th>
					<th>角色</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="org in orgs">
					<td>{{org.name}}</td>
					<td>{{org.role}}</td>
					<td class="text-right">
						<span class="btn btn-primary btn-mini" ng-show="org.orgId === contextSrv.user.orgId">
							当前用户
						</span>
						<a ng-click="setUsingOrg(org)" class="btn btn-inverse btn-mini" ng-show="org.orgId !== contextSrv.user.orgId">
							选择用户
						</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>

