<navbar icon="icon-gf icon-gf-users" title="Profile">
</navbar>

<div class="page-container">
	<div class="page-header">
		<h1>Profile</h1>
	</div>

	<form name="userForm" class="gf-form-group">
		<h3>Preferences</h3>

		<div class="gf-form">
			<span class="gf-form-label gf-size-xs">Name</span>
			<input class="gf-form-input gf-size-max-xxl" type="text" required ng-model="user.name" >
		</div>
		<div class="gf-form">
			<span class="gf-form-label gf-size-xs">Email</span>
			<input class="gf-form-input gf-size-max-xxl" type="email" required ng-model="user.email">
		</div>
		<div class="gf-form">
			<span class="gf-form-label gf-size-xs">Username</span>
			<input class="gf-form-input gf-size-max-xxl" type="text" required ng-model="user.login">
		</div>
		<div class="gf-form">
			<span class="gf-form-label gf-size-xs">UI Theme</span>
			<select class="gf-form-input gf-size-auto" ng-model="user.theme" ng-options="f for f in ['dark', 'light']"></select>
		</div>

		<div class="gf-form-button-row">
			<button type="submit" class="btn btn-success" ng-click="update()">Update</button>
		</div>
	</form>

	<div class="gf-form-group">
		<h3>Password</h3>
		<a href="profile/password" class="btn btn-inverse">Change Password</a>
	</div>

	<h3>Organizations</h3>
	<table class="filter-table form-inline">
		<thead>
			<tr>
				<th>Name</th>
				<th>Role</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="org in orgs">
				<td>{{org.name}}</td>
				<td>{{org.role}}</td>
				<td class="text-right">
					<span class="btn btn-primary btn-mini" ng-show="org.orgId === contextSrv.user.orgId">
						Current
					</span>
					<a ng-click="setUsingOrg(org)" class="btn btn-inverse btn-mini" ng-show="org.orgId !== contextSrv.user.orgId">
						Select
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

