<div>

  <div class="row-fluid">

    <div class="span6">
      <label class=small>Metric 1</label>
      <textarea ng-model="panel.target1" rows="6" style="width:95%"></textarea>
    </div>
    <div class="span6" >
      <label class=small>Threshold 1</label>
      <textarea ng-model="panel.threshold1" rows="6" style="width:95%"></textarea>
    </div>
  </div>

  <div class="row-fluid">

    <div class="span6">
      <label class=small>Metric 2</label>
      <textarea ng-model="panel.target2" rows="6" style="width:95%"></textarea>
    </div>
    <div class="span6" >
      <label class=small>Threshold 2</label>
      <textarea ng-model="panel.threshold2" rows="6" style="width:95%"></textarea>
    </div>

  </div>

</div>
