.empty-search-result {
  border-left: 3px solid $info-box-border-color;
  background-color: $empty-list-cta-bg;
  padding: $spacer;
  min-width: 350px;
  border-radius: $border-radius;
  margin-bottom: $spacer * 2;
}
