@import "submenu.less";
@import "bootstrap-tagsinput.less";

.grafana-dashboard-hide-controls {
  padding: 0;
  .grafana-row {
    display: none;
  }
}

// Search

.grafana-search-panel {
  padding: 6px 10px;

  .search-field-wrapper {
    input {
      width: 100%;
    }
    button {
      margin: 0 2px 0 0;
    }
    > span {
      display: block;
      overflow: hidden;
      padding-right: 25px;
    }
  }

  .selected td, tr.selected:nth-child(odd)>td {
    background: @blue;
    color: white;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.3);
    a {
      color: white;
    }
  }

  .selected-tag .label-tag {
    background-color: @blue;
  }
}

.search-tagview-switch {
  position: absolute;
  top: 15px;
  right: 180px;
  color: darken(@linkColor, 30%);
  &.active {
    color: @linkColor;
  }
}

.row-button {
  width: 24px;
}

.modal {
  margin: 5%;
  width: 90%;
}

.grafana-search-metric-actions {
  visibility: hidden;
  padding-left: 20px;
}

.grafana-search-metric-name {
  white-space: nowrap;
}

.grafana-search-metric-result:hover {
  .grafana-search-metric-actions {
    visibility: visible;
  }
  .grafana-search-metric-name {
    color: @blue;
  }
}

.yaxisLabel {
  top: 50%;
  left: -20px;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

.axisLabel {
  color: @textColor;
  font-size: @fontSizeSmall;
  position: absolute;
  text-align: center;
  font-size: 12px;
}

.hidden-series {
  a {
    color: darken(@linkColor, 45%);
  }
}

.panel-fullscreen {
  z-index: 1500;
  display: block !important;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 49px;
  bottom: 0px;
  outline: 1px solid #101214;
  border-top: 1px solid #3e444c;
  padding: 0 10px;
  background: @kibanaPanelBackground;
}

.dashboard-fullscreen .container-fluid.main {
  height: 0px;
  width: 0px;
  position: fixed;
  right: -10000px;
}

// Graphite Graph Legends

.grafana-legend-container {
  margin: 4px 15px;
  text-align: left;
}

.grafana-legend-container .popover-content {
  padding: 0;
}

.histogram-legend {
  display:inline-block;
  padding: 0 4px;
  i {
    position: relative;
    top: 3px;
  }
}

.histogram-legend-dot {
  display:inline-block;
  height:10px;
  width:10px;
  border-radius:5px;
}

.histogram-legend-item {
  display:inline-block;
}

.histogram-chart {
  position:relative;
}

.histogram-legend-popover {
  width: 200px;
  label {
    display: inline-block;
  }
  .btn {
    padding: 1px 3px;
    margin-right: 0px;
    line-height: initial;
  }
  .close {
    margin-right: 5px;
    color: white;
    opacity: 0.7;
    text-shadow: none;
  }
  .editor-row {
    padding: 5px;
  }
}

.panel-full-edit-tabs {
  margin-top: 10px;
  min-height: 250px;
  margin-left: -10px;
  margin-right: -10px;
  border-top: 1px solid black;

  .tabs {
    .nav-tabs {
      margin: 0;
      background: @grayDark;
      border-top: 1px solid #555;
    }

    .tab-content {
      display: none;
    }
  }
  .tab-content {
    overflow: visible;
    padding: 15px;
  }

  .nav-tabs > li > a {
    line-height: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 0.8rem;
  }
}

/* Graphite Target Editor */
@grafanaTargetColor:       #c8c8c8;
@grafanaTargetColorHide:   darken(#c8c8c8, 25%);

.grafana-target {
}

.grafana-target-inner-wrapper {
  //border-top: 1px solid #444444;
  width: 100%;
}

.grafana-target-inner {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background: @grayDark;
  width: 100%;
}

.grafana-target-onoff {
  display: inline-block;
  padding: 5px 7px;
  display: inline-block;
}

.grafana-segment-list {
  list-style: none;
  margin: 0;
  margin-right: 90px;
  margin-left: 30px;
  >li {
    float: left;
  }
}

.grafana-target-segment {
  padding: 5px 7px;
  display: inline-block;
  font-weight: normal;
  border-right: 2px solid #050505;
  color: @grafanaTargetColor;
  display: inline-block;

  .grafana-target-hidden & {
    color: @grafanaTargetColorHide;
  }

  &:hover, &:focus {
    text-decoration: none;
  }
  &:hover {
    background: #444;
  }
}

.grafana-target-function {
  background: #444;
  &:hover {
    background: #555;
  }
}

.grafana-target-controls-left {
  list-style: none;
  float: left;
  width: 30px;
  margin: 0px;
}

.grafana-target-controls {
  width: 120px;
  float: right;
  list-style: none;
  margin: 0;
  text-align: right;

  >li {
    display: inline-block;
    white-space: nowrap;
  }

  a {
    padding: 5px 7px;
    position: relative;
    top: 5px;
    color: @grafanaTargetColor;

    .grafana-target-hidden & {
      color: @grafanaTargetColorHide;
    }

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

input[type=text].grafana-target-text-input {
  padding: 5px 7px;
  border: 1px solid #050505;
  margin: 0px;
  background: transparent;
  width: 80%;
  float: left;
  color: @grafanaTargetColor;
  border-radius: 0;
}

.grafana-target .dropdown {
  padding: 0; margin: 0;
}

input[type=text].func-param {
  border: none;
  background: inherit;
  width: 30px;
  border-radius: none;
  padding: 0;
  margin: 0;
}

.grafana-target {
  .popover-content {
    padding: 0;
  }
}

.grafana-func-editor {
  min-width: 140px;
  .grafana-func-editor-header {
    background: #41474c;
    text-align: center;
    border-bottom: 1px solid #353a3e;
    padding: 3px 5px;
    white-space: nowrap;
  }
  .editor-row {
    padding: 5px;
  }
}

.scrollable {
  max-height: 300px;
  overflow: auto;
}


//
// Srollbars
//

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar:hover {
  height: 8px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment { display: none;  }
::-webkit-scrollbar-button:horizontal:decrement {  display: none; }
::-webkit-scrollbar-button:horizontal:increment {  display: none; }
::-webkit-scrollbar-button:vertical:decrement { display: none; }
::-webkit-scrollbar-button:vertical:increment { display: none; }
::-webkit-scrollbar-button:horizontal:decrement:active { background-image: none; }
::-webkit-scrollbar-button:horizontal:increment:active { background-image: none; }
::-webkit-scrollbar-button:vertical:decrement:active { background-image: none; }
::-webkit-scrollbar-button:vertical:increment:active {background-image: none; }

::-webkit-scrollbar-track-piece { background-color: grayDark; }

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #3a3a3a), color-stop(100%, #222222));
  border: 1px solid #0d0d0d;
  border-top: 1px solid #666666;
  border-left: 1px solid #666666;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a3a3a), color-stop(100%, #222222));
  border: 1px solid #1f1f1f;
  border-top: 1px solid #666666;
  border-left: 1px solid #666666;
}


// SPECTRUM CSS overrides

.sp-replacer {
  background: inherit;
  border: none;
  color: inherit;
}

.sp-replacer:hover, .sp-replacer.sp-active {
  border-color: inherit;
  color: inherit;
}

.sp-container {
  border-radius: 0;
  background-color: @heroUnitBackground;
  border: none;
  padding: 0;
}

.sp-palette-container, .sp-picker-container {
  border: none;
}


