.pro-sidemenu {
  display: none;
}

.sidemenu {
  list-style: none;
  background: @bodyBackground;
  margin: 0;
  padding: 0;
}

.sidemenu-links {
  margin: 0;
  padding: 0;
  list-style: none;
  background: @grafanaTargetFuncBackground;
  li {
    display: block;
  }
}

.sidemenu-link {
  padding: 6px 0 6px 30px;
  font-size: 15px;
  display: block;
  i {
    padding-right: 15px;
  }
}

.sidemenu-item {
  font-size: 17px;
  padding: 14px 10px 14px 20px;
  display: block;
  background: @grafanaPanelBackground;
  i {
    padding-right: 15px;
  }
  border-bottom: 1px solid black;
}

.pro-sidemenu-open {
  .pro-sidemenu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    background: @bodyBackground;
    border-right: 2px solid black;
    min-height: 100%;
    z-index: 101;
  }

  .dashboard-notice {
    margin-left: 200px;
    width: auto;
  }

  .pro-main-view {
    padding-left: 200px;
  }

  .panel-fullscreen {
    left: 200px;
  }
}

.pro-sidemenu-items {
}

.pro-sidemenu-link {
  font-size: 1.0rem;
  padding: 14px 10px 14px 20px;
  display: block;
  background: @grafanaPanelBackground;
  color: @grayLight;
  i {
    padding-right: 15px;
  }
  border-bottom: 1px solid black;
}

.pro-sidemenu-link:first-child {
 // border-top: 1px solid black;
}

.pro-side-menu-user {
  padding-left: 5px;
  img {
    width: 49px;
    padding-right: 10px;
  }
}

.gravatar {
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  .gravatar-missing {
    display: none;
  }
  .gravatar-email {
    padding-left: 4px;
  }
}

.login-inner-box {
  background: @grafanaPanelBackground;
  h1 {
    font-size: 1.15em;
    background: @grafanaTargetBackground;
    text-align: center;
    padding: 2px;
  }
}

.login-signup-button {
  width: 45%;
  text-align: center;

  a {
    font-weight: bold;
  }
  &.login-signup-button-disable {
    a {
      color: darken(@linkColor, 35%);
    }
  }
}

.login-oauth {
  margin-top: 30px;
  padding: 10px;
  background: @grafanaTargetBackground;
  .btn-google {
    background: #dd4b39;
    color: white;
  }
  .btn-github {
    background: #555;
    color: white;
  }
}

.login-form {
  width: 50%;
  float: left;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 30px;
}

.login-box {
  width: 700px;
  margin: 100px auto 0 auto;
}

.login-box-logo {
  text-align: center;
  padding-bottom: 50px;
}

.register-box {
  margin-top: 100px;
}

