.panel {
  display: inline-block;
  float: left;
  vertical-align: top;
}

.panel-container {
  padding: 0px 0px 0px 0px;
  background: @grafanaPanelBackground;
  margin: 5px;
  position: relative;
}

.panel-content {
  padding: 0px 10px 5px 10px;
}

.panel-title-container {
  min-height: 5px;
  padding-top: 4px;
  cursor: context-menu;
}

.panel-title {
  border: 0px;
  font-weight: bold;
  position: relative;
  cursor: context-menu;
}

.panel-loading {
  position:absolute;
  top: 0px;
  right: 4px;
  z-index: 800;
}

.panel-header {
  text-align: center;
}


.panel-error {
  color: @white;
  position: absolute;
  left: 0;
  padding: 0px 17px 6px 5px;
  top: 0;
  i {
    position: relative;
    top: -2px;
  }
}

.panel-error-arrow {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 31px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 27px solid @grafanaPanelBackground;
  left: 0;
  bottom: 0;
}

.panel-menu {
  z-index: 1000;
  position: absolute;
  background: @grafanaTargetFuncBackground;
  border: 1px solid black;
  top: -62px;

  .panel-menu-row {
    white-space: nowrap;
    border-bottom: 1px solid black;
    &:last-child {
      border-bottom: none;
    }
  }

  .icon-move {
    cursor: move;
  }

  .panel-menu-link, .panel-menu-icon {
    padding: 5px 10px;
  }

  .panel-menu-link {
    display: inline-block;
    border-right: 1px solid black;
    &:last-child {
      border: none;
    }
  }
}

.panel-highlight  {
  .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(82,168,236, 0.8)");
}
