html {-webkit-font-smoothing:antialiased;} // make type beautiful

/***********************************
COLUMNS
***********************************/
  .detailContainer {min-width:400px; max-width:1320px; margin: 20px 0;}

    .detailColumn {
          width:  50%;
          float:left;
          position: relative;
          transition: 0.15s;
        }

    .detailLeft {}
    .detailRight {}

     @media screen and (max-width: 780px) {
        .detailColumn {
          width:  100%;
          float:none;
          transition: 0.15s;
        }
      .detailLeft {padding-right:0px; margin-left:0px;}
      .detailRight {padding-left:0px;}
      }

/***********************************
raintank BOX
***********************************/
.rt-box {
  background-color: @black;
  margin: 0px 10px 20px 10px;
  position: relative;
  border-radius: 2px;
}

 .rt-box-no-margin {
    margin: 0;
    background-color: @black;
    position: relative;
    border-radius: 2px;
  }

  .oneCol {display:none;}
  .twoCol {display:none;}

@media screen and (max-width: 780px) {
  .oneCol {display:block;}
}

@media screen and (min-width: 781px) {
  .twoCol {display:block;}
}

.clearBack {background-color:transparent;}
.rt-box-header-close-btn {
  float: right;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  padding: 8px;
  font-size: 120%;
  color: @textColor;
  &:hover {
    color: @white;
  }
}

.rt-box-body {
  padding: 20px;
  min-height: 150px;
}

.no-padding {
    padding: 0;
  }

.rt-box-footer {
  overflow: hidden;
}

.rt-box-header {
  padding: 10px;
  font-size:16px;
  border-bottom: 1px solid @bodyBackground;
  overflow: hidden;
  .tabs {
    float: left;
  }
  .nav {
    margin: 0;
  }
}

.rt-box-title {
  padding-right: 20px;
  padding-left: 10px;
  float: left;
  color: @linkColor;
  font-size: 18px;
  font-weight: normal;
  line-height: 38px;
  margin: 0;
  .fa {
    padding: 0 8px 0 5px;
    color: @textColor;
  }
}


.collectorStatus,
.endpointStatus  {
  margin-bottom: 50px;
}

.currentStatus {
  display:block;
  padding: 20px;
  border-bottom: 1px solid @bodyBackground;
}

.currentStatus:last-child { 
  padding-bottom: 30px;
  border-bottom: none;
  border-bottom-left-radius: 2px; 
  border-bottom-right-radius: 2px;
}

.currentStatus .rt-event-success, 
.currentStatus .rt-event-warning, 
.currentStatus .rt-event-error{  
  display:inline-block;
  padding: 10px;
  border-radius: 50px;
  text-shadow: none;
  font-size: 24px;
  font-weight: 600;
}

.statusEvents {
  display:block; 
  margin-left:70px; 
}

.event {
  display:inline-block;
  margin-bottom:10px;
  margin-right:20px
  }

.event:last-child {margin-right:0;}

.event .rt-event-success, 
.event .rt-event-warning, 
.event .rt-event-error {
  margin:0;
}

 .health {
  margin-bottom:10px;
 } 

 .health img {  
  margin-right:5px; 
  position: relative;
  top:-5px;
}

.checkType {
  width:70px; 
  display:inline-block;
  float:left;
}

.status {
  display: inline-block;
  // vertical-align:bottom;
  // position: relative;
  // bottom: 10px !important;
}

.eventType {margin-left:5px;}

/***********************************
raintank TYPE
***********************************/

.checkType, .eventType {
  font-size:16px;
  font-weight:600;
}

.status {
font-size:20px;
font-weight:600;
}

.statusMsg {font-size:12px; font-weight:300;}

.online {
  color: @online;
  text-transform: uppercase;
}

.warn {
  color: @warn;
  text-transform: uppercase;
}

.disabled {
  color: @disabled;
  text-transform: uppercase;
}

.critical {
  color: @critical;
  text-transform: uppercase;
}

.nodata {
  color: @nodata;
  text-transform: uppercase;
}


/***********************************
raintank POSITIONING
***********************************/

.msg {display:inline;}

.nudgeDown {
  position: relative;
  top: 15px;}

/***********************************
raintank BUTTONS
***********************************/

.superCTA { 
    display: block;
    padding: 1.0em 0;
    color:#fff;
    background-color: @rt-blue;
    border: 1px solid @rt-blue;
    border-radius: 2px;
    text-align:center;
    font-weight: 400;
    font-size: 16px;
    transition: 0.15s;

    img {padding-left: 2px;}
  }

.superCTA:hover,
.superCTA:active{
    cursor: pointer;
    background: darken(@rt-blue, 10%);
    border: 1px solid darken(@rt-blue, 10%);
}
.primaryCTA {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0.2em 1.4em;
    color:#fff;
    background-color: @rt-blue;
    border: 1px solid @rt-blue;
    border-radius: 2px;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    transition: 0.15s;
}
.primaryCTA:hover, 
.primaryCTA:active{
    cursor: pointer;
    background: darken(@rt-blue, 10%);
    border: 1px solid darken(@rt-blue, 10%);
}
.secondaryCTA {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0.2em 1.4em;
    border: 1px solid @rt-blue;
    color: #13b2d4;
    border-radius: 2px;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    transition: 0.15s;
}
.secondaryCTA:hover{
    cursor: pointer;
    border: 1px solid #fff;
    color: #fff;
}

.tertiaryCTA {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0.2em 1.4em;
    border: 1px solid #999;
    color: #999;
    border-radius: 2px;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    transition: 0.15s;
}
.tertiaryCTA:hover{
    cursor: pointer;
    border: 1px solid #fff;
    color: #fff;
}



.collector_icon {
  vertical-align: 2px;
  padding-left:3px;
}

.collectorMap {
  position:relative;
  background-color:@gray; 
  background-image: url(../img/ams_map.png);
  background-position: top left;
  background-repeat: repeat;
  background-size: cover;
  height:450px;
  margin:-20px;
  text-align: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

  .locationDetail {
    background-color: rgba(255,255,255,.8);
    color: @black;
    position: absolute;
    bottom:0px;
    right: 0px;
    width:100%;
    text-align: right;
    padding: 5px 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    h3 {color:#000; margin:20px 20px 0; font-weight:600;}
    dl {margin:0 20px 20px;}
    dt {font-weight: normal;}
  }
}

/**************************************
MATT STYLES
**************************************/

.rt-event {
  border-radius: 10px;
  text-shadow: none;
  font-size: 13px;
  font-weight: 600;
  padding: 0 6px;
  margin: 0 3px;
  border-width: 1px;
  border-style: solid;
  line-height: 12px;  
}

.statusDetail .rt-event-success, 
.statusDetail .rt-event-warning, 
.statusDetail .rt-event-error{  
  display:inline-block;
  padding: 15px 10px;
  border-radius: 50px;
  text-shadow: none;
  font-size: 36px;
  font-weight: 600;
}

.rt-event-success {
  .rt-event;
  color: @rt-green;
  background-color: fade(@rt-green, 30%);
  border-color: fade(@rt-green, 50%);
  box-shadow: 0 0 1px fade(@rt-green, 90%);
}

.rt-event-warning {
  .rt-event;
  color: @rt-yellow;
  background-color: fade(@rt-yellow, 30%);
  border-color: fade(@rt-yellow, 50%);
  box-shadow: 0 0 1px fade(@rt-yellow, 90%);}

.rt-event-error {
  .rt-event;
  color: @rt-red;
  background-color: fade(@rt-red, 30%);
  border-color: fade(@rt-red, 50%);
  box-shadow: 0 0 1px fade(@rt-red, 90%);}


.dashboard-icon {
  transition: all 0.1s ease 0s;
  vertical-align: top;
}

.dashboard-icon:hover {
  opacity: 0.8; // This is a hack. I want to control the svg color on hover eventually. (MST)
}

.filter-icon {
  transition: all 0.1s ease 0s;
  vertical-align: middle;
}

.filter-icon:hover {
  opacity: 0.8; // This is a hack. I want to control the svg color on hover eventually. (MST)
}


// list status headers

.rt-list-status {
  font-size: 16px;
  color: @rt-dark-gray;
  text-transform: uppercase;
  text-decoration: none;
}

.rt-list-status-up {
  &:link, &:visited {
    .rt-list-status;  
    font-size: 20px;
    font-weight: 600;
    color: @rt-green;
  }
  &:hover {color: lighten(@rt-green, 10%);} 
}

.rt-list-status-warning {
  &:link, &:visited {
    .rt-list-status;
    font-size: 20px;
    font-weight: 600;
    color: @rt-yellow;
  }
  &:hover {color: lighten(@rt-yellow, 10%);} 
}

.rt-list-status-down {
  &:link, &:visited {
    .rt-list-status;
    font-size: 20px;
    font-weight: 600;
    color: @rt-red;
  }
  &:hover {color: lighten(@rt-red, 10%);} 
}

.rt-list-status-disabled {
  &:link, &:visited {
    .rt-list-status;
    font-size: 20px;
    font-weight: 600;
    color: @grayLighter;
  }
  &:hover {color: lighten(@grayLighter, 10%);} 
}


// raintank override styles from gfbox.less

.rt-list {
  margin: 1px;
  background-color: @raintankTargetBackground;
  position: relative;
  border: none;
  line-height: normal;
  padding: 3px 0;
}

.rt-list-item-title {
    font-size: 15px;
    a:link {
      color: @rt-light-gray;
    }  
    a:hover {
     color: @white;
    }    
  margin: 10px;
}

.rt-list-header {
  overflow: visible;
  padding: 10px 5px;
  background-color: @raintankTargetBackground;
  .tabs {
    float: left;
  }
  .nav {
    margin: 0;
  }
}

.rt-tabs { 
  border-bottom:1px solid #fff;
  font-size: 16px; 
  padding:10px 20px;
  background:@raintankPanelBackground;
 
  .nonactive a:link, 
  .nonactive a:visited {
    color:@gray;
    margin:0 5px;
  }
  .active a:link,
  .active a:visited  {
    color:@white;
    background:@raintankPanelBackground;
    border-top-left-radius:4px;
    border-top-right-radius: 4px;
    border-top:1px solid #fff; 
    border-right:1px solid #fff; 
    border-left:1px solid #fff;
    margin:0 5px;
    padding:5px 15px 10px 15px;
  }

  a:hover,
  .active a:hover,
  .nonactive a:hover {color:@white; text-decoration: none;}
}

.rt-list-collector-status {
  color: @rt-green;
  font-weight: 700;
  font-size: .85em;
}

.rt-list-collector-since {
  color: @rt-light-gray;
  font-weight: 400;
  font-size: .85em;

}

// raintank from overrides.less
// Labels & Badges
.rt-label-tag {
  background-color: @purple;
  color: @white;
  border-radius: 2px;
  text-shadow: none;
  font-size: 10px;
  font-weight: 600px;
  margin-left: 6px;
  vertical-align: 1px;
  padding: 2px 6px;
  border-width: 1px;
  border-style: solid;
  border-color: lighten(@purple, 15%);
  box-shadow: 0 0 1px fade(@purple, 90%);
  line-height: 12px;

  a {
     color: @white;
    }    

  a:hover {
     color: @white;
    }    

  .icon-tag {
    position: relative;
    top: 1px;
    padding-right: 4px;
  }
}

.rt-label-tag:hover {
  // Hover will trigger the tool tip eventually. This is temporary/ 
  background-color: darken(@purple, 5%);
}

.rt-list-tag-menu {
    // Different positioning for bottom up menu
    .dropdown-menu {
      top: auto;
      bottom: 100%;
      margin-bottom: 5px;
    }
  }

.dropdown-menu {
  >li >a {padding: 0 8px;}

  >li >a:hover {
  // Hover will trigger the tool tip eventually. This is temporary/ 
  background-color: transparent;
  background-image: none;
  opacity: 0.8;
  }
}

.rt-tag-dropup {
  background-color: @grayDark;
  min-width: 90px;
  border: 1px solid @rt-dark-gray;
  box-shadow: 0 0 1px fade(@rt-dark-gray, 90%);
  border-radius: 2px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;

  // Links within the dropdown menu
  li, a {
    display: inline-block;
  }
}

// Allow for dropdowns to go bottom up (aka, dropup-menu)
// ------------------------------------------------------
// Just add .dropup after the standard .dropdown class and you're set, bro.
// TODO: abstract this so that the navbar fixed styles are not placed here?
.dropup,
.navbar-fixed-bottom .dropdown {
  // Reverse the caret
  .caret {
    border-top: 0;
    border-bottom: 4px solid @black;
    content: "";
  }
  // Different positioning for bottom up menu
  .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
  }
}



.rt-h1 {
  font-size: 2em;
  font-weight: 400;
  display: inline;
}

.rt-page-header-area {
  display: block;
  padding-top: 40px;
  padding-bottom: 20px;
}



// Buttons
.rt-btn {
  background: @rt-blue;
  color: @white;
  font-weight: 500;
  padding: 10px 12px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 16px;
  transition: all 0.1s ease 0s;

  &:hover, &:focus {
    background: darken(@rt-blue, 10%);
  }
 
  &:active {
    background: lighten(@rt-blue, 5%);
  }
}