.rt-event {
  border-radius: 10px;
  text-shadow: none;
  font-size: 13px;
  font-weight: 600;
  padding: 0 6px;
  margin: 0 3px;
  border-width: 1px;
  border-style: solid;
  line-height: 12px;  
}

.rt-event-success {
  .rt-event;
  color: @rt-green;
  background-color: fade(@rt-green, 30%);
  border-color: fade(@rt-green, 50%);
  box-shadow: 0 0 1px fade(@rt-green, 90%);
}

.rt-event-warning {
  .rt-event;
  color: @rt-yellow;
  background-color: fade(@rt-yellow, 30%);
  border-color: fade(@rt-yellow, 50%);
  box-shadow: 0 0 1px fade(@rt-yellow, 90%);}

.rt-event-error {
  .rt-event;
  color: @rt-red;
  background-color: fade(@rt-red, 30%);
  border-color: fade(@rt-red, 50%);
  box-shadow: 0 0 1px fade(@rt-red, 90%);}

.dashboard-icon {
  transition: all 0.1s ease 0s;
}

.dashboard-icon:hover {
  opacity: 0.8;
}


// list status headers

.rt-list-status {
  font-size: 15px;
  color: @rt-dark-gray;
  text-transform: uppercase;
}

.rt-list-status-up {
  .rt-list-status;  
  font-size: 19px;
  font-weight: 600;
  color: @rt-green;

}

.rt-list-status-warning {
  .rt-list-status;
  font-size: 19px;
  font-weight: 600;
  color: @rt-yellow;
}

.rt-list-status-down {
  .rt-list-status;
  font-size: 19px;
  font-weight: 600;
  color: @rt-red;
}

.rt-list-status-disabled {
  .rt-list-status;
  font-size: 19px;
  font-weight: 600;
  color: @grayLighter;
}


// raintank override styles from gfbox.less

.rt-list {
  margin: 1px;
  background-color: @raintankTargetBackground;
  position: relative;
  border: none;
  line-height: normal;
  padding: 3px 0;
}

.rt-list-item-title {
    font-size: 15px;
    a:link {
      color: @rt-light-gray;
    }  
    a:hover {
     color: @white;
    }    
  margin: 10px;
}

.rt-list-header {
  overflow: visible;
  padding: 10px 5px;
  background-color: @raintankTargetBackground;
  .tabs {
    float: left;
  }
  .nav {
    margin: 0;
  }
}

.rt-list-collector-status {
  color: @rt-green;
  font-weight: 700;
  font-size: .85em;
}

.rt-list-collector-since {
  color: @rt-light-gray;
  font-weight: 400;
  font-size: .85em;

}

// raintank from overrides.less
// Labels & Badges
.rt-label-tag {
  background-color: @purple;
  color: @white;
  border-radius: 2px;
  text-shadow: none;
  font-size: 10px;
  font-weight: 600px;
  padding: 2px 6px;
  border-width: 1px;
  border-style: solid;
  border-color: lighten(@purple, 10%);
  line-height: 12px;
  -webkit-font-smoothing:antialiased;


  a {
     color: @white;
    }    

  a:hover {
     color: @white;
    }    

  .icon-tag {
    position: relative;
    top: 1px;
    padding-right: 4px;
  }
}

.rt-label-tag:hover {
  // Hover will trigger the tool tip eventually. This is temporary/ 
  background-color: darken(@purple, 5%);
}

.rt-h1 {
  font-size: 2em;
  font-weight: 400;
  display: inline;
  -webkit-font-smoothing:antialiased;
}

.rt-page-header-area {
  display: block;
  padding-top: 40px;
  padding-bottom: 20px;
}

// Buttons
.rt-btn {
  background: @rt-blue;
  color: @white;
  font-weight: 400;
  padding: 6px 10px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-font-smoothing:antialiased;
  font-size: 16px;
  transition: all 0.1s ease 0s;

  &:hover, &:focus {
    background: darken(@rt-blue, 10%);
  }
 
 &:active {
    background: lighten(@rt-blue, 5%);
  }
}
