.submenu-controls-visible:not(.hide-controls) {
  .panel-fullscreen {
    top: 88px;
  }
}

.submenu-controls {
  margin: 5px 5px 0 10px;
}

.annotation-disabled, .annotation-disabled a {
  color: @linkColorDisabled;
}

