.submenu-controls-visible {
  .panel-fullscreen {
    top: 88px;
  }
}
.submenu-controls {
  margin: 10px 10px 0 0px;
  font-size: 16px;
}

.annotation-disabled, .annotation-disabled a {
  color: @linkColorDisabled;
}

.annotation-segment {
  label.cr1 {
    margin-left: 5px;
  }
}

.variable-value-link {
  font-size: 16px;
  margin-right: 20px;
}

.variable-value-dropdown {
  position: absolute;
  top: 43px;
  min-width: 200px;
  height: 400px;
  background: @grafanaPanelBackground;
  box-shadow: 0px 0px 55px 0px black;
  border: 1px solid @grafanaTargetFuncBackground;
  z-index: 1000;
  padding: 10px;

  .variable-options-container {
    height: 350px;
    overflow: auto;
    display: block;
    line-height: 28px;
  }

  .variable-option {
    display: block;
    .fa {
      font-size: 130%;
      position: relative;
      top: 2px;
      padding-right: 6px;
    }
    .fa-check-square-o { display: none; }

    &.selected {
      .fa-square-o {
        display: none;
      }
      .fa-check-square-o {
        display: inline-block;
      }
    }
  }
}
