.submenu-controls-visible {
  .panel-fullscreen {
    top: 88px;
  }
}

.submenu-controls {
  margin: 5px 10px 0 10px;
}

.annotation-disabled, .annotation-disabled a {
  color: @linkColorDisabled;
}

