.grafana-options-table {
  width: 100%;

  tr:nth-child(odd) td {
    background-color: lighten(@grayDarker, 2%);
  }

  td {
    padding: 5px 10px;
    white-space: nowrap;
    border-bottom: 1px solid @grafanaListBorderBottom;
    border-top: 1px solid @grafanaListBorderTop;
  }

  td:first-child {
    border-left: 1px solid @grafanaListBorderBottom;
  }

  td:last-child {
    border-right: 1px solid @grafanaListBorderBottom;
  }

  .max-width {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
  }
}
