<page-header model="ctrl.navModel"></page-header>

<div class="page-container page-body">
  <div class="page-action-bar">
    <div class="gf-form gf-form--grow">
      <label class="gf-form-label">Search</label>
      <input type="text" class="gf-form-input max-width-30" placeholder="Find Dashboard by name" tabindex="1" give-focus="true" ng-model="ctrl.query.query" ng-model-options="{ debounce: 500 }" spellcheck='false' ng-change="ctrl.onQueryChange()" />
    </div>
    <div class="page-action-bar__spacer"></div>
    <a class="btn btn-success" href="/dashboard/new">
      <i class="fa fa-plus"></i>
      Dashboard
    </a>
    <a class="btn btn-success" href="/dashboard/new/?editview=new-folder">
      <i class="fa fa-plus"></i>
      Folder
    </a>
  </div>

  <div class="gf-form" ng-if="ctrl.query.tag.length">
    Filters:
    <span ng-repeat="tagName in ctrl.query.tag">
      <a ng-click="ctrl.removeTag(tagName, $event)" tag-color-from-name="tagName" class="label label-tag">
        <i class="fa fa-remove"></i>
        {{tagName}}
      </a>
    </span>
  </div>

  <div class="gf-form">
      <div class="gf-form-button-row"
        ng-show="ctrl.hasFilters">
        <button
          type="button"
          class="btn gf-form-button btn-inverse btn-small"
          ng-click="ctrl.clearFilters()">
          <i class="fa fa-close"></i> Clear current search query and filters
      </button>
      </div>
  </div>

  <div class="gf-form-group">
    <div class="gf-form-button-row">
      <button	type="button"
          class="btn gf-form-button btn-secondary"
          ng-disabled="!ctrl.canMove"
          ng-click="ctrl.moveTo()"
          bs-tooltip="ctrl.canMove ? '' : 'Select a dashboard to move (cannot move folders)'" data-placement="bottom">
        <i class="fa fa-exchange"></i>&nbsp;&nbsp;Move to...
      </button>
      <button  type="button"
          class="btn gf-form-button btn-inverse"
          ng-click="ctrl.delete()"
          ng-disabled="!ctrl.canDelete">
          <i class="fa fa-trash"></i>&nbsp;&nbsp;Delete
      </button>
    </div>
  </div>

  <div class="dashboard-list">
    <div class="search-results-filter-row">
      <gf-form-switch
        on-change="ctrl.onSelectAllChanged()"
        checked="ctrl.selectAllChecked"
      />
      <div class="search-results-filter-row__filters">
        <select
          class="search-results-filter-row__filters-item gf-form-input"
          ng-model="ctrl.selectedStarredFilter"
          ng-options="t.text disable when t.disabled for t in ctrl.starredFilterOptions"
          ng-change="ctrl.onStarredFilterChange()"
        />
        <select
          class="search-results-filter-row__filters-item gf-form-input"
          ng-model="ctrl.selectedTagFilter"
          ng-options="t.term disable when t.disabled for t in ctrl.tagFilterOptions"
          ng-change="ctrl.onTagFilterChange()"
        />
      </div>
    </div>
    <div class="search-results-container">
        <h6 ng-show="ctrl.sections.length === 0">No dashboards matching your query were found.</h6>
      <dashboard-search-results
        results="ctrl.sections"
        editable="true"
        on-selection-changed="ctrl.selectionChanged()"
        on-tag-selected="ctrl.filterByTag($tag)" />
    </div>
  </div>
</div>
