
<h5 class="section-heading text-center">Create event</h5>

<div class="text-center">
	<div class="gf-form-group" style="display: inline-block">
		<div class="gf-form">
			<span class="gf-form-label width-7">Title</span>
			<input type="text" ng-model="ctrl.event.title" class="gf-form-input max-width-20">
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-7">Time</span>
			<input type="text" ng-model="ctrl.event.time" class="gf-form-input max-width-20">
		</div>
		<div class="gf-form" ng-if="ctrl.event.isRegion">
			<span class="gf-form-label width-7">To</span>
			<input type="text" ng-model="ctrl.event.endTime" class="gf-form-input max-width-20">
		</div>
		<div class="gf-form gf-form--v-stretch">
			<span class="gf-form-label width-7">Description</span>
			<textarea class="gf-form-input width-20" rows="3" ng-model="ctrl.event.description"  placeholder="Event description"></textarea>
		</div>

		<div class="gf-form-button-row">
			<button class="btn gf-form-btn btn-success" ng-click="ctrl.addAnnotation()">Save</button>
		</div>
	</div>
</div>
