<page-header model="ctrl.navModel"></page-header>

<div class="page-container page-body">
	<h2 class="page-sub-heading">Folder Settings</h2>

	<div class="section gf-form-group">
		<form name="folderSettingsForm" ng-submit="ctrl.save()">
			<div class="gf-form">
				<label class="gf-form-label width-7">Name</label>
				<input type="text" class="gf-form-input width-30" ng-model='ctrl.title' ng-change="ctrl.titleChanged()"></input>
			</div>
			<div class="gf-form-button-row">
				<button type="submit" class="btn btn-success" ng-disabled="!ctrl.canSave || !ctrl.hasChanged">
					<i class="fa fa-save"></i>Save
				</button>
				<button class="btn btn-danger" ng-click="ctrl.delete($event)" ng-disabled="!ctrl.canSave">
					<i class="fa fa-trash"></i>
					Delete
				</button>
			</div>
		</form>
	</div>
</div>
