<div class="modal-body" ng-controller="InspectCtrl" ng-init="init()">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-info-circle"></i>
			<span class="p-l-1">Inspector</span>
		</h2>

		<ul class="gf-tabs">
			<li class="gf-tabs-item" ng-repeat="tab in ['Panel Description', 'Request', 'Response', 'JS Error']">
				<a class="gf-tabs-link" ng-click="editor.index = $index" ng-class="{active: editor.index === $index}">
					{{::tab}}
				</a>
			</li>
		</ul>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content">
		<div ng-if="editor.index == 0" ng-bind-html="panelInfoHtml">
		</div>

		<div ng-if="editor.index == 1">
			<h5 class="section-heading">Request details</h5>
			<table class="filter-table gf-form-group">
				<tr>
					<td>Url</td>
					<td>{{inspector.error.config.url}}</td>
				</tr>
				<tr>
					<td>Method</td>
					<td>{{inspector.error.config.method}}</td>
				</tr>
				<tr ng-repeat="(key, value) in inspector.error.config.headers">
					<td>
						{{key}}
					</td>
					<td>
						{{value}}
					</td>
				</tr>
			</table>

			<h5 class="section-heading">Request parameters</h5>
			<table class="filter-table">
				<tr ng-repeat="param in request_parameters">
					<td>
						{{param.key}}
					</td>
					<td>
						{{param.value}}
					</td>
				</tr>
			</table>
		</div>

		<div ng-if="editor.index == 2">
			<h5 ng-show="message">{{message}}</h5>
 			<pre class="small">
{{response}}
			</pre>
		</div>

		<div ng-if="editor.index == 3">

			<label>Message:</label>
<pre>
{{message}}
</pre>

			<label>Stack trace:</label>
<pre>
{{stack_trace}}
</pre>

		</div>

	</div>
</div>

