<div class="modal-body" ng-controller="SaveDashboardAsCtrl" ng-init="init();">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-copy"></i>
			<span class="p-l-1">保存为...</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content">
		<div class="p-t-2">
			<div class="gf-form">
				<label class="gf-form-label">新的标题</label>
				<input type="text" class="gf-form-input" ng-model="clone.title" give-focus="true" ng-keydown="keyDown($event)">
			</div>
		</div>

		<div class="gf-form-button-row text-center">
			<a class="btn btn-success" ng-click="saveClone();">保存</a>
			<a class="btn-text" ng-click="dismiss();">取消</a>
		</div>
	</div>
</div>

