<div class="modal-body" ng-controller="ShareModalCtrl" ng-init="init()">

	<div class="modal-header">
		<h2 class="modal-header-title">
			{{modalTitle}}
		</h2>

		<ul class="gf-tabs">
			<li class="gf-tabs-item" ng-repeat="tab in tabs">
				<a class="gf-tabs-link" ng-click="editor.index = $index" ng-class="{active: editor.index === $index}">
					{{::tab.title}}
				</a>
			</li>
		</ul>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content" ng-repeat="tab in tabs" ng-if="editor.index == $index">
		<div ng-include src="tab.src" class="share-modal-body"></div>
	</div>

</div>

<script type="text/ng-template" id="shareEmbed.html">
	<div class="share-modal-big-icon">
		<i class="fa fa-code"></i>
	</div>

	<div class="share-snapshot-header">
		<p class="share-snapshot-info-text">
			将下面的代码复制到您需要嵌入的html 代码中
		</p>
	</div>

	<div ng-include src="'shareLinkOptions.html'"></div>

	<div class="gf-form-group position-center">
		<div class="gf-form width-30" >
			<textarea rows="5" data-share-panel-url class="gf-form-input width-30" ng-model='iframeHtml'></textarea>
		</div>
	</div>
	<div class="gf-form-group">
		<div class="gf-form position-center">
			<button class="btn btn-inverse" data-clipboard-text="{{iframeHtml}}" clipboard-button><i class="fa fa-clipboard"></i> Copy</button>
		</div>
	</div>
</script>

<script type="text/ng-template" id="shareLinkOptions.html">
	<div class="gf-form-group position-center">
		<div class="gf-form">
			<span class="gf-form-label width-5">当前时间范围</span>
			<editor-checkbox text="Current time range" model="options.forCurrent" change="buildUrl()"></editor-checkbox>
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-5">包含模板参数</span>
			<editor-checkbox text="Template variables" model="options.includeTemplateVars" change="buildUrl()"></editor-checkbox>
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-5">主题</span>
			<div class="gf-form-select-wrapper max-width-10">
				<select class="gf-form-input" ng-model="options.theme" ng-options="f as f for f in ['current', 'dark', 'light']" ng-change="buildUrl()"></select>
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="shareLink.html">
	<div class="share-modal-big-icon">
		<i class="fa fa-link"></i>
	</div>

	<div ng-include src="'shareLinkOptions.html'"></div>
	<div class="gf-form-group position-center">
		<div class="gf-form-inline">

			<div class="gf-form width-30">
				<input type="text" data-share-panel-url class="gf-form-input" ng-model="shareUrl"></input>
			</div>
			<div class="gf-form pull-right">
				<button class="btn btn-inverse pull-right" data-clipboard-text="{{shareUrl}}" clipboard-button><i class="fa fa-clipboard"></i> 复制</button>
			</div>
		</div>
	</div>
	<div class="gf-form position-center" ng-show="modeSharePanel">
		<a href="{{imageUrl}}" target="_blank"><i class="fa fa-camera"></i> 直接链接渲染图片</a>
	</div>
</script>

<script type="text/ng-template" id="shareSnapshot.html">
	<div class="ng-cloak" ng-cloak ng-controller="ShareSnapshotCtrl" ng-init="init()">
		<div class="share-modal-big-icon">
			<i ng-if="loading" class="fa fa-spinner fa-spin"></i>
			<i ng-if="!loading" class="icon-gf icon-gf-snapshot"></i>
		</div>

		<div class="share-snapshot-header" ng-if="step === 1">
			<p class="share-snapshot-info-text">
				快照是一种分享仪表盘的有效方式.
				当快照被创建时, 我们会 <strong>去除敏感数据</strong>,比如说像指标、模板、注释以及面板链接,
				仅剩下嵌入到您的仪表盘中可见的指标和一系列名称。
			</p>
			<p class="share-snapshot-info-text">
				请注意, 您的快照可以被所有 <strong>获取到链接</strong>的人查看.
				请谨慎分享.
			</p>
		</div>

		<div class="share-snapshot-header" ng-if="step === 3">
			<p class="share-snapshot-info-text">
				快照已经被删除. 如果您已经将其生成并分享,它将在一个小时后从浏览器或CDN缓存中被移除。
			</p>
		</div>

		<div class="gf-form-group share-modal-options position-center">
			<div class="gf-form" ng-if="step === 1">
				<span class="gf-form-label width-12">快照名称</span>
				<input type="text" ng-model="snapshot.name" class="gf-form-input max-width-15" >
			</div>
			<div class="gf-form" ng-if="step === 1">
				<span class="gf-form-label width-12">有效期</span>
				<div class="gf-form-select-wrapper max-width-15">
					<select class="gf-form-input" ng-model="snapshot.expires" ng-options="f.value as f.text for f in expireOptions"></select>
				</div>
			</div>

			<div class="gf-form" ng-if="step === 2" style="margin-top: 40px">
				<div class="gf-form-row">
					<a href="{{snapshotUrl}}" class="large share-snapshot-link" target="_blank">
						<i class="fa fa-external-link-square"></i>
						{{snapshotUrl}}
					</a>
					<br>
					<button class="btn btn-inverse btn-large" data-clipboard-text="{{snapshotUrl}}" clipboard-button><i class="fa fa-clipboard"></i> 复制链接</button>
				</div>
			</div>
		</div>

		<div ng-if="step === 1" class="gf-form-buttons-row">
			<button class="btn btn-success btn-large" ng-click="createSnapshot()" ng-disabled="loading">
				<i class="fa fa-save"></i>
				本地快照
			</button>
		</div>

		<div class="pull-right" ng-if="step === 2" style="padding: 5px">
			你是否出现失误? <a class="pointer" ng-click="deleteSnapshot()" target="_blank">删除快照.</a>
		</div>
	</div>

</div>
</script>
