<span class="template-variable" ng-show="!variable.hideLabel" style="padding-right: 5px">
	{{labelText}}:
</span>
<a ng-click="show()" class="variable-value-link">
	{{linkText}}
	<i class="fa fa-caret-down"></i>
</a>

<div ng-if="selectorOpen" class="variable-value-dropdown">
	<div class="variable-search-wrapper">
		<span style="position: relative;">
			<input type="text" placeholder="Search values..." give-focus="giveFocus" tabindex="1" ng-model="query.query" spellcheck='false' ng-change="search()" />
		</span>
	</div>

	<div class="variable-options-container" ng-if="!query.tagcloud">
		<a class="variable-option pointer" bindonce ng-repeat="option in options" ng-class="{'selected': option.selected}" ng-click="optionSelected(option, $event)">
				<span >{{option.text}}</label>
				<span class="fa fa-fw variable-option-icon"></span>
			</div>
		</a>
	</div>
</div>
