<span class="template-variable" ng-show="!variable.hideLabel" style="padding-right: 5px">
	{{labelText}}:
</span>

<div style="position: relative; display: inline-block">
	<a ng-click="show()" class="variable-value-link">
		{{linkText}}
		<i class="fa fa-caret-down"></i>
	</a>

	<div ng-if="selectorOpen" class="variable-value-dropdown">
		<div class="variable-search-wrapper">
			<span style="position: relative;">
				<input type="text" placeholder="Search values..." ng-keydown="keyDown($event)" give-focus="giveFocus" tabindex="1" ng-model="search.query" spellcheck='false' ng-change="queryChanged()" />
			</span>
		</div>

		<div class="variable-options-wrapper">
			<div class="variable-options-column">
				<a class="variable-option pointer" bindonce ng-repeat="option in search.options"
					ng-class="{'selected': option.selected, 'highlighted': $index === highlightIndex}" ng-click="optionSelected(option, $event)">
					<span>{{option.text}}</span>
					<span class="fa fa-fw variable-option-icon"></span>
				</a>
			</div>
			<div class="variable-options-column" ng-if="variable.tags">
				<!-- <div class="variable&#45;options&#45;column&#45;header">Tags</div> -->
				<a class="variable-option-tag pointer" ng-repeat="(key, values) in variable.tags" ng-click="selectTag(option, $event)">
					<span class="label-tag" tag-color-from-name="key">{{key}}</span>
					<span class="fa fa-fw variable-option-icon"></span>
				</a>
			</div>
		</div>
	</div>
</div>
