  <div class="editor-row">
    <div class="editor-option">
      <form>
        <h6>Coordinate Field <tip>geoJSON array! Long,Lat NOT Lat,Long</tip></h6>
        <input  bs-typeahead="fields.list" type="text" class="input-small" ng-model="panel.field">
      </form>
    </div>
    <div class="editor-option">
      <form>
        <h6>Tooltip Field</h6>
        <input  bs-typeahead="fields.list" type="text" class="input-small" ng-model="panel.tooltip">
      </form>
    </div>
    <div class="editor-option"><h6>Max Points</h6>
      <input type="number" class="input-small" ng-model="panel.size">
    </div>
  </div>
