<div class="table-visualization"> 
    <div class="table-vis-overflow-container">
        <table>
            <thead>
                <tr>
                    <!-- Because html has no concept of a fixed table header, we create a shadow fixed header
                        that will then be stickied directly over the initial position of the real header -->
                    <th class="real-table-header" ng-repeat="column in columnNames">{{column}}</th>
                    <th class="fixed-table-header" style="display: none;" ng-repeat="column in columnNames">{{column}}</th>
                </tr>
            </thead>
            <tbody ng-bind-html="tableData"></tbody>
        </table>
    </div>
</div>