/*Package api contains base API implementation of unified alerting
 *
 *Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 *
 *Do not manually edit these files, please find ngalert/api/swagger-codegen/ for commands on how to generate them.
 */
package api

import (
	"net/http"

	"github.com/grafana/grafana/pkg/api/response"
	"github.com/grafana/grafana/pkg/api/routing"
	"github.com/grafana/grafana/pkg/middleware"
	"github.com/grafana/grafana/pkg/models"
	"github.com/grafana/grafana/pkg/services/ngalert/metrics"
)

type ContactPointRouter interface {
	RouteGetContactPoint(*models.ReqContext) response.Response
	RouteCreateContactPoint(*models.ReqContext) response.Response
	RouteUpdateContactPoint(*models.ReqContext) response.Response
	RouteDeleteContactPoint(*models.ReqContext) response.Response
}

func (api *API) RegisterContactPointEndpoints(router ContactPointRouter, m *metrics.API) {
	api.RouteRegister.Group("", func(group routing.RouteRegister) {
		group.Get(
			toMacaronPath("/api/alerting/contact_points"),
			metrics.Instrument(
				http.MethodGet,
				"/api/alerting/contact_points",
				router.RouteGetContactPoint,
				m,
			),
		)
		group.Post(
			toMacaronPath("/api/alerting/contact_points"),
			metrics.Instrument(
				http.MethodPost,
				"/api/alerting/contact_points",
				router.RouteCreateContactPoint,
				m,
			),
		)
		group.Put(
			toMacaronPath("/api/alerting/contact_points"),
			metrics.Instrument(
				http.MethodPut,
				"/api/alerting/contact_points",
				router.RouteUpdateContactPoint,
				m,
			),
		)
		group.Delete(
			toMacaronPath("/api/alerting/contact_points"),
			metrics.Instrument(
				http.MethodDelete,
				"/api/alerting/contact_points",
				router.RouteDeleteContactPoint,
				m,
			),
		)
	}, middleware.ReqSignedIn)
}
