/*Package api contains base API implementation of unified alerting
 *
 *Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 *
 *Do not manually edit these files, please find ngalert/api/swagger-codegen/ for commands on how to generate them.
 */
package api

import (
	"net/http"

	"github.com/go-macaron/binding"

	"github.com/grafana/grafana/pkg/api/response"
	"github.com/grafana/grafana/pkg/api/routing"
	"github.com/grafana/grafana/pkg/middleware"
	"github.com/grafana/grafana/pkg/models"
	apimodels "github.com/grafana/grafana/pkg/services/ngalert/api/tooling/definitions"
	"github.com/grafana/grafana/pkg/services/ngalert/metrics"
)

type V1TemplateService interface {
	RouteGetTemplates(*models.ReqContext, apimodels.PostableTemplate) response.Response
	RouteCreateTemplate(*models.ReqContext, apimodels.PostableTemplate) response.Response
	RouteUpdateTemplate(*models.ReqContext, apimodels.PostableTemplate) response.Response
	RouteDeleteTemplate(*models.ReqContext, apimodels.PostableTemplate) response.Response
}

func (api *API) RegisterTemplateEndpoints(srv V1TemplateService, m *metrics.API) {
	api.RouteRegister.Group("", func(group routing.RouteRegister) {
		group.Get(
			toMacaronPath("/api/alerting/templates"),
			metrics.Instrument(
				http.MethodGet,
				"/api/alerting/templates",
				srv.RouteGetTemplates,
				m,
			),
		)
		group.Post(
			toMacaronPath("/api/alerting/templates"),
			binding.Bind(apimodels.PostableTemplate{}),
			metrics.Instrument(
				http.MethodPost,
				"/api/alerting/templates",
				srv.RouteCreateTemplate,
				m,
			),
		)
		group.Put(
			toMacaronPath("/api/alerting/templates"),
			binding.Bind(apimodels.PostableTemplate{}),
			metrics.Instrument(
				http.MethodPut,
				"/api/alerting/templates",
				srv.RouteUpdateTemplate,
				m,
			),
		)
		group.Delete(
			toMacaronPath("/api/alerting/templates"),
			binding.Bind(apimodels.PostableTemplate{}),
			metrics.Instrument(
				http.MethodDelete,
				"/api/alerting/templates",
				srv.RouteDeleteTemplate,
				m,
			),
		)
	}, middleware.ReqSignedIn)
}
