<navbar icon="fa fa-fw fa-list" title="Alerts" title-url="alerts">
</navbar>

<div class="page-container" >
	<div class="page-header">
		<h1>Alerts</h1>
		<div class="gf-form-inline">
			<gf-form-switch class="gf-form" label="Ok" label-class="width-5" checked="ctrl.filter.ok" on-change="ctrl.updateFilter()"></gf-form-switch>
			<gf-form-switch class="gf-form" label="Warn" label-class="width-5" checked="ctrl.filter.warn" on-change="ctrl.updateFilter()"></gf-form-switch>
			<gf-form-switch class="gf-form" label="Critical" label-class="width-5" checked="ctrl.filter.critical" on-change="ctrl.updateFilter()"></gf-form-switch>
			<gf-form-switch class="gf-form" label="Acknowleged" label-class="width-7" checked="ctrl.filter.acknowleged" on-change="ctrl.updateFilter()"></gf-form-switch>
		</div>
	</div>

	<table class="grafana-options-table">
		<thead>
			<th style="min-width: 200px"><strong>Name</strong></th>
			<th style="width: 1%">State</th>
			<th style="width: 1%"></th>
		</thead>
		<tr ng-repeat="alert in ctrl.alerts">
			<td>
				<a href="/alerts/{{alert.id}}/states">
					{{alert.title}}
				</a>
			</td>
			<td class="text-center">
				<a href="/alerts/{{alert.id}}/states">
					<i class="icon-gf {{alert.iconCss}}"></i>
				</a>
			</td>
			<td class="text-center">
				<a href="/dashboard/{{alert.dashboardUri}}?panelId={{alert.panelId}}&fullscreen&edit" class="btn btn-inverse btn-small">
					<i class="fa fa-edit"></i>
					edit
				</a>
			</td>
		</tr>
	</table>
</div>


