{
    "apiVersion": "provisioning.grafana.app/v0alpha1",
    "kind": "Repository",
    "metadata": {
        "generateName": "test-"
    },
    "spec": {
        "title": "title",
        "description": "something",
        "type": "github",
        "github": {
            "url": "{{ or .URL "https://github.com/grafana/grafana-git-sync-demo" }}",
            "branch": "{{ or .Branch "integration-test" }}",
            "generateDashboardPreviews": {{ if .GenerateDashboardPreviews }} true {{ else }} false {{ end }},
            "path": "{{ or .Path "grafana/" }}"
        },
        "sync": {
            "enabled": {{ if .SyncEnabled }} true {{ else }} false {{ end }},
            "target": "{{ or .Target "folder" }}",
            "intervalSeconds": {{ or .SyncIntervalSeconds 60 }}
        }
    },
    "secure": {
        "token": { "create": "{{ or .SecureTokenCreate "" }}" },
        "webhookSecret": { "create": "{{ or .SecureWebhookSecretCreate "" }}" }
    }
}
