.refresh-select {
  display: flex;
  flex-flow: column nowrap;

  .gf-form-select-box__control {
    display: none;
  }

  .gf-form-input {
    height: 0;
  }

  .refresh-select-dropdown > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}
