<div ng-controller='SingleStatCtrl'>

	<div class="singlestat-panel" singlestat-panel></div>

  <div class="clearfix"></div>

	<div style="margin-top: 30px" ng-if="editMode">
		<div class="dashboard-editor-header">
			<div class="dashboard-editor-title">
				<i class="fa fa-dashboard"></i>
			  Singlestat
			</div>

			<div ng-model="editor.index" bs-tabs>
				<div ng-repeat="tab in panelMeta.editorTabs" data-title="{{tab.title}}">
				</div>
			</div>
		</div>

		<div class="dashboard-editor-body">
			<div ng-repeat="tab in panelMeta.editorTabs" ng-if="editor.index === $index">
				<div ng-include src="tab.src"></div>
			</div>
		</div>
	</div>
</div>
