.apps-side-box {
  float: left;
}

.apps-side-box-logo {
  padding: 15px;
  background: @grafanaPanelBackground;
  width: 120px;
  text-align: center;
  img {
    max-width: 100px;
  }
  margin-bottom: 10px;
}

.app-side-box-links {
  list-style: none;
  margin: 0;

  li {
    background: @grafanaPanelBackground;
    margin-top: 4px;
    padding-left: 10px;
    line-height: 25px;
  }
}
