// Cyborg 2.3.2
// Bootswatch
// -----------------------------------------------------

// TYPOGRAPHY
// -----------------------------------------------------


hr {
	border-bottom: none;
}

// NAVBAR
// -----------------------------------------------------

// NAV
// -----------------------------------------------------

.nav-tabs {

	border-bottom: none;

	& > li > a {
		.border-radius(0);
	}

	li > a:hover,
	li.active > a,
	li.active > a:focus,
	li.active > a:hover {
	  border-color: transparent;
	  background-color: transparent;
		border-bottom: 2px solid @blue;
		color: @white;
	}

	li.disabled > a {
		color: @textColor;
	}

	.open .dropdown-toggle {
		background-color: #060606;
		border-color: transparent;
	}
}

// BUTTONS
// -----------------------------------------------------

.btn {
	padding: 8px 12px;
	margin-right: 10px;
	background-image: none;
	border: none;
	.border-radius(0px);
  text-shadow: 0 1px 0 rgba(0,0,0,.5);

	&.disabled {
		box-shadow: inset 0 2px 4px rgba(0,0,0,.15),~" "0 1px 2px rgba(0,0,0,.05);
	}
}

.btn-inverse {
  border: 1px solid #444;
  box-shadow: none;
}

.btn-large {
  padding: 6px 20px;
}

.btn-small {
	padding: 2px 10px;
}

.btn-mini {
	padding: 2px 6px;
	margin-right: 0;
	margin-right: 0;
}

.btn-group {
	& > .btn + .dropdown-toggle {
		.box-shadow(none);
	}
}


// FORMS
// -----------------------------------------------------

input, textarea, select {
	border-width: 2px;
	.border-radius(1px);
}

select, textarea,
input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"],
input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"],
input[type="tel"], input[type="color"], .uneditable-input {
	color: @grayLight;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly], .uneditable-input {
	border-color: #444;
}

input:focus,
textarea:focus,
input.focused,
textarea.focused {
  border-color: rgba(82,168,236,1);
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  .box-shadow(none); // override for file inputs
  .tab-focus();
}

legend, label {
	color: @textColor;
	border-bottom: 0px solid #222;
}

.form-actions {
	border-top: 1px solid #222;
}

// TABLES
// -----------------------------------------------------

.table {
	.border-radius(1px);

	tbody tr.success td {
		background-color: @green;
		color: @white;
	}

	tbody tr.error td {
		background-color: @red;
		color: @white;
	}

	tbody tr.info td {
		background-color: @blue;
		color: @white;
	}
}

.label {
	color: @white;
}

.badge {
	border-radius: 0;
	font-weight: 200;
}

.label, .alert { background-color: darken(@gray, 20%); }

.label:hover { background-color: darken(@gray, 30%); }

.label-important,
.alert-danger,
.alert-error { background-color: @red; }

.label-important:hover { background-color: darken(@red, 10%); }

.label-warning   { background-color: darken(@orange, 10%); }

.label-warning:hover { background-color: darken(@orange, 20%); }

.label-success, .alert-success { background-color: darken(@green, 3%); }

.label-success:hover { background-color: darken(@green, 13%); }

.label-info, .alert-info { background-color: darken(@blueDark, 10%); }

.label-info:hover { background-color: darken(@blueDark, 20%); }

// MISC
// -----------------------------------------------------

a:hover {
	text-decoration: none;
}

.well, .hero-unit {
	.border-radius(0px);
}

.well, .hero-unit {
	border-top: solid 1px lighten(@grayDark, 5%);
	.box-shadow(0 2px 4px rgba(0,0,0,.8));
}

.thumbnail {
	border-color: @grayDark;
}

.progress {
	background-color: #060606;
	background-image: none;
	.border-radius(0);
}

.modal-footer {
}


.footer {
	border-top: 1px solid @grayDark;
}

// MEDIA QUERIES
// -----------------------------------------------------

.caret {
  color: @textColor
}

.dropdown-submenu > a:after {
  border-left-color: @textColor;
}

