.gf-box {
  margin: 15px;
  background-color: @grafanaPanelBackground;
  position: relative;
  border: 1px solid @grafanaTargetFuncBackground;
}

.gf-box-no-margin {
  margin: 0;
}

.gf-box-header-close-btn {
  float: right;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  padding: 8px;
  i {
    font-size: 120%;
  }
  color: @textColor;
  &:hover {
    color: @white;
  }
}

.gf-box-body {
  padding: 20px;
  min-height: 150px;
}

.gf-box-footer {
  overflow: hidden;
}

.gf-box-header {
  border-bottom: 1px solid @grafanaTargetFuncBackground;
  overflow: hidden;
  background-color: @grafanaTargetBackground;
  .tabs {
    float: left;
  }
  .nav {
    margin: 0;
  }
}

.gf-box-title {
  padding-right: 20px;
  padding-left: 10px;
  float: left;
  color: @linkColor;
  font-size: 18px;
  font-weight: normal;
  line-height: 38px;
  margin: 0;
  .fa {
    padding: 0 8px 0 5px;
    color: @textColor;
  }
}

.page-container {
  margin: 15px;
  background: @grafanaPanelBackground;
  position: relative;
  border: @grafanaPanelBorder;
  padding: 20px 20px 60px 49px;
}

.page {
  max-width: 653px;
}

.admin-page {
  max-width: 800px;
  margin-left: 10px;
  .gf-box {
    margin-top: 0;
  }
  .gf-box-body {
    min-height: 0;
  }
  h2 {
    margin-left: 15px;
    margin-bottom: 0px;
    font-size: @fontSizeLarge;
    color: @textColor;
    i {
      padding-right: 6px;
    }
  }
}


