.graph-canvas-wrapper {
  position: relative;
  cursor: crosshair;
}

.graph-legend {
  margin: 0 20px;
  text-align: center;

  .popover-content {
    padding: 0;
  }
}

.graph-legend-icon {
  position: relative;
  padding-right: 4px;
  top: 1px;
}

.graph-legend-icon,
.graph-legend-alias,
.graph-legend-value {
  float: left;
  white-space: nowrap;
  font-size: 85%;
  text-align: left;
  &.current:before {
    content: "Current: "
  }
  &.max:before {
    content: "Max: "
  }
  &.min:before {
    content: "Min: "
  }
  &.total:before {
    content: "Total: "
  }
  &.avg:before {
    content: "Avg: "
  }
}

.graph-legend-icon .fa {
  font-size: 135%;
  position: relative;
  top: 1px;
}

.graph-legend-series {
  float: left;
  white-space: nowrap;
  padding-left: 10px;
  padding-top: 6px;
}

.graph-legend-value {
  padding-left: 6px;
}

.graph-legend-table {
  display: table;
  width: 100%;
  margin: 0;

  .graph-legend-series {
    display: table-row;
    float: none;
    padding-left: 0;
    &.pull-right {
      float: none;
    }
  }

  td, .graph-legend-alias, .graph-legend-icon, .graph-legend-value {
    float: none;
    display: table-cell;
    white-space: nowrap;
    padding: 2px 10px;
    text-align: right;
  }

  .graph-legend-icon {
    width: 5px;
    padding: 0;
    top: 0;
    .fa {
      top: 4px;
    }
  }

 .graph-legend-value  {
    padding-left: 15px;
  }

  .graph-legend-alias {
    padding-left: 7px;
    text-align: left;
    width: 95%;
  }

  .graph-legend-series:nth-child(odd) {
    background-color: @grafanaListAccent;
  }

  .graph-legend-value {
    &.current, &.max, &.min, &.total, &.avg {
      &:before {
        content: '';
      }
    }
  }

  th {
    text-align: right;
    padding: 0px 10px 1px 0;
    font-weight: bold;
    color: @blue;
    font-size: 85%;
    white-space: nowrap;
  }
}

.graph-legend-rightside {

  &.graph-wrapper {
    display: table;
    width: 100%;
  }

  .graph-canvas-wrapper {
    display: table-cell;
    width: 100%;
    position: relative;
  }

  .graph-legend-wrapper {
    display: table-cell;
    vertical-align: top;
    position: relative;
    left: 4px;
  }

  .graph-legend {
    margin: 0;
  }

  .graph-legend-series {
    display: block;
    padding-left: 0px;
  }

  .graph-legend-table .graph-legend-series {
    display: table-row;
  }
}

.graph-legend-series-hidden {
  a {
    color: @linkColorDisabled;
  }
}

.graph-legend-popover {
  width: 200px;
  min-height: 100px;
  label {
    display: inline-block;
  }
  .btn {
    padding: 1px 3px;
    margin-right: 0px;
    line-height: initial;
  }
  .close {
    margin-right: 5px;
    color: @linkColor;
    opacity: 0.7;
    text-shadow: none;
  }
  .editor-row {
    padding: 5px;
  }
}

.annotation-tags {
  color: @purple;
}

.graph-series-override {
  input {
    float: left;
    margin-right: 10px;
  }
  .graph-series-override-option {
    float: left;
    padding: 2px 6px;
  }
  .graph-series-override-selector {
    float: left;
  }
}

.graph-tooltip {
  white-space: nowrap;

  .graph-tooltip-time {
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -3px;
  }

  .label-tag {
    margin-right: 4px;
    margin-top: 8px;
  }

  .graph-tooltip-list-item {
    display: table-row;
  }

  .graph-tooltip-series-name {
    display: table-cell;
  }

  .graph-tooltip-value {
    display: table-cell;
    font-weight: bold;
    padding-left: 10px;
    text-align: right;
  }
}

.left-yaxis-label {
  top: 50%;
  left: -5px;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform-origin: left top;
  -o-transform-origin: left top;
  -ms-transform-origin: left top;
  -moz-transform-origin: left top;
  -webkit-transform-origin: left top;
}

.right-yaxis-label {
  top: 50%;
  right: -5px;

  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: right top;
  -moz-transform: rotate(90deg);
  -moz-transform-origin: right top;
  -ms-transform: rotate(90deg);
  -ms-transform-origin: right top;
  -o-transform: rotate(90deg);
  -o-transform-origin: right top;
  transform: rotate(90deg);
  transform-origin: right top;
}

.axisLabel {
  color: @textColor;
  font-size: @fontSizeSmall;
  position: absolute;
  text-align: center;
  font-size: 12px;
}


