.navbar .navbar-inner {
  padding-left: 0px;
  border: none;
}

.navbar .nav>li>a {
  padding: 17px 15px 13px;
  .fa { font-size: 115%; }
}

.fa.top-nav-breadcrumb-icon {
  margin: 18px 0 6px 5px;
  float: left;
  font-size: 120%;
  color: @textColor;
}

.top-nav-btn {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  font-size: 1.4em;
  border-right: 1px solid @grafanaTargetBorder;

  .fa-caret-down {
    font-size: 55%;
    position: absolute;
    right: 8px;
    top: 23px;
  }

  a {
    color: darken(@linkColor, 5%);
    background-color: @navbarButtonBackground;
    border-bottom: 1px solid @navbarButtonBackground;
    display: inline-block;
    &:hover {
      background: @navbarButtonBackgroundHighlight;
      color: @linkColor;
      border-bottom: 1px solid @blue;
    }
  }
}

.top-nav-menu-btn {
  a {
    padding: 6px 20px 6px 13px;
  }
  img {
    width: 30px;
    position: relative;
  }
  .top-nav-logo-background {
    display: inline-block;
    border: 1px solid @bodyBackground;
    padding: 4px;
    border-radius: 50%;
    background: @iconContainerBackground;
    width: 30px;
    height: 30px;
  }
}

.top-nav-dashboards-btn {
  a {
    padding: 15px 17px 14px 13px;
  }

  .fa-th-large {
    position: relative;
    top: 2px;
  }
}

.dashboard-title {
  padding: 0px 6px 5px 5px;
  font-size: 17px;
}

.top-nav-icon {
  margin: 5px 0px 0 11px;
  line-height: 41px;
  float: left;
}

.top-nav-section {
  display: block;
  float: left;
  padding: 19px 9px 8px 0;
  font-weight: bold;
  i {
    padding-left: 8px;
  }
}

.top-nav-title {
  display: block;
  float: left;
  font-size: 17px;
  padding: 18px 10px 10px 13px;
  color: @linkColor;
}

.top-nav-snapshot-title {
  .gf-icon {
    position: relative;
    top: 3px;
    font-size: 27px;
  }
  a {
    display: inline-block;
    padding: 0px 15px 5px 10px;
  }
  display: block;
  float: left;
  font-size: 1.4em;
  margin: 9px 18px 5px 14px;
  color: @linkColor;
}

