.sidemenu-canvas {
  position: relative;
}

.sidemenu-wrapper {
  position: absolute;
  top: 52px;
  left: 0;
  width: 200px;
  background-color: @sideMenuBackground;
  border: @sideMenuBorder;
  z-index: 101;
  transform: translate3d(0, -100%, 0);
  visibility: hidden;
  box-shadow: @sideMenuShadow;

  a:focus {
    text-decoration: none;
  }
}

.sidemenu-open {
  .sidemenu-wrapper {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s;
  }
}

.sidemenu-pinned {
  .sidemenu-wrapper {
    min-height: 100%;
  }
  .main-view-container {
    padding-left: 210px;
  }
  .page-container {
    margin-left: 210px;
    padding-left: 55px;
  }
  .top-nav-menu-btn {
    a {
      background-color: @sideMenuBackground;
      padding-right: 54px;
      padding-left: 16px;
    }
    .icon-gf-grafana_wordmark  {
      display: inline-block;
    }
    .fa {
      display: none;
    }
  }
  .sidemenu-org {
    box-shadow: none;
  }
}

.sidemenu {
  font-weight: @baseFontWeight;
  list-style: none;
  margin: 0;
  padding: 0;

  .fa-caret-down {
    position: relative;
    top: 2px;
    font-size: 90%;
  }

  .dropdown-menu {
    top: 0px;
    left: 200px;
    margin: 0;
    >li>a {
      color: @linkColor;
    }
  }
}

.sidemenu-main-link {
  font-size: 16px;
}

.sidemenu-item-text {
  width: 110px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-circle {
  width: 40px;
  height: 40px;
  display: inline-block;
  i {
    color: @linkColor;
    opacity: .7;
    position: relative;
    left: 7px;
    top: 5px;
    font-size: 150%;
  }
  img {
    left: 7px;
    position: relative;
  }
}

.sidemenu-item {
  color: @linkColor;
  line-height: 47px;
  padding: 0px 10px 0px 10px;
  display: block;

  &:hover {
    background-color: @sideMenuBackgroundHighlight;
  }

  .sidemenu-item-text {
    padding-left: 11px;
  }

  img {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    box-shadow: 0 0 14px 2px rgba(255,255,255, 0.05);
  }
}

.sidemenu-system-section {
  background-color: @blueDark;
  color: @white;
  padding: 3px 0;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;

  .sidemenu-system-section-inner {
    border: 2px solid black;
    border-left: none;
    border-right: none;
    padding: 4px;
    overflow: hidden;
  }

  .fa {
    float: left;
    font-size: 120%;
    line-height: 41px;
    padding: 0 15px;
  }
}

.sidemenu-section-tagline {
  font-style: italic;
  font-size: 75%;
  line-height: 10px;
}

.sidemenu-section-text-wrapper {
  padding-top: 4px;
}

.sidemenu-org-section .dropdown-menu-title {
  margin: 0 10px 0 6px;
  padding: 7px 0 7px;
  overflow: hidden;
  color: @dropdownTitle;
}

.sidemenu-org-section .dropdown-menu-title > span {
  display: inline-block;
  position: relative;

  &:after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 100%;
    width: 200px;
    height: 1px;
    margin-left: 5px;
    background: @dropdownDivider;
    content: '';
  }
}

.sidemenu-org {
  border-bottom: @sideMenuBorder;
  border-top: @sideMenuBorder;
  padding: 17px 10px 15px 14px;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    background-color: @grafanaTargetFuncBackground;
  }
  display: table;
  position: relative;
  width: 100%;
}

.sidemenu-org .fa-caret-right {
  position: absolute;
  top: 50%;
  right: 4px;
  font-size: 80%;
  color: @linkColor;
}

.sidemenu-org-avatar,
.sidemenu-org-details {
  display: table-cell;
  vertical-align: top;
}

.sidemenu-org-avatar {
  width: 44px;
}

.sidemenu-org-avatar > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
}

.sidemenu-org-details {
  padding-left: 10px;
  color: @linkColor;
}

.sidemenu-org-name {
  display: block;
  font-size: 13px;
  color: @linkColorDisabled;
}


.sidemenu-org-user {
  display: block;
}

