body{
    min-height: 100vh!important;
}
.sidemenu-canvas{
    min-height: 100vh;
    overflow: hidden;
}
.main-view{
    min-height: 100vh;
    overflow: hidden;
}
.container-fluid{
    height: 56px;
}
.table-block{
    display: block;
    overflow-x: scroll;
}
.graph-legend-wrapper{
    overflow-x: scroll;
}