.submenu-controls {
  margin: 15px 10px 8px 14px;
  font-size: 16px;
}

.annotation-disabled, .annotation-disabled a {
  color: @linkColorDisabled;
}

.annotation-segment {
  label.cr1 {
    margin-left: 5px;
  }
  padding: 8px 7px;
}

.submenu-item {
  margin-right: 20px;
  display: inline-block;
  border-radius: 3px;
  background-color: @grafanaPanelBackground;
  border: @grafanaPanelBorder;
  margin-right: 10px;
  display: inline-block;

  .fa-caret-down {
    font-size: 75%;
    position: relative;
    top: 1px;
  }
}

.variable-value-link {
  font-size: 16px;
  padding-right: 10px;
  .label-tag {
    margin: 0 5px;
  }
}

.variable-link-wrapper  {
  display: inline-block;
  position: relative;
}

.variable-value-dropdown {
  position: absolute;
  top: 47px;
  min-width: 150px;
  max-height: 400px;
  min-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: @dropdownBackground;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.4);
  z-index: 1000;
  font-size: @baseFontSize;
  border-radius: 3px 3px 0 0;
  border: 1px solid @grafanaTargetFuncBackground;

  &.multi {
   .selected {
     .variable-option-icon{
       background: url(@checkboxImageUrl) 0px -18px no-repeat;
     }
   }
 }

 &.single {
   .variable-option-icon {
     display: none;
   }
   .selected {
     background-color: @grafanaTargetFuncHightlight;
   }
 }
}

.variable-options-wrapper {
  display: table;
  width: 100%;
}

.variable-options-column {
  max-height: 350px;
  display: table-cell;
  line-height: 26px;
  &:nth-child(2) {
    border-left: 1px solid @grafanaTargetFuncBackground;
  }
}

.variable-option-tag,
.variable-option,
.variable-options-column-header {
  display: block;
  padding: 2px 27px 0 8px;
  position: relative;
  white-space: nowrap;
  min-width: 115px;
}

.variable-options-column-header {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  &.many-selected {
    .variable-option-icon {
      background: url(@checkboxImageUrl) 0px -36px no-repeat;
    }
  }
}

.variable-option-icon {
  display: inline-block;
  width: 24px;
  height: 18px;
  position: relative;
  top: 4px;
  background: url(@checkboxImageUrl) left top no-repeat;
}

.variable-option {
  &:hover, &.highlighted {
    background-color: @blueDark;
  }
}

.dash-nav-link {
  padding: 8px 7px;
  display: inline-block;
  color: @textColor;
}

.btn-reload {
  color: #fff;
  padding: 8px 7px;
  background-color: #9E4A0E;
  border-color: #eea236;
  font-size: 16px !important;
}
