.system-container{
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right,#2baffa,rgba(102,214,252,.8));
  padding: 100px auto;
}

.system-list{
  width: 20%;
  height: 500px;
  float: left;
  margin-top: 20px;
  margin-left: 2%;
  padding: 20px;
  background: rgba(51,51,51,.2);
  color: #fff;
  a{
    color: #fff;
  }
  &:hover{
    background: rgba(51,51,51,.3);
    box-shadow: 10px 10px 5px #888;
  }
}

.system-item{
  h2,h4{
    text-align: center;
    color: #fff;
  }
}

.system-item-text{
  
}