.overview-list {
  background-color: #fff;

  .panels-wrapper > h3 {
    padding-left: 10px;
  }
  
  .health-panel {
    padding-left: 10px;
    & > div {
      height: 60px;
    }
    em {
      font-size: 60px;
      line-height: 66px;
      font-style: normal;
    }
  }
  
  // .overview-panel {
  //   border: 1px solid #ddd;
  // }
  .btn-item {
    float: left;
    padding: 5px 10px;
    margin-right: 20px;
    width: 10%;
    span{
      font-size: 20px;
      font-weight: bold;
    }
  }

  button {
    border: none;
    outline: none;
    &.btn-item {
      width: inherit;
    }
  }

  .popover {
    outline: none;
    .popover-title {
      color: #555;
    }
  }

}
 
 
 
 
 .summary-item{
   width: 50%;
   display: inline-block;
   box-sizing: border-box;
   border: 2px solid #f9f9f9;
 }

 .summary-panel{
   border: 1px solid #ddd;
 }

 .summary-analysis{
   width: 30%;
 }


.btn-list-status{
  list-style: none;
}

