.tight-form {
  border-top: 1px solid @grafanaTargetBorder;
  border-left: 1px solid @grafanaTargetBorder;
  border-right: 1px solid @grafanaTargetBorder;
  background: @grafanaTargetBackground;

  &.last {
    border-bottom: 1px solid @grafanaTargetBorder;
  }

  &.borderless {
    background: transparent;
    border: none;
  }

  .checkbox-label {
    display: inline;
    padding-right: 4px;
    margin-bottom: 0;
  }
}

.tight-form-container-no-item-borders {
  border: 1px solid @grafanaTargetBorder;
  border-bottom: none;

  .tight-form, .tight-form-item, [type=text].tight-form-input, [type=text].tight-form-clear-input  {
    border: none;
  }
}


.spaced-form {
  .tight-form {
    margin: 7px 0;
  }
}

.borderless {
  .tight-form-item,
  .tight-form-input {
    border: none;
  }
}

.tight-form-container {
  border-bottom: 1px solid @grafanaTargetBorder;
}

.tight-form-btn {
  padding: 7px 12px;
}

.tight-form-list {
  list-style: none;
  margin: 0;
  >li {
    float: left;
  }
}

.tight-form-flex-wrapper {
  display: flex;
  flex-direction: row;
}

.grafana-metric-options {
  margin-top: 25px;
}

.tight-form-item {
  padding: 8px 7px;
  display: inline-block;
  font-weight: normal;
  border-right: 1px solid @grafanaTargetSegmentBorder;
  color: @grafanaTargetColor;
  display: inline-block;

  .has-open-function & {
    padding-top: 25px;
  }

  .tight-form-disabled & {
    color: @grafanaTargetColorHide;
  }

  &:hover, &:focus {
    text-decoration: none;
  }

  &a:hover {
    background: @grafanaTargetFuncBackground;
  }

  &.last {
    border-right: none;
  }
}


.tight-form-item-icon {
  i {
    width: 15px;
    text-align: center;
    display: inline-block;
  }
}

.tight-form-func {
  background: @grafanaTargetFuncBackground;
  > a {
    color: @grafanaTargetColor;
  }
  > a:hover {
    color: @linkColor;
  }

  &.show-function-controls {
    padding-top: 5px;
    min-width: 100px;
    text-align: center;
  }
}

input[type=text].tight-form-func-param {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

input[type=text].tight-form-clear-input {
  padding: 8px 7px;
  border: none;
  margin: 0px;
  background: transparent;
  color: @grafanaTargetColor;
  border-radius: 0;
  border-right: 1px solid @grafanaTargetSegmentBorder;
}

[type=text],
[type=email],
[type=number],
[type=password] {
  &.tight-form-input {
    border: none;
    border-right: 1px solid @grafanaTargetSegmentBorder;
    margin: 0px;
    border-radius: 0;
    padding: 8px 6px;
    height: 100%;
    box-sizing: border-box;
    &.last {
      border-right: none;
    }
  }
}

input[type=checkbox].tight-form-checkbox {
  margin: 0;
}

select.tight-form-input {
  border: none;
  border-right: 1px solid @grafanaTargetSegmentBorder;
  margin: 0px;
  border-radius: 0;
  height: 36px;
  padding: 9px 3px;
  &.last {
    border-right: none;
  }
}

.tight-form-func-controls {
  display: none;
  text-align: center;

  .fa-arrow-left {
    float: left;
    position: relative;
    top: 2px;
  }
  .fa-arrow-right {
    float: right;
    position: relative;
    top: 2px;
  }
  .fa-remove {
    margin-left: 10px;
  }
}

.tight-form-radio {
  input[type=radio] {
    margin: 0;
  }
  label {
    display: inline;
  }
}

.tight-form-section {
  margin-bottom: 20px;
  margin-right: 40px;
  vertical-align: top;
  display: inline-block;
  .tight-form {
    margin-left: 20px;
  }
}

.tight-form-align {
  padding-left: 66px;
}

.tight-form-item-large { width: 115px; }
.tight-form-item-xlarge { width: 150px; }
.tight-form-item-xxlarge { width: 200px; }

.tight-form-input.tight-form-item-xxlarge {
  width: 215px;
}

.tight-form-inner-box {
  margin: 20px 0 20px 148px;
  display: inline-block;
}
