.nav.gf-timepicker-nav {
  margin-right: 0;
}

.timepicker-timestring {
  font-weight: normal;
}

.gf-timepicker-dropdown {
  margin: 0px 0 15px 0;
  padding: 10px 20px;
  float: right;
  background-color: @grafanaPanelBackground;
  .box-shadow(@navbarDropdownShadow);
}

.gf-timepicker-absolute-section {
  width: 300px;
  float: left;
  border-right: @grafanaTriggerBorder;
  padding: 0 0 0 20px;
  select {
    width: 183px;
    margin-bottom: 0;
  }
}

.gf-timepicker-btn-apply {
  margin: 0 0 0 15px;
}

.gf-timepicker-relative-section {
  padding: 0 20px 0 25px;
  min-height: 258px;
  float: left;
  ul {
    float: left;
    margin: 0 20px 10px 25px;
    li.active {
      border-bottom: 1px solid @blue;
      margin: 3px 0;
    }
  }
}

.gf-timepicker-component {
  margin-bottom: 10px;
  button.btn-sm {
    .buttonBackground(@btnInverseBackground, @btnInverseBackgroundHighlight);
    background-image: none;
    border: none;
    padding: 6px 9px;
    color: @textColor;
    &.active span {
      color: @blue;
      font-weight: bold;
    }
    .text-info {
      color: @orange;
      font-weight: bold;
    }
  }
}

.faMixin {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-chevron-right:before {
  .faMixin;
  content: "\f054";
}

.glyphicon-chevron-left:before {
  .faMixin;
  content: "\f053";
}

.input-datetime-format {
  color: @linkColorDisabled
}
