// Global values
// --------------------------------------------------


// Grays
// -------------------------
@black:                 #000;
@gray:                  #bbb;
@grayDark:              #262626;
@grayDarker:            #1f1f1f;

@grayLight:             #ADAFAE;
@grayLighter:           #BBBFC2;
@white:                 #fff;

// Accent colors
// -------------------------
@blue:                  #33B5E5;
@blueDark:              #005f81;
@green:                 #669900;
@red:                   #CC3900;
@yellow:                #ECBB13;
@orange:                #FF8800;
@pink:                  #FF4444;
@purple:                #9933CC;
@variable:              #32D1DF;

// Status colors
// -------------------------
@online:                #10a345;
@warn:                  #ffc03c;
@critical:              #ed2e18;

// grafana Variables
// -------------------------
@grafanaPanelBackground: 	@grayDarker;
@grafanaPanelBorder: 		  solid 1px @grayDark;
@grafanaTriggerBorder:		solid 1px #555;

// Graphite Target Editor
@grafanaTargetBorder:         @black;
@grafanaTargetBackground:     @grayDark;
@grafanaTargetColor:          #c8c8c8;
@grafanaTargetColorHide:      darken(#c8c8c8, 25%);
@grafanaTargetSegmentBorder:  #050505;

@grafanaTargetFuncBackground: #333;
@grafanaTargetFuncHightlight: #444;

@modalBackground: @black;

// Scaffolding
// -------------------------
@bodyBackground:        rgb(22,22,22);
@textColor:             @grayLighter;

// Links
// -------------------------
@linkColor:             darken(@white,11%);
@linkColorDisabled:     darken(@linkColor,45%);
@linkColorHover:        @white;


// Typography
// -------------------------
@sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

@baseFontSize:          14px;
@baseFontWeight:		    400;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        20px;
@altFontFamily:         @serifFontFamily;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         darken(@white,11%); // empty to use BS default, @textColor
@inputText:             @black;


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

@fontSizeLarge:         @baseFontSize * 1.25; // ~18px
@fontSizeSmall:         @baseFontSize * 0.85; // ~12px
@fontSizeMini:          @baseFontSize * 0.75; // ~11px

@paddingLarge:          11px 19px; // 44px
@paddingSmall:          2px 10px;  // 26px
@paddingMini:           0px 6px;   // 22px

@baseBorderRadius:      3px;
@borderRadiusLarge:     4px;
@borderRadiusSmall:     2px;

// Lists
@grafanaListBackground:  #262626;
@grafanaListAccent:      lighten(@grayDarker, 2%);
@grafanaListBorderTop:      @grayDark;
@grafanaListBorderBottom:   @black;
@grafanaListHighlight:      #333;
@grafanaListMainLinkColor: @textColor;

@pageContainerBorderColor: @grayDark;

// Scrollbars
@scrollbarBackground: #3a3a3a;
@scrollbarBackground2: #3a3a3a;
@scrollbarBorder: black;

// Tables
// -------------------------
@tableBackground:                   transparent; // overall background-color
@tableBackgroundAccent:             rgba(100, 100, 100, 0.3); // for striping
@tableBackgroundHover:              @grayDark; // for hover
@tableBorder:                       @grayDark; // table and cell border

// Buttons
// -------------------------
@btnBackground:                     @grayDark;
@btnBackgroundHighlight:            darken(@grayLight, 15%);
@btnBorder:                         #bbb;

@btnPrimaryBackground:              @blueDark;
@btnPrimaryBackgroundHighlight:     lighten(@blueDark, 10%);

@btnInfoBackground:                 lighten(@purple, 5%);
@btnInfoBackgroundHighlight:        darken(@purple, 5%);

@btnSuccessBackground:              lighten(@green, 5%);
@btnSuccessBackgroundHighlight:     darken(@green, 5%);

@btnWarningBackground:              lighten(@orange, 5%);
@btnWarningBackgroundHighlight:     darken(@orange, 5%);

@btnDangerBackground:               lighten(@red, 5%);
@btnDangerBackgroundHighlight:      darken(@red, 5%);

@btnInverseBackground:              @grayDark;
@btnInverseBackgroundHighlight:     lighten(@grayDark, 5%);

@iconContainerBackground:			      @black;
@iconContainerBackgroundHighlight:	lighten(@black, 5%);
@iconContainerBorder:				        1px solid transparent;
@iconContainerShadow:				        0 0 14px 2px rgba(255,255,255, 0.05);


// Forms
// -------------------------
@inputBackground:               lighten(@grayDark,5%);
@inputBorder:                   lighten(@grayDark,5%);
@inputBorderRadius:             @baseBorderRadius;
@inputDisabledBackground:       #555;
@formActionsBackground:         transparent;
@inputHeight:                   @baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border


// Dropdowns
// -------------------------
@dropdownBackground:            @heroUnitBackground;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownDividerTop:            transparent;
@dropdownDividerBottom:         #444;

@dropdownLinkColor:             @textColor;
@dropdownLinkColorHover:        @white;
@dropdownLinkColorActive:       @white;

@dropdownLinkBackgroundActive:  @blueDark;
@dropdownLinkBackgroundHover:   @blueDark;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1020;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;

// Sprite icons path
// -------------------------
@iconSpritePath:          "../img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";


// Input placeholder text color
// -------------------------
@placeholderText:         darken(@textColor, 25%);


// Hr border color
// -------------------------
@hrBorder:                @grayDark;


// Horizontal forms & lists
// -------------------------
@horizontalComponentOffset:       180px;


// Wells
// -------------------------
@wellBackground:                  #131517;


// Navbar
// -------------------------
@navbarCollapseWidth:             979px;
@navbarCollapseDesktopWidth:      @navbarCollapseWidth + 1;

@navbarHeight:                    52px;
@navbarBackgroundHighlight:       @grayDark;
@navbarBackground:                @grayDark;
@navbarBorder:                    none;

@navbarText:                      @grayLight;
@navbarLinkColor:                 @grayLight;
@navbarLinkColorHover:            @white;
@navbarLinkColorActive:           @navbarLinkColorHover;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      @navbarBackground;
@navbarBrandColor:                @linkColor;
@navbarDropdownShadow:            inset 0px 4px 10px -4px @bodyBackground;


// Pagination
// -------------------------
@paginationBackground:                @bodyBackground;
@paginationBorder:                    transparent;
@paginationActiveBackground:          @blue;


// Hero unit
// -------------------------
@heroUnitBackground:              @grayDark;
@heroUnitHeadingColor:            inherit;
@heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
@warningText:             darken(#c09853, 10%);
@warningBackground:       @orange;
@warningBorder:           transparent;

@errorText:               #b94a48;
@errorBackground:         @grayLighter;
@errorBorder:             darken(spin(@errorBackground, -10), 3%);

@successText:             #468847;
@successBackground:       @grayLighter;
@successBorder:           darken(spin(@successBackground, -10), 5%);

@infoText:                @blueDark;
@infoBackground:          @grayLighter;
@infoBorder:              darken(spin(@infoBackground, -10), 7%);


// Tooltips and popovers
// -------------------------
@tooltipColor:            #fff;
@tooltipBackground:       rgb(58, 57, 57);
@tooltipArrowWidth:       5px;
@tooltipArrowColor:       @tooltipBackground;
@tooltipLinkColor:        @linkColor;

@popoverBackground:       @heroUnitBackground;
@popoverArrowWidth:       10px;
@popoverArrowColor:       @popoverBackground;
@popoverTitleBackground:  @popoverBackground;

// Special enhancement for popovers
@popoverArrowOuterWidth:  @popoverArrowWidth + 1;
@popoverArrowOuterColor:  rgba(0,0,0,.25);

// images
@checkboxImageUrl: '../img/checkbox.png';

// GRID
// --------------------------------------------------


// Default 940px grid
// -------------------------
@gridColumns:             12;
@gridColumnWidth:         60px;
@gridGutterWidth:         20px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// 1200px min
@gridColumnWidth1200:     70px;
@gridGutterWidth1200:     30px;
@gridRowWidth1200:        (@gridColumns * @gridColumnWidth1200) + (@gridGutterWidth1200 * (@gridColumns - 1));

// 768px-979px
@gridColumnWidth768:      42px;
@gridGutterWidth768:      20px;
@gridRowWidth768:         (@gridColumns * @gridColumnWidth768) + (@gridGutterWidth768 * (@gridColumns - 1));


// Fluid grid
// -------------------------
@fluidGridColumnWidth:    percentage(@gridColumnWidth/@gridRowWidth);
@fluidGridGutterWidth:    percentage(@gridGutterWidth/@gridRowWidth);

// 1200px min
@fluidGridColumnWidth1200:     percentage(@gridColumnWidth1200/@gridRowWidth1200);
@fluidGridGutterWidth1200:     percentage(@gridGutterWidth1200/@gridRowWidth1200);

// 768px-979px
@fluidGridColumnWidth768:      percentage(@gridColumnWidth768/@gridRowWidth768);
@fluidGridGutterWidth768:      percentage(@gridGutterWidth768/@gridRowWidth768);
