<kibana-panel ng-controller='filtering' ng-init="init()">
  <style>
    .filtering-container {
      margin-top: 3px;
    }
    .filter-panel-filter {
      display:inline-block;
      vertical-align: top;
      margin-left: 10px;
      width: 200px;
      padding: 5px 5px 0px 5px;
      border: #555 1px solid;
      margin: 0px 5px 5px 0px;
    }
    .filter-panel-filter ul {
      margin-bottom: 3px;
    }
    .filter-must {
      border-bottom: #7EB26D 3px solid;
    }
    .filter-mustNot {
      border-bottom: #E24D42 3px solid;
    }
    .filter-deselected {
      opacity: 0.5;
    }
    .filter-either {
      border-bottom: #EF843C 3px solid;
    }
    .filter-action {
      float:right;
      margin-bottom: 0px !important;
      margin-left: 3px;
    }
    .filter-mandate {
      text-decoration: underline;
      cursor: pointer;
    }

  </style>

  <div class='filtering-container'>
    <div ng-repeat="id in filterSrv.ids" class="small filter-panel-filter" ng-class="{'filter-deselected': !filterSrv.list[id].active}">
      <div class="filter-{{filterSrv.list[id].mandate}}" >
        <strong>{{filterSrv.list[id].type}}</strong> 
        <span ng-show="!filterSrv.list[id].editing" class="filter-mandate" ng-click="filterSrv.list[id].editing = true">{{filterSrv.list[id].mandate}}</span>

        <span ng-show="filterSrv.list[id].editing">
          <select class="input-small" ng-model="filterSrv.list[id].mandate" ng-options="f for f in ['must','mustNot','either']" ng-change='filterSrv.list[id].editing=undefined;refresh()' ng-blur="filterSrv.list[id].editing=undefined"></select>
          <i class="pointer icon-remove" bs-tooltip="'Cancel '" ng-click="filterSrv.list[id].editing=undefined"></i>
        </span>

        <i class="filter-action pointer icon-remove" bs-tooltip="'Remove'" ng-click="remove(id)"></i>
        <i class="filter-action pointer" ng-class="{'icon-check': filterSrv.list[id].active,'icon-check-empty': !filterSrv.list[id].active}" bs-tooltip="'Toggle'" ng-click="toggle(id)"></i>

      </div>
      <ul class="unstyled">
        <li ng-repeat="(key,value) in filterSrv.list[id]" ng-show="show_key(key)"><strong>{{key}}</strong> : {{value}}</li>
      </ul>
    </div>
  </div>
</kibana-panel>