{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "linebreak-style": 0,
    "max-len": [1, 120, 2, { "ignoreComments": true }],
    "space-before-function-paren": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "padded-blocks": 0,
    "import/prefer-default-export": 0,
    "one-var": ["error", {
      "var": "always",
      "let": "always",
      "const": "always"
    }]
  }
}
