<topnav title="中长期分析" icon="fa fa-fw fa-line-chart" subnav="true">
  <ul class="nav">
    <li class="active" ><a href="logs">总览</a></li>
  </ul>
</topnav>

<div class="page-container">
  <div class="page">
    <h2>趋势分析</h2>

    <div class="tight-form">
      <ul class="tight-form-list">
        <li class="tight-form-item" style="width: 100px">
          指标
        </li>
        <li>
          <!--input placeholder="需要分析的指标" ng-model="targetObj.metric" type="text" required class="input-xxlarge tight-form-input last" -->
          <input type="text" class="tight-form-input input-xlarge"
          ng-model='targetObj.metric'
          spellcheck='false'
          bs-typeahead-old="suggestMetrics"
          placeholder="需要分析的指标" required />
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="tight-form">
      <ul class="tight-form-list">
        <li class="tight-form-item" style="width: 100px">
          机器标签
        </li>
        <li>
          <!--input placeholder="机器标签(host 名字)" ng-model="targetObj.host" type="text" required class="input-xxlarge tight-form-input last"-->
          <input type="text" class="input-small tight-form-input ng-pristine ng-valid ng-touched"
                 spellcheck="false" bs-typeahead-old="suggestTagKeys" data-min-length="0" data-items="100"
                 ng-model="targetObj.currentTagKey" data-provide="typeahead" readonly>
          -
          <input type="text" class="input-medium tight-form-input ng-pristine ng-untouched ng-valid" spellcheck="false"
                 bs-typeahead-old="suggestTagValues"
               data-min-length="0" data-items="100" ng-model="targetObj.currentTagValue" placeholder="请键入主机名" data-provide="typeahead">
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>

    <br>
    <a class="pull-right btn btn-success" ng-click="analysis()">开始分析</a>
  </div>
  </div>
</div>
