<topnav title="运维知识库" icon="fa fa-fw fa-book" subnav="true">
    <ul class="nav pull-right">
        <li ng-show="true" class="back-to-dashboard-link">
            <a onclick="javascript:history.go(-1)">
                返回到仪表盘
            </a>
        </li>
        <li ng-if="dashboard">
            <gf-time-picker dashboard="dashboard"></gf-time-picker>
        </li>
    </ul>
</topnav>

<div class="page-container" style="background:#fff;">
    <form>
        <div class="">
            <h2>运维知识库搜索</h2>
            <div class="tidy-form">
                <ul class="tidy-form-list">
                    <li class="tidy-form-item"><h4>关键词</h4></li>
                    <li>
                        <input placeholder="支持AND, OR, 空格表示OR" type="text" class="input-large tidy-form-input last" ng-model="q" required="">
                    </li>
                    <li class="tidy-form-item" style="margin-left:30px;"><h4>类型</h4></li>
                    <li>
                        <select class="input-small tidy-form-input" ng-model="service" required>
                            <option ng-repeat="s in services" value="{{s}}" ng-selected="service == s">{{s}}</option>
                        </select>
                    </li>
                    <li>
                        <button style="margin:0 20px;" type="submit" class="btn btn-primary" ng-click="query()"><i class="fa fa-search"/>查找</button>
                        <button class="btn btn-primary btn-success" ng-click="newKnows()">+ 运维经验</button>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <br>
        </div>
    </form>
    <div class="accordion" id="kb-list" ng-if="knowledge.length">
        <div class="accordion-group" ng-repeat="knows in knowledge">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#kb-list" href="#{{knows.id}}">
                    {{knows.symptom}}
                </a>
            </div>
            <div id="{{knows.id}}" class="accordion-body collapse">
                <div class="accordion-inner" ng-bind-html="knows.solution"></div>
            </div>
        </div>
    </div>
</div>
