
<navbar icon="fa fa-fw fa-book" title="运维知识库">
</navbar>

<div class="page-container">
    <form>
        <div class="">
            <h2>运维知识库搜索</h2>
            <div class="tidy-form">
                <ul class="tidy-form-list">
                    <li class="tidy-form-item"><h4>关键词</h4></li>
                    <li>
                        <input placeholder="支持AND, OR, 空格表示OR" type="text" class="input-large tidy-form-input last" ng-model="q" required="">
                    </li>
                    <li class="tidy-form-item" style="margin-left:30px;"><h4>类型</h4></li>
                    <li>
                        <select class="input-small tidy-form-input" ng-model="service" required>
                            <option ng-repeat="s in services" value="{{s}}" ng-selected="service === s">{{s}}</option>
                        </select>
                    </li>
                    <li>
                        <button style="margin:0 20px;" type="submit" class="btn btn-primary" ng-click="query()"><i class="fa fa-search"/>查找</button>
                        <button class="btn btn-primary btn-success" ng-click="newKnows()">+ 运维经验</button>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <br>
        </div>
    </form>
    <ul class="expoler-list" style="height: 85%;" ng-if="knowledge.length">
        <li ng-repeat="(index,knows) in knowledge" ng-click="textOverflow(index)">
            <h5 ng-class="{'text-overflow': !fullText[index]}">{{knows.symptom}}</h5>
            <p ng-class="{'text-overflow': !fullText[index]}" ng-bind-html="knows.solution"></p>
        </li>
    </ul>
</div>
