<topnav title="运维知识库" icon="fa fa-fw fa-stack-overflow" subnav="true">
    <ul class="nav pull-right">
        <li ng-show="true" class="back-to-dashboard-link">
            <a onclick="javascript:history.go(-1)">
                返回到仪表盘
            </a>
        </li>
        <li ng-if="dashboard">
            <gf-time-picker dashboard="dashboard"></gf-time-picker>
        </li>
    </ul>
</topnav>

<div class="page-container">
    <form>
        <div class="page">
            <h2>运维知识库搜索</h2>
            <div class="tight-form">
                <ul class="tight-form-list">
                    <li class="tight-form-item" style="width: 100px">
                        关键词
                    </li>
                    <li>
                        <input placeholder="支持AND, OR, 空格表示OR" type="text" class="input-large tight-form-input last"
                               ng-model="q" required="">
                    </li>

                    <li class="tight-form-item" style="width: 100px">
                        类型
                    </li>

                    <select class="input-small tight-form-input" ng-model="service" required>
                        <option ng-repeat="s in services" value="{{s}}" ng-selected="service == s">{{s}}</option>
                    </select>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-primary" ng-click="query()"><i class="fa fa-search"/>查找
                        </button>
                        <button class="btn btn-primary" ng-click="newKnows()">+ 运维经验</button>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <br>
        </div>
    </form>
</div>

<table class="filter-table ng-scope" ng-if="knowledge.length">
    <thead>
        <tr>
            <td>原因</td>
            <td>解决方案</td>
        </tr>
    </thead>
    <tbody ng-repeat="knows in knowledge">
        <tr>
            <td>{{knows.symptom}}</td>
            <td>{{knows.solution}}</td>
        </tr>
    </tbody>
</table>