<!--<div class="modal am-fade" tabindex="-1" role="dialog" aria-hidden="true" >-->
<div class="modal-body"  ng-controller="CreateKnowledgeCtrl" ng-init="init()">

    <a class="modal-close" ng-click="dismiss();">
        <i class="fa fa-remove"></i>
    </a>

    <h3>
        创建新的运维知识
    </h3>

    <br>
    <br>

    <form name="newKnows">
        <div style="display: inline-block">
            <div class="tidy-form-container">
                <div class="tidy-form">
                    <ul class="tidy-form-list">
                        <li class="tidy-form-item knowledge-form-label">
                            <h4>现象</h4>
                        </li>
                        <li>
                            <textarea type="text" class="input-xxlarge" style="resize: vertical;" required ng-model="knowledge.symptom"></textarea>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                    <ul class="tidy-form-list">
                        <li class="tidy-form-item knowledge-form-label">
                            <h4>解决方案</h4>
                        </li>
                        <li>
                            <textarea ng-model="knowledge.solution" style="height:100px; resize:vertical;" class="input-xxlarge" required></textarea>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                    <ul class="tidy-form-list">
                        <li class="tidy-form-item knowledge-form-label">
                            <h4>类型</h4>
                        </li>
                        <li>
                            <select class="input-large tidy-form-input" ng-model="knowledge.service" required>
                                <option ng-repeat="service in services" value="{{service}}">{{service}}</option>
                            </select>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
            </div>

            <div class="" style="margin-top: 30px; margin-bottom: 20px;">
                <button type="button" class="btn btn-inverse" ng-click="dismiss()">取消</button>
                <button type="submit" class="btn btn-success" ng-click="new();">确定</button>
            </div>
        </div>
    </form>
</div>
<!--</div>-->

