<topnav title="关联分析" icon="fa fa-fw fa-signal" subnav="true">
    <ul class="nav pull-right">
        <li ng-show="true" class="back-to-dashboard-link">
            <a onclick="javascript:history.go(-1)">
                返回到仪表盘
            </a>
        </li>
        <li ng-if="dashboard">
            <gf-time-picker dashboard="dashboard"></gf-time-picker>
        </li>
    </ul>
</topnav>

<div class="page-container" style="background:#fff;">
    <form>
        <h2>关联性分析</h2>
        <div class="tidy-form">
            <ul class="tidy-form-list">
                <li class="tidy-form-item" style="width: 100px">
                    指标
                </li>
                <li>
                    <!--input placeholder="需要分析的指标" ng-model="targetObj.metric" type="text" required class="input-xxlarge tidy-form-input last" -->
                    <input type="text" class="tidy-form-input input-xlarge"
                           ng-model='targetObj.metric'
                           spellcheck='false'
                           bs-typeahead-old="suggestMetrics"
                           placeholder="需要分析的指标" required/>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="tidy-form">
            <ul class="tidy-form-list">
                <li class="tidy-form-item" style="width: 100px">
                    机器标签
                </li>
                <li>
                    <input type="text" class="input-medium tidy-form-input ng-pristine ng-untouched ng-valid"
                           spellcheck="false"
                           bs-typeahead-old="suggestTagHost"
                           data-min-length="0" data-items="100" ng-model="targetObj.host" placeholder="请键入主机名"
                           data-provide="typeahead">
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="analysis()"><i class="fa fa-search"/>开始分析</button>
    </form>
    <div ng-if="dashboard">
        <h2>调整相关性分析参数</h2>
        <table class="grafana-options-table">
            <tr>
                <td><strong>调整阈值</strong></td>
                <td width="400px">
                    <div class="sliders" slider></div>
                </td>
                <td>
          <span ng-click="resetCorrelationAnalysis()" class="btn btn-primary">
            <i class="fa fa-edit"></i>过滤结果
          </span>
                </td>
            </tr>
        </table>
    </div>
    <p ng-if="!isAssociation && status">没有关联结果？调整下阈值试试吧。还是没有？请点击右侧按钮试试。<button class="btn btn-small btn-primary" ng-click="flushResult()">刷新结果</button></p>
    <div class="main-view-container">
        <div class="grafana-row" ng-controller="RowCtrl"
            ng-repeat="(row_name, row) in dashboard.rows" row-height>

            <div class="row-control">
                <div class="row-control-inner">
                    <div class="row-close" ng-show="row.collapse" data-placement="bottom">
                        <div class="row-close-buttons">
                                <span class="row-button bgPrimary" ng-click="toggleRow(row)">
                                    <i bs-tooltip="'Expand row'" data-placement="right"
                                    class="fa fa-caret-left pointer"></i>
                                </span>
                        </div>
                        <div class="row-text pointer" ng-click="toggleRow(row)"
                            ng-bind="row.title | interpolateTemplateVars:this"></div>
                    </div>
                </div>

                <div class="panels-wrapper" ng-if="!row.collapse">
                    <div class="row-text pointer" ng-click="toggleRow(row)" ng-if="row.showTitle"
                        ng-bind="row.title | interpolateTemplateVars:this">
                    </div>

                    <div ng-repeat="(name, panel) in row.panels track by panel.id" class="panel"
                        ui-draggable="!dashboardViewState.fullscreen" drag="panel.id"
                        ui-on-Drop="onDrop($data, row, panel)" drag-handle-class="drag-handle" panel-width>
                        <panel-loader type="panel.type" class="panel-margin"></panel-loader>
                    </div>

                    <div ng-if="isAssociation" class="page-container panel panel-associatoin"
                        style="padding: 20px 20px 20px 20px;">
                        <h2>
                            挑选推荐关联指标进行对比
                            <span ng-click="showNewAssociationManual()" class="btn btn-primary">
                                <i class="fa fa-add"></i>新增任意指标
                            </span>
                        </h2>
                        <p ng-if="correlatedMetrics.length">尝试将阈值调大, 匹配更多关联指标</p>
                        <div class="panel grafana-options-table">
                            <div controls controls-row>
                                <label class="span3 checkbox" ng-repeat="(metricsName, metricsValue) in correlatedMetrics">
                                    <input type="checkbox" ng-checked="isManualMetric(metricsName)" ng-click="addQuery(metricsName)">
                                    <p style="width: 90%;" class="max-width" title="{{_.getMetricName(metricsName)}}">
                                        {{_.getMetricName(metricsName)}}</p></input>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div panel-drop-zone class="panel panel-drop-zone" ui-on-drop="onDrop($data, row)" data-drop="true">
                        <div class="panel-container" style="background: transparent">
                            <div style="text-align: center">
                                <em>点击这里(drop here)</em>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

