<div class="modal-body">

    <a class="modal-close" ng-click="dismiss();">
        <i class="fa fa-remove"></i>
    </a>

    <h3>
        请填写相对时间
    </h3>

    <form name="timeShiftFrom">
        <div style="display: inline-block">
            <div class="tight-form-title">
                <ul>
                    <li>设置相对时间：如 -1d，-7d，-30d；</li>
                    <li>表示 “当前时间段日志” 对比 “1天前时间段日志”</li>
                </ul>
            </div>
            <div class="tight-form-container">
                <div class="tight-form">
                    <ul class="tight-form-list">
                        <li class="tight-form-item" style="width: 100px">
                            相对时间
                        </li>
                        <li>
                            <input ng-model="shift" type="text" required class="input-large tight-form-input"
                                   placeholder="如 -1d, -1M, -1y">
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="" style="margin-top: 30px; margin-bottom: 20px;">
                <button type="button" class="btn btn-inverse" ng-click="dismiss()">取消</button>
                <button type="submit" class="btn btn-success" ng-click="logCompare(shift);dismiss()">确定</button>
            </div>
        </div>
    </form>
</div>