<topnav title="运维知识库" icon="fa fa-fw fa-book" subnav="true">
    <ul class="nav pull-right">
        <li ng-show="true" class="back-to-dashboard-link">
            <a onclick="javascript:history.go(-1)">
                返回到仪表盘
            </a>
        </li>
        <li ng-if="dashboard">
            <gf-time-picker dashboard="dashboard"></gf-time-picker>
        </li>
    </ul>
</topnav>

<div class="page-container kb-container">
    <h2>运维知识库 <button class="btn btn-primary btn-success" ng-click="newKnows()">+ 运维经验</button></h2>

    <div ng-include="'app/features/logs/partials/knowledge_body.html'"></div>
</div>
