<topnav title="日志管理" icon="fa fa-fw fa-search" subnav="true">
    <ul class="nav pull-right">
        <li ng-show="true" class="back-to-dashboard-link">
            <a onclick="javascript:history.go(-1)">
                返回到仪表盘
            </a>
        </li>
        <li ng-if="dashboard">
            <gf-time-picker dashboard="dashboard"></gf-time-picker>
        </li>
    </ul>
</topnav>

<div class="page-container" style="background:#fff;">
    <form>
        <div class="">
            <h2>日志全文搜索</h2>
            <div class="tidy-form">
                <ul class="tidy-form-list">
                    <li class="tidy-form-item" style="width: 100px">
                        关键词
                    </li>
                    <li>
                        <input placeholder="支持AND, OR, 空格表示OR" type="text" class="input-xlarge tidy-form-input last"
                               ng-model="query" required="">
                    </li>
                    <li>
                        <button type="submit" class="btn btn-primary" ng-click="reQuery()" style="margin:0 20px;"><i class="fa fa-search"/>查找</button>
                        <button class="btn btn-primary btn-success" ng-click="logCluster()">日志聚合</button>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </form>
    <div class="grafana-row" ng-controller="RowCtrl"
        ng-repeat="(row_name, row) in dashboard.rows" row-height>

        <div class="row-control">
            <div class="panels-wrapper" ng-if="!row.collapse">
                <div class="row-text pointer" ng-click="toggleRow(row)" ng-if="row.showTitle"
                    ng-bind="row.title | interpolateTemplateVars:this">
                </div>

                <tabset>
                    <tab heading="原始数据" ng-if="panel.tab == 1" ng-repeat="(name, panel) in row.panels track by panel.id"
                        active="true">
                        <panel-loader type="panel.type" class="panel-margin"></panel-loader>
                    </tab>
                    <tab heading="聚合数据" ng-if="panel.tab == 2" ng-repeat="(name, panel) in row.panels track by panel.id"
                        ng-show="panel.tab==2 && clustering">
                        <panel-loader type="panel.type" class="panel-margin"></panel-loader>
                    </tab>
                </tabset>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="expoler-form">
    <div>
        <button><i class=""></i></button>
    </div>
    <div class="tidy-form">
        <ul class="tidy-form-list">
            <li class="tidy-form-item">
                现象
            </li>
            <li>
                <input placeholder="请描述您的问题" type="text" class="input-xlarge tidy-form-input last"
                        ng-model="" required="">
            </li>
            <li>
                <button type="submit" class="btn btn-primary" ng-click="" style="margin:0 20px;"><i class="fa fa-search"/>搜索</button>
                <button class="btn btn-primary btn-success" ng-click="">添加</button>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>

