<navbar icon="fa fa-fw fa-search" title="日志管理">
    <ul class="nav pull-right">
        <li ng-show="dashboard.meta.fullscreen" class="dashnav-back-to-dashboard">
            <a ng-click="exitFullscreen()">
                返回到仪表盘
            </a>
        </li>
        <li ng-if="dashboard">
            <gf-time-picker dashboard="dashboard"></gf-time-picker>
        </li>
    </ul>
</navbar>

<div dash-editor-view class="time-picker"></div>

<div class="page-container">
    <div class="page-header">
        <h1>日志全文搜索</h1>
    </div>

    <form class="gf-form-group tidy-form">
        <div>
            <div class="gf-form">
                <ul class="gf-form-list tidy-form-list" style="overflow: inherit">
                    <li ng-click="showSearchGuide = !showSearchGuide" class="gf-form-item" style="width: 100px">
                        关键词<tip>点击显示搜索指南</tip>
                    </li>
                    <li>
                        <input placeholder="支持AND, OR, 空格表示OR" type="text" class="input-xlarge tidy-form-input last"
                               ng-model="query" required="">
                    </li>
                    <li class="tidy-form-item" style="width: 100px; margin-left:30px;">
                        日志显示数量
                    </li>
                    <li class="tidy-form-item">
                        <select class="input-small tidy-form-input last"
                          ng-model="size"
                          ng-change="getLogSize(size);"
                          ng-options="f for f in [500,1000,2000,3000,5000]">
                        </select>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-primary" ng-click="reQuery()" style="margin:0 20px;"><i class="fa fa-search"/>查找</button>
                        <button class="btn btn-primary btn-success" ng-click="isShowKnows(true)">查询知识库</button>
                    </li>
                    <li class="search-guide" ng-if="showSearchGuide">
                        <i class="fa fa-times pull-right pointer" ng-click="hideGuide();"></i>
                        <p>1、展示所有日志: *</p>
                        <p>2、展示特定host日志: host: host_name ("host_name"改为需要查询的host名称)</p>
                        <p>3、联合查询-AND: host:host_name AND Exception (查询"host_name"的"Exception"日志)</p>
                        <p>4、联合查询-NOT: NOT host:host_name (排除"host_name"相关的日志)</p>
                        <p>5、联合查询-OR: host:host1 OR host:host2 (查询"host1"和"host2"相关的日志)</p>
                        <p>6、正则匹配: message:"[正则表达式]"</p>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </form>

    <div class="grafana-row" ng-controller="RowCtrl" ng-repeat="(row_name, row) in dashboard.rows" row-height>
        <div class="row-control">
            <div class="panels-wrapper" ng-if="!row.collapse">
                <div class="row-text pointer" ng-click="toggleRow(row)" ng-if="row.showTitle"
                    ng-bind="row.title | interpolateTemplateVars:this">
                </div>

                <div ng-repeat="(name, panel) in row.panels track by panel.id" class="panel"  ng-if="panel.tab == graph" panel-width>
                    <plugin-component type="panel" class="panel-margin"></plugin-component>
                </div>
                <tabset>
                    <tab heading="{{panel.title}}" ng-repeat="(name, panel) in row.panels track by panel.id" ng-if="panel.tab != graph">
                        <ul ng-if="panel.regularResult.data[0].total">
                            <li style="color: #F9934E;">该时间区域内共有 <strong>{{panel.regularResult.data[0].total}}</strong> 条日志，当前显示前 {{panel.regularResult.data[0].datapoints.length}} 条。放大时间区域，以查看更细日志数据。</li>
                        </ul>
                        <div class="btn-group btn-log-compare" ng-if="name == 2">
                            <button class="dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-click="logCompare('-1d')">1天以内</li>
                                <li ng-click="logCompare('-7d')">7天以内</li>
                                <li ng-click="showInputModal()">自定义</li>
                            </ul>
                        </div>
                        <plugin-component type="panel" class="panel-margin log-panel"></plugin-component>
                    </tab>
                </tabset>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="expoler-form" ng-controller="KnowledgeBaseCtrl" ng-show="showKnows">
    <div style="overflow:hidden; margin-top: -15px;">
        <span class="pull-right expoler-close" ng-click="isShowKnows(false)"><i class="fa fa-fw fa-times"></i></span>
    </div>
    <div class="tidy-form">
        <ul class="tidy-form-list">
            <li class="tidy-form-item">
                现象
            </li>
            <li>
                <input placeholder="请描述您的问题" type="text" class="input-xlarge tidy-form-input last"
                        ng-model="q" required="">
            </li>
            <li>
                <button type="submit" class="btn btn-primary" ng-click="query()" style="margin:0 20px;"><i class="fa fa-search"/>搜索</button>
            </li>
            <li>
                <button class="btn btn-primary btn-success" ng-click="initNewKnows()">添加</button>
            </li>
        </ul>
        <div ng-if="showCreatForm">
            <ul class="tidy-form-list">
                <li class="tidy-form-item">
                    解决方案
                </li>
                <li>
                    <textarea ng-model="newKnowledge.solution" style="height:300px; resize:vertical;" class="input-xxlarge" required></textarea>
                </li>
                <div class="clearfix"></div>
            </ul>
            <ul class="tidy-form-list">
                <li class="tidy-form-item">
                    类型
                </li>
                <li>
                    <select class="input-large tidy-form-input" ng-model="newKnowledge.service" required>
                        <option ng-repeat="service in services" value="{{service}}">{{service}}</option>
                    </select>
                </li>
                <div class="clearfix"></div>
            </ul>
            <ul class="tidy-form-list" style="margin:20px; padding-left: 32%;">
                <li>
                    <button type="submit" class="btn" ng-click="cancelCreate()">取消</button>
                </li>
                <li>
                    <button type="submit" class="btn btn-primary btn-success" ng-click="newKnowsByLog()" style="margin:0 20px;">确认添加</button>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <ul class="expoler-list" ng-if="!showCreatForm">
        <li ng-repeat="(index,knows) in knowledge" ng-click="textOverflow(index)">
            <h5 ng-class="{'text-overflow': !fullText[index]}">{{knows.symptom}}</h5>
            <p ng-class="{'text-overflow': !fullText[index]}">{{knows.solution}}</p>
        </li>
    </ul>

    <div>

    </div>
</div>

