
<div class="modal-body"  ng-controller="CreateKnowledgeCtrl" ng-init="init()">

    <h3 style="text-align: left; color: #32b2e1; padding-left: 8%;">添加运维知识</h3>

    <form name="newKnows">
        <div style="display: inline-block; width: 80%;">
            <div class="tidy-form-container">
                <div class="tidy-form">
                    <ul class="kb-item kb-item-new">
                        <li class="kb-symptom">
                            <div class="kb-header">
                                <div><i style="color:#32b2e1;" class="fa fa-question-circle kb-icon"></i><span>问题描述:</span></div>
                            </div>
                            <ng-quill-editor 
                                ng-model="knowledge.symptom"
                                class="kb-editor-new"
                                placeholder="" 
                                modules="{toolbar: toolbarOptions}">
                            </ng-quill-editor>
                        </li>
                        <li class="kb-solution">
                            <div class="kb-header">
                                <div><i style="color:#29ba2d;" class="fa fa-lightbulb-o kb-icon"></i><span>解决方案:</span></div>
                            </div>
                            <ng-quill-editor 
                                ng-model="knowledge.solution"
                                class="kb-editor-new"
                                placeholder="" 
                                modules="{toolbar: toolbarOptions}">
                            </ng-quill-editor>
                        </li>
                        <li class="kb-type-new">
                            <span>类型:</span>
                            <select class="input-small" ng-model="knowledge.service" required>
                                <option ng-repeat="service in services" value="{{service}}">{{service}}</option>
                            </select>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
            </div>

            <div class="kb-btn-new">
                <button type="button" class="btn btn-inverse" ng-click="dismiss()">取消</button>
                <button type="submit" class="btn btn-primary" ng-click="new();">确定</button>
            </div>
        </div>
    </form>
</div>

