.query-keyword {
  font-weight: bold;
  color: $blue;
}

.query-segment-key {
  border-right: none;
  padding-right: 1px;
}

.query-segment-operator {
  padding-right: 1px;
  border-right: none;
  color: $orange;
}

