

.navbar {
  overflow: visible;
  position: relative;
  z-index: 110;
}

.navbar-inner {
  min-height: $navbarHeight;
  padding-right: 20px;
  background-color: $navbarBackground;
  border-bottom: $navbarBorder;

  @include clearfix();
}

.navbar .nav {
  position: relative;
  left: 0;
  float: left;
  margin: 0 10px 0 0;
}

.nav {
  display: block;
}

.navbar .nav.pull-right {
  float: right; // redeclare due to specificity
  margin-right: 0; // remove margin on float right nav
}

.navbar .nav > li {
  float: left;
}

// Links
.navbar .nav > li > a {
  float: none;
  padding: 17px 13px 13px;
  color: $navbarLinkColor;
  text-decoration: none;

  .fa { font-size: 115%; }
}

// Hover/focus
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: $navbarLinkBackgroundHover; // "transparent" is default to differentiate :hover/:focus from .active
  color: $navbarLinkColorHover;
  text-decoration: none;
}

// Active nav items
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: $navbarLinkColorActive;
  text-decoration: none;
  background-color: $navbarLinkBackgroundActive;
}


.fa.top-nav-breadcrumb-icon {
  margin: 18px 0 6px 5px;
  float: left;
  font-size: 120%;
  color: $textColor;
}

.top-nav-btn {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  font-size: 1.4em;
  border-right: 1px solid $grafanaTargetBorder;

  .fa-caret-down {
    font-size: 55%;
    position: absolute;
    right: 8px;
    top: 23px;
    margin-right: 2px;
  }

  a {
    color: darken($linkColor, 5%);
    background-color: $navbarButtonBackground;
    display: inline-block;
    &:hover {
      background: $navbarButtonBackgroundHighlight;
      color: $linkColor;
      // border-bottom: 1px solid $blue;
    }
  }
}

.top-nav-menu-btn {
  a {
     padding: 7px 20px 6px 13px;
  }
  img {
    width: 30px;
    position: relative;
  }
  .top-nav-logo-background {
    display: inline-block;
    border: 1px solid $bodyBackground;
    padding: 4px;
    border-radius: 50%;
    background: $iconContainerBackground;
    width: 30px;
    height: 30px;
  }
  .icon-gf-grafana_wordmark {
    font-size: 21px;
    position: relative;
    top: 4px;
    padding-left: 5px;
    display: none;
  }
}

.dashnav-dashboards-btn {
  a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    padding: 16px 17px 16px 13px;
  }

  .fa-th-large {
    position: relative;
    top: 2px;
  }

  .icon-gf {
    position: relative;
    top: 2px;
    font-size: 20px;
    line-height: 8px;
  }
}

.dashboard-title {
  padding: 0px 6px 5px 5px;
  font-size: 17px;
}

.top-nav-icon {
  margin: 5px 0px 0 11px;
  line-height: 41px;
  float: left;
}

.top-nav-section {
  display: block;
  float: left;
  padding: 19px 9px 8px 0;
  font-weight: bold;
  i {
    padding-left: 8px;
  }
}

.top-nav-title {
  display: block;
  float: left;
  font-size: 17px;
  padding: 18px 10px 10px 13px;
  color: $linkColor;
}


