
// Labels & Badges
.label-tag {
  background-color: @purple;
  color: darken(@white, 5%);
  white-space: nowrap;
  border-radius: 3px;
  text-shadow: none;
  font-size: 13px;
  padding: 2px 6px;
  border-width: 1px;
  border-style: solid;
  .icon-tag {
    position: relative;
    top: 1px;
    padding-right: 4px;
  }
}

.label-tag:hover {
  opacity: 0.85;
  background-color: darken(@purple, 10%);
}

