<div ng-controller='pie' ng-init="init()">
  <style>
    .pieLabel { pointer-events: none }
  </style>
  <div ng-show="panel.legend == 'above'" ng-repeat="query in legend" style="float:left;padding-left: 10px;">
    <span ng-show="panel.chart != 'none'"><i class="icon-circle" ng-style="{color:query.color}"></i></span><span class="small"> {{query.label}} ({{query.data[0][1]}}) </span></span>
  </div><br>
  <div style="clear:both"></div>

  <div pie class="pointer" params="{{panel}}" style="position:relative"></div>

  <div ng-show="panel.legend == 'below'" ng-repeat="query in legend" style="float:left;padding-left: 10px;">
    <span ng-show="panel.chart != 'none'"><i class="icon-circle" ng-style="{color:query.color}"></i></span><span class="small"> {{query.label}} ({{query.data[0][1]}}) </span></span>
  </div>
</div>