<topnav title="告警管理" icon="fa fa-fw fa-bell" subnav="true">
  <ul class="nav">
    <li><a href="alerts/status">总览</a></li>
    <li><a href="alerts/history">历史告警</a></li>
    <li ng-class="{active: isNew}"><a href="alerts/new">新建报警规则</a></li>
    <li class="active" ng-show="!isNew"><a href="alerts/edit/{{current.name}}">编辑</a></li>
    <li><a href="alerts">状态</a></li>
  </ul>
</topnav>

<div class="page-container">
  <div class="page">
    <h2 ng-show="isNew">新建报警规则</h2>
    <h2 ng-show="!isNew">修改报警规则</h2>

    <form name="editForm">
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 80px">id</li>
          <li><li><input type="text" class="input-xxlarge tight-form-input last"
                         ng-model="alertDef.id" placeholder="randomly generated" readonly>
        </li></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 80px">名称</li>
          <li><li><input type="text" class="input-xxlarge tight-form-input last"
                         ng-model="alertDef.name" placeholder="报警规则名称" required>
          </li></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 80px">描述</li>
          <li><li><input type="text" class="input-xxlarge tight-form-input last"
                         ng-model="alertDef.description" placeholder="报警规则描述信息" required>
          </li></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 80px">公司名称</li>
          <li class="tight-form-item" style="width: 80px">{{orgName}}<li>
          </li></li>
        </ul>
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 80px">服务名称</li>
          <li class="tight-form-item" style="width: 80px">{{serviceName}}<li>
          </li></li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <br>
      <h5>规则详情设置</h5>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 80px">
            指标
          </li>
          <li>
            <input type="text" class="tight-form-input input-xlarge"
                   ng-model='alertDef.alertDetails.hostQuery.metricQueries[0].metric'
                   spellcheck='false'
                   bs-typeahead="suggestMetrics"
                   placeholder="metric name" required />
          </li>
          <li class="tight-form-item">
            预聚合 <tip>选择一分钟里面数据展示形式</tip>
          </li>
          <li>
            <select class="input-medium tight-form-input last"
                    ng-model="alertDef.alertDetails.hostQuery.metricQueries[0].aggregator"
                    ng-options="f for f in ['AVG', 'MIN', 'MAX', 'SUM', 'P99', 'P999']">
            </select>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 80px">
            临界值
          </li>
          <li class="tight-form-item">
            阈值
          </li>
          <li>
            <input type="text" class="tight-form-input input-medium" style="width: 139px"
                   ng-model='alertDef.alertDetails.crit.threshold' placeholder="critical threshold" required />
          </li>
          <li class="tight-form-item" style="width: 120px">
            持续时间
          </li>
          <li>
            <input type="text" class="tight-form-input input-medium last"
                   ng-model='alertDef.alertDetails.crit.durarionMinutes' placeholder="critical duration" required />
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 80px">
            警告
          </li>
          <li class="tight-form-item">
            阈值
          </li>
          <li>
            <input type="text" class="tight-form-input input-medium" style="width: 139px"
                   ng-model='alertDef.alertDetails.warn.threshold' placeholder="warn threshold" required />
          </li>
          <li class="tight-form-item" style="width: 120px">
            持续时间
          </li>
          <li>
            <input type="text" class="tight-form-input input-medium last"
                   ng-model='alertDef.alertDetails.warn.durarionMinutes' placeholder="warn duration" required />
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 80px">集群</li>
          <li><li><input type="text" class="input-xxlarge tight-form-input last"
                         ng-model="alertDef.alertDetails.cluster" required>
        </li></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 80px">
            Host List
          </li>
          <li>
            <input type="text" class="tight-form-input input-xlarge"
                 ng-model="alertDef.alertDetails.hosts" placeholder="null">
          </li>
          <li class="tight-form-item">
            Host membership
          </li>
          <li>
            <input type="text" class="tight-form-input input-medium" style="width: 138px"
                 ng-model="alertDef.alertDetails.membership" placeholder="*">
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 80px">监控范围</li>
          <li>
            <select class="input-medium tight-form-input last"
                         ng-model="alertDef.alertDetails.monitoringScope"
                         ng-options="f for f in ['HOST', 'CLUSTER']">
            </select>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="pull-right" style="margin-top: 35px">
        <button type="submit" class="btn btn-success" ng-show="isNew" ng-click="saveChanges()">增加</button>
        <button type="submit" class="btn btn-success" ng-show="!isNew" ng-click="saveChanges()">保存</button>
        <a class="btn btn-inverse" href="alerts">取消</a>
      </div>
      <br>
    </form>
  </div>
</div>
