<topnav title="告警管理" icon="fa fa-fw fa-bell" subnav="true">
  <ul class="nav">
    <li><a href="alerts">总览</a></li>
    <li><a href="alerts/new">新建报警规则</a></li>
    <li class="active"><a href="alerts/status" style="color:red" ng-if="dashboard.rows.length > 0">状态</a></li>
    <li class="active"><a href="alerts/status" ng-if="dashboard.rows.length === 0">状态</a></li>
  </ul>
</topnav>

<div class="page-container">
    <div class="page">
      <h2>告警指标状态</h2>

      <div ng-if="alertRows.length === 0">
        <em>系统一切正常</em>
      </div>
      <table class="grafana-options-table" ng-if="alertRows.length > 0">
        <tr>
          <td><strong>指标名称</strong></td>
          <td><strong>报警阈值</strong></td>
          <td></td>
          <td></td>
        </tr>
        <tr ng-repeat="alertDef in alertRows">
          <td style="width:40%">
            <i class="fa fa-bell"></i> &nbsp;
            {{alertDef.name}}
          </td>
          <td style="width:40%">
            {{alertDef.alertDetails.warn.threshold}}
          </td>
          <td style="width: 10%">
            <a href="/alerts/association/{{alertDef.id}}/{{correlationThreshold}}" class="btn btn-inverse btn-mini">
              <i class="fa fa-edit"></i>
              相关联指标
            </a>
          </td>
          <td style="width: 10%">
            <a href="/alerts/association/{{alertDef.id}}/{{correlationThreshold}}" class="btn btn-inverse btn-mini">
              <i class="fa fa-edit"></i>
              相关日志分析
            </a>
          </td>
        </tr>
      </table>

    </div>

</div>
