
<navbar icon="fa fa-fw fa-bell" title="报警管理">
	<ul class="nav">
    <li><a href="alerts/status">总览</a></li>
    <li class="active"><a href="alerts/history">历史报警</a></li>
    <li><a href="alerts/new">新建报警规则</a></li>
    <li><a href="alerts">报警规则</a></li>
  </ul>
</navbar>

<div class="page-container">
    <h2>报警指标状态 <span style="font-size: 12px">历史</span></h2>

    <div ng-if="alertRows.length === 0">
      <em>还没有任何历史数据</em>
    </div>

    <div style="overflow: scroll;">
      <div class="grafana-list-item">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">
            查询历史
          </li>
          <li>
            <select style="width: 110px" 
              ng-model="alertTimeSelected" 
              ng-options="item.value for item in alertHistoryRange"
              ng-change="filterRange(alertTimeSelected)"
              >
            </select>
          </li>
          <li style="padding-left: 20px">
            <input type="text" class="tight-form-input input-large" required placeholder="请输入需要查询内容" ng-model="alertKey"/>
          </li>
          <li>
            <span class="tight-form-btn btn btn-success btn-small"><i class="fa fa-fw fa-search"></i>查询</span>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="grafana-list-item">
        <span><strong>报警名称</strong></span>
        <span><strong>机器名称</strong></span>
        <span><strong>指标名称</strong></span>
        <span class="history-type"><strong>报警类型</strong></span>
        <span><strong>报警值/阈值</strong></span>
        <span class="hitstory-time"><strong>报警时间</strong></span>
        <span class="hitstory-time"><strong>处理时间</strong></span>
        <span><strong>处理人员</strong></span>
        <span><strong>报警分析</strong></span>
      </div>
      <div class="grafana-list-item" ng-repeat="alert in alertHistory | orderBy:closedTimeInMillis:true | filter: alertKey" ng-click="expanded = !expanded">
        <span>{{alert.definition.name}}</span>
        <span>{{alert.history.host}}</span>
        <span>{{alert.definition.alertDetails.hostQuery.metricQueries[0].metric}}</span>
        <span class="history-type">{{ getLevel(alert.history.level) }}</span>
        <span><strong>{{alert.history.triggeredValue | limitTo:5}}</strong> / {{alert.definition.alertDetails[getAlertType(alert)].threshold}}</span>
        <span class="hitstory-time">{{alert.history.createdTimeInMillis | date:'yyyy-MM-dd HH:mm:ss'}}</span>
        <span class="hitstory-time">{{alert.history.closedTimeInMillis | date:'yyyy-MM-dd HH:mm:ss'}}</span>
        <span>{{ getCloseOp(alert) }}</span>
        <span style="width: 120px;"><button class="btn" ng-click="historyDetails(alert.id)">历史报警分析</button></span>
        <span style="width: 10px;" class="pull-right" ng-if="alert.history.closeOp === 'MANUAL'">
          <a class="pointer">
            <i ng-show="!expanded" class="fa fa-caret-right"></i>
            <i ng-show="expanded" class="fa fa-caret-down"></i>
          </a>
        </span>
        <div ng-if="alert.history.closeOp === 'MANUAL'" ng-show="expanded">
          <strong>处理问题方法</strong>: {{alert.history.reason}}
        </div>
      </div>
    </div>
</div>
