
<navbar icon="fa fa-fw fa-bell" title="报警管理">
	<ul class="nav">
    <li><a href="alerts/status">总览</a></li>
    <li><a href="alerts/history">历史报警</a></li>
    <li class="active"><a href="alerts/new">新建报警规则</a></li>
    <!--<li ng-class="{active: isNew}"><a href="alerts/new">新建报警规则</a></li>-->
    <!--<li class="active" ng-show="!isNew"><a href="alerts/edit/{{current.name}}">编辑</a></li>-->
    <li><a href="alerts">报警规则</a></li>
  </ul>
</navbar>

<div class="page-container">
    <h2 ng-show="isNew">新建报警规则</h2>
    <h2 ng-show="!isNew">修改报警规则</h2>

    <div class="main-view-container preview-panel">
        <select class="pull-right" style="margin-top: 10px;margin-bottom: -10px; margin-right: 70px; width: 100px;"
                      ng-change="setTimeRange()"
                      ng-model="timeSelected"
                      ng-options="f.id as f.txt for f in timeRange">
        </select>
        <div class="grafana-row" ng-controller="RowCtrl"
            ng-repeat="(row_name, row) in dashboard.rows" row-height>

          <div class="row-control">
            <div class="row-control-inner">
              <div class="row-close" ng-show="row.collapse" data-placement="bottom">
                <div class="row-close-buttons">
                  <span class="row-button bgPrimary" ng-click="toggleRow(row)">
                    <i bs-tooltip="'Expand row'" data-placement="right" class="fa fa-caret-left pointer"></i>
                  </span>
                </div>
                <div class="row-text pointer" ng-click="toggleRow(row)"
                    ng-bind="row.title | interpolateTemplateVars:this"></div>
              </div>
            </div>

            <div class="panels-wrapper" ng-if="!row.collapse">
              <div class="row-text pointer" ng-click="toggleRow(row)" ng-if="row.showTitle"
                  ng-bind="row.title | interpolateTemplateVars:this">
              </div>

              <div ng-repeat="(name, panel) in row.panels track by panel.id" class="panel"
                  ui-draggable="!dashboardViewState.fullscreen" drag="panel.id"
                  ui-on-Drop="onDrop($data, row, panel)" drag-handle-class="drag-handle" panel-width>
                <plugin-component type="panel" class="panel-margin"></plugin-component>
              </div>

              <div class="clearfix"></div>
            </div>
          </div>
        </div>
    </div>

    <form name="editForm" class="tidy-form">

      <fieldset>
        <h3>报警基本信息设置</h3>
        <div class="tidy-form-box" ng-if="false">
          <ul class="tidy-form-list">
            <li class="tidy-form-item">id</li>
            <li><input type="text" class="input-xlarge tidy-form-input last"
                            ng-model="alertDef.id" placeholder="randomly generated" readonly>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="tidy-form-box pull-left">
          <ul class="tidy-form-list">
            <li class="tidy-form-item"><h4>报警名称</h4></li>
            <li><input type="text" class="input-xlarge tidy-form-input last"
                            ng-model="alertDef.name" ng-blur="checkName()" placeholder="报警规则名称" required>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="tidy-form-box pull-left" style="margin: 0 20px;">
          <ul class="tidy-form-list">
            <li class="tidy-form-item"><h4>报警描述</h4></li>
            <li><input type="text" class="input-xlarge tidy-form-input last"
                            ng-model="alertDef.description" placeholder="报警规则描述信息" required>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="tidy-form-box" ng-if="false">
          <ul class="tidy-form-list">
            <li class="tidy-form-item">公司名称</li>
            <li class="tidy-form-item">{{orgName}}</li>
          </ul>
          <ul class="tidy-form-list">
            <li class="tidy-form-item">服务名称</li>
            <li class="tidy-form-item">{{serviceName}}</li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </fieldset>

      <fieldset>
        <h3>报警规则详情设置</h3>
        <div class="tidy-form-box">
          <ul class="tidy-form-list">
            <li class="tidy-form-item">
              <h4>指标名称</h4>
            </li>
            <li>
              <input type="text" class="tidy-form-input input-xlarge"
                    ng-blur="refreshPreview();"
                    ng-model='alertDef.alertDetails.hostQuery.metricQueries[0].metric'
                    spellcheck='false'
                    bs-typeahead="suggestMetrics"
                    placeholder="metric name" required />
            </li>
            <li class="tidy-form-item" style="margin:0 20px;">
              <h4>聚合算法 <tip>选择一分钟里面数据展示形式</tip></h4>
            </li>
            <li>
              <select class="input-medium tidy-form-input last"
                      ng-change="refreshPreview()"
                      ng-model="alertDef.alertDetails.hostQuery.metricQueries[0].aggregator"
                      ng-options="f for f in ['AVG', 'MIN', 'MAX', 'SUM', 'P99', 'P999']">
              </select>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="tidy-form-box">
          <ul class="tidy-form-list">
            <li class="tidy-form-item">
              <h4>报警条件</h4>
            </li>
            <li>当指标值</li>
            <li>
              <select class="input-medium tidy-form-input last" style="width: 40px; margin: 0 5px; text-align: center;"
                      ng-model="alertDef.alertDetails.hostQuery.expression"
                      ng-options="f for f in ['>', '<', '?']">
              </select>
            </li>
            <li class="tidy-form-item">
              阈值
            </li>
            <li>
              <input type="text" class="tidy-form-input input-medium" style="width: 139px"
                    ng-model='alertDef.alertDetails.crit.threshold' 
                    ng-blur="addThreshold(1)"
                    placeholder="critical threshold" required ng-readonly="alertDef.alertDetails.hostQuery.expression==='?'"/>
            </li>
            <li class="tidy-form-item">
              并且持续时间达
            </li>
            <li>
              <input type="number" min="0" class="tidy-form-input last" style="width: 30px;"
                    ng-model='alertDef.alertDetails.crit.durarionMinutes' 
                    ng-blur="refreshPreview();" required />
            </li>
            <li>分钟，则触发紧急报警</li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="tidy-form-box">
          <ul class="tidy-form-list">
            <li class="tidy-form-item">
              <h4>警告条件</h4>
            </li>
            <li>当指标值</li>
            <li class="tidy-form-item" style="width: 40px; margin: 0 5px; text-align: center;">{{alertDef.alertDetails.hostQuery.expression}}<li>
            <li class="tidy-form-item">
              阈值
            </li>
            </li>
            <li>
              <input type="text" class="tidy-form-input input-medium" style="width: 139px"
                    ng-model='alertDef.alertDetails.warn.threshold' 
                    ng-blur="addThreshold(0)"
                    placeholder="warn threshold" required ng-readonly="alertDef.alertDetails.hostQuery.expression==='?'"/>
            </li>
            <li class="tidy-form-item">
              并且持续时间达
            </li>
            <li>
              <input type="number" min="0" class="tidy-form-input last" style="width: 30px;"
                    ng-model='alertDef.alertDetails.warn.durarionMinutes' required />
            </li>
            <li>分钟，则触发警告</li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="tidy-form-box" ng-if="false">
          <ul class="tidy-form-list">
            <li class="tidy-form-item">集群</li>
            <li><input type="text" class="input-xlarge tidy-form-input last"
                          ng-model="alertDef.alertDetails.cluster" readonly>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="tidy-form-box">
          <ul class="tidy-form-list">
            <li class="tidy-form-item">
              <h4>标签</h4>
            </li>
            <li ng-repeat="(key, value) in target.tags track by $index" class="tidy-form-item tidy-form-tags">
                {{key}}&nbsp;=&nbsp;{{value}}
              <a ng-click="editTag(key, value)">
                <i class="fa fa-pencil"></i>
              </a>
              <a ng-click="removeTag(key)">
                <i class="fa fa-remove"></i>
              </a>
            </li>

            <li class="tidy-form-item" ng-hide="addTagMode">
              <a ng-click="addTag()">
                <i class="fa fa-plus"></i>
              </a>
            </li>

            <li ng-show="addTagMode">
              <input type="text" class="input-small tidy-form-input" spellcheck='false'
              bs-typeahead="suggestTagKeys" data-min-length=0 data-items=100
              ng-model="target.currentTagKey" placeholder="key"></input>

              <input type="text" class="input-small tidy-form-input"
              spellcheck='false' bs-typeahead="suggestTagValues"
              data-min-length=0 data-items=100 ng-model="target.currentTagValue" placeholder="value">
              </input>
              <a ng-click="addTag()">
                添加标签
              </a>
              <a bs-tooltip="target.errors.tags"
                style="color: rgb(229, 189, 28)"
                ng-show="target.errors.tags">
                <i class="fa fa-warning"></i>
              </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="tidy-form-box">
          <ul class="tidy-form-list">
            <li class="tidy-form-item">
              <h4>Host List</h4>
            </li>
            <li>
              <input type="text" class="tidy-form-input input-xlarge"
                  ng-model="alertDef.alertDetails.hosts" placeholder="请输入以','分隔的hosts列表">
            </li>
            <li class="tidy-form-item" style="margin:0 20px;">
              <h4>Host membership</h4>
            </li>
            <li>
              <input type="text" class="tidy-form-input input-xlarge"
                  ng-model="alertDef.alertDetails.membership" placeholder="*" readonly>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="tidy-form-box" ng-if="false">
          <ul class="tidy-form-list">
            <li class="tidy-form-item">监控范围</li>
            <li>
              <select class="input-medium tidy-form-input last"
                          ng-model="alertDef.alertDetails.monitoringScope"
                          ng-options="f for f in ['HOST']" readonly>
              </select>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </fieldset>
      

      <div class="pull-right" style="margin-top: 35px">
        <button type="submit" class="btn" ng-class="{'btn-success':!checkStatus.checkName}" ng-disabled="checkStatus.checkName" ng-show="isNew" ng-click="saveChanges()">增加</button>
        <button type="submit" class="btn" ng-class="{'btn-success':!checkStatus.checkName}" ng-disabled="checkStatus.checkName" ng-show="!isNew" ng-click="saveChanges()">保存</button>
        <a class="btn btn-inverse" href="alerts">取消</a>
      </div>
      <br>
    </form>
</div>
 