<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-key"></i>
			<span class="p-l-1">API Key Created</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content">

		<div class="gf-form-group">
			<div class="gf-form">
				<span class="gf-form-label">Key</span>
				<span class="gf-form-label">{{key}}</span>
			</div>
		</div>

		<div class="grafana-info-box" style="border: 0;">
			You will only be able to view this key here once! It is not stored in this form. So be sure to copy it now.
			<br>
			<br>
			You can authenticate request using the Authorization HTTP header, example:
			<br>
			<br>
			<pre class="small">
curl -H "Authorization: Bearer {{key}}" {{rootPath}}/api/dashboards/home
			</pre>
		</div>

	</div>

</div>

