<div class="modal-body gf-box gf-box-no-margin">
	<div class="gf-box-header">
		<div class="gf-box-title">
			<i class="fa fa-key"></i>
			API Key Created
		</div>

		<button class="gf-box-header-close-btn" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</button>
	</div>

	<div class="gf-box-body">

		<div class="gf-form-group">
			<div class="gf-form">
				<span class="gf-form-label">Key</span>
				<span class="gf-form-label">{{key}}</span>
			</div>
		</div>

		<div class="grafana-info-box" style="border: 0;">
			You will only be able to view this key here once! It is not stored in this form. So be sure to copy it now.
			<br>
			<br>
			You can authenticate request using the Authorization HTTP header, example:
			<br>
			<br>
			<pre class="small" style="overflow: hidden">
curl -H "Authorization: Bearer your_key_above" http://your.grafana.com/api/dashboards/db/mydash
			</pre>
		</div>

	</div>

</div>

