<topnav title="Apps" icon="fa fa-fw fa-cubes" subnav="true">
	<ul class="nav">
		<li class="active" ><a href="org/apps">Overview</a></li>
	</ul>
</topnav>

<div class="page-container" style="background: transparent; border: 0;">
  <div class="page-wide" ng-init="ctrl.init()">
    <h2>Apps</h2>

		<div ng-if="!ctrl.apps">
			<em>No apps defined</em>
		</div>

		<ul class="filter-list">
      <li ng-repeat="app in ctrl.apps">
        <ul class="filter-list-card">
          <li>
            <div class="filter-list-card-controls">
              <div class="filter-list-card-config">
								<a href="org/apps/edit/{{app.type}}">
									<i class="fa fa-cog"></i>
								</a>
              </div>
            </div>
						<span class="filter-list-card-title">Litmus{{app.type}}</span>
            <span class="filter-list-card-status">
              <span class="filter-list-card-state">Dashboards: 1</span>
            </span>
          </li>
        </ul>
      </li>
		</ul>
	</div>
</div>
