<topnav title="Plugins" icon="fa fa-fw fa-cubes" subnav="true">
	<ul class="nav">
		<li class="active" ><a href="org/apps">Overview</a></li>
	</ul>
</topnav>

<div class="page-container">
	<div class="page">
		<h2>Plugins</h2>

		<div ng-if="!apps">
			<em>No apps defined</em>
		</div>

		<table class="grafana-options-table" ng-if="apps">
			<tr>
				<td><strong>Type</strong></td>
				<td></td>
				<td></td>
			</tr>
			<tr ng-repeat="(type, p) in apps">
				<td style="width:1%">
					<i class="fa fa-cubes"></i> &nbsp;
					{{p.type}}
				</td>
				<td style="width: 1%">
					<a href="org/apps/edit/{{p.type}}" class="btn btn-inverse btn-mini">
						<i class="fa fa-edit"></i>
						Edit
					</a>
				</td>
				<td style="width: 1%">
					Enabled&nbsp;
					<input  id="p.enabled" type="checkbox" ng-model="p.enabled" ng-checked="p.enabled" ng-change="update(p)">
					<label for="p.enabled"></label>
				</td>
			</tr>
		</table>

	</div>
</div>