<navbar model="navModel"></navbar>

<div class="page-container">
	<div class="page-header">
		<h1>Change password</h1>
	</div>

	<div ng-if="ldapEnabled || authProxyEnabled">
		You cannot change password when ldap or auth proxy authentication is enabled.
		<br>
		<br>
		<a class="btn-text" href="profile">Back to profile</a>
	</div>

	<form name="userForm" class="gf-form-group" ng-hide="ldapEnabled || authProxyEnabled">
		<div class="gf-form">
			<span class="gf-form-label width-10">Old Password</span>
			<input class="gf-form-input max-width-21" type="password" required ng-model="command.oldPassword">
		</div>

		<div class="gf-form">
			<span class="gf-form-label width-10">New Password</span>
			<input class="gf-form-input max-width-21" type="password" required ng-minlength="4"  ng-model="command.newPassword">
		</div>

		<div class="gf-form">
			<span class="gf-form-label width-10">Confirm Password</span>
			<input class="gf-form-input max-width-21" type="password" required ng-minlength="4"  ng-model="command.confirmNew">
		</div>

		<div class="gf-form-button-row">
			<button type="submit" class="btn btn-success" ng-click="changePassword()">Change Password</button>
			<a class="btn-text" href="profile">Cancel</a>
		</div>
	</form>

</div>

