<topnav title="Data sources" icon="fa fa-fw fa-database" subnav="true">
	<ul class="nav">
		<li class="active" ><a href="datasources">Overview</a></li>
		<li><a href="datasources/new">Add new</a></li>
	</ul>
</topnav>

<div class="page-container" style="background: transparent; border: 0;">
	<div class="page-wide">
		<h2>Data sources</h2>

		<div ng-if="datasources.length === 0">
			<em>No datasources defined</em>
		</div>

		<table class="filter-table" ng-if="datasources.length > 0">
			<thead>
				<tr>
					<th><strong>Name</strong></th>
					<th><strong>Url</strong></th>
					<th style="width: 60px;"></th>
					<th style="width: 65px;"></th>
					<th style="width: 30px;"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="ds in datasources">
					<td>
						<span class="ellipsis">
							<i class="fa fa-database"></i> &nbsp;
							{{ds.name}}
						</span>
					</td>
					<td>
						<span class="ellipsis">{{ds.url}}</span>
					</td>
					<td class="text-center">
						<span ng-if="ds.isDefault">
							<span class="label label-info">default</span>
						</span>
					</td>
					<td class="text-right">
						<a href="datasources/edit/{{ds.id}}" class="btn btn-inverse btn-mini">
							<i class="fa fa-edit"></i>
							Edit
						</a>
					</td>
					<td class="text-right">
						<a ng-click="remove(ds)" class="btn btn-danger btn-mini">
							<i class="fa fa-remove"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
