<topnav title="OnCallers" icon="fa fa-fw fa-phone" subnav="true">
  <ul class="nav">
    <li><a href="oncallers">Overview</a></li>
    <li ng-class="{active: isNew}"><a href="oncallers/new">Add new</a></li>
    <li class="active" ng-show="!isNew"><a href="oncallers/edit/{{current.name}}">Edit</a></li>
  </ul>
</topnav>

<div class="page-container">
  <div class="page">
    <h2 ng-show="isNew">Add OnCaller</h2>
    <h2 ng-show="!isNew">Edit OnCaller</h2>

    <form name="oncallerForm">
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">Name</li>
          <li><input type="text" class="input-xxlarge tight-form-input last"
                         ng-model="oncallerDef.name" placeholder="name" required>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">Email</li>
          <li><input type="text" class="input-xxlarge tight-form-input last"
                         ng-model="oncallerDef.email" placeholder="email" required>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">Phone</li>
          <li><input type="text" class="input-xxlarge tight-form-input last"
                     ng-model="oncallerDef.tel" placeholder="phone" required>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">Carrier</li>
          <select type="text" class="input-xxlarge tight-form-input last"
                     ng-options="f for f in ['att', 'tmobile', 'verizon', 'sprint', 'cricket', 'metro pcs']"
                     ng-model="oncallerDef.carrier" placeholder="carrier" required>
          </select>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">Service</li>
          <li><input type="text" class="input-xxlarge tight-form-input last"
                     ng-model="oncallerDef.service" placeholder="service" required>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <br>
      <div class="pull-right" style="margin-top: 35px">
        <button type="submit" class="btn btn-success" ng-show="isNew" ng-click="saveChanges()">Add</button>
        <button type="submit" class="btn btn-success" ng-show="!isNew" ng-click="saveChanges()">Save</button>
        <a class="btn btn-inverse" href="oncallers">Cancel</a>
      </div>
      <br>
    </form>
  </div>
</div>
