<topnav title="OnCallers" icon="fa fa-fw fa-phone" subnav="true">
  <ul class="nav">
    <li class="active" ><a href="oncallers">Overview</a></li>
    <li><a href="oncallers/new">Add new</a></li>
  </ul>
</topnav>

<div class="page-container">
  <div class="page">
    <h2>OnCaller Definitions</h2>

    <div ng-if="datasources.length === 0">
      <em>No oncaller defined</em>
    </div>

    <table class="grafana-options-table" ng-if="oncallerDefList.length > 0">
      <tr>
        <td><strong>Name</strong></td>
        <td><strong>Service</strong></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-repeat="oncallerDef in oncallerDefList">
        <td style="width:1%">
          <i class="fa fa-phone"></i> &nbsp;
          {{oncallerDef.primaryName}}
        </td>
        <td style="width:90%">
          {{oncallerDef.service}}
        </td>
        <td style="width: 1%">
          <a href="oncallers/edit/{{oncallerDef.id}}" class="btn btn-inverse btn-mini">
            <i class="fa fa-edit"></i>
            Edit
          </a>
        </td>
        <td style="width: 1%">
          <a ng-click="remove(oncallerDef.id)" class="btn btn-danger btn-mini">
            <i class="fa fa-remove"></i>
          </a>
        </td>
      </tr>
    </table>

  </div>
</div>

