<topnav title="告警通知" icon="fa fa-fw fa-phone">
  <ul class="nav">
    <li><a href="oncallers">总览</a></li>
    <li class="active"><a href="oncallerschedule">值班表</a></li>
    <li><a href="oncallers/new">新增</a></li>
  </ul>
</topnav>

<div class="page-container">
  <h2>告警值班列表</h2>
  <div ui-calendar='uiConfig.calendar' ng-model="eventSources"></div>
  <div ng-if='showEditForm' class="scheduleEditBox">        
        <form class="scheduleForm">
            <div class="item">
                <h4 class="center">值班信息</h4>
                <button  ng-click="closeEdit();" class="pull-right" style="margin-top: -50px; cursor:pointer;">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="item">
                <label class="label">Role</label>
                <select class="text ui-widget-content ui-corner-all"
                     ng-model="role"
                     ng-options="r.val for r in roles">
                </select>
            </div>
            <div class="item">
                <label class="label">Oncaller</label>
                <select class="text ui-widget-content ui-corner-all"
                    ng-model="oncallerSelcted"
                    ng-options="oncaller.name for oncaller in oncallerDefList">
                </select>
            </div>
            <div class="item">
                <label class="label">From</label>
                <input type="text" class="input-large" ng-model="startTime" input-datetime>
                <button style="margin-top: -10px;" class="btn btn-primary" type="button" ng-click="openFromPicker=!openFromPicker">
                    <i class="fa fa-calendar"></i>
                </button>
                <div ng-if="openFromPicker">
                    <datepicker ng-model="startTime" class="gf-timepicker-component" show-weeks="false" ng-change="absoluteFromChanged(startTime)"></datepicker>
                </div>
            </div>
            <div class="item">
                <label class="label">To</label>
                <input type="text" class="input-large" ng-model="endTime" input-datetime>
                <button style="margin-top: -10px;" class="btn btn-primary" type="button" ng-click="openToPicker=!openToPicker">
                    <i class="fa fa-calendar"></i>
                </button>
                <div ng-if="openToPicker">
                    <datepicker ng-model="endTime" class="gf-timepicker-component" show-weeks="false" ng-change="absoluteToChanged(endTime)"></datepicker>
                </div>
            </div>
            <div class="item center">
                <button ng-click="closeEdit();" class="btn">取消</button>
                <button ng-click="addSchedule(role,oncallerSelcted)" class="btn">添加</button>
            </div>

        </form>
    </div>
</div>

