<navbar> 
<div class="top-nav-btn dashnav-dashboards-btn" >
	<a class="pointer" ng-click="openSearch()">
		<i class="icon-gf icon-gf-users"></i>
		<span class="dashboard-title">Organization Preferences</span>
		<i class="fa fa-caret-down"></i>
	</a>
</div>
</navbar>

<div class="page-container">
	<div class="page">

		<h1>Organization</h1>

		<section class="simple-box">
			<h3 class="">Preferences</h3>
		</section>

		<form name="orgForm">
			<div class="norm-form last">
				<ul class="norm-form-list">
					<li class="norm-form-item" style="width: 100px">
						Name
					</li>
					<li>
						<input type="text" required ng-model="org.name" class="norm-form-input last" style="width: 475px">
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>

			<br>
			<button type="submit" class="btn btn-success" ng-click="update()">Update</button>
			<br>
		</form>

		<section class="simple-box">
			<h3 class="">Address</h3>
		</section>

		<form name="addressForm">
			<div class="norm-form">
				<ul class="norm-form-list">
					<li class="norm-form-item" style="width: 100px">
						Address 1
					</li>
					<li>
						<input type="text" ng-model="address.address1" class="norm-form-input" style="width:193px">
					</li>
					<li class="norm-form-item" style="width: 75px">
						Address 2
					</li>
					<li>
						<input type="text" ng-model="address.address2" class="norm-form-input last" style="width:193px">
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="norm-form">
				<ul class="norm-form-list">
					<li class="norm-form-item" style="width: 100px">
						City
					</li>
					<li>
						<input type="text" ng-model="address.city" class="norm-form-input" style="width: 193px">
					</li>
					<li class="norm-form-item" style="width: 75px">
						Postal code
					</li>
					<li>
						<input type="text" ng-model="address.zipCode" class="input-medium norm-form-input last" style="width: 193px">
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="norm-form last">
				<ul class="norm-form-list">
					<li class="norm-form-item" style="width: 100px">
						State
					</li>
					<li>
						<input type="text" ng-model="address.state" class="norm-form-input" style="width: 193px">
					</li>
					<li class="norm-form-item" style="width: 75px">
						Country
					</li>
					<li>
						<input type="text" ng-model="address.country" class="norm-form-input last" style="width: 193px">
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>

			<br>
			<button type="submit" class="btn btn-success" ng-click="updateAddress()">Update</button>
			<br>
		</form>
	</div>

</div>


