<topnav icon="fa fa-fw fa-users" title="公司" subnav="true">
	<ul class="nav">
		<li class="active"><a href="org">信息</a></li>
	</ul>
</topnav>

<div class="page-container">
	<div class="page">

		<h2>公司</h2>

		<div class="tight-form-section">
			<h5>信息</h5>

			<form name="orgForm">
				<div class="tight-form last">
					<ul class="tight-form-list">
						<li class="tight-form-item" style="width: 100px">
							公司名称
						</li>
						<li>
							<input type="text" required ng-model="org.name" class="tight-form-input last" style="width: 475px">
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>

				<br>
				<button type="submit" class="pull-right btn btn-success" ng-click="update()">更新</button>
			</form>
		</div>

		<div class="tight-form-section">
			<h5>公司地址</h5>

			<form name="addressForm">
				<div class="tight-form">
					<ul class="tight-form-list">
						<li class="tight-form-item" style="width: 100px">
							地址 1
						</li>
						<li>
							<input type="text" ng-model="address.address1" class="tight-form-input" style="width:193px">
						</li>
						<li class="tight-form-item" style="width: 75px">
							地址 2
						</li>
						<li>
							<input type="text" ng-model="address.address2" class="tight-form-input last" style="width:193px">
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="tight-form">
					<ul class="tight-form-list">
						<li class="tight-form-item" style="width: 100px">
							城市
						</li>
						<li>
							<input type="text" ng-model="address.city" class="tight-form-input" style="width: 193px">
						</li>
						<li class="tight-form-item" style="width: 75px">
              邮政编码
            </li>
						<li>
							<input type="text" ng-model="address.zipCode" class="input-medium tight-form-input last" style="width: 193px">
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="tight-form last">
					<ul class="tight-form-list">
						<li class="tight-form-item" style="width: 100px">
							省
						</li>
						<li>
							<input type="text" ng-model="address.state" class="tight-form-input" style="width: 193px">
						</li>
						<li class="tight-form-item" style="width: 75px">
							国家
						</li>
						<li>
							<input type="text" ng-model="address.country" class="tight-form-input last" style="width: 193px">
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>

				<br>
				<button type="submit" class="pull-right btn btn-success" ng-click="updateAddress()">更新</button>

			</form>
		</div>

        <div class="tight-form-section">
          <h5>子系统</h5>
          <form name="addOrgForm">
            <div class="tight-form">
              <ul class="tight-form-list">
                <li class="tight-form-item" style="width:100px">
                  新增子系统
                </li>
                <li>
                  <input type="text" ng-model="newSystemName" required class="itight-form-input last" placeholder="如:办公自动化系统">
                </li>
                <li style="float: right">
                  <button class="btn btn-success" ng-click="addSystem()"><i class="fa fa-plus-square"></i></button>
                </li>
                <div class="clearfix"></div>
              </ul>
            </div>
          </form>

          <div  class="tight-form-section" ng-if="!systems.length">
            <h4>没有子系统,请手动加入</h4>
          </div>
          <form name="orgForm" ng-if="systems.length > 0">
            <div class="tight-form last" ng-repeat="system in systems">
              <ul class="tight-form-list">
                <li class="tight-form-item" style="width: 100px">
                  子系统名称
                </li>
                <li>
                  <input type="text" required ng-model="system.SystemsName" class="tight-form-input last" style="width: 475px">
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>

            <br>
            <button type="submit" class="pull-right btn btn-success" ng-click="updateSystems()">更新</button>
          </form>
        </div>
	</div>
</div>


