<page-header model="navModel"></page-header>

<div class="page-container page-body">

	<div class="signup">
		<div class="login-form">

			<div class="modal-tagline">
				You have been added to another Organization due to an open invitation!

				Please select which organization you want to <br>
				use right now (you can change this later at any time).
			</div>

			<div style="display: inline-block; width: 400px; margin: 30px 0">
				<div ng-repeat="org in orgs">
					<a ng-click="setUsingOrg(org)" class="btn btn-primary">
						{{org.name}} ({{org.role}})
					</a>
				</div>
			</div>
		</div>
	</div>
</div>


<footer />
