<navbar model="ctrl.navModel"></navbar>

<div class="page-container">
	<div class="page-header">
		<h1>Edit Team</h1>
	</div>

	<form name="teamDetailsForm" class="gf-form-group gf-form-inline">
		<div class="gf-form">
			<span class="gf-form-label width-10">Name</span>
			<input type="text" required ng-model="ctrl.team.name" class="gf-form-input max-width-14" >
		</div>

		<div class="gf-form">
			<button type="submit" class="btn btn-success" ng-click="ctrl.update()">Update</button>
		</div>
	</form>

  <div class="gf-form-group">
    <h3 class="page-heading">Team Members</h3>

    <form name="ctrl.addMemberForm" class="gf-form-group">
      <div class="gf-form">
        <span class="gf-form-label width-10">User</span>
        <user-picker user-picked="ctrl.userPicked($user)"></user-picker>
      </div>
    </form>

    <table class="grafana-options-table" ng-show="ctrl.teamMembers.length > 0">
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th></th>
      </tr>
      <tr ng-repeat="member in ctrl.teamMembers">
        <td>{{member.login}}</td>
        <td>{{member.email}}</td>
        <td style="width: 1%">
          <a ng-click="ctrl.removeTeamMember(member)" class="btn btn-danger btn-mini">
            <i class="fa fa-remove"></i>
          </a>
        </td>
      </tr>
    </table>
    <div>
  <em class="muted" ng-hide="ctrl.teamMembers.length > 0">
    This team has no members yet.
  </em>
</div>
