<div ng-include="'app/partials/navbar.html'" ng-init="pageTitle='Accounts'"></div>

<div class="dashboard-edit-view" style="min-height: 500px">

	<div class="row-fluid">
		<div class="span8">

			<table class="grafana-options-table">
				<tr>
					<th style="text-align:left">Id</th>
					<th>Login</th>
					<th>Email</th>
					<th>Name</th>
					<th>Admin</th>
					<th></th>
				</tr>
				<tr ng-repeat="account in accounts">
					<td>{{account.id}}</td>
					<td>{{account.login}}</td>
					<td>{{account.email}}</td>
					<td>{{account.name}}</td>
					<td>{{account.isAdmin}}</td>
					<td style="width: 1%">
						<a ng-click="edit(variable)" class="btn btn-success">
							<i class="fa fa-edit"></i>
							Edit
						</a>
						&nbsp;&nbsp;
						<a ng-click="edit(variable)" class="btn btn-danger">
							<i class="fa fa-remove"></i>
						</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
