<div>
  <div class="row-fluid">
    <div class="span1">
      <label class="small">Length</label>
      <input type="number" style="width:80%" ng-model="panel.size" ng-change="set_refresh(true)">
    </div>
    <div class="span3">
      <label class="small">Field</label>
      <input type="text" bs-typeahead="fields.list" style="width:80%" ng-change="set_refresh(true)" ng-model='panel.field'></select>
    </div>
    <div class="span3">
      <label class="small">Query Mode</label>
      <select style="width:80%" ng-change="set_refresh(true)" ng-model='panel.mode' ng-options="f for f in ['terms only','AND', 'OR']"></select>
    </div>
    <div class="span4">
      <label class="small">Exclude Terms(s) (comma seperated)</label>
      <input array-join type="text" style="width:90%" ng-change="set_refresh(true)" ng-model='panel.exclude'></input>
    </div>
    <div class="span1">
      <label class="small"> Rest </label><input type="checkbox" ng-model="panel.rest" ng-checked="panel.rest" ng-change="set_refresh(true)">
    </div>
  </div>
</div>
