<!DOCTYPE html>
  <!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="google" value="notranslate">

    <title>Grafana</title>
    <link rel="stylesheet" href="css/grafana.dark.min.css" title="Dark">
    <link rel="icon" type="image/png" href="img/fav32.png">

    <!-- build:js app/app.js -->
    <script src="vendor/require/require.js"></script>
    <script src="app/components/require.config.js"></script>
    <!-- endbuild -->

    <script>require(['app'], function (app) { app.boot(); })</script>

  </head>

  <body ng-cloak ng-controller="GrafanaCtrl">

    <link rel="stylesheet" href="css/grafana.light.min.css" ng-if="grafana.style === 'light'">

		<div class="page-alert-list">
			<div ng-repeat='alert in dashAlerts.list' class="alert-{{alert.severity}} alert">
				<button type="button" class="alert-close" ng-click="dashAlerts.clear(alert)">
					<i class="fa fa-times-circle"></i>
				</button>
				<div class="alert-title">{{alert.title}}</div>
				<div ng-bind-html='alert.text'></div>
			</div>
		</div>

		<div ng-view></div>

	</body>
</html>
