<div class="modal-body modal-body--with-overflow">
  <div class="modal-header">
    <h2 class="modal-header-title">
      <i class="fa fa-lock"></i>
      <span class="p-l-1">Permissions</span>
    </h2>

    <a class="modal-header-close" ng-click="ctrl.dismiss();">
      <i class="fa fa-remove"></i>
    </a>
  </div>

  <form ng-submit="ctrl.save()" class="modal-content" novalidate>
    <!-- <h5 class="section&#45;heading">Add New Permission</h5> -->
    <!-- <form name="addPermission" class="gf&#45;form&#45;group"> -->
    <!-- 	<div class="gf&#45;form&#45;inline"> -->
    <!--     <div class="gf&#45;form"> -->
    <!-- 			<span class="gf&#45;form&#45;label">Type</span> -->
    <!-- 			<select class="gf&#45;form&#45;input gf&#45;size&#45;auto" ng&#45;model="ctrl.type" ng&#45;options="r for r in ['User Group', 'User']"></select> -->
    <!-- 		</div> -->
    <!--     <div class="gf&#45;form" ng&#45;show="ctrl.type === 'User'"> -->
    <!--       <span class="gf&#45;form&#45;label">User</span> -->
    <!--       <user&#45;picker user&#45;id="ctrl.userId"></user&#45;picker> -->
    <!--     </div> -->
    <!--     <div class="gf&#45;form" ng&#45;show="ctrl.type === 'User Group'"> -->
    <!--       <span class="gf&#45;form&#45;label">User Group</span> -->
    <!--       <user&#45;group&#45;picker user&#45;group&#45;id="ctrl.userGroupId"></user&#45;group&#45;picker> -->
    <!--     </div> -->
    <!-- 		<div class="gf&#45;form"> -->
    <!-- 			<span class="gf&#45;form&#45;label">Permission</span> -->
    <!-- 			<select class="gf&#45;form&#45;input gf&#45;size&#45;auto" ng&#45;model="ctrl.permission" ng&#45;options="p.value as p.text for p in ctrl.permissionTypeOptions"></select> -->
    <!-- 		</div> -->
    <!-- 		<div class="gf&#45;form"> -->
    <!-- 			<button class="btn gf&#45;form&#45;btn btn&#45;success" ng&#45;click="ctrl.addPermission()">Add</button> -->
    <!-- 		</div> -->
    <!-- 	</div> -->
    <!-- </form> -->

    <table class="filter-table">
      <tr ng-repeat="acl in ctrl.aclItems">
        <td style="width: 100%;">
          <i class="{{acl.icon}}"></i>
          <span ng-bind-html="acl.nameHtml"></span>
        </td>
        <td>can...</td>
        <td class="dropdown">
          <a class="pointer" style="white-space: nowrap">
            {{acl.permissionName}}
            <i class="fa fa-caret-down"></i>
          </a>
        </td>
        <td>
          <a class="btn btn-inverse btn-small" ng-show="revision.version !== ctrl.dashboard.version" ng-click="ctrl.restore(revision.version)">
            <i class="fa fa-remove"></i>
          </a>
        </td>
      </tr>
    </table>


    <div class="gf-form-button-row text-center">
      <button type="submit" class="btn btn-danger" ng-disabled="!ctrl.canUpdate">Update Permissions</button>
      <a class="btn-text" ng-click="ctrl.dismiss();">Close</a>
    </div>

  </form>
</div>

<!-- <br> -->
<!-- <br> -->
<!-- <br> -->
<!--  -->
<!-- <div class="permissionlist"> -->
<!--   <div class="permissionlist__section"> -->
<!--     <div class="permissionlist__section&#45;header"> -->
<!--       <h6>Permissions</h6> -->
<!--     </div> -->
<!--     <table class="filter&#45;table form&#45;inline"> -->
<!--       <thead> -->
<!--         <tr> -->
<!--           <th style="width: 50px;"></th> -->
<!--           <th>Name</th> -->
<!--           <th style="width: 220px;">Permission</th> -->
<!--           <th style="width: 120px"></th> -->
<!--         </tr> -->
<!--       </thead> -->
<!--       <tbody> -->
<!--         <tr ng&#45;repeat="permission in ctrl.userPermissions" class="permissionlist__item"> -->
<!--           <td><i class="fa fa&#45;fw fa&#45;user"></i></td> -->
<!--           <td>{{permission.userLogin}}</td> -->
<!--           <td><select class="gf&#45;form&#45;input gf&#45;size&#45;auto" ng&#45;model="permission.permissions" ng&#45;options="p.value as p.text for p in ctrl.permissionTypeOptions" ng&#45;change="ctrl.updatePermission(permission)"></select></td> -->
<!--           <td class="text&#45;right"> -->
<!--             <a ng&#45;click="ctrl.removePermission(permission)" class="btn btn&#45;danger btn&#45;small"> -->
<!--               <i class="fa fa&#45;remove"></i> -->
<!--             </a> -->
<!--           </td> -->
<!--         </tr> -->
<!--         <tr ng&#45;repeat="permission in ctrl.userGroupPermissions" class="permissionlist__item"> -->
<!--           <td><i class="fa fa&#45;fw fa&#45;users"></i></td> -->
<!--           <td>{{permission.userGroup}}</td> -->
<!--           <td><select class="gf&#45;form&#45;input gf&#45;size&#45;auto" ng&#45;model="permission.permissions" ng&#45;options="p.value as p.text for p in ctrl.permissionTypeOptions" ng&#45;change="ctrl.updatePermission(permission)"></select></td> -->
<!--           <td class="text&#45;right"> -->
<!--             <a ng&#45;click="ctrl.removePermission(permission)" class="btn btn&#45;danger btn&#45;small"> -->
<!--               <i class="fa fa&#45;remove"></i> -->
<!--             </a> -->
<!--           </td> -->
<!--         </tr> -->
<!--         <tr ng&#45;repeat="role in ctrl.roles" class="permissionlist__item"> -->
<!--           <td></td> -->
<!--           <td>{{role.name}}</td> -->
<!--           <td><select class="gf&#45;form&#45;input gf&#45;size&#45;auto" ng&#45;model="role.permissions" ng&#45;options="p.value as p.text for p in ctrl.roleOptions" ng&#45;change="ctrl.updatePermission(role)"></select></td> -->
<!--           <td class="text&#45;right"> -->
<!--  -->
<!--           </td> -->
<!--         </tr> -->
<!--       </tbody> -->
<!--     </table> -->
<!--   </div> -->
<!--   </div> -->
<!-- </div> -->
