<div class="modal-body modal-body--with-overflow">
  <div class="modal-header">
    <h2 class="modal-header-title">
      <i class="fa fa-lock"></i>
      <span class="p-l-1">Permissions</span>
    </h2>

    <a class="modal-header-close" ng-click="ctrl.dismiss();">
      <i class="fa fa-remove"></i>
    </a>
  </div>

  <form ng-submit="ctrl.save()" class="modal-content" novalidate>
    <!-- <h5 class="section&#45;heading">Add New Permission</h5> -->
    <!-- <form name="addPermission" class="gf&#45;form&#45;group"> -->
    <!-- 	<div class="gf&#45;form&#45;inline"> -->
    <!--     <div class="gf&#45;form"> -->
    <!-- 			<span class="gf&#45;form&#45;label">Type</span> -->
    <!-- 			<select class="gf&#45;form&#45;input gf&#45;size&#45;auto" ng&#45;model="ctrl.type" ng&#45;options="r for r in ['User Group', 'User']"></select> -->
    <!-- 		</div> -->
    <!--     <div class="gf&#45;form" ng&#45;show="ctrl.type === 'User'"> -->
    <!--       <span class="gf&#45;form&#45;label">User</span> -->
    <!--       <user&#45;picker user&#45;id="ctrl.userId"></user&#45;picker> -->
    <!--     </div> -->
    <!--     <div class="gf&#45;form" ng&#45;show="ctrl.type === 'User Group'"> -->
    <!--       <span class="gf&#45;form&#45;label">User Group</span> -->
    <!--       <user&#45;group&#45;picker user&#45;group&#45;id="ctrl.userGroupId"></user&#45;group&#45;picker> -->
    <!--     </div> -->
    <!-- 		<div class="gf&#45;form"> -->
    <!-- 			<span class="gf&#45;form&#45;label">Permission</span> -->
    <!-- 			<select class="gf&#45;form&#45;input gf&#45;size&#45;auto" ng&#45;model="ctrl.permission" ng&#45;options="p.value as p.text for p in ctrl.permissionTypeOptions"></select> -->
    <!-- 		</div> -->
    <!-- 		<div class="gf&#45;form"> -->
    <!-- 			<button class="btn gf&#45;form&#45;btn btn&#45;success" ng&#45;click="ctrl.addPermission()">Add</button> -->
    <!-- 		</div> -->
    <!-- 	</div> -->
    <!-- </form> -->

    <div>
      <div class="section">
        <h5 class="section-heading">Groups & Users</h5>
        <div class="gf-form" ng-repeat="acl in ctrl.userAcl">
          <span class="gf-form-label width-15">
            <i class="fa fa-fw fa-user"></i>
            {{acl.userLogin}}
          </span>
          <div class="gf-form-select-wrapper">
            <select class="gf-form-input gf-size-auto" ng-model="acl.permissions" ng-options="p.value as p.text for p in ctrl.permissionTypeOptions" ng-change="ctrl.updatePermission(permission)"></select>
          </div>
          <button class="btn btn-inverse gf-form-btn" ng-click="ctrl.addQuery()" ng-hide="ctrl.current.meta.mixed">
            <i class="fa fa-remove"></i>
          </button>
        </div>
        <div class="gf-form dropdown">
          <button class="btn btn-inverse gf-form-btn" data-toggle="dropdown">
            <i class="fa fa-fw fa-plus"></i> Add Permission
          </button>
          <ul class="dropdown-menu dropdown-menu--new">
            <li>
              <a class="pointer" ng-click="ctrl.addUserGroup()">
                <i class="fa fa-fw fa-users"></i> User Group
              </a>
            </li>
            <li>
              <a class="pointer" ng-click="ctrl.addUserAcl()">
                <i class="fa fa-fw fa-user"></i> User
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="section pull-right">
        <h5 class="section-heading">Built-in roles</h5>
        <div class="gf-form" ng-repeat="roleAcl in ctrl.roles">
          <span class="gf-form-label width-5">
            {{roleAcl.name}}
          </span>
          <div class="gf-form-select-wrapper">
            <select class="gf-form-input gf-size-auto" ng-model="roleAcl.permissions" ng-options="p.value as p.text for p in ctrl.roleOptions" ng-change="ctrl.updatePermission(permission)"></select>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="gf-form-button-row text-center">
      <button type="submit" class="btn btn-danger" ng-disabled="!ctrl.canUpdate">Update Permissions</button>
      <a class="btn-text" ng-click="ctrl.dismiss();">Close</a>
    </div>

  </form>
</div>

<!-- <br> -->
<!-- <br> -->
<!-- <br> -->
<!--  -->
<!-- <div class="permissionlist"> -->
<!--   <div class="permissionlist__section"> -->
<!--     <div class="permissionlist__section&#45;header"> -->
<!--       <h6>Permissions</h6> -->
<!--     </div> -->
<!--     <table class="filter&#45;table form&#45;inline"> -->
<!--       <thead> -->
<!--         <tr> -->
<!--           <th style="width: 50px;"></th> -->
<!--           <th>Name</th> -->
<!--           <th style="width: 220px;">Permission</th> -->
<!--           <th style="width: 120px"></th> -->
<!--         </tr> -->
<!--       </thead> -->
<!--       <tbody> -->
<!--         <tr ng&#45;repeat="permission in ctrl.userPermissions" class="permissionlist__item"> -->
<!--           <td><i class="fa fa&#45;fw fa&#45;user"></i></td> -->
<!--           <td>{{permission.userLogin}}</td> -->
<!--           <td><select class="gf&#45;form&#45;input gf&#45;size&#45;auto" ng&#45;model="permission.permissions" ng&#45;options="p.value as p.text for p in ctrl.permissionTypeOptions" ng&#45;change="ctrl.updatePermission(permission)"></select></td> -->
<!--           <td class="text&#45;right"> -->
<!--             <a ng&#45;click="ctrl.removePermission(permission)" class="btn btn&#45;danger btn&#45;small"> -->
<!--               <i class="fa fa&#45;remove"></i> -->
<!--             </a> -->
<!--           </td> -->
<!--         </tr> -->
<!--         <tr ng&#45;repeat="permission in ctrl.userGroupPermissions" class="permissionlist__item"> -->
<!--           <td><i class="fa fa&#45;fw fa&#45;users"></i></td> -->
<!--           <td>{{permission.userGroup}}</td> -->
<!--           <td><select class="gf&#45;form&#45;input gf&#45;size&#45;auto" ng&#45;model="permission.permissions" ng&#45;options="p.value as p.text for p in ctrl.permissionTypeOptions" ng&#45;change="ctrl.updatePermission(permission)"></select></td> -->
<!--           <td class="text&#45;right"> -->
<!--             <a ng&#45;click="ctrl.removePermission(permission)" class="btn btn&#45;danger btn&#45;small"> -->
<!--               <i class="fa fa&#45;remove"></i> -->
<!--             </a> -->
<!--           </td> -->
<!--         </tr> -->
<!--         <tr ng&#45;repeat="role in ctrl.roles" class="permissionlist__item"> -->
<!--           <td></td> -->
<!--           <td>{{role.name}}</td> -->
<!--           <td><select class="gf&#45;form&#45;input gf&#45;size&#45;auto" ng&#45;model="role.permissions" ng&#45;options="p.value as p.text for p in ctrl.roleOptions" ng&#45;change="ctrl.updatePermission(role)"></select></td> -->
<!--           <td class="text&#45;right"> -->
  <!--  -->
  <!--           </td> -->
  <!--         </tr> -->
  <!--       </tbody> -->
  <!--     </table> -->
  <!--   </div> -->
<!--   </div> -->
<!-- </div> -->
