<div class="editor-row" style="margin-top: 10px;">

  <div  ng-repeat="target in panel.targets"
        class="grafana-target"
        ng-class="{'grafana-target-hidden': target.hide}"
        ng-controller="InfluxTargetCtrl"
        ng-init="init()">

    <div class="grafana-target-inner-wrapper">
      <div class="grafana-target-inner">
        <ul class="grafana-target-controls">
          <li class="dropdown">
            <a class="pointer dropdown-toggle"
               data-toggle="dropdown"
               tabindex="1">
              <i class="icon icon-cog"></i>
            </a>
            <ul class="dropdown-menu pull-right" role="menu">
              <li role="menuitem">
                <a tabindex="1" ng-click="duplicate()">Duplicate</a>
                <a tabindex="2" ng-click="showQuery()" ng-hide="target.rawQuery">Raw query mode</a>
                <a tabindex="2" ng-click="hideQuery()" ng-show="target.rawQuery">Query editor mode</a>
              </li>
           </ul>
          </li>
          <li>
            <a class="pointer" tabindex="1" ng-click="removeDataQuery(target)">
              <i class="icon icon-remove"></i>
            </a>
          </li>
        </ul>

        <ul class="grafana-target-controls-left">
          <li>
            <a class="grafana-target-segment"
               ng-click="target.hide = !target.hide; get_data();"
               role="menuitem">
              <i class="icon-eye-open"></i>
            </a>
          </li>
        </ul>

				<!-- Raw Query mode  -->
				<ul class="grafana-segment-list" ng-show="target.rawQuery">
					<li>
						<input type="text"
               class="grafana-target-text-input span10"
               ng-model="target.query"
               placeholder="select ..."
               focus-me="target.rawQuery"
               spellcheck='false'
               data-min-length=0 data-items=100
               ng-model-onblur
							 ng-blur="get_data()">
					</li>

				</ul>

				<!-- Query editor mode -->
        <ul class="grafana-segment-list" role="menu" ng-hide="target.rawQuery">
					<li class="grafana-target-segment">
						from series
					</li>
          <li>
            <input type="text"
                   class="grafana-target-text-input span8"
                   ng-model="target.series"
                   spellcheck='false'
                   bs-typeahead="listSeries"
                   placeholder="series name"
                   data-min-length=0 data-items=100
                   ng-blur="seriesBlur()">
          </li>

					<li class="grafana-target-segment">
						alias
					</li>

					<li>
						<input type="text" class="input-medium grafana-target-text-input" ng-model="target.alias"
						spellcheck='false' placeholder="alias" ng-blur="get_data()">
					</li>

        </ul>

        <div class="clearfix"></div>
      </div>

      <div class="grafana-target-inner">
				<!-- Raw Query mode  -->
				<ul class="grafana-segment-list" ng-show="target.rawQuery">
					<li class="grafana-target-segment">
            alias
          </li>
          <li>
            <input type="text"
                   class="input-medium grafana-target-segment-input"
                   ng-model="target.alias"
                   spellcheck='false'
                   placeholder="alias"
                   ng-blur="get_data()">
          </li>
				</ul>

				<!-- Query editor mode -->
        <ul class="grafana-segment-list" role="menu" ng-hide="target.rawQuery">
					<li class="grafana-target-segment">
						select
					</li>
					<li class="dropdown">
						<span influxdb-func-editor class="grafana-target-segment grafana-target-function">
						</span>
					</li>
					<li>
						<a class="grafana-target-segment" ng-click="target.condition_filter = !target.condition_filter; get_data();"
								bs-tooltip="'Add a where clause'" role="menuitem" data-placement="right">
							<i class="icon-filter"></i>
						</a>
					</li>

					<li ng-show="target.condition_filter">
						<input type="text" class="input-large grafana-target-text-input" ng-model="target.condition_expression"
									 spellcheck='false' placeholder="column ~= value" ng-blur="get_data()">
					</li>

					<li class="grafana-target-segment">
						group by time
					</li>

					<li>
						<input type="text" class="input-mini grafana-target-text-input" ng-model="target.interval"
									 spellcheck='false' placeholder="{{interval}}" data-placement="right"
									 bs-tooltip="'Leave blank for auto handling based on time range and panel width'"
									 ng-model-onblur ng-change="get_data()" >
					</li>
					<li>
						<a class="grafana-target-segment" ng-click="target.groupby_field_add = !target.groupby_field_add; get_data();"
							 bs-tooltip="'Add a group by column'" role="menuitem" data-placement="right">
							<i class="icon-plus"></i>
						</a>
					</li>

					<li ng-show="target.groupby_field_add">
						<input type="text" class="input-small grafana-target-text-input" ng-model="target.groupby_field"
									 placeholder="column" spellcheck="false" bs-typeahead="listColumns" data-min-length=0 ng-blur="get_data()">
					</li>

        </ul>

        <div class="clearfix"></div>
      </div>

    </div>
  </div>
</div>

<div class="editor-row">
  <div class="pull-left metrics-editor-help" style="margin-top: 30px;">
    <div class="span6">
      <span class="pointer">
        <i class="icon-question-sign"></i> alias patterns:
      </span>
      <ul class="hide">
        <li>$s = series name</li>
        <li>$g = group by</li>
        <li>$[0-9] part of series name for series names seperated by dots.</li>
      <ul>
    </div>
  </div>
</div>

