<h5>InfluxDB queries<h5>

<div class="editor-row">

  <div  ng-repeat="target in panel.targets"
        class="grafana-target"
        ng-class="{'grafana-target-hidden': target.hide}"
        ng-controller="InfluxTargetCtrl"
        ng-init="init()">

    <div class="grafana-target-inner-wrapper">
      <div class="grafana-target-inner">
        <ul class="grafana-target-controls">
          <li class="dropdown">
            <a  class="pointer dropdown-toggle"
                data-toggle="dropdown"
                tabindex="1">
              <i class="icon-cog"></i>
            </a>
            <ul class="dropdown-menu pull-right" role="menu">
              <li role="menuitem">
                <a  tabindex="1"
                    ng-click="duplicate()">
                  Duplicate
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a class="pointer" tabindex="1" ng-click="removeTarget(target)">
              <i class="icon-remove"></i>
            </a>
          </li>
        </ul>

        <ul class="grafana-target-controls-left">
          <li>
            <a  class="grafana-target-segment"
                ng-click="target.hide = !target.hide; get_data();"
                role="menuitem">
              <i class="icon-eye-open"></i>
            </a>
          </li>
        </ul>

        <ul class="grafana-segment-list" role="menu">
          <li>
            <a class="grafana-target-segment">
              From series
            </a>
          </li>
          <li>
            <input type="text"
                   class="input-medium grafana-target-segment-input"
                   ng-model="target.series"
                   spellcheck='false'
                   placeholder="series name"
                   ng-model-onblur ng-change="targetTextChanged()" >
          </li>
          <li>
            <a class="grafana-target-segment">
              Select
            </a>
          </li>
          <li>
            <input type="text"
                   class="input-medium grafana-target-segment-input"
                   ng-model="target.column"
                   placeholder="value column"
                   spellcheck='false'
                   ng-model-onblur ng-change="targetTextChanged()" >
          </li>
          <li>
            <a class="grafana-target-segment">
              Function
            </a>
          </li>
          <li>
            <select class="input-small grafana-target-segment-input" ng-model="target.function" ng-options="f for f in ['mean', 'sum']" ></select>
          </li>
        </ul>


        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div class="editor-row" style="margin-top: 20px" ng-show="editor.index == 1">
  <button class="btn btn-success pull-right" ng-click="add_target(panel.target)">Add target</button>
</div>