<navbar
	title="Data Sources"
	title-url="datasources"
	icon="icon-gf icon-gf-datasources">
</navbar>

<div class="page-container">
	<div class="page-header">
		<h1>Data Sources</h1>
		<a class="btn btn-success" href="datasources/new">
			<i class="fa fa-plus"></i>
			Add data source
		</a>
	</div>

		<br>

		<div ng-if="ctrl.datasources.length === 0">
			<em>No data sources defined</em>
		</div>

		<table class="filter-table" ng-if="ctrl.datasources.length > 0">
			<thead>
				<tr>
					<th><strong>Name</strong></th>
					<th><strong>Url</strong></th>
					<th style="width: 60px;"></th>
					<th style="width: 85px;"></th>
					<th style="width: 44px;"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="ds in ctrl.datasources">
					<td>
						<a href="datasources/edit/{{ds.id}}">
							<i class="icon-gf inline-icon-gf icon-gf-datasources"></i> &nbsp; {{ds.name}}
						</a>
					</td>
					<td>
						<span class="ellipsis">{{ds.url}}</span>
					</td>
					<td class="text-center">
						<span ng-if="ds.isDefault">
							<span class="btn btn-secondary btn-mini">default</span>
						</span>
					</td>
					<td class="text-right">
						<a href="datasources/edit/{{ds.id}}" class="btn btn-inverse btn-small">
							<i class="fa fa-edit"></i>
							Edit
						</a>
					</td>
					<td class="text-right">
						<a ng-click="ctrl.removeDataSource(ds)" class="btn btn-danger btn-small">
							<i class="fa fa-remove"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
